<div>
    <%= mainTitle %>
</div>
<div class="AknSubTitleContainer AknSubTitleContainer-line">
    <div class="AknSubTitleContainer-imageContainer">
        <img class="AknSubTitleContainer-image" src="<%= illustration %>">
    </div>
    <div class="AknSubTitleContainer-separation"></div>
    <div class="AknSubTitleContainer-mainContainer">
        <div class="AknSubTitleContainer-subTitle">
            <%= subTitle %>
        </div>
        <div class="AknSubTitleContainer-description">
            <%= description %>
        </div>
    </div>
</div>
