@import '../../pimui/css/less/mixins';
@import '../../pimui/css/less/variables';

.variation(@color) {
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid @color;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);

  h4 {
    color: @color;
  }
}

.asset-uploader() {
  &.error {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.05);
  }

  .file-uploader input {
    position: absolute;
  }

  div.errors {
    font-style: italic;
    text-align: center;
    color: red;
  }
}

.action-icon {
  &.mass-upload {
    background-image: url("/bundles/pimui/images/icon-import.svg");
  }
}

#pimee_product_asset-tabs-properties {
  h3 {
    height: 42px;
  }
  .hasDatepicker {
    width: 300px;
  }
}

.asset {
  .tab-content {
    overflow: initial;
  }
}

#pimee_product_asset-tabs-categories {
  .tabs-left > .sidebar > .nav-tabs a {
    padding: 8px 15px 8px 15px;

    .green {
      color: @green;
    }
  }
}

.asset-variations-pane .locale-switcher {
  margin-left: 10px;

  span.dropdown-toggle {
    background-color: transparent;
    font-size: 18px;
    height: 42px;
    line-height: 42px;

    .icon-caret-down {
      top: 8px;
      right: 5px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 2px;
      border: @akeneoGrey solid 1px;
      color: @akeneoGrey;
      background-color: transparent;
    }
  }
}

.create-asset-form {
  .reference-field {
    label.control-label {
      display: none;
    }
  }

  .code-field {
    margin-top: 15px;
  }

  .asset-uploader();
}
