<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" bgcolor="#ffffff">
    {% block content %}{% endblock %}

    <br>
    <hr>
    <p>
        Regards,<br>
        the Akeneo Team
    </p>
</body>
</html>
