<select class="select2" name="filter-operator">
    <% _.each(operatorChoices, function (operatorChoice) { %>
        <option value="<%- operatorChoice %>" <%- operatorChoice === operator ? 'selected' : '' %>>
            <%- __('pim_enrich.export.product.filter.' + field + '.operators.' + operatorChoice) %>
        </option>
    <% }); %>
</select>
<% if (_.contains(['IN', 'NOT IN'], operator)) { %><!-- could be done by configuration -->
<input
    class="select2"
    name="filter-value"
    type="hidden"
    value="<%- value ? value : '' %>"
    data-placeholder="<%- __('pim_enrich.export.product.filter.' + field + '.empty_selection') %>"
/>
<% } %>
