<label class="control-label required"><%- __('pim_enrich.export.product.filter.family.title') %></label>
<div class="controls" style="width: 800px;">
    <select class="select2" name="filter-operator">
        <% _.each(operators, function (availableOperator) { %>
            <option value="<%- availableOperator %>" <%- availableOperator === operator ? 'selected' : '' %>>
                <%- __('pim_enrich.export.product.filter.family.operators.' + availableOperator) %>
            </option>
        <% }); %>
    </select>
    <% if (_.contains(['IN', 'NOT IN'], operator)) { %><!-- could be done by configuration -->
    <input
        class="select2"
        name="filter-value"
        type="hidden"
        value="<%- value ? value : '' %>"
        data-placeholder="<%- __('pim_enrich.export.product.filter.family.empty_selection') %>"
    />
    <% } %>
    <% if (removable) { %><i class="remove icon-trash"></i><% } %>
</div>
