{% extends 'StrixosWidgetBundle::layout.html.twig' %}

{% block title %}StrixOS - Manage Icecat products{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('strixos_icecatconnector_default_index') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-connector-icecat"></span><span class="ui-button-text">Back to IceCat Menu</span>
        </a>
    </li>
{% endblock %}

{% block content %}

    {{ grid(grid) }}

{% endblock %}
