public/bundles/*
public/media/*
public/css/*
public/js/*
public/dist/*
public/test_dist/*
public/cache/*
node_modules/*
var/*
vendor/*
phpcs.xml
phpspec.yml
docker-compose.override.yml
yarn-error.log
.phpunit.result.cache
.env.local
.env.behat.local
.env.test.local
.env.dev.local
.env.local.php
config/gcp_credentials.json
