suites:
  ## Free Trial
  FreeTrial:
    namespace: Akeneo\FreeTrial
    psr4_prefix: Akeneo\FreeTrial
    spec_path: src/Akeneo/FreeTrial/tests/back/
    src_path: src/Akeneo/FreeTrial/back
    spec_prefix: Specification
