parameters:
  level: 5
  paths:
    - %rootDir%/../../../src/Akeneo/Platform/Job
  excludes_analyse:
    - %rootDir%/../../../src/Akeneo/Platform/Job/back/tests/Specification
    - %rootDir%/../../../src/Akeneo/Platform/Job/front
