<div class="AknFullPage">
    <div class="AknFullPage-contentWithIllustration">
        <div>
            <img src="bundles/pimui/images/<%- picture %>" class="AknFullPage-image">
        </div>
        <div>
            <div class="AknFullPage-subTitle"><%- subTitleLabel %></div>
            <div class="AknFullPage-title"><%- titleLabel %></div>
            <% if (typeof contentLabel !== 'undefined') { %>
                <div class="AknFullPage-description">
                    <%- contentLabel %>
                </div>
            <% } %>
            <div data-drop-zone="fields" class="AknFormContainer AknFormContainer--withPadding">
                <% if (null !== fields) { %>
                    <%= fields %>
                <% } %>
            </div>
            <div title="<%- saveLabel %>" class="AknButton AknButton--apply ok"><%- saveLabel %></div>
        </div>
    </div>
</div>
