@import '../../pimui/css/less/mixins';
@import '../../pimui/css/less/variables';

.action-icon {
  &.pimee-workflow_product_draft_notification_approve {
    background-image: url("/bundles/pimenterpriseworkflow/images/icon-proposal.svg");
  }

  &.pimee-workflow_product_draft_notification_refuse {
    background-image: url("/bundles/pimenterpriseworkflow/images/icon-proposal.svg");
  }

  &.pimee-workflow_product_draft_notification_new_proposal {
    background-image: url("/bundles/pimenterpriseworkflow/images/icon-proposal.svg");
  }

  .icon-plus {
    background-color: @fern-green;
  }
}
