@import '../../pimui/css/less/mixins';
@import '../../pimui/css/less/variables';

.action-icon {
  &.pimee-workflow_product_draft_notification_partial_approve,
  &.pimee-workflow_product_draft_notification_partial_reject,
  &.pimee-workflow_product_draft_notification_partial_remove,
  &.pimee-workflow_product_draft_notification_approve,
  &.pimee-workflow_product_draft_notification_refuse,
  &.pimee-workflow_product_draft_notification_remove,
  &.pimee-workflow_product_draft_notification_new_proposal {
    background-image: url("/bundles/pimenterpriseworkflow/images/icon-proposal.svg");
  }

  &.pimee-workflow_import_notification_new_proposals {
    background-image: url("/bundles/pimenterpriseworkflow/images/icon-import-proposals.svg");
  }

  .icon-plus {
    background-color: @green;
  }
}
