<div class="AknFullPage">
    <div class="AknFullPage-contentWithIllustration">
        <div>
            <div class="AknFullPage-image AknFullPage-illustration AknFullPage-illustration--families"></div>
        </div>
        <div>
            <div class="AknFullPage-subTitle"><%- subtitle %></div>
            <div class="AknFullPage-title"><%- title %></span></div>
            <div class="AknFullPage-description"><%- mergeAttributes %><br/><%- keepAttributes %></div>

            <div class="AknFormContainer AknFormContainer--withPadding">
                <div class="AknFieldContainer">
                    <div class="AknFieldContainer-header">
                        <label class="AknFieldContainer-label control-label AknFieldContainer-label required">
                            <%- _.__('pim_enrich.entity.product.module.change_family.change_family_to')%>
                        </label>
                    </div>
                    <div class="AknFieldContainer-inputContainer field-input">
                        <input type="hidden" class="input-large family-select2 select-field"
                               value="<%- product.family !== null ? product.family.code : '' %>"
                        <%- product.family ? ' selected' : '' %>
                        data-placeholder="<%- placeholder %>"
                        />
                    </div>
                </div>
                <div class="AknButton AknButton--apply ok"><%- ok %></div>
            </div>
        </div>
    </div>
</div>
