<div class="AknFormContainer">
    <form class="AknFieldContainer form-horizontal">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label control-label"><%- _.__('pim_enrich.entity.product.module.change_family.change_family_to')%>&nbsp;:</label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input type="hidden" class="input-large family-select2 select-field"
                   value="<%- product.family !== null ? product.family.code : '' %>"
                   <%- product.family ? ' selected' : '' %>
                   data-placeholder="<%- _.__('pim_enrich.entity.product.module.change_family.empty_selection') %>"
            />
        </div>
    </form>
</div>
