<div class="AknVariantNavigation-listItem">
    <img class="AknVariantNavigation-listProductModelImage" src="<%- entity.image %>" alt="">
    <span title="<%- entity.label %>" class="AknVariantNavigation-listProductModelLabel">
        <%- entity.label %>
    </span>
    <% if (entity.completeness) { %>
        <span class="AknVariantNavigation-listProductModelCompleteness AknVariantNavigation-listProductCompleteness--<%- getClass(entity.completeness.ratio) %>">
            <%- entity.completeness.display %>
        </span>
    <% } %>
</div>
