parameters:
    level: 5
    paths:
        - %rootDir%/../../../components/performance-analytics/back/tests
    excludePaths:
        - %currentWorkingDirectory%/*Spec.php
includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
