.calendar-container {
    position: relative;
    padding-right: 10px;
}

.calendars {
    padding-left: 10px;
}

.calendars li {
    color: #fff;
    background-color: #80a8e7;
    border: 1px solid #80a8e7;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.calendars .media-body {
    margin-top: 2px;
    margin-left: 10px;
}
.calendars .icons-holder .icons-holder-text [class^="icon-"] {
    margin-right: 1px;
    margin-top: 1px;
    width: 16px;
}
.calendars form .control-group {
    padding-top: 5px;
}
.calendars form .control-label {
    display: none;
}
.calendars form .select2-container {
    /* @todo: I'm not sure that it is good idea to set max-width here.
              But I have no choice because default max-width is 290px */
    max-width: 100%;
    width: 100%;
}
