<% _.each(associationTypes, function (associationType) { %>
    <div class="AknTabHeader association-type<% if (associationType.code !== currentAssociationType) { %> AknTitleContainer--hidden<% } %>" data-association-type="<%- associationType.code %>">
        <div>
            <h3 class="AknTabHeader-title">
                <%- associationType.labels[locale] || '[' + associationType.code + ']'  %>
            </h3>
            <span class="AknTabHeader-subTitle">
                <%- _.__(
                    'pim_enrich.form.product.tab.associations.info.number_of_associations',
                    { productCount: associationType.productCount, groupCount: associationType.groupCount }
                ) %>
           </span>
        </div>
        <div>
            <button type="button" class="AknButton AknButton--grey AknButton--small target-button target-button <% if ('products' === currentAssociationTarget) { %> AknButton--hidden<% } %>" data-association-target="products">
                <%- _.__('pim_enrich.form.product.tab.associations.info.show_products') %>
            </button>
            <button type="button" class="AknButton AknButton--grey AknButton--small target-button target-button <% if ('groups' === currentAssociationTarget) { %> AknButton--hidden<% } %>" data-association-target="groups">
                <%- _.__('pim_enrich.form.product.tab.associations.info.show_groups') %>
            </button>
        </div>
   </div>
<% }); %>
