<ul class="nav nav-tabs">
    <li class="header"></li>
    <% _.each(config.attributeGroups, function (attributeGroup) { %>
        <li data-attribute-group="<%= attributeGroup.code %>" class="<%= config.attributeGroup === attributeGroup.code ? 'active' : '' %>">
            <a><%= attributeGroup.label.en_US %></a>
        </li>
    <% }); %>
</ul>
<div class="tab-content">
    <header class="attribute-actions">
        <div class="attribute-edit-actions">
        <% if (config.optionalAttributes.length) { %>
            <div class="btn-group add-attribute">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Add an attribute
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <% _.each(config.optionalAttributes, function (attribute) { %>
                        <li>
                            <a data-attribute="<%= config.attributes[attribute].code %>">
                                <%= config.attributes[attribute].label.en_US %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
        </div>
    </header>
    <div class="tab-pane active" id="product-values"></div>
</div>
