<div id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}" class="job-profile-content-tab tab-pane buffer-top">
    {% set filtersSettings %}
        {% for field in form.configuration %}
            {% if field.vars.attr['data-tab'] is defined and 'content' == field.vars.attr['data-tab'] %}
                {{ form_row(field) }}
            {% endif %}
        {% endfor %}
    {% endset %}

    <script type="text/javascript">
        require(
                ['jquery', 'pim/product-export/locales-selector'],
                function($, LocaleSelector){
                    'use strict';

                    $(function () {
                        LocaleSelector.init(
                            '#pim_import_export_jobInstance_configuration_channel',
                            '#pim_import_export_jobInstance_configuration_locales'
                        );
                    });
                }
        );
    </script>

    {{ elements.accordion({ 'pane.accordion.filters': filtersSettings }, 3) }}
</div>
