parameters:
  level: 6
  paths:
    - '%rootDir%/../../../components/onboarder-supplier/back'
  checkMissingIterableValueType: false # Allow array typehint instead of int[]
  treatPhpDocTypesAsCertain: false # https://phpstan.org/config-reference#treatphpdoctypesascertain
  checkFunctionNameCase: true # https://phpstan.org/config-reference#checkfunctionnamecase
