<!-- Step execution information -->
<% _.each(jobExecution.stepExecutions, function (stepExecution) { %>
    <tr>
        <td><%= stepExecution.label %></td>
        <td><%= stepExecution.status %></td>
        <td>
            <table class="table-striped table-bordered table-hover">
                <% _.each(stepExecution.summary, function (value, key) { %>
                    <tr>
                        <td><%= key %></td>
                        <td><%= value %></td>
                    </tr>
                <% }); %>
            </table>
        </td>
        <td><%= stepExecution.startedAt %></td>
        <td><%= stepExecution.endedAt %></td>
    </tr>

    <!-- Step execution warnings -->
    <% _.each(stepExecution.warnings, function (warning) { %>
        <tr class="warning">
            <td colspan="5">
                <span class="title"><%= warning.label.toUpperCase() %></span>&nbsp;
                <ul>
                    <% _.each(warning.reason.split("\n"), function(warningItem) { %>
                        <% if (warningItem) { %>
                            <li><%= warningItem %></li>
                        <% } %>
                    <% }) %>
                </ul>
                <a class="data" href="#"
                    data-display-label="<%= showLabel %>"
                    data-hide-label="<%= hideLabel %>">
                    <%= showLabel %>
                </a>
                <table class="hide table-striped table-bordered table-hover">
                    <% _.each(warning.item, function (value, key) { %>
                        <tr>
                            <td><%= key %></td>
                            <td>
                                <% if (typeof value === 'object') { %>
                                    <%= JSON.stringify(value) %>
                                <% } else { %>
                                    <%= value %>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </table>
            </td>
        </tr>
    <% }); %>

    <!-- Step execution failures -->
    <% _.each(stepExecution.failures, function (failure) { %>
        <tr class="error">
            <td colspan="5">
                <span class="title"><%= stepExecution.label.toUpperCase() %></span>&nbsp;
                <%= failure %>
            </td>
        </tr>
    <% }); %>
<% }); %>

<!-- Job execution failures -->
<% _.each(jobExecution.failures, function (failure) { %>
    <tr class="error">
        <td colspan="5">
            <span class="title"><%= jobExecution.label.toUpperCase() %></span>&nbsp;
            <%= failure %>
        </td>
    </tr>
<% }); %>
