<% columnDisplay = currentStep !== 'choose' %>
<div class="AknFullPage <% if (currentStep !== 'choose') { %> AknFullPage--twoColumns<% } %> scrollable-container">
    <% if (columnDisplay) { %>
        <div class="AknFullPage-column">
    <% } %>
    <div class="AknFullPage-cancel wizard-action" data-action-target="grid"></div>
    <div>
        <div class="AknFullPage-subTitle"><%- title %></div>
        <div class="AknFullPage-title"><%- label %></div>
        <% if (description) { %>
            <div class="AknFullPage-description">
                <%- description %>
            </div>
        <% } %>
        <% if (currentStep !== 'choose') { %>
            <div class="AknFullPage-steps">
                <% for (step = 0; step < 4; step++) { %>
                    <div class="AknBadge AknBadge--round AknBadge--medium<% if (step === currentStepNumber) { %> AknBadge--active AknBadge--large <% } %>"></div>
                <% } %>
            </div>
        <% } %>
    </div>
    <% if (columnDisplay) { %>
        </div>
        <div class="AknFullPage-column AknFullPage-column--right AknFullPage-column--topAlign">
    <% } %>
    <div class="AknFullPage-buttons">
        <% if (currentStep === 'configure') { %>
            <div class="<%- currentStep %>">
                <span class="AknButton AknButton--glued wizard-action" data-action-target="choose">
                    <%- __('pim_enrich.mass_edit.previous') %>
                </span><span class="AknButton AknButton--glued AknButton--apply wizard-action" data-action-target="confirm">
                    <%- __('pim_enrich.mass_edit.next') %>
                </span>
            </div>
        <% } else if (currentStep !== 'choose') { %>
            <div class="<%- currentStep %>">
                <span class="AknButton wizard-action" data-action-target="configure">
                    <%- __('pim_enrich.mass_edit.previous') %>
                </span>
            </div>
        <% } %>
    </div>
    <div class="AknWidget-content AknWidget-content--withPadding">
        <% if (currentStep === 'confirm') { %>
            <div class="AknFullPage-confirm"><%- confirm %></div>
            <div class="AknButton AknButton--apply wizard-action" data-action-target="validate">
                <%- __('pim_enrich.mass_edit.confirm') %>
            </div>
        <% } %>
        <div class="AknFullPage-content step">
        </div>
    </div>
    <% if (currentStep === 'choose') { %>
        <div class="AknButtonList AknButtonList--centered <%- currentStep %>">
            <% if (currentOperation) { %>
                <span class="AknButton AknButtonList-item AknButton--apply wizard-action" data-action-target="configure">
                    <%- __('pim_enrich.mass_edit.next') %>
                </span>
            <% } %>
        </div>
    <% }%>
    <% if (columnDisplay) { %>
        </div>
    <% } %>
</div>
