<div class="AknColumnConfigurator">
    <div class="AknColumnConfigurator-column AknColumnConfigurator-column--gray">
        <div class="AknColumnConfigurator-columnHeader">
            <%- attributeGroupsLabel %>
        </div>
        <div class="AknColumnConfigurator-listContainer">
            <ul class="AknVerticalList nav-list">
                <li class="AknVerticalList-item AknVerticalList-item--selectable tab active">
                    <%- _.__("pim_datagrid.column_configurator.all_groups") %>
                    <span class="badge badge-transparent pull-right"><%- columns.length %></span>
                </li>
                <% _.each(groups, function(group) { %>
                <li class="AknVerticalList-item AknVerticalList-item--selectable tab" data-value="<%- group.name %>">
                    <%- group.name %>
                    <span class="AknBadge"><%- group.itemCount %></span>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>

    <div class="AknColumnConfigurator-column">
        <div class="AknColumnConfigurator-columnHeader">
            <input class="AknTextField AknColumnConfigurator-searchInput" type="search" placeholder="<%- _.__('pim_datagrid.column_configurator.search') %>"/>
        </div>
        <div class="AknColumnConfigurator-listContainer">
            <ul id="column-list" class="AknVerticalList connected-sortable">
                <% _.each(_.where(columns, {displayed: false}), function(column) { %>
                <li class="AknVerticalList-item AknVerticalList-item--movable" data-value="<%- column.code %>" data-group="<%- column.group %>">
                    <div><%- column.label %></div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>

    <div class="AknColumnConfigurator-column">
        <div class="AknColumnConfigurator-columnHeader">
            <%- _.__("pim_datagrid.column_configurator.displayed_columns") %>
            <button class="AknButton AknButton--grey reset">
                <%- _.__("pim_datagrid.column_configurator.clear") %>
            </button>
        </div>
        <div class="AknColumnConfigurator-listContainer">
            <ul id="column-selection" class="AknVerticalList connected-sortable">
                <% _.each(_.sortBy(_.where(columns, {displayed: true}), 'position'), function(column) { %>
                <li class="AknVerticalList-item AknVerticalList-item--movable" data-value="<%- column.code %>" data-group="<%- column.group %>">
                    <div><%- column.label %></div>
                    <% if (column.removable) { %>
                    <div class="AknVerticalList-delete action" title="<%- _.__('pim_datagrid.column_configurator.remove_column') %>"></div>
                    <% } %>
                </li>
                <% }); %>
                <div class="AknMessageBox AknMessageBox--error AknMessageBox--hide alert alert-error"><%- _.__('pim_datagrid.column_configurator.min_message') %></div>
            </ul>
        </div>
    </div>
</div>
