<div class="AknFullPage">
    <div class="AknFullPage-content AknFullPage-content--withIllustration">
        <div>
            <div class="AknFullPage-illustration AknFullPage-illustration--<%- illustrationClass %>"></div>
        </div>
        <div>
            <div data-drop-zone="header"></div>
            <div data-drop-zone="fields-container"></div>
            <div class="AknButton AknButton--apply ok"><%- okText %></div>
        </div>
    </div>
</div>
<div class="AknFullPage-cancel cancel"></div>
