{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "parser": "typescript",
    "printWidth": 80,
    "proseWrap": "never",
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
