{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}
    <div id="settings-rules">
    </div>
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script>
        require(
            [
                'jquery',
                'pim/form-builder',
                'pim/fetcher-registry'
            ],
            function (
                $,
                FormBuilder,
                FetcherRegistry
            ) {
                FetcherRegistry.initialize().done(function () {
                    FormBuilder.build('pimee-rules-index')
                        .then(function (form) {
                            form.setElement('#settings-rules').render();
                        });
                });
            });
    </script>
{% endblock %}
