<div class="AknFilterChoice currencyfilter choicefilter">
    <div class="AknFilterChoice-header">
        <div class="AknFilterChoice-title"><%- label %></div>
        <div class="AknDropdown operator">
            <div class="AknActionButton AknActionButton--withoutBorder" data-toggle="dropdown">
                <span class="AknActionButton-highlight"><%- selectedOperatorLabel %></span>
                <span class="AknActionButton-caret"></span>
            </div>
            <div class="AknDropdown-menu">
                <div class="AknDropdown-menuTitle"><%- operatorLabel %></div>
                <% _.each(operatorChoices, function (label, operator) { %>
                <div class="AknDropdown-menuLink<% if (selectedOperator == operator) { %> AknDropdown-menuLink--active active<% } %>">
                    <span class="label operator_choice" data-value="<%= operator %>"><%- label %></span>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="AknFilterChoice-inputContainer">
        <input type="text" name="value" class="AknTextField select-field" value="<%- value %>"/>
        <div class="AknFilterChoice-currency">
            <div class="AknDropdown currency">
                <div class="AknActionButton AknActionButton--withoutBorder" data-toggle="dropdown">
                    <span class="AknActionButton-highlight"><%- selectedCurrency %></span>
                    <span class="AknActionButton-caret"></span>
                </div>
                <div class="AknDropdown-menu">
                    <div class="AknDropdown-menuTitle"><%- currencyLabel %></div>
                    <% _.each(currencies, function (currency) { %>
                    <div class="AknDropdown-menuLink<% if (selectedCurrency == currency) { %> AknDropdown-menuLink--active active<% } %>">
                        <span class="label currency_choice" data-value="<%= currency %>"><%- currency %></span>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <input class="name_input" type="hidden" name="currency_currency" value="<%- selectedCurrency %>"/>
    </div>
    <div class="AknFilterChoice-button">
        <button type="button" class="AknButton AknButton--apply filter-update"><%- updateLabel %></button>
    </div>
</div>
