{% if show %}
    <div class="quick-launchpad-widget span6">
        <div class="clearfix">
            <div class="widget-header">
                {{ 'pimee_dashboard.widget.product_drafts.title'|trans }}
            </div>
            <div class="widget-content">
                <table id="proposal-widget" class="table table-condensed table-light groups unspaced"></table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        require(
            ['jquery', 'pim/dashboard/widget-container', 'pimee/dashboard/proposal-widget'],
            function ($, widgetContainer, ProposalWidget) {
                'use strict';
                $(function () {
                    var options = {el: '#proposal-widget', alias: 'proposals'}
                    var widget = widgetContainer.getWidget(options, ProposalWidget);
                    widget.render().delayedLoad();
                });
            }
        );
    </script>
{% endif %}
