<script type="text/html" id="template-dot-menu-tab">
    <li id="<%= key %>-tab">
        <a data-toggle="tab" href="#<%= key %>-content"><i class="<%= icon %>"></i><%- title %></a>
    </li>
</script>

<script type="text/html" id="template-dot-menu-tab-content">
    <div id="<%= key %>-content" class="tab-pane">
        <ul class="extra-list">
        </ul>
    </div>
</script>

<script type="text/html" id="template-dot-menu-item">
    <button class="close" type="button">&times;</button><span data-url="<%= url %>"><%- title_rendered %></span>
</script>

<script type="text/html" id="template-dot-menu-empty-message">
    <div class="dot-menu-empty-message">{{ 'No items'|trans|raw }}</div>
</script>
