{% extends 'OroNavigationBundle:Menu:menu.html.twig' %}

{% block root %}
    {% import 'OroNavigationBundle:Menu:menu.html.twig' as oro_menu %}

    <div class="tab-content">
        {% set items = item %}
        {% for item in items %}
            {% set showNonAuthorized = item.extras.showNonAuthorized is defined and item.extras.showNonAuthorized %}
            {% set displayable = item.extras.isAllowed or showNonAuthorized %}
            {% if displayable %}
                <div class="tab-pane"
                     id="{{- item.name|replace({' ': '_', '#': '_'})|lower|trim -}}-content">
                    {% set options = {'tabTitle': item.label} %}
                    {% set options = {'defaultUrl': path("oro_default")} %}
                    {% set options = options|merge(item.extras) %}
                    {{ oro_menu_render(item.name, options) }}
                </div>
            {% endif %}
        {% endfor %}
        {% set item = items %}
    </div>
{% endblock %}
