<ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        <li>
            {{ breadcrumb.label|trans|raw }}{% if not loop.last %}<span class="divider">/</span>{% endif %}
        </li>
    {% endfor %}
</ul>
