{% extends 'OroNavigationBundle:Menu:dots_tabs.html.twig' %}

{% block root %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}

        <div class="clearfix">
            <div class="pin-bar clearfix">
                <div class="pin-menus dropdown dropdown-close-prevent">
                    <i class="icon-ellipsis-horizontal oro-dropdown-toggle"></i>
                    <div class="dropdown-menu pull-right">
                        <div class="tabbable tabs-left">
                            {{ block('navbar_tabs') }}
                            {{ block('navbar_tabs_content') }}
                        </div>
                    </div>
                </div>
                <div class="list-bar">
                  <ul>&nbsp;</ul>
                </div>
            </div>
        </div>

    {% endif %}
        <script type="text/javascript">
            require(['jquery'],
            function($) {
                function trueWidthPinBar(){
                    $('div.list-bar li').each(function(){
                        var _tempWidth = "auto";
                        //$(this).find('div.pin-holder div').width(_tempWidth);
                    });
                    var _sizeStart = $(window).width() -30 - 55;
                    var _sizeEnd = $('div.list-bar').width();
                    if(_sizeStart < _sizeEnd){
                        var _qty = $('div.list-bar ul li').size();
                        var _sizePaddings = (23 + 15) * _qty;
                        var _mainPadding = $('#main').innerWidth() - $('#main').width();
                        if($(window).width() < 980){
                            var _size = 980 -30 - _mainPadding  - _sizePaddings;
                        }else{
                            var _size = $(window).width() -30 - _mainPadding  - _sizePaddings;
                        }
                        var _tempWidth = _size / _qty;
                        _tempWidth = _tempWidth < 40 ? 40 : _tempWidth;
                        $('div.list-bar ul li').each(function(){
                            $(this).find('div.pin-holder div').width(_tempWidth);
                            $(this).find('div.pin-holder div').addClass('pin-frame');
                        });
                    }
                }
                $(function() {
                    trueWidthPinBar();
                    $(window).resize(trueWidthPinBar);
                });
            });
        </script>
{% endblock %}
