{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}
    <div class="page-error-block">
        <img src="{{ asset('bundles/pimui/images/unicorn-akeneo_128.png') }}"/>
        <h1>{{ 'pim_enrich.error.exception.title'|trans({'%status_code%': status_code}) }}</h1>
        {% block page_error %}
            <div class="error-message">{{ exception.message }}</div>
        {% endblock page_error %}
        <div class="clearfix"></div>
    </div>
{% endblock content %}
