# cf https://github.com/blog/2392-introducing-code-owners

*       @nidup

*.js    @juliensnz

*.less  @pierallard

src/Pim/Bundle/ApiBundle/** @core-web-api
src/Pim/Component/Api/**    @core-web-api

src/Pim/Bundle/CatalogBundle/** @jjanvier
src/Pim/Component/Catalog/**    @jjanvier

docker/**               @damien-carcel
docker-compose.yml.dist @damien-carcel
