{% if app.user %}
    <li class="AknDropdown dropdown">
        <a href="javascript: void(0);" class="AknHeader-userLink dropdown-toggle" data-toggle="dropdown">
            {{ app.user.fullName|escape }}
            <i class="AknCaret AknCaret--inverse"></i>
        </a>
        {{ oro_menu_render('usermenu') }}
    </li>
{% else %}
    <li><a href="{{ path('oro_user_security_login') }}">{{ 'Login'|trans }}</a></li>
{% endif %}
