{% if app.user %}
    <li>
        <a href="javascript: void(0);" class="AkUserMenu-userLink dropdown-toggle" data-toggle="dropdown">{{ app.user.fullName|escape }} <i class="icon-sort-down"></i></a>
        {{ oro_menu_render('usermenu') }}
    </li>
{% else %}
    <li><a href="{{ path('oro_user_security_login') }}">{{ 'Login'|trans }}</a></li>
{% endif %}
