// Font
@AknDefaultFont: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
@AknMonospacedFont: Courier, "MS Courier New", Prestige, "Everson Mono";
@AknLightFontColor: lighten(@AknSlateGrey, 20%);
@AknDarkFontColor: darken(@AknDefaultFontColor, 10%);

// Font sizes
@latoCoeff: 1.011; // Lato font is smaller than previous one (Helvetica)
@AknHugeFontSize: 60px;
@AknAltTitleFontSize: 30px;
@AknTitleDefaultFontSize: 28px;
@AknTitleFontSize: 28px;
@AknFontSizeBigger: 17px;
@AknFontSizeBig: 15px;
@AknDefaultFontSize: 13px;
@AknFontSizeSmall: 11px;
@AknBigIconFontSize: 19px;
@AknLittleIconFontSize: 16px;

// Colors
@AknDarkBlue: #11324D;
@AknWhite: #FFFFFF;
@AknGreen: #67b373;
@AknGreen80: #85C28F;
@AknGreen100: #67B373;
@AknGreen120: #528f5c;
@AknGreen140: #3d6b45;
@AknOrange: #F8B441;
@AknOrange20: #FEF0D9;
@AknRed: #D4604F;
@AknRed10: #FAEFED;
@AknRed20: #F6DFDC;
@AknRed100: #D4604F;
@AknRed120: #a94c3f;
@AknRed140: #7f392f;
@AknPurple: #52267D;      // TODO Change this to @AknDarkPurple
@AknLightPurple: #9452BA; // TODO Change this to @AknPurple
@AknBlue: #5992C7;
@AknBlue10: #F5F9FC;
@AknBlue20: #DEE9F4;
@AknBlue100: #5992C7;
@AknBlue120: #47749F;
@AknBlue140: #355777;
@AknSlateGrey:#67768A;
@AknGrey: #A1A9B7;
@AknGrey20: #F6F7FB;
@AknGrey60: #E8EBEE;
@AknGrey80: #c7cbd4;
@AknGrey100: #a1a9b7;
@AknGrey120: #67768a;
@AknGrey140: #11324d;
@AknMediumGrey: #D9DDE2;
@AknLightGray: #F9F9FB;
@AknYellow10: #FEF7EC;
@AknYellow100: #f9b53f;
@AknYellow120: #c79032;
@AknYellow140: #956c25;
@AknPurple20: #EADCF1;
@AknPurple40: #D4BAE3;
@AknPurple60: #BE97D5;
@AknPurple80: #A974C7;
@AknPurple100: #9452BA;
@AknPurple120: #764194;
@AknPurple140: #58316F;

@AknBorderColor: lighten(@AknGrey, 15%);
@AknDefaultHoverBackground: @AknLightGray;
@AknDisabledInputColor: lighten(@AknGrey, 25%);
@AknDefaultFontColor: @AknSlateGrey;
@AknFormFontColor: @AknDarkBlue;

@AknIllustrationPurple20: #f3eef9;
@AknIllustrationPurple100: #9452ba;
@AknIllustrationPurple120: #763e9e;

@AknIllustrationDarkPurple20: #eeeaf2;
@AknIllustrationDarkPurple100: #52267d;
@AknIllustrationDarkPurple120: #36145e;

@AknIllustrationBlue20: #f0f7fc;
@AknIllustrationBlue100: #4ca8e0;
@AknIllustrationBlue120: #3278b7;

@AknIllustrationDarkBlue20: #efeff8;
@AknIllustrationDarkBlue100: #5e63b6;
@AknIllustrationDarkBlue120: #3b438c;

@AknIllustrationGreen20: #f5fafa;
@AknIllustrationGreen100: #81cccc;
@AknIllustrationGreen120: #5da8a6;

@AknIllustrationYellow20: #fefbf2;
@AknIllustrationYellow100: #fcce76;
@AknIllustrationYellow120: #ca8411;

@AknIllustrationRed20: #fdedf0;
@AknIllustrationRed100: #f74b64;
@AknIllustrationRed120: #c92343;

// Sizes
@AknTabHeight: 46px;
@AknBigButtonSize: 38px;
@AknDefaultButtonSize: 32px;
@AknLittleButtonSize: 30px;
@AknMicroButtonSize: 24px;
@AknMainMenuWidth: 80px;
@AknFormHeight: 40px;
@AknIconSize: @AknLittleButtonSize;
@AknMaxFormWidth: 460px;
@AknCenteredContentWidth: 940px;
@AknSmallProgressBarHeight: 16px;
@AknMicroProgressBarHeight: 2px;
@AknDropdownMenuVerticalPadding: 5px;
@AknLocalizableGap: 2px;
@AknFullPagePadding: 24px;
@AknPaddingBetweenBlocksLeftColumn: 36px;
@AknPaddingLeftColumn: 30px;
@AknThirdColumnWidth: 300px;
@AknSecondColumnWidth: 280px;
@AknPanelWidth: 400px;
@AknCheckboxSize: 18px;
@AknBottomPanelHeight: 70px;
@AknFullPageTopPadding: 140px;
@AknInsideBoxesMargin: 18px;
@AknSelectLineHeight: 54px;
@AknCheckboxCellWidth: 40px;

// Various
@AknButtonsPadding: 12px;
@AknColumnTiming: 0.3s;
@AknColumnTransition: ease-in-out;
