<div class="tabsections">
    <div class="tabsection">
        <div class="tabsection-title">
            <div class="pull-right" data-drop-zone="headings"></div>
            <%- __('pim_enrich.export.product.properties.title') %>
        </div>
        <div class="tabsection-content AknFormContainer AknFormContainer--withPadding">
            <div class="AknFormContainer" data-drop-zone="properties"></div>
        </div>
    </div>
    <div class="tabsection">
        <div class="tabsection-title">
            <div class="pull-right" data-drop-zone="headings"></div>
            <%- __('pim_enrich.export.product.global_settings.title') %>
        </div>
        <div class="tabsection-content AknFormContainer AknFormContainer--withPadding">
            <div class="AknFormContainer" data-drop-zone="global-settings"></div>
        </div>
    </div>
</div>
