<div class="AknFormContainer AknFormContainer--large AknFormContainer--withPadding AknFormContainer--centered">
    <div class="AknMediaField <%- !file ? 'has-file' : '' %>" >
        <% if (!file) { %>
            <input class="AknMediaField-fileUploaderInput" type="file" name="Drag and drop a file or click here"/>
            <div class="AknMediaField-emptyContainer">
                <span title="upload icon" class="AknMediaField-uploadIcon"/>
                <span><%- __('pim_enrich.entity.job_execution.module.create.upload', {type})%></span>
            </div>
        <% } else { %>
            <div class="AknMediaField-preview preview">
                <div class="AknMediaField-thumb file">
                    <span title="upload icon" class="AknMediaField-uploadIcon"/>
                </div>
                <div class="AknMediaField-info info">
                    <div class="filename" title="<%- file.name %>"><%- file.name %></div>
                    <div class="AknButtonList AknButtonList--centered actions">
                        <span class="AknButtonList-item clear-field">
                            <span class="AknMediaField-remove"/>
                        </span>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="AknMediaField-progress AknProgress AknProgress--micro progress">
            <div class="AknProgress-bar bar"></div>
        </div>
    </div>
</div>
