{% extends 'PimEnrichBundle:MassEditAction:family/configure.html.twig' %}

{% block formContent %}
    <div id="family-edit-form"></div>
    {{ form_widget(form.operation.values) }}
    <script>
        require(['jquery', 'pim/fetcher-registry', 'pim/form-builder', 'pim/user-context', 'pim/dialog', 'oro/mediator', 'oro/translator'],
            function($, FetcherRegistry, FormBuilder, UserContext, Dialog, mediator, __) {
                $(function() {
                    var family = {
                        attributes: [],
                        attribute_requirements: {},
                        meta: {}
                    };

                    FetcherRegistry.initialize().done(function () {
                        FormBuilder.build('pim-family-mass-edit-form')
                            .then(function (form) {
                                form.setData(family);
                                form.setElement('#family-edit-form').render();
                                form.$el.find('.AknTitleContainer').addClass('AknTitleContainer--hidden');

                            });
                    });
                });
            });
    </script>
{% endblock %}
