{% set status = value ? 'enabled' : 'disabled' %}
<div class="AknBadge AknBadge--round AknBadge--{{ status }} status-{{ status }}"><i class="AknBadge-icon icon-status-{{ status }} icon-circle"></i>{{ value ? 'Enabled'|trans : 'Disabled'|trans }}</div>
