<span class="cell-truncatable" data-content="{{ value.text }}" data-original-title="Description">{{ value.text[:40]}} ...</span>

{#<script type="application/javascript">#}
    {#$(function () {$('span.cell-truncable').popover({delay: {show: 500, hide: 100},trigger: 'hover'});});#}
{#</script>#}
