### Akeneo PIM environment variables
# note: default values are configured for those variable into the symfony .yml configuration files
# the values you put here could override them.
# If those environment variables are set in the shell that runs the process, the shell's one will be used.
AKENEO_PIM_URL=http://localhost

### Docker environment variables
# note: Values in the shell take precedence over those specified in the .env file.
# @see https://docs.docker.com/compose/environment-variables/#set-environment-variables-in-containers
DOCKER_PORT_HTTP=8080
DOCKER_PORT_HTTP_BEHAT=8081
