### Docker environment variables
# note: Values in the shell take precedence over those specified in the .env file.
# @see https://docs.docker.com/compose/environment-variables/#set-environment-variables-in-containers
DOCKER_PORT_HTTP=8080
DOCKER_PORT_HTTP_BEHAT=8081
ES_JAVA_OPTS='-Xms512M -Xmx512M'
