AKENEO_PIM_URL=http://localhost:8080
DOCKER_PORT_HTTP=8080
DOCKER_PORT_HTTP_BEHAT=8081
DOCKER_PORT_HTTP_SSO_IDP=8082
BLACKFIRE_SERVER_ID=fake
BLACKFIRE_SERVER_TOKEN=fake
BLACKFIRE_CLIENT_ID=fake
BLACKFIRE_CLIENT_TOKEN=fake
