web/bundles/framework
web/bundles/sensiodistribution
web/bundles/webprofiler
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
composer.phar
.settings
.buildpath
.project
/cov
/bin
/composer.lock
