public/bundles/*
!public/bundles/.gitkeep
public/media/*
public/css/*
public/js/*
public/dist/*
public/test_dist/*
public/cache/
public/uploads/*
public/uploads_test/*
public/log
public/app_local.php
var/archive/*
var/*
!var/SymfonyRequirements.php
!var/PimRequirements.php
var/uploads/*
var/uploads/product/*
var/file_storage/*
vendor
bin/symfony_requirements
composer.phar
/cov
/phpspec.yml
uploads_test/
.phpspec/*.tpl
/node_modules
npm-debug.log
docker-compose.override.yml
.web-server-pid
package-lock.json
.yarn-metadata.json
yarn-error.log
coverage/*
.phpunit.result.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
