web/bundles/*
web/media/*
web/css/*
web/js/*
web/app_local.php
app/AppKernel_local.php
app/console_local
app/archive/*
app/cache/*
app/config/*_local.yml
app/logs/*
app/import/*
app/export/*
app/emails/*
app/uploads/*
app/uploads/product/*
app/file_storage/*
app/bootstrap.php.cache
app/phpunit.xml
build/
/docker/*
!/docker/akeneo.conf
!/docker/akeneo-behat.conf
vendor
composer.phar
/cov
/bin/*
!/bin/merge-coverage
!/bin/docker/pim-dependencies.sh
!/bin/docker/pim-front.sh
!/bin/docker/pim-initialize.sh
behat.yml
/phpspec.yml
web/uploads/*
web/uploads_test/*
web/log
uploads_test/
.phpspec/*.tpl
composer.lock
.php_cs.cache
node_modules/
.grunt/
docker-compose.yml
