src/Akeneo/Category/**/*
src/Akeneo/Connectivity/**/*
src/Akeneo/Platform/Bundle/CatalogVolumeMonitoringBundle/front/**/*
src/Akeneo/Platform/Bundle/ImportExportBundle/front/**/*
src/Akeneo/Platform/Job/front/process-tracker/coverage/**/*
src/Oro/Bundle/ConfigBundle/front/**/*
# Ignore all lib directories (build artifacts and vendor libraries)
**/lib/**/*
