default:
    paths:
        features: features
    context:
        class:  Context\FeatureContext
        parameters:
            base_url: http://akeneo-pim-enterprise-behat.local/
            window_width: 1280
            window_height: 1024
    extensions:
        Behat\MinkExtension\Extension:
            default_session: symfony2
            show_cmd: chromium-browser %s
            selenium2: ~
            base_url: http://akeneo-pim-enterprise-behat.local/
            files_path: 'features/Context/fixtures/'
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat
        SensioLabs\Behat\PageObjectExtension\Extension: ~

jenkins-1:
    context:
        parameters:
            base_url: http://pim-enterprise-behat-1.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-enterprise-behat-1.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat1
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat/
    filters:
        tags: ~skip&&~doc

jenkins-mongodb-1:
    context:
        parameters:
            base_url: http://pim-enterprise-behat-mongodb-1.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-enterprise-behat-mongodb-1.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat1
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat/
    filters:
        tags: ~skip&&~doc

jenkins-pr-1:
    context:
        parameters:
            base_url: http://pim-enterprise-pr-behat-1.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-enterprise-pr-behat-1.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat1
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat/
    filters:
        tags: ~skip&&~doc
