default:
    paths:
        features: features
    context:
        class:  Context\FeatureContext
        parameters:
            base_url: http://akeneo-pim-behat.local/
            window_width: 1280
            window_height: 1024
    extensions:
        Behat\MinkExtension\Extension:
            default_session: symfony2
            show_cmd: chromium-browser %s
            selenium2: ~
            base_url: http://akeneo-pim-behat.local/
            files_path: 'features/Context/fixtures/'
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat
        SensioLabs\Behat\PageObjectExtension\Extension: ~

jenkins-1:
    context:
        parameters:
            base_url: http://pim-behat-1.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-behat-1.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat1
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat/
    filters:
        tags: ~skip

jenkins-2:
    context:
        parameters:
            base_url: http://pim-behat-2.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-behat-2.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat2
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat/
    filters:
        tags: ~skip

jenkins-3:
    context:
        parameters:
            base_url: http://pim-behat-3.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-behat-3.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat3
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat/
    filters:
        tags: ~skip

jenkins-4:
    context:
        parameters:
            base_url: http://pim-behat-4.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-behat-4.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat4
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat/
    filters:
        tags: ~skip

jenkins-pr-1:
    context:
        parameters:
            base_url: http://pim-pr-behat-1.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-pr-behat-1.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat1
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat-pr/
    filters:
        tags: ~skip

jenkins-pr-2:
    context:
        parameters:
            base_url: http://pim-pr-behat-2.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-pr-behat-2.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat2
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat-pr/
    filters:
        tags: ~skip

jenkins-pr-3:
    context:
        parameters:
            base_url: http://pim-pr-behat-3.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-pr-behat-3.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat3
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat-pr/
    filters:
        tags: ~skip

jenkins-pr-4:
    context:
        parameters:
            base_url: http://pim-pr-behat-4.ci/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-pr-behat-4.ci/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat4
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat-pr/
    filters:
        tags: ~skip

jenkins-coverage:
    context:
        parameters:
            base_url: http://pim-behat-coverage.ci:90/
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://pim-behat-coverage.ci:90/
        Behat\Symfony2Extension\Extension:
            kernel:
                env: behat
    formatter:
        name: Context\SummaryFormatter,junit
        parameters:
            output_path: null,app/build/logs/behat-coverage/
    filters:
        tags: ~skip
