legacy:
    suites:
        all:
            paths:
                - tests/legacy/features
                - vendor/akeneo/pim-community-dev/tests/legacy/features
            filters:
                tags: '~@skip&&~@skip-pef&&~@skip-nav&&~@doc&&~@unstable&&~@unstable-app&&~@deprecated&&~@ce'
            contexts:
                - Context\EnterpriseFeatureContext:
                    -
                        base_url: 'http://127.0.0.1/'
                        timeout: 50000
                        window_width: 1280
                        window_height: 1024
                - Context\EnterpriseFixturesContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseCatalogConfigurationContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseWebUser:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseDataGridContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseCommandContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseTransformationContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseAssertionContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseAssetContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseFileTransformerContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseItemPickerContext:
                    - 'Context\EnterpriseFeatureContext'
                - Context\EnterpriseSecurityContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\AttributeValidationContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Collect\ImportProfilesContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Enrich\AttributeTabContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Enrich\CompletenessContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Enrich\GridPaginationContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Enrich\ProductGroupContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Enrich\ProductModelContext:
                    - 'Context\EnterpriseFeatureContext'
                    - '@pim_catalog.repository.product_model'
                    - '@doctrine.orm.entity_manager'
                    - '@pim_catalog.updater.product_model'
                    - '@pim_catalog.saver.product_model'
                    - '@pim_catalog.validator.product'
                    - '@pim_versioning.repository.version'
                - Pim\Behat\Context\Domain\Enrich\ProductContext:
                    - '@pim_catalog.repository.product'
                    - '@pim_catalog.updater.product'
                    - '@pim_catalog.saver.product'
                    - '@pim_catalog.validator.product'
                    - '@doctrine.orm.entity_manager'
                    - '@pim_versioning.repository.version'
                - Pim\Behat\Context\Domain\Enrich\VariantNavigationContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Spread\ExportBuilderContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Spread\ExportProfilesContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\Spread\XlsxFileContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\System\PermissionsContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\SecondaryActionsContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Domain\TreeContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Storage\FileInfoStorage:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\ViewSelectorContext:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\DashboardContext:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\TeamworkAssistant\WidgetContext:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\TeamworkAssistant\ProjectContext:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\AssetContext:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\HookContext:
                    - 'Context\EnterpriseFeatureContext'
                    - 1280
                    - 1024
                - PimEnterprise\Behat\Context\JobContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\ImportExportFileContext:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\NavigationContext:
                    - 'Context\EnterpriseFeatureContext'
                    - 'http://127.0.0.1/'
                - Pim\Behat\Context\Storage\ProductStorage:
                    - '@pim_connector.array_converter.flat_to_standard.product.attribute_column_info_extractor'
                    - '@pim_catalog.repository.product'
                    - '@doctrine.orm.default_entity_manager'
                - Pim\Behat\Context\Storage\ProductModelStorage:
                    - '@pim_connector.array_converter.flat_to_standard.product.attribute_column_info_extractor'
                    - '@pim_catalog.repository.product_model'
                    - '@pim_catalog.repository.family_variant'
                    - '@pim_catalog.factory.product_model'
                    - '@pim_catalog.updater.product_model'
                    - '@pim_catalog.validator.product_model'
                    - '@pim_catalog.saver.product_model'
                - Pim\Behat\Context\Domain\Enrich\FamilyVariantConfigurationContext:
                    - 'Context\EnterpriseFeatureContext'
                - Pim\Behat\Context\Storage\VariantProductStorage:
                    - '@pim_catalog.repository.product'
                - Pim\Behat\Context\Storage\AttributeOptionStorage:
                    - '@pim_catalog.repository.attribute_option'
                    - '@doctrine.orm.default_entity_manager'
                - PimEnterprise\Behat\Context\RevertContext:
                    - '@pim_catalog.repository.product'
                    - '@pim_versioning.repository.version'
                    - '@pimee_revert.reverter.product'
                - Pim\Behat\Context\MassEditJobContext:
                    - 'Context\EnterpriseFeatureContext'
                    - '@pim_catalog.repository.product'
                    - '@pim_catalog.repository.product_model'
                - PimEnterprise\Behat\Context\ProductAssetCollectionContext:
                    - '@pim_catalog.updater.product'
                    - '@pim_catalog.saver.product'
                    - '@pim_catalog.repository.product'
                    - '@doctrine.orm.entity_manager'
                - PimEnterprise\Behat\Context\Proposal\ProductProposalStorageContext:
                    - '@pim_connector.array_converter.flat_to_standard.product.attribute_column_info_extractor'
                    - '@pim_catalog.repository.product'
                    - '@pimee_workflow.repository.product_draft'
                    - '@doctrine.orm.entity_manager'
                - PimEnterprise\Behat\Context\AuthenticatedImportFileContext:
                    - 'Context\EnterpriseFeatureContext'
                - PimEnterprise\Behat\Context\Proposal\ProductModelProposalStorageContext:
                    - '@pim_connector.array_converter.flat_to_standard.product.attribute_column_info_extractor'
                    - '@pim_catalog.repository.product_model'
                    - '@pimee_workflow.repository.product_model_draft'
                    - '@doctrine.orm.entity_manager'
        suggest-data:
            paths:
                - '%paths.base%/src/Akeneo/Pim/Automation/SuggestData/tests/features'
            filters:
                tags: '@end-to-end'
            contexts:
                - Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext:
                    -
                        base_url: 'http://127.0.0.1/'
                        timeout: 10000
                        window_width: 1280
                        window_height: 1024
                - Context\EnterpriseFixturesContext:
                    - 'Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext'
                - Context\EnterpriseCatalogConfigurationContext:
                    - 'Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext'
                - PimEnterprise\Behat\Context\HookContext:
                    - 'Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext'
                    - 1280
                    - 1024
                - PimEnterprise\Behat\Context\NavigationContext:
                    - 'Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext'
                    - 'http://127.0.0.1/'
                - Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FixturesContext:
                    - 'Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext'
                    - '@akeneo.pim.automation.suggest_data.handler.update_identifiers_mapping'
                    - '@akeneo.pim.automation.suggest_data.handler.subscribe_product'
                    - '@akeneo_e2e.context.suggest_data.builder.attribute'
                    - '@pim_catalog.saver.attribute'
                    - '@akeneo_e2e.context.suggest_data.builder.family'
                    - '@pim_catalog.saver.family'
                    - '@akeneo_e2e.context.suggest_data.builder.product'
                    - '@pim_catalog.saver.product'
                    - '@pim_catalog.repository.product'
                - Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FranklinConfigurationContext:
                    - 'Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext'
                    - '@akeneo.pim.automation.suggest_data.repository.configuration'
                - Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\ProductSubscriptionContext:
                    - 'Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\FeatureContext'
                    - '@pim_catalog.repository.product'
                    - '@akeneo.pim.automation.suggest_data.repository.product_subscription'
                - Akeneo\Test\Pim\Automation\SuggestData\EndToEnd\Context\ProposalContext:
                    - '@pim_catalog.repository.product'
                    - '@pimee_workflow.repository.product_draft'
                    - '@akeneo.pim.automation.suggest_data.repository.product_subscription'
    extensions:
        Behat\ChainedStepsExtension: ~
        Behat\MinkExtension:
            default_session: symfony2
            javascript_session: selenium2
            show_cmd: chromium-browser %s
            sessions:
                symfony2:
                    symfony2: ~
                selenium2:
                    selenium2:
                        wd_host: 'http://127.0.0.1:4444/wd/hub'
            base_url: 'http://127.0.0.1/'
            files_path: 'tests/legacy/features/Context/fixtures/'
        Behat\Symfony2Extension:
            kernel:
                env: behat
                debug: false
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page: [Context\Page]
            factory:
                page_parameters:
                    base_url: 'http://127.0.0.1/'
        Pim\Behat\Extension\PimFormatter\PimFormatterExtension: ~
        Liuggio\Fastest\Behat\ListFeaturesExtension\Extension: ~

    formatters:
        pretty: true
        pim:
            output_path: /tmp/pod/

acceptance:
    suites:
#        This CE suite cannot work in EE because of permissions.
#        Contexts need to be overridden.
#        pim:
#            paths:
#                - '%paths.base%/vendor/akeneo/pim-community-dev/tests/features/pim'
#            contexts_services:
#                - test.catalog.product_creation.context
#                - test.catalog.product_validation.context
#            filters:
#                tags: '@acceptance-back'
        channel:
            paths:
                - '%paths.base%/vendor/akeneo/pim-community-dev/tests/features/channel'
            contexts_services:
                - test.locale.context
                - test.channel.context
            filters:
                tags: '@acceptance-back'
        suggest-data:
            paths:
                - '%paths.base%/src/Akeneo/Pim/Automation/SuggestData/tests/features'
            contexts_services:
                - akeneo_acceptance.context.suggest_data.franklin
                - akeneo_acceptance.context.suggest_data.identifiers_mapping
                - akeneo_acceptance.context.suggest_data.product_subscription
                - akeneo_acceptance.context.suggest_data.product_subscription_status
                - akeneo_acceptance.context.suggest_data.data_fixtures
                - akeneo_acceptance.context.suggest_data.product_fetching
                - akeneo_acceptance.context.suggest_data.proposal
                - test.attribute.context
                - akeneo_acceptance.context.suggest_data.attributes_mapping
                - akeneo_acceptance.context.suggest_data.attribute_options_mapping
            filters:
                tags: '@acceptance-back'
        platform:
            paths:
                - '%paths.base%/tests/features/volume-monitoring'
                - '%paths.base%/vendor/akeneo/pim-community-dev/tests/features/volume-monitoring'
            contexts_services:
                - test.catalog_volume_limits.report_context
                - test.catalog_volume_limits.system_info_context
                - test.catalog_volume_limits.system_info_attribute_context
                - test.catalog_volume_limits.attribute_per_family_context
                - test.catalog_volume_limits.product_context
                - test.catalog_volume_limits.channel_context
                - test.catalog_volume_limits.locale_context
                - test.catalog_volume_limits.useable_as_grid_filter_attribute_context
                - test.catalog_volume_limits.product_value_per_family_context
                - test.catalog_volume_limits.localizable_attribute_per_family_context
                - test.catalog_volume_limits.scopable_attribute_per_family_context
                - test.catalog_volume_limits.localizable_and_scopable_attribute_per_family_context
                - test.catalog_volume_limits.scopable_attribute_context
                - test.catalog_volume_limits.localizable_attribute_context
                - test.catalog_volume_limits.localizable_and_scopable_attribute_context
                - test.catalog_volume_limits.family_context
                - test.catalog_volume_limits.attribute_context
                - test.catalog_volume_limits.option_per_attribute_context
                - test.catalog_volume_limits.category_context
                - test.catalog_volume_limits.category_tree_context
                - test.catalog_volume_limits.variant_product_context
                - test.catalog_volume_limits.product_model_context
                - test.catalog_volume_limits.product_value_context
                - test.catalog_volume_limits.user_context
                - test.catalog_volume_limits.category_in_one_category_context
                - test.catalog_volume_limits.category_level_context
                - test.product_asset.asset_context
                - test.product_asset.asset_category_context
                - test.product_asset.asset_category_tree_context
                - test.authentication.sso_context
            filters:
                tags: '@acceptance-back'
    extensions:
        FriendsOfBehat\ContextServiceExtension:
           imports:
               - 'vendor/akeneo/pim-community-dev/tests/back/Acceptance/Resources/config/behat/services.yml'
               - 'vendor/akeneo/pim-community-dev/tests/back/Platform/Acceptance/CatalogVolumeMonitoring/Resources/config/behat/services.yml'
               - 'tests/back/Asset/Acceptance/Resources/config/behat/services.yml'
               - 'src/Akeneo/ReferenceEntity/tests/back/Acceptance/Resources/config/behat/services.yml'
               - 'src/Akeneo/Pim/Automation/SuggestData/tests/back/Acceptance/Resources/config/behat/services.yml'
               - 'tests/back/Platform/Acceptance/Resources/config/services.yml'
        FriendsOfBehat\CrossContainerExtension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                env: test_fake
        Pim\Behat\Extension\PimFormatter\PimFormatterExtension: ~
        Liuggio\Fastest\Behat\ListFeaturesExtension\Extension: ~

    formatters:
        pretty: true
        pim:
            output_path: /tmp/pod/
