# Migrations must be validated by Technical Governance team (aka BlackHawks)
/upgrades/schema/ @akeneo/squad-blackhawks
/grth/upgrades/schema/ @akeneo/squad-blackhawks
/tria/upgrades/schema/ @akeneo/squad-blackhawks
