version: '2'

services:
  fpm:
    environment:
      PHP_IDE_CONFIG: 'serverName=pim-ce-cli'
      PHP_XDEBUG_ENABLED: 0
      PHP_XDEBUG_IDE_KEY: 'XDEBUG_IDE_KEY'
      XDEBUG_CONFIG: 'remote_host=xxx.xxx.xxx.xxx'

  selenium:
    ports:
      - '5910:5900'

  httpd:
    ports:
      - '8080:80'

  httpd-behat:
    environment:
      PHP_IDE_CONFIG: 'serverName=pim-ce-behat'
    ports:
      - '8081:80'

  mysql:
    ports:
      - '33006:3306'

  mysql-behat:
    ports:
      - '33007:3306'

  elasticsearch:
    ports:
      - '9210:9200'
