includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    tmpDir: %rootDir%/../../../var/cache/phpstan/deprecation/
    paths:
        - components
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        # Internal deprecation
        - '#Call to deprecated method useTechnicalSqlCatalog\(\) of class Akeneo\\Test\\IntegrationTestsBundle\\Configuration\\CatalogInterface#'
        - '#Call to deprecated method createOAuthClient\(\) of class Akeneo\\Tool\\Bundle\\ApiBundle\\tests\\integration\\ApiTestCase.#'
        - '#Call to deprecated method getQueryBuilder\(\) of class Oro\\Bundle\\PimDataGridBundle\\Datasource\\Datasource:#'
        - '#Class Oro\\Bundle\\PimDataGridBundle\\Datasource\\ProductDatasource extends deprecated class Oro\\Bundle\\PimDataGridBundle\\Datasource\\Datasource#'
        - '#Class Oro\\Bundle\\PimDataGridBundle\\Datasource\\ProductAndProductModelDatasource extends deprecated class Oro\\Bundle\\PimDataGridBundle\\Datasource\\Datasource#'
        - '#Return type of method Oro\\Bundle\\PimDataGridBundle\\Datasource\\ProductDatasource::initializeQueryBuilder\(\) has typehint with deprecated class#'
        - '#Return type of method Oro\\Bundle\\PimDataGridBundle\\Datasource\\ProductAndProductModelDatasource::initializeQueryBuilder\(\) has typehint with deprecated class#'
        # Guard symfony migration (RAB-1149)
        - '#Instantiation of deprecated class Symfony\\Component\\Security\\Core\\User\\User#'
        - '#Call to deprecated method setAuthenticated\(\) of class Symfony\\Component\\Security\\Core\\Authentication\\Token\\AbstractToken#'
        - '#Class Akeneo\\Platform\\Bundle\\UIBundle\\EventListener\\ExceptionListener extends @final class Symfony\\Component\\Security\\Http\\Firewall\\ExceptionListener.#'
        # Doctrine DBAL migration (CPM-741-upgrade-doctrine)
        - '#Call to deprecated method executeUpdate#'
        - '#Call to deprecated method fetch\(\) of class Doctrine\\DBAL\\Driver\\ResultStatement#'
        - '#Call to deprecated method closeCursor\(\) of class Doctrine\\DBAL\\Driver\\ResultStatement#'
        - '#Call to deprecated method exec\(\) of class Doctrine\\DBAL\\Connection#'
        - '#Call to deprecated method execute\(\) of class Doctrine\\DBAL\\Statement#'
        - '#Call to deprecated method query\(\)#'
        - '#Call to deprecated method fetchAll\(\) of class Doctrine\\DBAL\\Driver\\ResultStatement#'
        - '#Call to deprecated method clear\(\) of class Doctrine\\ORM\\EntityRepository#'
        - '#Call to deprecated method ping\(\) of class Doctrine\\DBAL\\Connection.#'
        - '#Call to deprecated method merge\(\) of class Doctrine\\Persistence\\ObjectManager#'
        - '#Call to deprecated method fetchAllAssociative\(\) of class Doctrine\\DBAL\\Statement:#'
        # Doctrine DBAL migration (RAB-1192)
        - '#Call to deprecated method getAliasNamespace\(\) of class Doctrine\\Persistence\\ManagerRegistry#'
        - '#Class Oro\\Bundle\\SecurityBundle\\Acl\\Cache\\FilesystemCache extends deprecated class Doctrine\\Common\\Cache\\FilesystemCache#'
    excludePaths:
        - %currentWorkingDirectory%/*Spec.php
        - %currentWorkingDirectory%/src/Akeneo/Pim/Enrichment/Bundle/Resources/fonts/dompdf_font_family_cache.php
        # Class to remove (validate that they are not used anymore RAB-1161)
        - %currentWorkingDirectory%/src/Akeneo/Platform/Bundle/UIBundle/Twig/Node/PlaceholderNode.php
        - %currentWorkingDirectory%/src/Akeneo/Platform/Bundle/UIBundle/Twig/Parser/PlaceholderTokenParser.php
        - %currentWorkingDirectory%/src/Akeneo/Platform/Bundle/UIBundle/Form/Type/LocalizedCollectionType.php
        - %currentWorkingDirectory%/src/Oro/Bundle/SecurityBundle/Metadata/EntitySecurityMetadata.php
        - %currentWorkingDirectory%/src/Oro/Bundle/PimDataGridBundle/Extension/Formatter/Property/DateTimeProperty.php
        - %currentWorkingDirectory%/src/Oro/Bundle/PimDataGridBundle/Extension/Formatter/Property/ProductValue/DateProperty.php
        - %currentWorkingDirectory%/src/Oro/Bundle/DataGridBundle/Extension/Pager/DummyPager.php
        # PHP 8.1
        - %currentWorkingDirectory%/src/Oro/Bundle/PimDataGridBundle/EventListener/AddParametersToProductGridListener.php
