includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - %currentWorkingDirectory%/src/Akeneo/Pim/Automation/DataQualityInsights/tests
        - %currentWorkingDirectory%/vendor/akeneo/pim-community-dev/src/Akeneo/Pim/Automation/DataQualityInsights/tests
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/KernelDevDebugContainer.xml
