suites:
    ReferenceData:
        namespace: Pim\Component\ReferenceData,
        spec_path: src/Pim/Component/ReferenceData,
        src_path: src/Pim/Component/ReferenceData

extensions:
    - Akeneo\SkipExampleExtension
