<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="config/bootstrap.php">

    <php>
        <ini name="date.timezone" value="Europe/Paris"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="zend.enable_gc" value="1"/>
        <server name="KERNEL_CLASS" value="Kernel" force="true" />
    </php>

    <groups>
        <exclude>
            <group>skip</group>
        </exclude>
    </groups>

    <testsuites>
        <testsuite name="PIM_Integration_Test">
            <directory suffix="Integration.php">src</directory>
            <directory suffix="Integration.php">tests</directory>
        </testsuite>

        <testsuite name="PIM_Migration_Test">
            <directory suffix="Integration.php">upgrades/test_schema</directory>
        </testsuite>

        <testsuite name="Akeneo_Connectivity_Connection_Integration">
            <directory suffix="Integration.php">src/Akeneo/Connectivity/Connection/back/tests/Integration</directory>
        </testsuite>

        <testsuite name="Akeneo_Connectivity_Connection_EndToEnd">
            <directory suffix="EndToEnd.php">src/Akeneo/Connectivity/Connection/back/tests/EndToEnd</directory>
        </testsuite>

        <testsuite name="End_to_End">
            <directory suffix="EndToEnd.php">tests/back</directory>
            <directory suffix="EndToEnd.php">src</directory>
        </testsuite>

    </testsuites>
</phpunit>
