<% if (!isActive) { %>
    <div class="AknMessageBox AknMessageBox--warning">
        <div class="AknMessageBox-title"><%= errorMessage %></div>
    </div>
<% } %>
<div class="AknButtonList AknButtonList--single">
    <div
        class="operation-type AknButton AknButton--glued <% if (!isActive) { %>
            AknButton--disabled AknButton--greyLight
        <% } else if ('subscribe' === currentAction) { %>
            <%- readonly ? 'AknButton--disabled AknButton--grey' : 'AknButton--apply' %>
        <% } else { %>
            <%- readonly ? 'AknButton--disabled AknButton--greyLight' : '' %>
        <% } %>"
        data-value="subscribe"
    ><%- subscribeLabel %></div><!--
    --><div
        class="operation-type AknButton AknButton--glued <% if (!isActive) { %>
            AknButton--disabled AknButton--greyLight
        <% } else if ('unsubscribe' === currentAction) { %>
            <%- readonly ? 'AknButton--disabled AknButton--grey' : 'AknButton--apply' %>
        <% } else { %>
            <%- readonly ? 'AknButton--disabled AknButton--greyLight' : '' %>
        <% } %>"
        data-value="unsubscribe"
    ><%- unsubscribeLabel %></div>
</div>
