<div class="select-button AknSelectButton"></div>
<div class="AknDropdown select-dropdown">
    <div class="AknMassActions-dropdown" data-toggle="dropdown"/>
    <div class="AknDropdown-menu">
        <div class="AknDropdown-menuTitle"><%- select %></div>
        <div class="AknDropdown-menuLink select-all"><%- selectAll %></div>
        <div class="AknDropdown-menuLink select-visible"><%- selectVisible %></div>
        <div class="AknDropdown-menuLink select-none"><%- selectNone %></div>
    </div>
</div>
<div class="AknButtonList-item AknMassActions-counter"><span class="count"></span> <%- selectedProductsLabel %></div>
<div data-drop-zone="actions-panel"></div>
