<div class="AknFullPage AknFullPage--modal ">
    <div class="AknFullPage-content AknFormContainer--withPadding AknFormContainer--centered AknFormContainer--expanded">
        <div class="AknFullPage-left">
            <img src="bundles/pimui/images/illustration-attribute.svg" class="AknFullPage-image">
        </div>
        <div class="AknFullPage-right">
            <div class="AknFullPage-subTitle"><%- type %></div>
            <div class="AknFullPage-title"><%- title %></div>
            <div class="AknFullPage-description">
                <%- content %>
            </div>
            <button class="AknButton AknButton--grey cancel %>">
                Cancel
            </button>
            <button class="AknButton <%- okClass %> ok %>">
                <%- okText %>
            </button>
        </div>
    </div>
</div>
