<% if (!isMultiple) { %>
    <button class="AknButton AknButton--apply AknButton--withIcon create-button">
        <i class="AknButton-icon icon-plus"></i> <span data-drop-zone="action-list"></span>
    </button>
<% } else if (isMultiple) { %>
    <div class="AknSeveralActionsButton AknSeveralActionsButton--apply AknDropdown">
        <button class="AknSeveralActionsButton-mainAction create-button">
            <%- createButtonTitle %>
        </button>
        <button class="AknSeveralActionsButton-caretContainer create-view-dropdown" data-toggle="dropdown">
            <span class="AknCaret AknCaret--inverse"></span>
        </button>
        <ul class="AknSeveralActionsButton-menu AknDropdown-menu AknDropdown-menu--right" data-drop-zone="action-list">
        </ul>
    </div>
<% } %>
