<div class="AknDropdown AknActionButton AknActionButton--withoutBorder">
    <a class="AknActionButton-highlight view-selector-type-switcher" data-toggle="dropdown">
        <span class="current-view-type"><%- __('pim_datagrid.view_selector.' + currentViewType) %></span>
        <div class="AknDropdown"></div>
    </a>
    <ul class="AknDropdown-menu">
        <% viewTypes.forEach(function (type) { %>
        <li>
            <a data-value="<%- type %>" class="AknDropdown-menuLink view-type-item" title="<%- __('pim_datagrid.view_selector.' + type) %>">
                <%- __('pim_datagrid.view_selector.' + type) %>
            </a>
        </li>
        <% });  %>
    </ul>
</div>
