<div class="AknDropdown view-selector-type-dropdown btn-group">
    <button class="AknActionButton view-selector-type-switcher" title="" data-toggle="dropdown">
        <%- __('pim_datagrid.view_selector.' + currentViewType) %> <i class="AknActionButton-caret AknCaret"></i>
    </button>
    <ul class="AknDropdown-menu">
        <% viewTypes.forEach(function (type) { %>
        <li>
            <span data-value="<%- type %>" class="AknDropdown-menuLink view-type-item" title="<%- __('pim_datagrid.view_selector.' + type) %>">
                <%- __('pim_datagrid.view_selector.' + type) %>
            </span>
        </li>
        <% });  %>
    </ul>
</div>
