<div class="grid-view-selector">
    <div class="AknColumn-block AknColumn-block--withSecondaryActions">
        <div class="AknColumn-blockDropdown" data-drop-zone="buttons"></div>
        <div>
            <% if (displaySwitcher) { %>
            <div class="AknDropdown AknColumn-subtitle AknColumn-subtitle--inline">
                <div class="view-selector-type-switcher" data-toggle="dropdown">
                    <span class="current-view-type"><%- __('pim_datagrid.view_selector.' + currentViewType) %></span>
                    <span class="AknActionButton-caret"></span>
                </div>
                <ul class="AknDropdown-menu">
                    <li class="AknDropdown-menuTitle">Type</li>
                    <% viewTypes.forEach(function (type) { %>
                    <li>
                        <a data-value="<%- type %>" class="AknDropdown-menuLink<% if (currentViewType === type) { %> AknDropdown-menuLink--active<% } %> view-type-item" title="<%- __('pim_datagrid.view_selector.' + type) %>">
                            <%- __('pim_datagrid.view_selector.' + type) %>
                        </a>
                    </li>
                    <% });  %>
                </ul>
            </div>
            <% } else { %>
            <div class="AknColumn-subtitle AknColumn-subtitle--inline"><%- __('pim_datagrid.view_selector.' + currentViewType) %></div>
            <% } %>
            <div class="AknColumn-subtitle AknColumn-subtitle--inline">/</div>
            <div class="AknColumn-value AknColumn-value--inline">
                <input type="hidden" class="select-field" value="0"/>
            </div>
        </div>
    </div>
</div>
