<div class="grid-view-selector">
    <div class="AknColumn-block AknColumn-block--withSecondaryActions">
        <div class="AknColumn-blockDropdown" data-drop-zone="buttons"></div>
        <div>
            <div class="AknColumn-subtitle">Views</div>
            <div class="AknColumn-value">
                <input type="hidden" class="select-field" value="0" data-placeholder="Select your view"/>
            </div>
        </div>
    </div>

    <% if (false) { %>
    <!-- Choose between view and projects -->
    <%- displayViewSwitcher ? 'stickedLeft' : '' %>

    <div class="AknDropdown AknDropdownButton AknDropdownButton--grey AknDropdownButton--stickedRight <%- displayViewSwitcher ? '' : 'AknDropdownButton--hide' %>">
        <a class="AknDropdownButton-button view-selector-type-switcher" data-toggle="dropdown" href="#">
            <span class="current-view-type"><%- __('pim_datagrid.view_selector.' + currentViewType) %></span>
            <div class="AknDropdownButton-caretContainer">
                <span class="AknCaret"></span>
            </div>
        </a>
        <ul class="AknDropdown-menu">
            <% viewTypes.forEach(function (type) { %>
            <li>
                <a data-value="<%- type %>" class="AknDropdown-menuLink view-type-item" title="<%- __('pim_datagrid.view_selector.' + type) %>">
                    <%- __('pim_datagrid.view_selector.' + type) %>
                </a>
            </li>
            <% });  %>
        </ul>
    </div>


    <% } %>
</div>

<!-- Button create view -->

