{#
    Available variables:
    * entity       - email entity Oro\Bundle\EmailBundle\Entity\Email
    * indexer_item - indexer item Oro\Bundle\SearchBundle\Query\Result\Item
#}
{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}
{% import 'OroUserBundle::macros.html.twig' as macros %}

{% set format = oro_config_value('oro_user.name_format') %}
{% set showImage = false %}

{% set recordUrl = indexer_item.recordUrl %}
{% set recordUrlCssClass = 'no-hash view-email-body-btn' %}
{% set title = entity ? entity.subject : indexer_item.recordTitle %}

{% set entityType = 'Email'|trans %}

{% set entityInfo = [
{'title': 'Sent', 'value': macros.time(entity.sentAt)},
{'title': 'From', 'value': _self.email_address(entity.fromEmailAddress, entity.fromName, format)},
] %}

{% macro email_address(emailAddress, emailAddressName, format) %}
    {% if emailAddress.owner is null %}
        {{ emailAddressName|raw }}
    {% else %}
        {# TODO: we need EntityConfig to get view url for an entity #}
        <a href="{{ path(emailAddress.owner.class|split('\\')|first|lower ~ '_' ~ emailAddress.owner.class|split('\\')|last|lower ~ '_view', {id:emailAddress.owner.id}) }}">{{ emailAddress.owner.fullname(format)|default('N/A')|raw }}</a>
    {% endif %}
{% endmacro %}
