{% if show %}
    <div class="AknWidget quick-launchpad-widget">
        <div class="AknWidget-header widget-header">
            {{ 'pimee_dashboard.widget.product_drafts.title'|trans }}
        </div>
        <div class="AknWidget-content widget-content">
            <table id="proposal-widget" class="AknGrid proposal-widget"></table>
        </div>
    </div>
    <script type="text/javascript" nonce="{{ js_nonce() }}">
        require(
            ['jquery', 'pim/dashboard/widget-container', 'pimee/dashboard/proposal-widget'],
            function ($, widgetContainer, ProposalWidget) {
                'use strict';
                $(function () {
                    var options = {el: '#proposal-widget', alias: 'proposals'}
                    var widget = widgetContainer.getWidget(options, ProposalWidget);
                    widget.render().delayedLoad();
                });
            }
        );
    </script>
{% endif %}
