<div class="AknFilterBox-filter" data-toggle="dropdown">
    <span class="AknFilterBox-filterLabel"><%- label %></span>
    <div type="button" class="AknFilterBox-filterCriteria">
        <span class="filter-criteria-hint">
            <%- filters.find((filter) => {
                return filter.value === currentValue;
            }).label %>
        </span>
        <span class="AknFilterBox-filterCaret"></span>
    </div>
</div>
<ul class="AknDropdown-menu">
    <div class="AknDropdown-menuTitle"><%- label %></div>
    <% filters.forEach((filter) => { %>
        <li class="display-selector-item option" data-value="<%- filter.value %>">
            <a class="AknDropdown-menuLink"><%- filter.label %></a>
        </li>
    <% }) %>
</ul>
