<header class="AknHorizontalNavtab ">
    <ul class="AknHorizontalNavtab-list nav nav-tabs form-tabs">
        <% tabs.forEach((tab, index) => { %>
            <% const active = index === selected %>
            <li class="AknHorizontalNavtab-item<%- active ? ' active': '' %><%- checkAllowed(index) ? '' : ' AknHorizontalNavtab-item--forbidden' %>">
                <div class="AknHorizontalNavtab-link tab-link<%- active ? ' AknHorizontalNavtab-link--active': '' %>" data-index="<%- index %>">
                    <%- __(tab.label) %>
                </div>
            </li>
        <% }) %>
    </ul>
</header>
<div class="AknTabContainer-contentThreeColumns" data-drop-zone="content"></div>
