<div class="row-fluid">
    {% include 'PimCommentBundle:Comment:reply.html.twig' %}
</div>

<script type="text/javascript">
    require(['pim/comment/comment-reply-action'], function (replyAction) {
        replyAction('{{ comment.id }}');
    });
</script>
