<div class="row">
        {% include 'PimCommentBundle:Comment:_postComment.html.twig' %}
</div>

<div class="row">
    <div>{% include 'PimCommentBundle:Comment:_comment.html.twig' %}</div>
</div>


