<script type="text/javascript">
    require(['pim/comment/comment-listing']);
</script>

<div class="row span5" >
    <ol class="unstyled" id="comment_threads">
        <li class="comment-create">
            {% include 'PimCommentBundle:Comment:_commentCreateAction.html.twig' %}
        </li>
        {% for comment in comments %}
            <li>
                {% include 'PimCommentBundle:Comment:_thread.html.twig' with {'comment': comment} %}
            </li>
        {% else %}
            <li class="no-data" style="display: block;">
                <p>
                    {{ 'comment.index.empty'|trans }}
                </p>
            </li>
        {% endfor %}
    </ol>
</div>
