<script type="text/javascript">
    require(['jquery', 'oro/messenger'], function($, messenger) {
        $(function() {
            $('#pim_comment_comment_create').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    url: '{{ path('pim_comment_comment_create')}}',
                    type: 'POST',
                    data: $('#pim_comment_comment_create').serialize(),
                    success: function(data) {
                        $('#comment_threads > li:first-child').after('<li>' + data + '</li>');
                        $('#pim_comment_comment_body_create').val('');
                        if (0 < $('li.no-data').length) {
                            $('li.no-data').remove();
                        }
                        messenger.notificationFlashMessage('success', '{{ 'flash.comment.create.success'|trans }}');
                    },
                    error: function(xhr) {
                        messenger.notificationFlashMessage(
                            'error',
                            (xhr.responseJSON && xhr.responseJSON.message) ?
                                xhr.responseJSON.message :
                                '{{ 'flash.comment.create.error'|trans }}'
                        );
                    }
                });
            });
        });
    });
</script>

<div class="row-fluid">
    {% include 'PimCommentBundle:Comment:create.html.twig' %}
</div>
