{% block title %}{% trans %}How to use Pinbar{% endtrans %}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="clearfix">

            <h3>{% trans %}How To Use Pinbar{% endtrans %}</h3>

            <p>
                {{ 'oro_navigation.pinbar.pin.help'|trans }}
                <br />
                {{ 'oro_navigation.pinbar.restore.help'|trans }}
            </p>

        </div>
    </div>
{% endblock %}
