<tr class="file-row">
    <td class="preview">
        <span class="preview"><img data-dz-thumbnail/></span>
    </td>
    <td class="filename">
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </td>
    <td class="filetype">
        <p class="dz-type" data-dz-type></p>
    </td>
    <td class="status">
        <div class="dz-status"></div>
    </td>
    <td class="dz-progress-wrapper">
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
             aria-valuemax="100" aria-valuenow="0">
            <div class="bar" data-dz-uploadprogress></div>
        </div>
    </td>
    <td class="action-cell">
        <button data-dz-remove class="btn btn-warning cancel icons-holder-text">
            <i class="icon-remove"></i>
            <%- _.__('pimee_product_asset.mass_upload.action.cancel') %>
        </button>
        <button data-dz-remove class="btn btn-danger delete icons-holder-text">
            <i class="icon-trash"></i>
            <%- _.__('pimee_product_asset.mass_upload.action.delete') %>
        </button>
    </td>
</tr>
