<div class="navigation clearfix navbar-extra">
    <div class="navbar-buttons pull-right">
        <button class="btn cancel icons-holder-text hide" type="reset">
            <i class="icon-remove"></i>
            <%- __('pimee_product_asset.mass_upload.btn.remove_all_files') %>
        </button>
        <button class="btn btn-publish start icons-holder-text disabled" type="submit">
            <i class="icon-play"></i>
            <%- __('pimee_product_asset.mass_upload.btn.upload') %>
        </button>
        <button class="btn btn-primary import disabled icons-holder-text">
            <i class="icon-cogs"></i>
            <%- __('pimee_product_asset.mass_upload.btn.import') %>
        </button>
    </div>
    <div class="navbar-content pull-left">
        <div class="navbar-title clearfix-oro">
            <div class="sub-title"><%- __('pimee_product_asset.mass_upload.menu') %></div>
        </div>
    </div>
</div>

<div class="row-fluid buffer-top">
    <div class="control-group upload-zone-container">
        <div class="controls">
            <label class="upload-zone file empty">
                <div class="upload-info">
                    <img src="/bundles/pimui/images/upload.png" alt="upload icon" class="upload-preview">
                    <span class="upload-filename" data-empty-title="Drag and drop a file or click here">Drag and drop a file or click here</span>
                </div>
            </label>
            <div class="icons-container"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="grid-container">
        <table class="grid table table-striped files">
            <thead>
            <tr>
                <th class="preview"><%- __('pimee_product_asset.mass_upload.grid.medias') %></th>
                <th class="filename"><%- __('pimee_product_asset.mass_upload.grid.filename') %></th>
                <th class="filetype"><%- __('pimee_product_asset.mass_upload.grid.filetype') %></th>
                <th class="status"><%- __('pimee_product_asset.mass_upload.grid.status') %></th>
                <th class="dz-progress-wrapper"><%- __('pimee_product_asset.mass_upload.grid.progress') %></th>
                <th class="action-cell"><%- __('pimee_product_asset.mass_upload.grid.actions') %></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
