<tr class="AknGrid-bodyRow file-row">
    <td class="AknGrid-bodyCell preview">
        <span class="preview"><img class="AknAssetCollectionField-assetThumbnail AknAssetCollectionField-assetThumbnail--small" data-dz-thumbnail/></span>
    </td>
    <td class="AknGrid-bodyCell filename">
        <div class="AknFieldContainer AknFieldContainer--withoutMargin">
            <div class="AknFieldContainer-label">
                <div class="name" data-dz-name></div>
            </div>
            <div class="AknFieldContainer-footer">
                <div class="AknFieldContainer-validationError" data-dz-errormessage></div>
            </div>
        </div>
    </td>
    <td class="AknGrid-bodyCell filetype">
        <p class="dz-type" data-dz-type></p>
    </td>
    <td class="AknGrid-bodyCell dz-progress-wrapper">
        <div class="AknProgress progress active" role="progressbar" aria-valuemin="0"
             aria-valuemax="100" aria-valuenow="0">
            <div class="AknProgress-bar bar" data-dz-uploadprogress></div>
        </div>
    </td>
    <td class="AknGrid-bodyCell action-cell">
        <div class="AknButtonList AknButtonList--right">
            <div data-dz-remove class="AknVerticalList-delete delete"></button>
        </div>
    </td>
</tr>
