.search-entity-types-column {
    width: 200px;
    vertical-align: top;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
}

.search-entity-types-column .entity-type {
    border-bottom: 1px solid #e6e6e6;
    width: 200px;
    height: 30px;
    font-size: 13px;
    padding: 5px 0 5px 10px;
}

.search-entity-types-column .entity-type.selected {
    font-weight: bold;
    background-color: #e8e8e8;
}

.search-entity-types-column .entity-type.selected .arrow {
    float: right;
    padding-right: 5px;
}

.search-form {
    display:inline;
    padding-left: 20px;
}

.search-results-column {
    vertical-align: top;
    border: 1px solid #cccccc;
    padding: 10px;
    background-color: #ffffff;
}

.search-no-results {
    margin:10px auto;
    width: 98%;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.container-fluid.search-header {
    background-color: #f8f8f8;
}
.search-grid thead {
    display: none;
}
