{% extends 'PimDashboardBundle:Widget:base.html.twig' %}

{% set widgetTitle = 'pim_dashboard.widget.completeness.title'|trans %}

{% set widgetContent %}
    <div id="completeness-widget" class="completeness-widget"></div>

    <script type="text/javascript" nonce="{{ js_nonce() }}">
        require(
            ['jquery', 'pim/dashboard/widget-container', 'pim/dashboard/completeness-widget'],
            function ($, widgetContainer, CompletenessWidget) {
                'use strict';
                $(function () {
                    var options = {el: '#completeness-widget', alias: 'completeness'};
                    var widget = widgetContainer.getWidget(options, CompletenessWidget);
                    widget.render().delayedLoad();
                });
            }
        );
    </script>
{% endset %}
