{% extends 'PimDashboardBundle:Widget:base.html.twig' %}

{% set widgetTitle = 'pim_dashboard.widget.error.title'|trans %}

{% set widgetContent %}
    <div class="error-widget">
        <p class="buffer-small-top"><i class="icon-ban-circle"></i></p>
        <p class="buffer-small-top">{{ 'pim_dashboard.widget.error.message'|trans({ '%alias%': alias }) }}</p>
    </div>
{% endset %}
