<div class="widget-header">
    {{ 'pim_dashboard.widget.error.title'|trans }}
</div>

<div class="error-widget">
    <p class="buffer-small-top"><i class="icon-ban-circle"></i></p>
    <p class="buffer-small-top">{{ 'pim_dashboard.widget.error.message'|trans({ '%alias%': alias }) }}</p>
</div>
