{% extends 'PimDashboardBundle:Widget:base.html.twig' %}

{% set widgetTitle = 'pim_dashboard.widget.last_operations.title'|trans %}

{% set widgetContent %}
    <table id="last-operations-widget" class="AknGrid AknGrid--unclickable"></table>

    <script type="text/javascript">
        var options = {el: '#last-operations-widget', alias: 'last_operations'};
        var widget = window.WidgetContainer.getWidget(options, window.LastOperationsWidget);
        widget.render().delayedLoad();
    </script>
{% endset %}
