<div class="span12 shortcuts">
    <div class="btn-group">
        {% for link in widget.links %}
            <a href="{{ path(link.route) }}" class="btn shortcut" title="{{ link.label|trans }}">
                {{ link.label|trans }}
                <span class="big-icon">
                    <i class="icon-{{ link.icon }}"></i>
                </span>
            </a>
        {% endfor %}
    </div>
</div>
