<div class="row unspaced buffer-bottom">
    <div class="span12 shortcuts text-center">
        {% for link in links %}
            <a href="{{ path(link.route) }}" class="btn shortcut" title="{{ link.label|trans }}">
                <img src="/bundles/pimdashboard/images/{{ link.image }}"/>
                {{ link.label|trans }}
            </a>
        {% endfor %}
    </div>
</div>
