<% hidden = !icon && !iconClassName && !label %>
<<%- tagName %> href="<%= link %>" class="<%- className %><% if (hidden) { %>  AknIconsList-item--hidden<% } %><% if (!enabled) { %> disabled<% } %>"
    <% _.each(attributes, function(attribute, name) { %>
        <%- name %>="<%- attribute %>"
    <% }) %>
    title="<%- label %>"
>
    <% if (icon) { %>
        <i class="icon-<%- icon %> hide-text"><%- label %></i>
    <% } else { %>
        <% if (iconClassName) { %>
            <i class="<%- iconClassName %>"></i>
        <% } %>
        <%- label %>
    <% } %>
</<%- tagName %>>
