<div class="tab-pane tab-history {{ first_tab ? 'active' : ''}}" id="{{ tab_id }}">
    {% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}
    {{ dataGrid.renderHistoryGrid(form.vars.value) }}
</div>
