<div id="view-selector" class="pull-right"></div>

<script>
    require(
        [
            'jquery',
            'pim/fetcher-registry',
            'pim/form-builder'
        ],
        function(
            $,
            FetcherRegistry,
            FormBuilder
        ) {
            $(function() {
                FetcherRegistry.initialize().done(function () {
                    FormBuilder.buildForm('pim-grid-view-selector').then(function (form) {
                        return form.configure('{{ alias }}').then(function () {
                            form.setElement('#view-selector').render();
                        });
                    }.bind(this));
                });
            });
        }
    );
</script>
