<li class="AknBell AknDropdown dropdown notification"></li>
<li class="AknDropdown dropdown">
    <span class="AknHeader-userLink dropdown-toggle" data-toggle="dropdown">
        <%- firstName %> <%- lastName %>
        <i class="AknCaret AknCaret--inverse"></i>
    </span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li>
            <span class="AknDropdown-menuLink user-account"><%- userAccountLabel %></span>
        </li>
        <li class="divider">
            <span></span>
        </li>
        <li>
            <span class="AknDropdown-menuLink logout"><%- logoutLabel %></a>
        </li>
    </ul>
</li>
