{% extends 'StrixosWidgetBundle::layout.html.twig' %}

{% block title %}StrixOS - Manage Attribute Set{% endblock %}

{% block content %}

    <table class="grid">
        <thead>
          <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for set in sets %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{set.id}}</td>
            <td>{{set.code}}</td>
            <td>
                <!--<a href="{{ path('strixos_dashboard_default_index') }}">Edit</a> - <a href="{{ path('strixos_dashboard_default_index') }}">Delete</a>-->
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
