<div class="AknProjectWidget-mainSelector<%- type %>">
    <div class="AknProjectWidget-mainSelector<%- type %>Title">
        <%- projectLabel %>
    </div>
    <div class="AknProjectWidget-mainSelector<%- type %>Properties">
        <p><%- projectChannel %> | <%- projectLocale %></p>
        <% if (type === 'Line') { %>
        <p><%- dueDateLabel %>: <%- dueDate %></p>
        <% } %>
    </div>
    <div class="AknProjectWidget-mainSelector<%- type %>Completeness">
        <span class="AknBadge <%- badgeClass %>">
            <%- completionRatio %>%
        </span>
    </div>
</div>
