@import '../../pimui/css/less/variables';
@import '../../pimui/css/less/bootstrap_mixins';

.dashboard {
  .shortcuts {
    display: flex;
    justify-content:space-between;
    text-transform: uppercase;

    img {
      display:block;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    .btn.shortcut {
      display: inline-block;
      *display: inline;
      width: 220px;
      zoom: 1;
      vertical-align: top;
      height: 180px;
      padding: 20px;
      font-weight: bold;
      font-size: @font-size-12;
      color: @akeneoSlateGrey;
      background-color: @akeneoGreySuperLight;

      &:hover {
        background-color: @akeneoGreyLighter;
      }
    }

    .btn-mini {
      height: 22px;
      line-height: 22px;
    }

    .label {
      min-height: 22px;
      line-height: 22px;
      padding: 0 4px;
    }
  }

  background-color: white;
  &.quick-launchpad > .container {
    padding-top: 30px;
  }
  .quick-launchpad-widget {
    margin-bottom: 20px;
    &>div.clearfix {
      overflow: hidden;
      border: 1px solid @color-ccc;
      background-color: white;
    }
  }
  h3 {
    margin: 0;
    font-size: @font-size-18;
    color: @color-new-purple-medium;
    font-weight: normal;
  }
  &.header {
    background-color: @whiteDark;
    padding: 15px;
  }
  .version-container {
    .current-version {
      display:inline-block;
      margin-left: 10px;
      :first-child {
        margin-right: 3px;
      }
    }
    .last-version {
      display: inline-block;
      margin-left: 10px;
      :first-child {
        margin-right: 3px;
      }
    }
  }
}

.widget-header {
  font-weight: bold;
  border-bottom: 3px solid @akeneoPurpleDark;
  line-height: 44px;
  color: @akeneoPurpleDark;
  font-size: @font-size-15;

  .btn-refresh {
    margin-right: 3px;
    margin-top: 1px;

    i {
      color: @akeneoSlateGrey;
      cursor: pointer;
    }
  }
}

.completeness-widget {
  color: @akeneoSlateGrey;

  & > div {
    padding-top:15px;
  }

  .channels {
    display: flex;
    justify-content: space-between;

    .channel {
      width: 300px;
      display: inline-block;
      *display: inline;
      border: 12px solid @akeneoGreySuperLight;
      transition:opacity 0.2s linear;

      .header {
        border-bottom: 2px solid @akeneoSlateGrey;
        padding: 10px;
        font-size: @font-size-13;
        font-weight: bold;
      }

      .locale-result {
        font-size: @font-size-10;
        width: 100%;
        .clearfix();

        tr {
          line-height: 46px;
          td {
            border-bottom: 2px solid @akeneoGreySuperLight;
          }
        }
        .locale {
          padding: 0 10px;
          .text-overflow();
        }
        .progress-cell {
          span.progress-info {
            padding: 5px;
            cursor: default;
          }
          .progress {
            height: 18px;
            margin-bottom: 0;
            .border-radius(2px);
          }
        }
        .total {
          text-align: right;
          padding: 0 10px;
        }
      }
    }
  }

  .btn {
    background-color: @akeneoSlateGrey;
    color: @akeneoLight;
    &:hover, &:focus {
      background-color: @akeneoSlateGreyDark;
      color: @akeneoLight;
    }
  }
}
