{% extends 'PimProductBundle::layout.html.twig' %}

{% set title = 'Products overview'|trans %}

{% block head_script %}
    {{ parent() }}
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#backgrid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}
        <a class="btn btn-primary pull-right" style="margin-left:10px;"
            href="{{ path('pim_product_product_create') }}">{{ 'New product'|trans }}</a>
    </h1>

    <div id="backgrid"></div>
{% endblock %}

