{% extends baseTemplate %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set title = (customEntityName ~ ".overview")|trans %}

{% block content %}

<div class="navigation clearfix navbar-extra navbar-extra-right">
    {% set buttons %}
        {{ elements.createBtn(
            customEntityName,
            path(createRoute, {customEntityName: customEntityName}),
            'dialog'
        ) }}
    {% endset %}

    {{ elements.page_header(title, buttons, null) }}
</div>

{% set gridName = customEntityName ~ "-grid" %}

{{ dataGrid.renderGrid(gridName) }}

{% endblock %}
