{% spaceless %}
<ul>
    {% if data is defined %}
        {% for item in data %}
        <li>
            <a href="{{ item.record_url }}">
                <span class="name"><strong>{{ item.record_string }}</strong></span>
                {{ oro_config_entity(item.entity_name).name|trans({}, 'config') }}
            </a>
        </li>
        {% endfor %}
    {% endif %}
</ul>
{% endspaceless %}
