{% extends bap.layout is defined ? bap.layout : 'PimUIBundle::layout.bootstrap.html.twig' %}

{% block content %}
    <div class="span2">
        <h2>{{ 'User'|trans }}</h2>
        <a class="btn" href="{{ path('oro_user_index') }}">{{ 'Run demo'|trans }}</a>
    </div>
{% endblock %}
