{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% set title = 'published products'|trans %}

{% block content %}
<div class="AknDefault-mainContent">
    {% set gridAlias = 'published-product-grid' %}

    {% set titleButtons %}
        {% include 'PimEnrichBundle:Locale:_locale_switcher.html.twig' with {
            'locales':           locales,
            'currentLocaleCode': dataLocale,
            'routeName':         'pimee_workflow_published_product_index'
        } only %}
        {{ render(controller('pim_datagrid.controller.datagrid_view:indexAction', { 'alias': gridAlias })) }}
    {% endset %}

    {{ elements.page_header(title, null, titleButtons) }}

    {% if app.user.getDefaultGridView(gridAlias) is not null %}
        {% set defaultView = {
            'id' : app.user.getDefaultGridView(gridAlias).id,
            'filters' : app.user.getDefaultGridView(gridAlias).filters,
            'columns' : app.user.getDefaultGridView(gridAlias).columns,
        } %}
    {% else %}
        {% set defaultView = {} %}
    {% endif %}

    {# This style is temporary and will be dropped on PEFization of this screen #}
    <div class="row-fluid" style="display: flex; height: 100%; margin-left: -40px; margin-right: -40px;">
        <div id="tree" data-datalocale="{{ dataLocale }}" data-name="category" data-type="tree" class="filter-item" data-relatedentity="product"></div>
        <div id="published-product-grid" style="flex-grow: 1;">
            {{ dataGrid.renderStatefulGrid(gridAlias, { dataLocale: dataLocale }, {}, defaultView, 'pim_enrich_published_product_categorytree') }}
        </div>
    </div>
</div>
{% endblock %}
