{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% set title = 'published products'|trans %}

{% block content %}
    <script type="text/javascript">
        require(['jquery', 'jquery.sidebarize'], function ($) {
            'use strict';
            $(function() {
                $('.has-sidebar').sidebarize();
            });
        });
    </script>

    {% set subtitle %}
        {% include 'PimEnrichBundle:Locale:_locale_switcher.html.twig' with {
            'locales':           locales,
            'currentLocaleCode': dataLocale,
            'routeName':         'pimee_workflow_published_product_index'
        } only %}
        {{ render(controller('pim_datagrid.controller.datagrid_view:indexAction', { 'alias': 'published-product-grid' })) }}
    {% endset %}

    {{ elements.page_header(title, [], subtitle) }}

    <div class="row-fluid has-sidebar">
        <div id="tree" data-datalocale="{{ dataLocale }}"></div>
        <div id="published-product-grid">
            {{ dataGrid.renderStatefulGrid('published-product-grid', { dataLocale: dataLocale }, {}, 'pim_enrich_published_product_categorytree') }}
        </div>
    </div>

{% endblock %}
