{% extends 'PimEnrichBundle::layout.html.twig' %}

{% oro_title_set({ params: { "%product.sku%": productId } }) %}

{% block content %}
    {% placeholder content_before %}
    <div id="published-product-view-form">

    </div>
    <script>
        require(
            ['jquery', 'pim/fetcher-registry', 'pim/form-builder', 'pimee/published-product-manager', 'pim/user-context', 'pim/dialog', 'oro/mediator'],
            function($, FetcherRegistry, FormBuilder, PublishedProductManager, UserContext, Dialog, mediator) {
                $(function() {
                    FetcherRegistry.initialize().done(function () {
                        PublishedProductManager.get('{{ productId }}')
                            .then(function (product) {
                                document.title = document.title.replace('%product.sku%', _.escape(product.meta.label[UserContext.get('catalogLocale')]));

                                FormBuilder.build(product.meta.form)
                                    .then(function (form) {
                                        form.setData(product);

                                        mediator.trigger('pim_enrich:form:entity:post_fetch', product);

                                        form.setElement('#published-product-view-form').render();
                                    });
                            }).fail(function(response, textStatus, errorThrown) {
                                switch (response.status) {
                                    case 400:
                                    case 403:
                                        Dialog.alert(_.__('pim_enrich.alert.not_allowed'));
                                        break;
                                }
                            });
                    })
                });
            });
    </script>
    {% placeholder content_after %}
{% endblock %}
