<div class="AknFormContainer AknFormContainer--withPadding">
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label control-label AknFieldContainer-label required" for="pim_enrich_mass_edit_choose_action_operation_add_to_variant_group">
                <%- label %>
            </label>
        </div>
        <div class="AknFieldContainer-inputContainer field-input">
            <select id="pim_enrich_mass_edit_choose_action_operation_add_to_variant_group" class="groups" <%- readOnly ? 'readonly disabled' : '' %>>
            <option value="" <%- value === null ? 'selected' : '' %>></option>
            <% _.each(groups, function (group) { %>
                <option value="<%- group.code %>" <%- value === group.code ? 'selected' : '' %>><%- i18n.getLabel(group.labels, locale, group.code) %></option>
            <% }) %>
            </select>
        </div>
    </div>
</div>
