<div class="tabbable">
    <div class="sidebar">
        <div class="AknHorizontalNavtab nav nav-tabs">
            <div class="AknButtonList catalog-switcher">
                <ul class="AknHorizontalNavtab-list nav nav-tabs" id="trees-list">
                <% _.each(trees, function (tree) { %>
                <li class="AknHorizontalNavtab-item tree-selector <% if (tree.code === currentTree.code) { %> active<% } %>" data-tree="<%- tree.code %>" data-tree-id="<%- tree.id %>">
                    <div class="AknHorizontalNavtab-link" id="tree-link-<%- tree.id %>">
                        <span class="tree-label label"><%- i18n.getLabel(tree.labels, locale, tree.code) %></span>
                        <div class="AknAcl">
                            <i class="icon-ok <%- tree.associated ? 'green AknAcl-icon--granted' : 'gray' %>"></i>
                        </div>
                    </div>
                </li>
                <% }) %>
            </ul>
            </div>
        </div>
    </div>
    <div class="AknTabContainer-content tab-content">
        <div class="AknTabContainer-contentCache AknTabContainer-contentCache--hidden content-cache"></div>
        <div class="tab-pane active">
            <div id="trees" data-datalocale="<%- locale %>" data-selected-tree="<%- currentTree.id %>">
                <% _.each(trees, function (tree) { %>
                    <div class="tree root-unselectable" data-tree-id="<%- tree.id %>">
                        <div id="tree-<%- tree.id %>" class="buffer-small-left"></div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidden-tree-input" value="<%- selectedCategories.join(',') %>">
