<div class="tabbable tabs-left">
    <div class="sidebar">
        <ul class="AknVerticalNavtab nav nav-tabs">
            <li class="AknVerticalNavtab-item AknVerticalNavtab-header header"></li>
            <% _.each(trees, function (tree) { %>
                <li class="AknVerticalNavtab-item <% if (tree.code === currentTree.code) { %> AknVerticalNavtab-item--active active<% } %> tree-selector" data-tree="<%- tree.code %>" data-tree-id="<%- tree.id %>">
                    <span class="AknVerticalNavtab-link">
                        <div class="AknAcl">
                            <i class="icon-ok <%- tree.associated ? 'green AknAcl-icon--granted' : 'gray' %>"></i>
                            <%- i18n.getLabel(tree.labels, locale, tree.code) %>
                        </div>
                    </span>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="AknTabContainer-content tab-content">
        <div class="tab-pane active">
            <div id="trees" data-datalocale="<%- locale %>" data-selected-tree="<%- currentTree.id %>">
                <% _.each(trees, function (tree) { %>
                    <div class="tree root-unselectable" data-tree-id="<%- tree.id %>">
                        <header class="AknTabHeader tab-header">
                            <div class="AknTabHeader-title"><%- tree.label %></div>
                        </header>
                        <div id="tree-<%- tree.id %>" class="buffer-small-left"></div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidden-tree-input" value="<%- selectedCategories.join(',') %>">
