@import 'less/variables';
@import 'less/mixins';

.accordion {
  margin-bottom: 0;

  .accordion-group {
    margin: 0;
    border-radius: 0;

    .accordion-heading {
      background-color: @akeneoGreyLighter;

      .accordion-toggle {
        padding: 10px 15px;
      }
    }
  }
}
