#page {
/*  display: table; need fix when create fotter at bottom
  height: 100%; */
  width: 100%;
}
#top-page {
  width: 100%;
}
/* other style */
.checkbox {
  margin: 0;
}
.layout-content {
  background: #fff;
}

.version-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 1em;
}
