@import 'less/variables';

#page {
/*  display: table; need fix when create fotter at bottom
  height: 100%; */
  width: 100%;
}
#top-page {
  width: 100%;
}
/* other style */
.checkbox {
  margin: 0;
}
.layout-content {
  background: @white;
}

.version-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: @font-size-14;
  line-height: 1em;
}
