@import 'less/variables';
@import 'less/mixins';

.navbar-extra .btn {
  margin-left: 4px;
}

.grid .action-cell a.action.btn-tiny,
.btn-tiny {
  line-height: 28px;
  height: 28px;

  &.icons-holder-text {
    padding: 0 10px 0 38px;

    i {
      line-height: 28px;
      height: 28px;
      width: 28px;
    }
  }
}

.btn {
  background-image: none;
  background-color: @color-new-grey;
  position: relative;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  line-height: 34px;
  height: 34px;
  font-weight: normal;
  overflow: hidden;

  &.btn-small {
    line-height: 28px;
    height: 28px;

    &.icons-holder-text {
      padding: 0 10px 0 40px;
      i {
        width: 28px;
        height: 28px;
        line-height: 28px;
      }
    }
  }

  .transition();

  &.push-bottom {
    margin-bottom: 10px;
  }

  &.icons-holder-text {
    padding: 0 10px 0 44px;
    white-space: nowrap;

    i {
      .icon-button();
      background-color: darken(@akeneo-grey, 10%);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &:hover, &:active, &:focus{
    outline: none;
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: darken(@akeneo-grey, 10%);
  }
}

.dashboard {
  .btn.shortcut {
    height: 100px;
    width: 25%;
    padding-top: 5px;
    border: 1px solid @color-ccc;
    background-color: white;

    &:hover {
      background-color: darken(white, 10%);
    }
  }

  .btn-mini {
    height: 22px;
    line-height: 22px;
  }

  .label {
    min-height: 22px;
    line-height: 22px;
    padding: 0 4px;
  }
}

.btn.btn-primary {
  background-color: @color-new-green;

  &.icons-holder-text {
    padding: 0 10px 0 44px;

    i {
      .icon-button();
      color: white;
      background-color: darken(@color-new-green, 10%);
    }
  }

  &:hover {
    background-color: darken(@color-new-green, 10%);
  }
}

.btn.attribute-choice {
  background-color: @akeneo-light;
  border-radius: 2px;
  overflow: hidden;
  text-align: left;
  padding: 0 10px 0 70px;
  height: 50px;
  line-height: 50px;

  i {
      .icon-button();
      text-align: center;
      height: 50px;
      width: 50px;
      line-height: 50px;
      background-color: darken(@akeneo-light, 10%);
  }

  &:hover, &:active, &:focus{
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: darken(@akeneo-light, 10%);
  }
}

.btn.btn-submit, .btn.btn-next, .btn.send-comment {
  background-color: @color-new-green;
  border: none;

  &.send-comment {
    padding: 0 10px;
  }

  &:not(.send-comment) {
    padding: 0 10px 0 44px;
  }

  i {
    .icon-button();
    background-color: darken(@color-new-green, 10%);
  }

  &[title~="Next"] {
    padding: 0 44px 0 10px;

    i {
      left: inherit;
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  &:hover {
    background-color: darken(@color-new-green, 10%);
  }
}

.submit-form {
  .btn.btn-primary.dropdown-toggle {
    background-color: darken(@color-new-green, 10%);
    width: 34px;

    .caret {
      margin-left: 0;
    }
  }
}

.btn-publish {
  background-color: @color-new-blue;

  i {
    .icon-button();
    background-color: darken(@color-new-blue, 10%);
  }

  &:hover {
    background-color: darken(@color-new-blue, 10%);
  }

  &.icons-holder-text {
    padding: 0 10px 0 44px;

    i {
      .icon-button();
      background-color: darken(@color-new-blue, 10%);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
}

.btn.btn-delete, .btn.trash, .btn.remove-button, .btn.delete {
  background-color: @color-new-red;
  color: @color-fff;
  padding: 0 10px 0 44px;
  overflow: hidden;

  i {
    .icon-button();
    color: white;
    background-color: darken(@color-new-red, 10%);
  }

  &:hover {
    background-color: darken(@color-new-red, 10%);
  }
}

.btn-group.open .btn.btn-download.dropdown-toggle {
  background-color: darken(@akeneo-grey, 10%);
}

.btn.btn-download {
  background-color: @akeneo-grey;
  color: @backgroundColor-white;
  padding: 0 10px 0 44px;
  overflow: hidden;
  border-radius: 2px;

  i {
    .icon-button();
    background-color: darken(@akeneo-grey, 10%);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .caret {
      margin-top: 15px;
      border-top: 4px solid @backgroundColor-white;
  }

  &:hover {
    background-color: darken(@akeneo-grey, 10%);
  }

}

.btn.cancel {
  background-color: @color-new-grey;

  &:hover {
    background-color: darken(@color-new-grey, 10%);
  }

}

.btn.back-link {
  background-color: @color-new-grey;
  width: 34px;

  &:hover {
    background-color: darken(@color-new-grey, 10%);
  }
}

.btn.pencil, .btn.edit, .btn.edit-user, .btn.btn-show {
  background-color: @color-new-blue;
  color: @color-fff;
  padding: 0 10px 0 44px;

  i {
    .icon-button();
    color: @color-fff;
    background-color: darken(@color-new-blue, 10%);
    &:before {
      color: @color-fff;
    }
  }

  &:hover {
    background-color: darken(@color-new-blue, 10%);
  }
}

.btn-status {
  background-color: @color-a1a9b7;
  padding: 0;
}

.filter-box {
  .btn {
    border-radius: 2px;
    background-color: @color-fff;
    border: solid 1px @color-cbcbd2;
    font-size: @font-size-12;

    &.filter-update {
      background-color: @color-new-green;
      border: none;
    }
  }
}

.select-all-header-cell {
  .btn-group {
    .btn {
      background-color: @color-a1a9b7;
      color: @color-fff;
      height: 28px;
      line-height: 28px;

      &.dropdown-toggle {
        width: 28px;
        background-color: darken(@color-a1a9b7, 5%);
        color: @color-fff;
        box-shadow: none;
        i {
          border-top: 4px solid @color-fff;
        }
      }
    }
  }
}

.locale-switcher {
  span.dropdown-toggle {
    border-radius: 2px;
  }
}

.toolbar {
  .btn {
    background-image: none;
    background-color: @color-fff;
    position: relative;
    border: solid 1px @color-new-grey;
    text-shadow: none;
    box-shadow: none;
    line-height: 28px;
    height: 28px;
    font-weight: normal;
    overflow: hidden;
    .transition();

    &:hover, &:active, &:focus {
      background-image: none;
      border: solid 1px @color-new-grey;
      box-shadow: none;
      background-color: darken(@color-fff, 10%);
    }
  }
}

.tab-header.attribute-actions {
  .btn {
    height: 28px;
    line-height: 28px;
    margin: 8px 5px;
    border-radius: 2px;
    border: none;
    background-color: @color-fff;

    .caret {
      margin-top: 12px;
    }
  }

  .attribute-copy-actions {
    .btn {
      background-color: @color-a1a9b7;
      color: @color-fff;

      .caret {
        border-top: 4px solid @color-fff;
      }
    }
  }

  .locale-switcher {
    margin-left: 0;
  }

  .pimmultiselect {
    background-color: @color-fff;
  }

  .selection-dropdown {
    .btn {

      background-color: @color-a1a9b7;
      color: @color-fff;
    }
  }

  .btn.copy {
    background-color: @color-new-green;
    color: @color-fff;

    &:hover {
      background-color: darken(@color-new-green, 10%);
    }
  }
}

.navbar-title .sub-title .pimmultiselect {
  height: 34px;
  line-height: 34px;
  margin-top: 0 !important;
  padding: 0;

  .pull-left {
    background-color: transparent;
    padding-left: 10px;
    font-weight: bold;
  }

  .icon-caret-down {
    .icon-button();
    top: 0 !important;
    left: inherit !important;
    right: 0 !important;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
    background-color: darken(@color-new-grey, 10%);
  }
}

.badge-enabled {
  background-color: lighten(@color-new-green, 30%);

  .status-enabled {
    margin-top: -4px;
    color: darken(@color-new-green, 20%);
    text-shadow: none;
    padding: 3px 10px 3px 5px;
  }
}

.label-warning, .badge-warning {
  background-color: @color-new-yellow;
}

.badge-info-large {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: @akeneo-light;
  border: solid 1px @akeneo-grey;
  color: @slate-grey;
  white-space: nowrap;
}

.grid .action-cell a.action.btn {
  border: none;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;

  i {
    text-align: center;
    border: none;
    border-radius: 2px 0 0 2px;
  }
}

tr:hover>.action-cell a.action.btn {
  opacity: 1;

  &.btn-primary i {
    background-color: darken(@color-new-green, 10%);
  }

  &.btn-delete i {
    background-color: darken(@color-new-red, 10%);
  }

  i {
    background-color: darken(@color-new-grey, 10%);
  }
}
