@import 'less/variables';
@import 'less/mixins';

.locale-switcher {
  span.dropdown-toggle {
    border-radius: 2px;
  }
}

.badge-info-large {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: @akeneoLightDark;
  border: solid 1px @akeneoGrey;
  color: @akeneoSlateGrey;
  white-space: nowrap;
}
