@flagWidth: 16px;
@flagHeight: 11px;

.flagPos (@col, @row) {
  background-position: -((@col - 1) * @flagWidth) -((@row -1) * @flagHeight);
}

.flag {
  width: @flagWidth;
  height: @flagHeight;
  background: url(flags.png) no-repeat;
  &.flag-ad {.flagPos(2, 1);}
  &.flag-ae {.flagPos(3, 1);}
  &.flag-af {.flagPos(4, 1);}
  &.flag-ag {.flagPos(5, 1);}
  &.flag-ai {.flagPos(6, 1);}
  &.flag-al {.flagPos(7, 1);}
  &.flag-am {.flagPos(8, 1);}
  &.flag-an {.flagPos(9, 1);}
  &.flag-ao {.flagPos(10, 1);}
  &.flag-ar {.flagPos(11, 1);}
  &.flag-as {.flagPos(12, 1);}
  &.flag-at {.flagPos(13, 1);}
  &.flag-au {.flagPos(14, 1);}
  &.flag-aw {.flagPos(15, 1);}
  &.flag-az {.flagPos(16, 1);}
  &.flag-ba {.flagPos(1, 2);}
  &.flag-bb {.flagPos(2, 2);}
  &.flag-bd {.flagPos(3, 2);}
  &.flag-be {.flagPos(4, 2);}
  &.flag-bf {.flagPos(5, 2);}
  &.flag-bg {.flagPos(6, 2);}
  &.flag-bh {.flagPos(7, 2);}
  &.flag-bi {.flagPos(8, 2);}
  &.flag-bj {.flagPos(9, 2);}
  &.flag-bm {.flagPos(10, 2);}
  &.flag-bn {.flagPos(11, 2);}
  &.flag-bo {.flagPos(12, 2);}
  &.flag-br {.flagPos(13, 2);}
  &.flag-bs {.flagPos(14, 2);}
  &.flag-bt {.flagPos(15, 2);}
  &.flag-bv {.flagPos(16, 2);}
  &.flag-bw {.flagPos(1, 3);}
  &.flag-by {.flagPos(2, 3);}
  &.flag-bz {.flagPos(3, 3);}
  &.flag-ca {.flagPos(4, 3);}
  &.flag-catalonia {.flagPos(5, 3);}
  &.flag-cd {.flagPos(6, 3);}
  &.flag-cf {.flagPos(7, 3);}
  &.flag-cg {.flagPos(8, 3);}
  &.flag-ch {.flagPos(9, 3);}
  &.flag-ci {.flagPos(10, 3);}
  &.flag-ck {.flagPos(11, 3);}
  &.flag-cl {.flagPos(12, 3);}
  &.flag-cm {.flagPos(13, 3);}
  &.flag-cn {.flagPos(14, 3);}
  &.flag-co {.flagPos(15, 3);}
  &.flag-cr {.flagPos(16, 3);}
  &.flag-cu {.flagPos(1, 4);}
  &.flag-cv {.flagPos(2, 4);}
  &.flag-cw {.flagPos(3, 4);}
  &.flag-cy {.flagPos(4, 4);}
  &.flag-cz {.flagPos(5, 4);}
  &.flag-de {.flagPos(6, 4);}
  &.flag-dj {.flagPos(7, 4);}
  &.flag-dk {.flagPos(8, 4);}
  &.flag-dm {.flagPos(9, 4);}
  &.flag-do {.flagPos(10, 4);}
  &.flag-dz {.flagPos(11, 4);}
  &.flag-ec {.flagPos(12, 4);}
  &.flag-ee {.flagPos(13, 4);}
  &.flag-eg {.flagPos(14, 4);}
  &.flag-eh {.flagPos(15, 4);}
  &.flag-england {.flagPos(16, 4);}
  &.flag-er {.flagPos(1, 5);}
  &.flag-es {.flagPos(2, 5);}
  &.flag-et {.flagPos(3, 5);}
  &.flag-eu {.flagPos(4, 5);}
  &.flag-fi {.flagPos(5, 5);}
  &.flag-fj {.flagPos(6, 5);}
  &.flag-fk {.flagPos(7, 5);}
  &.flag-fm {.flagPos(8, 5);}
  &.flag-fo {.flagPos(9, 5);}
  &.flag-fr {.flagPos(10, 5);}
  &.flag-ga {.flagPos(11, 5);}
  &.flag-gb {.flagPos(12, 5);}
  &.flag-gd {.flagPos(13, 5);}
  &.flag-ge {.flagPos(14, 5);}
  &.flag-gf {.flagPos(15, 5);}
  &.flag-gg {.flagPos(16, 5);}
  &.flag-gh {.flagPos(1, 6);}
  &.flag-gi {.flagPos(2, 6);}
  &.flag-gl {.flagPos(3, 6);}
  &.flag-gm {.flagPos(4, 6);}
  &.flag-gn {.flagPos(5, 6);}
  &.flag-gp {.flagPos(6, 6);}
  &.flag-gq {.flagPos(7, 6);}
  &.flag-gr {.flagPos(8, 6);}
  &.flag-gs {.flagPos(9, 6);}
  &.flag-gt {.flagPos(10, 6);}
  &.flag-gu {.flagPos(11, 6);}
  &.flag-gw {.flagPos(12, 6);}
  &.flag-gy {.flagPos(13, 6);}
  &.flag-hk {.flagPos(14, 6);}
  &.flag-hm {.flagPos(15, 6);}
  &.flag-hn {.flagPos(16, 6);}
  &.flag-hr {.flagPos(1, 7);}
  &.flag-ht {.flagPos(2, 7);}
  &.flag-hu {.flagPos(3, 7);}
  &.flag-ic {.flagPos(4, 7);}
  &.flag-id {.flagPos(5, 7);}
  &.flag-ie {.flagPos(6, 7);}
  &.flag-il {.flagPos(7, 7);}
  &.flag-im {.flagPos(8, 7);}
  &.flag-in {.flagPos(9, 7);}
  &.flag-io {.flagPos(10, 7);}
  &.flag-iq {.flagPos(11, 7);}
  &.flag-ir {.flagPos(12, 7);}
  &.flag-is {.flagPos(13, 7);}
  &.flag-it {.flagPos(14, 7);}
  &.flag-je {.flagPos(15, 7);}
  &.flag-jm {.flagPos(16, 7);}
  &.flag-jo {.flagPos(1, 8);}
  &.flag-jp {.flagPos(2, 8);}
  &.flag-ke {.flagPos(3, 8);}
  &.flag-kg {.flagPos(4, 8);}
  &.flag-kh {.flagPos(5, 8);}
  &.flag-ki {.flagPos(6, 8);}
  &.flag-km {.flagPos(7, 8);}
  &.flag-kn {.flagPos(8, 8);}
  &.flag-kp {.flagPos(9, 8);}
  &.flag-kr {.flagPos(10, 8);}
  &.flag-kurdistan {.flagPos(11, 8);}
  &.flag-kw {.flagPos(12, 8);}
  &.flag-ky {.flagPos(13, 8);}
  &.flag-kz {.flagPos(14, 8);}
  &.flag-la {.flagPos(15, 8);}
  &.flag-lb {.flagPos(16, 8);}
  &.flag-lc {.flagPos(1, 9);}
  &.flag-li {.flagPos(2, 9);}
  &.flag-lk {.flagPos(3, 9);}
  &.flag-lr {.flagPos(4, 9);}
  &.flag-ls {.flagPos(5, 9);}
  &.flag-lt {.flagPos(6, 9);}
  &.flag-lu {.flagPos(7, 9);}
  &.flag-lv {.flagPos(8, 9);}
  &.flag-ly {.flagPos(9, 9);}
  &.flag-ma {.flagPos(10, 9);}
  &.flag-mc {.flagPos(11, 9);}
  &.flag-md {.flagPos(12, 9);}
  &.flag-me {.flagPos(13, 9);}
  &.flag-mg {.flagPos(14, 9);}
  &.flag-mh {.flagPos(15, 9);}
  &.flag-mk {.flagPos(16, 9);}
  &.flag-ml {.flagPos(1, 10);}
  &.flag-mm {.flagPos(2, 10);}
  &.flag-mn {.flagPos(3, 10);}
  &.flag-mo {.flagPos(4, 10);}
  &.flag-mp {.flagPos(5, 10);}
  &.flag-mq {.flagPos(6, 10);}
  &.flag-mr {.flagPos(7, 10);}
  &.flag-ms {.flagPos(8, 10);}
  &.flag-mt {.flagPos(9, 10);}
  &.flag-mu {.flagPos(10, 10);}
  &.flag-mv {.flagPos(11, 10);}
  &.flag-mw {.flagPos(12, 10);}
  &.flag-mx {.flagPos(13, 10);}
  &.flag-my {.flagPos(14, 10);}
  &.flag-mz {.flagPos(15, 10);}
  &.flag-na {.flagPos(16, 10);}
  &.flag-nc {.flagPos(1, 11);}
  &.flag-ne {.flagPos(2, 11);}
  &.flag-nf {.flagPos(3, 11);}
  &.flag-ng {.flagPos(4, 11);}
  &.flag-ni {.flagPos(5, 11);}
  &.flag-nl {.flagPos(6, 11);}
  &.flag-no {.flagPos(7, 11);}
  &.flag-np {.flagPos(8, 11);}
  &.flag-nr {.flagPos(9, 11);}
  &.flag-nu {.flagPos(10, 11);}
  &.flag-nz {.flagPos(11, 11);}
  &.flag-om {.flagPos(12, 11);}
  &.flag-pa {.flagPos(13, 11);}
  &.flag-pe {.flagPos(14, 11);}
  &.flag-pf {.flagPos(15, 11);}
  &.flag-pg {.flagPos(16, 11);}
  &.flag-ph {.flagPos(1, 12);}
  &.flag-pk {.flagPos(2, 12);}
  &.flag-pl {.flagPos(3, 12);}
  &.flag-pm {.flagPos(4, 12);}
  &.flag-pn {.flagPos(5, 12);}
  &.flag-pr {.flagPos(6, 12);}
  &.flag-ps {.flagPos(7, 12);}
  &.flag-pt {.flagPos(8, 12);}
  &.flag-pw {.flagPos(9, 12);}
  &.flag-py {.flagPos(10, 12);}
  &.flag-qa {.flagPos(11, 12);}
  &.flag-re {.flagPos(12, 12);}
  &.flag-ro {.flagPos(13, 12);}
  &.flag-rs {.flagPos(14, 12);}
  &.flag-ru {.flagPos(15, 12);}
  &.flag-rw {.flagPos(16, 12);}
  &.flag-sa {.flagPos(1, 13);}
  &.flag-sb {.flagPos(2, 13);}
  &.flag-sc {.flagPos(3, 13);}
  &.flag-scotland {.flagPos(4, 13);}
  &.flag-sd {.flagPos(5, 13);}
  &.flag-se {.flagPos(6, 13);}
  &.flag-sg {.flagPos(7, 13);}
  &.flag-sh {.flagPos(8, 13);}
  &.flag-si {.flagPos(9, 13);}
  &.flag-sk {.flagPos(10, 13);}
  &.flag-sl {.flagPos(11, 13);}
  &.flag-sm {.flagPos(12, 13);}
  &.flag-sn {.flagPos(13, 13);}
  &.flag-so {.flagPos(14, 13);}
  &.flag-somaliland {.flagPos(15, 13);}
  &.flag-sr {.flagPos(16, 13);}
  &.flag-ss {.flagPos(1, 14);}
  &.flag-st {.flagPos(2, 14);}
  &.flag-sv {.flagPos(3, 14);}
  &.flag-sx {.flagPos(4, 14);}
  &.flag-sy {.flagPos(5, 14);}
  &.flag-sz {.flagPos(6, 14);}
  &.flag-tc {.flagPos(7, 14);}
  &.flag-td {.flagPos(8, 14);}
  &.flag-tf {.flagPos(9, 14);}
  &.flag-tg {.flagPos(10, 14);}
  &.flag-th {.flagPos(11, 14);}
  &.flag-tj {.flagPos(12, 14);}
  &.flag-tk {.flagPos(13, 14);}
  &.flag-tl {.flagPos(14, 14);}
  &.flag-tm {.flagPos(15, 14);}
  &.flag-tn {.flagPos(16, 14);}
  &.flag-to {.flagPos(1, 15);}
  &.flag-tr {.flagPos(2, 15);}
  &.flag-tt {.flagPos(3, 15);}
  &.flag-tv {.flagPos(4, 15);}
  &.flag-tw {.flagPos(5, 15);}
  &.flag-tz {.flagPos(6, 15);}
  &.flag-ua {.flagPos(7, 15);}
  &.flag-ug {.flagPos(8, 15);}
  &.flag-um {.flagPos(9, 15);}
  &.flag-us {.flagPos(10, 15);}
  &.flag-uy {.flagPos(11, 15);}
  &.flag-uz {.flagPos(12, 15);}
  &.flag-va {.flagPos(13, 15);}
  &.flag-vc {.flagPos(14, 15);}
  &.flag-ve {.flagPos(15, 15);}
  &.flag-vg {.flagPos(16, 15);}
  &.flag-vi {.flagPos(1, 16);}
  &.flag-vn {.flagPos(2, 16);}
  &.flag-vu {.flagPos(3, 16);}
  &.flag-wales {.flagPos(4, 16);}
  &.flag-wf {.flagPos(5, 16);}
  &.flag-ws {.flagPos(6, 16);}
  &.flag-ye {.flagPos(7, 16);}
  &.flag-yt {.flagPos(8, 16);}
  &.flag-za {.flagPos(9, 16);}
  &.flag-zanzibar {.flagPos(10, 16);}
  &.flag-zm {.flagPos(11, 16);}
  &.flag-zw {.flagPos(12, 16);}
}
