@import 'less/variables';
@import 'less/mixins';

/* Basic Form *******************************************************************************************************/

// Form navbar
#form-navbar li {
  a {
    padding-bottom: 4px;
    color: @textColor;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid @textColor + #999;
    }
  }
  &.active a {
    border-bottom: 3px solid @textColor + #111;
  }
  &:not(.active) a.error {
    border-bottom: 3px solid @color-da0000;
  }
}

.icons-container {
  display: inline-block;
  margin-top: 6px;
  margin-left: 5px;
  font-size: @font-size-17;
  color: @textColor + #333;
  vertical-align: top;
  i {
    outline: none;
    &[data-dialog] {
      cursor: pointer;
    }
  }
}

.form-row {
  button.btn {
    height: 32px;
    line-height: 32px;
  }
  .btn {
    margin-top: 8px;
    margin-right: 8px;
    font-weight: bold;
  }
  h3 {
    padding-left: 20px;
  }
}

.btn-primary {
  text-shadow: 0 1px 0 darken(@btnPrimaryBackgroundLight, 16%);
  #gradient > .vertical(@btnPrimaryBackgroundLight, darken(@btnPrimaryBackgroundLight, 5%));
  border-color: darken(@btnPrimaryBackgroundLight, 7%) darken(@btnPrimaryBackgroundLight, 10%) darken(@btnPrimaryBackgroundLight, 10%) darken(@btnPrimaryBackgroundLight, 10%);
  .box-shadow(inset 0 1px 0 0 lighten(@btnPrimaryBackgroundLight, 7%));
  .border-radius(4px);
  color: @white;
  font-weight: bold;
  &:hover {
    color: @white;
    #gradient > .vertical(lighten(@btnPrimaryBackgroundLight, 5%), darken(@btnPrimaryBackgroundLight, 4%));
    .box-shadow(inset 0 1px 0 0 @btnPrimaryBackgroundLight);
  }
  &:active,
  &:focus {
    color: @white;
    #gradient > .vertical(lighten(@btnPrimaryBackgroundLight, 5%), darken(@btnPrimaryBackgroundLight, 10%));
    .box-shadow(inset 0 1px 4px 0 darken(@btnPrimaryBackgroundLight, 10%));
  }
}

.btn-info {
  color: @backgroundColor-white;
  text-shadow: 0 1px 0 darken(@btnInfoBackgroundLight, 16%);
  #gradient > .vertical(@btnInfoBackgroundLight, darken(@btnInfoBackgroundLight, 5%));
  border-color: darken(@btnInfoBackgroundLight, 7%) darken(@btnInfoBackgroundLight, 10%) darken(@btnInfoBackgroundLight, 10%) darken(@btnInfoBackgroundLight, 10%);
  .box-shadow(inset 0 1px 0 0 lighten(@btnInfoBackgroundLight, 7%));
  &:hover {
    #gradient > .vertical(lighten(@btnInfoBackgroundLight, 5%), darken(@btnInfoBackgroundLight, 4%));
    .box-shadow(inset 0 1px 0 0 @btnInfoBackgroundLight);
    color: @white;
  }
  &:active,
  &:focus {
    #gradient > .vertical(lighten(@btnInfoBackgroundLight, 5%), darken(@btnInfoBackgroundLight, 10%));
    .box-shadow(inset 0 1px 4px 0 darken(@btnInfoBackgroundLight, 10%));
    color: @white;
  }
  &.disabled {
    background-color: lighten(@btnInfoBackgroundLight, 10%);
  }
}
.btn.hide {
  display: none;
}

.navbar-buttons .btn-group>.btn {
  font-size: @font-size-14;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: darken(@color-new-green, 10%)
}

.scrollspy-title {
  background-color: @color-grey_tab;
}

a.accordion-toggle {
  color: @textColor;
  text-decoration: none;
  &:hover {
    color: @textColor;
  }
}

.accordion-group {
  margin: 10px;
  li span.label {
    margin-bottom: 5px;
  }
}

.form-horizontal .control-group {
  margin-bottom: 15px;
  label.control-label {
    &:not(.add-on) {
      max-height: 25px;
    }
    &:after {
      content: '';
    }
  }
}

#pim_importexport_import_upload .control-group {
  max-width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

.handle {
  cursor: move;
}

.groups {
  margin: 10px 0;
  thead {
    tr {
      background-color: @whiteDarker;
      border-top: 1px solid @color-ddd;
      border-bottom: 1px solid @color-ddd;
      th {
        font-size: @font-size-12;
        line-height: 20px;
        &.channel {
            text-align: center;
        }
      }
    }
  }
  tbody, tbody + tbody {
    border: 0;
    tr.group {
      font-weight: bold;
      cursor: pointer;
      background-color: @backgroundColor-white;
      border-bottom: 1px solid @color-ddd;
    }
    tr {
      background-color: @whiteDark;
      border-bottom: 1px solid @grayLighter;
    }
  }
}

#form-tab tbody td {
  border: none;
}

th label {
  text-align: center;
}

.table-condensed:not(.grid) {
  td, th.center {
    text-align: center;
  }
}

.table-striped tbody>tr:nth-child(even)>td,
.table-light tbody tr {
  background-color: @backgroundColor-white;
}

.fullwidth {
  width: 100%;
}

i.remove-attribute {
  cursor: pointer;
}

a.add-attribute-option {
  margin-left: 5px;
}
.input-prepend a.add-attribute-option {
  border-radius: 3px;
}

/* bootstrapSwitch */
.has-switch {
  margin-right: 3px;
  margin-bottom: -6px;
  border-radius: 0;

  label {
    z-index: 10;
  }
  span {
    padding: 4px 7px;
    font-size: @font-size-12;
    font-weight: bold;
    &.switch-primary, &.switch-left {
      background-color: @color-new-green;
      background-image: none;
      border-radius: 0;
      text-shadow: none;
    }
  }
  &>div.switch-off,
  &>div.switch-on {
    height: 26px;
  }
}
div.btn-group > .has-switch {
  display: block;
}

#attribute-buttons {
  float: right;
  margin: 10px;
  position: relative;
  top: 4px;
  margin-top: 0;
}
#channel-switcher {
  .dropdown-toggle {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .icons-holder {
    width: 40px;
  }
}

#comparison-buttons {
  position: relative;
  float: right;
  padding: 4px 10px 22px 0;
  text-align: right;
  &.compare{
    width: 50%;
    border-left: 1px solid @color-ddd;
  }
}

.tab-pane.product-associations {
  .association-buttons {
    padding-top: 7px;
  }
}

.comparison {
  width: 100%;
  td {
    width: 50%;
    vertical-align: top;
    border-right: 1px solid darken(@color-light_grey, 5%);
    &.no-label .control-group {
      label.control-label {
        width: 30px;
        &.add-on {
          width: 25px;
        }
      }
      .controls {
        margin-left: 40px;
        &.metric {
          margin-left: 10px;
        }
      }
    }
  }
}

#lbCenter {
  z-index: 1000;
}

#lbOverlay {
  z-index: 900;
}

.upload-zone {
  float: left;
  height: @uploadZoneHeight;
  margin: 1px;
  color: @textColor + #333;
  cursor: pointer;
  border: 1px solid @textColor + #888;
  border-radius: 10px;
  &.empty {
    margin: 0;
    border-style: dashed;
    border-width: 2px;
    &:not(.disabled):hover {
      border-color: @textColor + #555;
    }
    div.upload-info {
      min-width: 278px;
    }
  }
  &.disabled {
    background-color: @color-light_grey;
  }
  &:not(.disabled):hover {
    background-color: @color-purple_hover;
  }
  div.upload-info {
    display: inline-block;
    height: @uploadZoneHeight - 20;
    min-width: 229px;
    margin: 10px;
    font-size: @font-size-22;
    line-height: @uploadZoneHeight - 20;
    text-align: center;
    .upload-preview, img {
      display: inline-block;
      max-width: (@uploadZoneHeight - 20) * 1.5;
      max-height: @uploadZoneHeight - 20;
      min-width: (@uploadZoneHeight - 20) / 2;
      font-size: @font-size-40;
      line-height: @uploadZoneHeight - 20;
      color: @textColor + #333;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      &.empty {
        display: none;
      }
    }
    img {
      display: block;
    }
    span.upload-filename {
      padding: 0 5px;
      line-height: @uploadZoneHeight - 20;
    }
  }
  .remove-upload {
    float: right;
    width: 45px;
    height: @uploadZoneHeight;
    padding: 0 9px;
    margin-top: -1px;
    margin-right: -1px;
    font-size: @font-size-26;
    line-height: @uploadZoneHeight;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  input[type="file"] {
    position: relative;
    top: -@uploadZoneHeight;
    z-index: 99;
    display: block;
    width: 100%!important;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0;
    &.hide {
      display: none;
    }
  }
}

/* Accordion ********************************************************************************************************/
.accordion-inner {
  td { border: none; }
}
.accordion-inner-unbuffered {
  padding: 0;
  border-top: 1px solid @grayLighter;
}

.form-inline {
  label {
    width: 200px;
    text-align: left;
  }
  input {
    width: 300px;
  }
}

/* Attribute Form ***************************************************************************************************/

.attribute-choice {
  background: transparent;
  height: 50px;
  line-height: 48px;
  padding-left: 10px;
  &:hover {
    background-image: none;
    background-color: @color-purple_hover;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;  }
  i {
    line-height: 34px;
    font-size: @font-size-20;
  }
}
.attribute-type-selector {
  display: table;
  margin-bottom: -10px;
  &>div {
    width: 49%;
    margin-bottom: 10px;
    &:nth-child(even) {
      margin-left: 2%;
    }
  }
}

/* Sortable table */
table.ui-sortable, tbody.ui-sortable {
  td.handle {
    line-height: 30px;
  }
  td a.btn {
    height: @buttonHeight;
  }
}

table i {
  color: @textColor;
}

/* Product edit form - common */

.classify, .product-edit, .form-tabbed {
  margin-bottom: 0;
  .nav-list {
    padding-right: 0;
    padding-left: 0;
    > .active > a {
      font-weight: bold;
      color: @black;
      text-shadow: none;
      background-color: @color-purple_hover;
    }
    > li {
      padding-right: 15px;
      padding-left: 15px;
      line-height: 25px;
      border-bottom: 1px solid @grayLighter;
      > a {
        color: @black;
        background-color: @color-grey_tab;
      }
    }
  }
  .tab-content {
    border-left: 1px solid @color-bbb;
  }
  .tab-pane h3 {
    padding-left: 20px;
    margin-top: 0;
    background-color: @color-grey_tab;
    border-bottom: 1px solid @grayLighter;
  }
}

#edit-family {
  cursor: pointer;
}

/* Product edit form - attributes tab */

.submit-form .dropdown-menu.right-align {
  right: 0;
  left: auto;
}

.attribute-field {
  .input-large {
    width: 350px;
  }
  .datepicker {
    &.input-large {
      width: 200px;
    }
    &.add-on {
      background-color: @white;
    }
  }
}

.ui-datepicker-today .ui-state-default {
    font-weight: bold !important;
}

.attribute-field.currency {
  max-width: inherit;
  &>label.control-label {
    margin-top: 21px;
  }
  .control-group {
    max-width: inherit;
  }
  .currency-header {
    display: inline-block;
    margin-left: 10px;
    .currency-label {
      display: inline-block;
      width: 103px;
      font-weight: bold;
      text-align: center;
    }
    &.small .currency-label {
      width: 74px;
    }
  }
  &.scopable {
    .currency-header {
      padding-left: 25px;
    }
  }
  .controls {
    .input-small, .input-mini {
      height: 21px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      &:not(:last-of-type) {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

table.comparison .no-label .attribute-field.scopable {
  &.currency .currency-header {
    padding-left: 55px;
  }
  &>div {
    &>.control-group>.control-label {
      margin-left: 10px;
    }
    &.first>.control-group>.control-label {
      position: relative;
      .field-toggle {
        position: absolute;
        left: -9px;
        top: 7px;
      }
    }
    &:not(.first) .field-toggle {
      display: none!important;
    }
  }
}

.attribute-field.scopable {
  max-width: inherit;
  margin-bottom: 20px;
  >div {
    &:first-of-type .controls {
      .control-label.add-on {
        background-color: @backgroundColor-white;
        border-top-left-radius: 3px;
      }
      input, select, textarea {
        border-top-right-radius: 3px;
      }
      &:first-child {
        margin-left: 10px;
      }
    }
    &:last-of-type .controls {
      .control-label.add-on {
        border-bottom-left-radius: 3px;
      }
      input, select, textarea {
        border-bottom-right-radius: 3px;
      }
    }
    &:not(.first):not(:first-of-type) {
      &>.control-group {
        .control-label.add-on, input, select, textarea {
          border-top: 0;
        }
      }
    }
  }
  label.control-label i.field-toggle {
    padding-left: 5px;
    font-size: @font-size-14;
    .user-select(none);
  }
  label.control-label.add-on {
    width: 25px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    background-color: @whiteDark;
    border-right-width: 0;
    border-radius: 0;
    .user-select(none);
  }
  .control-group {
    margin: 0;
    &>.controls.input-prepend {
      position: relative;
      .control-label.add-on {
        position: absolute;
        height: 100%;
        font-size: @font-size-15;
        &[style] {
          text-shadow: none;
        }
      }
      .scopable-input {
        position: relative;
        left: 25px;
      }
    }
  }
  textarea.input-large {
    width: 350px;
  }
  div.controls {
    input, select, textarea {
      border-radius: 0;
      &.select2-offscreen,
      &.select2-focusser {
        position: absolute;
      }
    }
    .validation-tooltip {
      display: inline-block;
    }
  }
  &.collapsed .controls {
   .control-label {
      border-bottom-left-radius: 3px;
    }
    input, select, textarea {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .input-append, .input-prepend {
    font-size: @font-size-12;
  }
  .upload-zone {
    margin: 0;
    border-radius: 0;
    .remove-upload {
      float: none;
      border-radius: 0;
    }
  }
}

#copy-selection-switcher, #copy-selection {
  margin-left: 10px;
}

// ORO page titles
h1 {
  font-size: @font-size-18;
  font-weight: normal;
  line-height: 33px;
  color: @textColor + #555;
}

.navbar-extra {
  padding: 10px 7px 10px 12px;
}
.navbar-content, .content {
  line-height: 18px;
  .sub-title {
    float: left;
    font-size: @font-size-18;
    color: @textColor + #555;
  }
  .separator {
    float: left;
    padding: 0 3px;
    font-size: @font-size-18;
    color: @grayLight;
  }
  ul.inline {
    color: @textColor + #333;
      li {
        padding: 0 10px;
        font-size: @font-size-11;
        line-height: 14px;
        border-left: 1px solid @grayLighter;
      }
      li:first-of-type {
        padding-left:0;
        border-left: none;
      }
  }
  .product-name {
    float: left;
    font-size: @font-size-14;
    font-weight: bold;
    line-height: 20px;
  }
}
.navbar-title { line-height: 33px; }
.tab-groups {
  float:left;
  min-width: 120px;
  i.validation-tooltip {
    display: block;
    float: right;
    margin-top: 4px;
    margin-right: -8px;
  }
}
#container {
  .buffer-top {padding-top:20px;}
  .buffer-right {padding-right:20px;}
  .buffer-bottom {padding-bottom:20px;}
  .buffer-left {padding-left:20px;}
  .buffer-small-top {padding-top:10px;}
  .buffer-small-right {padding-right:10px;}
  .buffer-small-bottom {padding-bottom:10px;}
  .buffer-small-left {padding-left:10px;}
  .buffer-extra-top {padding-top:50px;}
  .buffer-extra-right {padding-right:50px;}
  .buffer-extra-bottom {padding-bottom:50px;}
  .buffer-extra-left {padding-left:50px;}
  .left-aligned {text-align: left;}
  .right-aligned {text-align: right;}
}
.unspaced {
  margin: 0;
}
span.muted.small {
  font-size: @font-size-14;
}

div.dropdown-menu.channel {
  padding: 10px;
  h5 {
    margin: 0;
    text-transform: uppercase;
  }
  a {
    display: block;
    float: left;
    clear: both;
  }
  label {
    float: left;
    margin-right: 10px;
    line-height: 26px;
  }
  select {
    width: auto;
  }
}

#channel-controls {
  display: inline-block;
  float: left;
  max-width: 400px;
  min-width: 210px;
}

#locale-switcher, #comparison-switcher {
  span.dropdown-toggle {
    padding: 0px 44px 0px 10px;
    height: 34px;
    line-height: 34px;
    margin-bottom: 0;
    color: @textColor;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    position: relative;
    background-color: @color-new-grey;
    overflow: hidden;

    & > i {
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      height: 34px;
      line-height: 34px;
      margin: 0;
      text-align: center;
      background-color: darken(@color-new-grey, 10%);
    }

    .flag-language .language {
      width: auto;
      padding-right: 3px;
    }
  }
  .dropdown-menu {
    padding: 0;
    li>a {
      padding: 5px;
      color: @textColor;
      &:hover, &:active, &:focus {
        background: @color-f1f1f1;
      }
      span.indicator {
        display: inline-block;
        width: 25px;
        padding: 0 5px;
        font-size: @font-size-9;
        i {
          color: @textColor + #333;
        }
      }
      span.title {
        padding: 0 5px;
        font-weight: bold;
      }
    }
  }
}

.no-attribute {
  color: @slate-grey;
  font-size: 13px;
  padding-top: 13px;
  margin-right: 10px;
}

.flag-language {
  color: @textColor;
  background-color: transparent;
  border: none;
}

.flag {
  display: inline-block;
}

.language {
  display: inline-block;
  padding-left: 5px;
  font-family: @sansFontFamily;
  font-size: @font-size-12;
  color: @textColor + #333;
  vertical-align: bottom;
}

#comparison-switcher .dropdown-toggle .flag-language {
  .flag {
    margin-top: 2px;
    vertical-align: middle;
  }
  .language {
    padding-left: 0;
  }
}

#entity-updated {
  margin-top: 10px;
  margin-right: 5px;
  clear: right;
  cursor: default;
  opacity: 0;
  .label-warning {
    color: @color-form-info;
    text-shadow: none;
    background-color: @color-fdd9b6;
    border-radius: 10px;
    font-weight: 400;
    padding: 2px 10px 2px 2px;

    .icon {
      color: @color-fa9f47;
    }
  }
}

/* Product edit form - categories/associations tab */

.classify .nav-list li a i,
#association-list .nav-list li a i,
#pim_enrich-product-tab-category .nav-list li a i {
  padding-right: 5px;
  font-size: @font-size-16;
  &.gray {
    color: @color-ddd;
  }
  &.green {
    color: @color-58BB00;
  }
}
.mass-edit-form {
  .classify.classify-remove {
    .jstree-default .jstree-checked > a > .jstree-checkbox {
      background-position: -20px -73px;
      &:hover {
        background-position: -38px -73px;
      }
    }
  }
}

/* Import upload file form */

form.form-upload {
  text-align: center;
  .control-group {
    .control-label {
      display: none;
    }
    .controls {
      margin-right: 20px;
      margin-left: 20px;
      .upload-zone {
        width: 100%;
        input[type="file"] {
          font-size: @font-size-200;
        }
      }
      .icons-container {
        float: right;
      }
    }
  }
}

/* Pim multiselect styles */
button.pimmultiselect {
  height: @buttonHeight;
  padding: 0 10px;
  line-height: @buttonHeight;
  color: @textColor + #222;
  font-size: @font-size-13;
  &:hover {
    color: @textColor + #222;
  }
}
.pimmultiselect.ui-multiselect-menu {
  padding: 0;
  border: 1px solid @color-ccc;
  .ui-multiselect-hasfilter {
    background-color: @whiteDarker;
    border: none;
    border-bottom: 1px solid @color-ccc;
    .ui-multiselect-filter {
      width: auto;
      input {
        padding: 5px;
        margin: 3px;
        font-size: @font-size-12;
        color: @textColor + #555;
        border-color: @color-ddd;
      }
    }
  }
  ul.ui-multiselect-checkboxes {
    li {
      border: none;
      a {
        padding-left: 10px;
        text-align: left;
        text-transform: uppercase;
      }
      label {
        padding: 0;
        padding-left: 10px;
        margin: 0;
      }
      input[type="checkbox"] {
        margin: 0;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .ui-multiselect-footer {
    border-top: 1px solid @color-ccc;
    a {
      float: right;
      margin: 5px;
    }
  }
}
.ui-multiselect-optgroup-label a:hover {
  color: @textColor;
}
.ui-multiselect-menu {
  z-index: 800;
}

.attribute-requirement {
  height: 20px;
  text-align: center;
  cursor: pointer;
  .required {
    padding: 3px;
    margin: 0;
    font-size: @font-size-15em;
    color: @color-33be00;
  }
  .non-required {
    padding: 7px;
    margin: 0;
    color: @color-bbb;
  }
}

/* UI for select2 inside a scopable field */
.attribute-field.scopable {
  &>div:not(.first) {
    .controls div.select2-container {
      border-top-right-radius: 0;
    }
    &:not(:last-of-type) .controls div.select2-container {
      border-bottom-right-radius: 0;
    }
  }
  &:not(.collapsed)>div.first .controls div.select2-container {
    border-bottom-right-radius: 0;
  }
  .controls.input-prepend div.select2-container {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

/* UI for metric attribute field */
.controls.metric.input-append {
  &:not(.input-prepend) {
    margin-left: 10px;
  }
  select.select2-offscreen {
    display: none;
  }
  div.select2-container {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    &>a {
      height: 28px;
      line-height: 28px;
      .select2-arrow {
        top: 5px;
      }
    }
    .select2-focusser {
      display: none;
    }
  }
  .scopable-input input[type=text] {
    height: 20px;
    margin-left: -1px;
    border-radius: 0;
  }
}
.attribute-field.scopable>div:not(.first) .controls.metric input {
  height: 21px;
}

/** Product completeness *******************************************************************************/
div#legend {
  margin-top: 15px;
  margin-left: 15px;
  .progress {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: none;
    background-image: none;
  }
  .bar {
    margin-right: 10px;
  }
  .progress-bars {
    width: 100px;
  }
  .progress-legend {
    margin-left: 10px;
    span {
      display: block;
      margin-bottom: 5px;
    }
  }
}

table#progress-table {
  .progress {
    height: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom,@color-e4e4e4,@grayLighter);
    border-radius: 6px;
  }
  .progress-cell {
    margin-right: 15px;
    margin-left: 15px;
    div.center {
      text-align: center;
    }
    span.progress-info {
      padding: 5px;
      color: @color-5e8dcb;
      cursor: default;
    }
  }
}

.table-bordered.groups {
  border-left: 1px solid @color-ddd;
  td, th {
    border-left: 0;
  }
}

/** mass-edition *****************************************************************************************************/
.mass-edit-form {
  padding: 25px;
  background-color: lighten(@color-light_grey, 4%);
  .entity-edit-form {
    min-height: 300px;
  }
  .entity-edit-form .tabs-left > .sidebar > .nav-tabs li.header {
    border-left: 0;
  }
  hr {
    height: 3px;
    background-color: lighten(@color-light_grey, 2%);
    border-top: 1px solid lighten(@color-light_grey, 5%);
    border-bottom: 1px solid lighten(@color-light_grey, 4%);
  }
  .tab-content {
    padding: 0;
    border-left: solid 1px @color-ccc;
  }
  header {
    display: none;
  }
}

/** datagrid columns configuration ***********************************************************************************/
.column-configurator-modal .modal-body {
  padding: 0;
  background-color: @color-edf1f2;
}
#column-configurator {
  h4 {
    height: 52px;
    line-height: 30px;
    margin: 0;
    padding: 10px;
    color: @grayLight;
    border-left: 1px solid @color-e0e7e9;
    border-bottom: 1px solid @color-e0e7e9;
  }
  i.icon-search {
    font-size: @font-size-18;
  }
  input[type="search"] {
    width: 80%;
    border: none;
    outline: none;
    margin: 0;
    background: transparent;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    .box-shadow(inset 0 0 0 transparent);
    &:focus{
      .box-shadow(none);
    }
  }
  .span4 {
    margin-left: 0;
    width: 100% / 3;
    &:not(:first-of-type) {
      background-color: @color-f6f8f8;
    }
    &:last-of-type {
      background-color: @backgroundColor-white;
    }
  }
  ul {
    padding: 10px;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
    font-size: @font-size-13;
    border-left: 1px solid @color-e0e7e9;
    li {
      cursor: pointer;
      padding: 15px 10px;
      border: 1px solid @color-e3eaeb;
      &:not(:first-of-type) {
        border-top: none;
      }
      &.filtered {
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        border: none;
      }
      i {
        font-size: @font-size-15;
        color: @color-ccc;
        padding-right: 8px;
      }
    }
    &.connected-sortable li {
      background-color: @color-f6f8f8;
      .action i {
        margin: 0 2px;
        padding: 3px 8px;
        color: @color-555;
        border: 1px solid @color-ccc;
        .border-radius(3px);
      }
      &:hover .action i {
        background-color: @backgroundColor-white;
        &:hover {
          background-color: @color-light_grey;
        }
      }
    }
    &#column-list li .action {
      display: none;
    }
  }
  .nav-list {
    .badge-transparent {
      border-radius: 5px;
      border: 1px solid @color-ddd;
      background: transparent;
      color: @grayLight;
      font-size: @font-size-14;
      text-shadow: initial;
    }
    li {
      &.active {
        background-color: @color-e4eaec;
      }
    }
  }
}

/** datagrid views ***************************************************************************************************/
.highlight-hover li {
  &:hover {
    background-color: @color-purple_light;
    color: @backgroundColor-white;
  }
  label {
    cursor: pointer;
  }
}

button.view-button {
  margin-top: -6px;
  font-size: @font-size-13;
  &.hide {
    display: none;
  }
}

/** datetimepicker views *********************************************************************************************/
.bootstrap-datetimepicker-widget {
  .has-switch {
    display: table-cell;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;
      list-style: none;
      &.picker-switch {
        text-align: center;
      }
    }
  }
  table {
    text-align: center;
    width: 100%;
  }
}

.tabbable.properties .accordion, .tabbable.history .grid-drop {
  width: 100%;
}

.job-profile-content-tab {
  .control-group {
    max-width: 900px;
    .control-label.required {
      font-weight: bold;
    }
    .filter-input {
      display: inline-block;
    }
  }
}
