.pim-icon(@x, @y) {
  background-image: url("images/pim_icons.png");
  background-position: @x @y;
}

.icon-search()               { .pim-icon(-71px, -50px); }
.icon-shortcuts()            { .pim-icon(-149px, -49px); }
.icon-close-white()          { .pim-icon(-77px, -77px); }

//---------------------------------------//
// Add !important to override oro !important statements. To be removed when oro.less is cleaned up
.pim-icon-important(@x, @y) {
  background-image: url("images/pim_icons.png") !important;
  background-position: @x @y !important;
}

.icon-search-important()    { .pim-icon-important(-71px, -50px); }
.icon-shortcuts-important() { .pim-icon-important(-149px, -49px); }
