/* FontAwesome */
[class^="icon-"] {
  margin: 0 3px;
}

.icon-close-white() {
  background-image: url("images/pim_icons.png");
  background-position: -77px -77px;
}

// Add !important to override oro !important statements. To be removed when oro.less is cleaned up
.icon-shortcuts() {
  background-image: url("images/pim_icons.png")!important;
  background-position: -149px -49px!important;
}
