aside, nav, footer, header, section { display: block }
.btn-large{
    width: 112px;
}
* +html button.btn-large{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
* +html .add-on{
    margin-top: 1px;
}
header .dropdown-menu li > a{
    filter: none !important;
}
.form-signin .title-box .oro-title,
.form-signin .title-box .title,
.navbar-inner,
#oroplatform-header>.navbar-inner,
#oroplatform-header .oroplatform-menu>li.dropdown.active>a,
.ui-dialog.ui-dialog-normal [class*='ui-dialog-titlebar-']:hover:before,
.btn-primary {
    filter: none;
}
.btn-group{
    display: inline;
}
.badge{
    border-radius: 6px;
}
header .container{
    width: 100%;
}
* +html button.btn{
    padding-top: 0;
    line-height: 25px;
}
#page{
    display: block;
}
.filter-box{
    display: block;
    zoom:1;
}
table.grid{
    margin-bottom: 50px;
}
.filter-box .btn-group{
    float: left;
}
.list-bar{
}
* +html .list-bar li{
    display: inline;
    float: left;
    position: relative;
    padding-right: 15px;
}
* +html .list-bar a.btn-close{
    float: left;
    position: absolute;
    right: 5px;
    top: 0;
}
*+html .caret{
    position: relative;
    top: -5px !important;
    right: -2px;
}

.pin-bar .pin-menus{
    margin: 0 -31px 0 0;
}
.pin-bar{
    filter: none !important;
}
.pin-bar .list-bar{

}
.filter-list input[type="search"]{
    width: 100px;
}
button.btn.favorite-button,
button.btn.minimize-button{
    filter: none;
}
