@import 'less/variables';
@import 'less/mixins';

/* General **********************************************************************************************************/

body {
  color: @textColor;
  background-color: @backgroundColor-white;

  &.konami:hover {
    cursor: url("/bundles/pimui/images/unicorn-akeneo_43.png"), pointer !important;
  }
}

a {
  color: @color-purple_dark;
}
a:hover,
a:focus {
  color: darken(@color-purple_dark, 5%);
}

.badge-square {
  border-radius: 2px;
}

/* Grids */
.table-hover tbody tr:hover > td {
  background-color: @color-purple_hover;
}
table.grid {
  margin-bottom: 20px;
}
.filter-box {
  select.filter-select-oro {
    width: 100px;
    padding-right: 0;
  }
  .btn-group {
    float: none;
  }
  .filter-item .choicefilter .input-append input {
    margin-right: 0;
  }
}

.grid-toolbar {
  .pagination > ul > li .icon-chevron-left:before,
  .pagination > ul > li .icon-chevron-right:before {
    color: #666;
  }
  @media all and (max-width: 1600px) {
    .pagination-centered, .page-size label {
      width: auto;
    }
  }
}

.actions-panel .btn-group+.btn-group {
  margin-left: 5px;
}

.grid .action-cell {
  vertical-align: top;
  a.action {
    display: table-cell;
    i {
      opacity: 0;
      margin: 0 2px;
      padding: 0 5px;
      border: 1px solid #ccc;
      .border-radius(3px);
    }
  }
}
tr:hover>.action-cell a.action>i {
  opacity: 1;
  background-color: @backgroundColor-white;
  &:hover {
    background-color: @color-light_grey;
  }
}

.ui-multiselect-menu.select-filter-widget .ui-multiselect-checkboxes label {
  &.ui-state-hover, &.ui-state-active {
    background-color: @color-purple_light;
  }
}

.filter-criteria .dropdown-menu li {
  > a,
  &.active > a {
    &:hover, &:focus, &:active {
      background: @color-purple_light;
    }
  }
  &.active > a {
    background: @textColor + #777;
  }
}

.dropdown-menu>li>a, .dropdown-menu>li.active>a {
  color: @color-purple_light;
  &:hover, &:active {
    color: darken(@color-purple_light, 5%);
  }
}

.btn-group>.dropdown-menu li {
  a:hover {
    background: @color-purple_light;
  }
  &.disabled a {
    color: @textColor + #555;
    background: @backgroundColor-white;
  }
  &.select2-search-choice a {
    padding: 0;
    color: @textColor + #333;
    &:hover {
      background: transparent;
    }
  }
}

a.back-link i {
  vertical-align: middle;
}

.icon-collapse-alt, .icon-expand-alt {
  font-size: 14px;
}

.btn.scope-filter {
  height: @buttonHeight;
  min-width: 130px;
  padding-right: 0;
  padding-left: 5px;
}

/** Dashboard ********************************************************************************************************/
.dashboard {
  background-color:#f1f1f1;
  &.quick-launchpad > .container {
    padding-top: 30px;
  }
  .quick-launchpad-widget {
    margin-bottom: 20px;
    &>div.clearfix {
      overflow: hidden;
      border: 1px solid #b6b6b6;
      background-color: lighten(@color-light_grey, 4%);
      .border-radius(5px);
      .box-shadow(1px 1px 5px rgba(50, 50, 50, 0.2));
    }
  }
  .btn.shortcut {
    height: 100px;
    width: 25%;
    padding-top: 5px;
  }
  .big-icon {
    font-size: 2.5em;
    padding-top: 15px;
  }
  h3 {
    margin: 0;
  }
  &.header {
    background-color: #fff;
    padding: 5px 20px;
    border-bottom: 1px solid #f7f7f7;
  }
}

hr.small {
    margin: 4px 0;
}

/** widgets **********************************************************************************************************/
.widget-header {
  padding: 2px 2px 3px 10px;
  font-weight: bold;
  background: linear-gradient(@backgroundColor-white, @color-light_grey);
  border-bottom: 1px solid #ccc;
  .btn-refresh {
    margin-right: 3px;
    margin-top: 1px;
  }
}

.widget-content {
  position: relative;
  transition: 0.7s ease-out;
  &.loading {
    min-height: 100px;
  }
}

a[data-toggle-channel] {
  padding: 5px;
  color: @textColor;
}

#completeness-widget {
  .progress {
    height: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to bottom, #e4e4e4, #eee);
    border-radius: 6px;
  }
  .progress-cell {
    padding: 10px 10px 0 10px;
    margin-right: 15px;
    margin-left: 15px;
    div.center {
      text-align: center;
    }
    span.progress-info {
      padding: 5px;
      color: #5e8dcb;
      cursor: default;
    }
    small {
      display: block;
      text-align: right;
    }
  }
  tr.channel {
    &:first-of-type {
      border-top: none;
    }
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    background: linear-gradient(#f2f2f2, #e8e8e8);
    td {
      padding: 2px 5px;
    }
  }
  td {
    padding: 5px;
    font-size: 13px;
    vertical-align: top;
  }
  td:nth-child(1) {
    width: 5%;
  }
  td:nth-child(2) {
    width: 30%;
  }
  td:nth-child(3) {
    width: 5%;
  }
  td:nth-child(4) {
    width: 60%;
  }
}

.configuration {
  width: 100%;
  margin-bottom: 20px;
  thead td {
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
    background: @color-purple_hover;
  }
  tbody {
    td {
      padding: 5px 10px;
    }
    tr td:first-child {
      width: 200px;
    }
  }
}

tr.warning, tr.error {
  .title {
    font-weight: bold;
    color: @textColor;
  }
}

ul.inline .tooltip-inner {
    text-align: left;
}

span.link-label {
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 5px;
  font-size: 11px;
  line-height: 24px;
  &.large {
    font-size: 14px;
  }
}

.transparent {
  opacity: 0;
}

.diff {
  list-style-type: none;
  .file {
    display: inline-block;
    padding: 15px;
    margin: 0 5px;
  }
  .base {
    background-color: @color-base_diff;
    del {
      background-color: darken(@color-base_diff, 10%);
    }
  }
  .changed {
    background-color: @color-changed_diff;
    ins {
      background-color: darken(@color-changed_diff, 10%);
    }
  }
  ins {
    text-decoration: none;
  }
}

#sequentialEdit {
  font-weight: bold;
  .row-fluid {
    margin:6px;
  }
  .progress {
    margin-bottom: 0;
    .bar {
        #gradient .horizontal(@color-purple_light, @color-purple_dark);
    }
  }

  [class*="span"] {
    min-height: 5px;
  }
}

/** Notifications *****************************************************************************************************/
#header-notification-widget {

  i.icon-bell {
    font-size: 18px !important;
    line-height: 20px;
    height: 20px;
    text-align: center;
  }
  .indicator {
    position: absolute;
    text-align: center;
    right: 3px;
    top: 2px;

    .badge-square {
      font-size: 11px;
      font-weight: initial;
      padding: 0 3px;
      background: linear-gradient(#f93a43, darken(#f93a43, 20%));
      box-shadow: 0 0.7px 0 RGBa(0, 0, 0, 0.3), 0 0 3px rGBa(0, 0, 0, 0.35);
      text-shadow: 0 1px 0 darken(#f93a43, 20%);
    }
  }

  .mark-as-read {
    border: none;
    width: 100%;
    margin: 0;
  }
  .dropdown-toggle {
    width: 40px;
    height: 40px;
  }
}

#oroplatform-header .nav #header-notification-widget {
  ul.dropdown-menu {
    width: auto;
    margin: -3px -1px 0 0;
    padding-top: 1px;
    padding-bottom: 0;
    ol.scroll-menu {
      list-style: none;
      margin: 0;
      width: auto;
      height: auto;
      max-height: 211px;
      overflow-x: hidden;
      white-space: nowrap;
      li {
        border-top: 1px solid @backgroundColor-white;
        border-bottom: 1px solid #ccc;
        position: relative;
        &>a {
          padding: 10px 55px 10px 10px;
          display: block;
          &:hover {
            background-color: lighten(@color-purple_hover, 2%);
            background-color: darken(@backgroundColor-white, 3%);
          }
          &.new {
            background: @color-light_grey;
            &:hover {
              background-color: darken(@color-purple_hover, 2%);
            }
          }
          i {
            padding-right: 5px;
          }
          i.icon-ok { color: #33be00; }
          i.icon-warning-sign { color: orange; }
          i.icon-remove { color: red; }
          i.action {
            position: absolute;
            right: 3px;
            width: 28px;
            text-align: center;
            background-color: @backgroundColor-white;
            border: 1px solid @textColor + #888;
            .border-radius(3px);
            font-size: 14px;
            padding: 2px 6px;
            &:hover {
              background-color: @color-light_grey;
            }
          }
        }
      }
    }
    p {
      span {
        padding: 0 10px;
      }
    }
  }
}

.attribute-option-view {
  width: 100%;
  position: relative;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 2px;
  table-layout: fixed;
  min-height: 100px;

  input[type="text"] {
    padding: 2px 3px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
  }

  .handle {
    margin-right:3px;
  }

  &.in-edition {
    tr:not(.in-edition) td {
      opacity: 0.65;

      .btn {
        cursor: default;
        background-image: none;
        box-shadow: none;
      }
    }
  }

  tr {
    background: white;

    &.in-edition {
      .field-cell {
        padding: 2px;
      }
    }

    &.ui-sortable-helper {
      box-shadow: 0 0 20px RGBa(0, 0, 0, 0.7);
      border-radius: 3px;
    }
  }

  th {
    text-align: center;
    padding: 5px 0 !important;
    background: #f3f3f3;
  }

  td {
    border: 1px solid #ddd;
    line-height: 12px;
    vertical-align: middle;
    padding: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .tooltip {
      white-space: normal;
    }
  }

  .btn-small {
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }

    i {
      width: 10px;
    }
  }

  .validation-tooltip {
    position: relative;
    left: -25px;
    vertical-align: middle;
    height: 16px;
    display: none;

    &.visible {
      display: inline-block;
    }
  }

  &.ui-sortable-disabled {
    .handle {
      display: none;
    }
  }

  .code {
    width: 150px;
  }

  .action {
    width: 94px;
  }
}

.tabs-top > .nav-tabs, .tabs-top > header > .nav-tabs {
  background: none;
  border-bottom: 3px solid @color-new-purple-medium;
  margin: 0;

  li {
    a {
      background: #F6F6F6;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      margin-right: 4px;
      border: solid 1px #DFDFDF;
      border-bottom: none;
      box-shadow: none;
      text-shadow: none;
      line-height: 24px;
      font-size: 12px;
      padding-left: 20px;
      padding-right: 25px;

      &:hover {
        cursor: pointer;
        border-bottom: none;
        background: @color-new-purple-light;
      }
    }

    &.active {
      a {
        background: @color-new-purple-medium;
        color: white;
        border: solid 1px @color-new-purple-medium;
      }
    }
  }
}

.tabs-left > .sidebar > .nav-tabs > li {
  float: none;

  &:first-child {
    a {
      border-top: none;

      &:hover { border-top: none; }
    }
  }

  a {
    background-color: #FAFAFA;
    color: #9B9B9B;
    .border-radius (0);
    border-color: #ddd;
    margin-bottom: 0;
    margin-right: 0;
    line-height: 28px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: none;

    &:hover {
      background-color: @color-new-purple-light;
      border: solid 1px #ddd;
      border-right: none;
      cursor: pointer;
    }
  }

  &.active {
    a {
      background-color: @color-new-purple-light;
      color: #4A4A4A;
      font-weight: bold;
    }
  }
}

body {
  overflow: hidden !important;
  min-height: 600px;
}

@max-field-width: 500px;
@min-field-width: 300px;

.product-values {
  &.tab-pane {
    padding-top: 15px;
    padding-right: 20px;
  }

  margin-left: 20px;
  box-sizing: border-box;
  overflow: auto;
}

header.tab-header {
  height: 44px;
  border-left: none;
  border-bottom: solid 1px #e5e5e5;
  background: #f9f9f9;
  padding: 0 20px;
  .display-flex();
  justify-content: flex-start;

  h3 {
    line-height: 24px;
  }
}

h3.tab-header {
  height: 44px;
  border-left: none;
  border-bottom: solid 1px #e5e5e5;
  background: #f9f9f9;
  padding: 0 20px;
}

.attribute-actions {
  .attribute-edit-actions {
    margin-right: 10px;
  }

  & > div {
    white-space: nowrap;
  }

  .attribute-edit-actions, .attribute-copy-actions {
    padding: 8px 0;
    .display-flex();

    .other-actions {
      .flex(1);
      .flex-shrink(0);
      .display-flex();
      .align-items(flex-end);
      .flex-direction(column);
    }
  }

  .attribute-edit-actions {
    .flex(1);
  }

  .attribute-copy-actions {
    .context-selectors {
      margin-left: 5px;
    }

    & > * > .btn, & > * > .btn-group {
      margin-left: 8px;
    }

    & > div {
      .flex-shrink(0);
    }
  }
}

.comparison-mode {
  .comparison-elements-container {
    display: block;
  }

  .attribute-edit-actions {
    max-width: @max-field-width;
    margin-right: 0;
  }

  .attribute-copy-actions {
    max-width: @max-field-width + 10px;
  }

  .attribute-copy-actions {
    .flex(1);
    margin-left: 10px;
    border-left: 1px solid #e5e5e5;
  }
}

.product-edit-form {
  letter-spacing: 0.03em;
  font-weight: 300;

  & > .content > .tabbable {
    padding: 10px 10px 0 10px;

    & > header {
      .display-flex();

      .form-tabs {
        border-bottom: none;
        .flex();
      }
    }
  }

  .tabs-left > .sidebar > .nav-tabs a {
    padding: 8px 15px 8px 15px;
  }

  & > header {
    margin: 0 0 7px 0;
    padding: 15px 10px 15px 20px;
    background: #F7F7F9;
    border-bottom: 1px solid #ddd;

    & > div {
      .display-flex();
    }

    .product-title {
      margin-bottom: 5px;
      .flex();
      .display-flex();
      .align-items(center);

      .product-label {
        font-size: 17px;
        font-weight: 300;
        color: @color-form-info;
      }
    }
  }

  .baseline {
    .display-flex();
    .align-items(flex-end);

    .meta {
      white-space: nowrap;
      margin-right: 20px;
      .display-flex();
      .flex(1);

      span {
        font-size: 11px;
        color: @color-form-info;
        overflow: hidden;
        text-overflow: ellipsis;

        &:not(:first-child) > *:before {
          margin: 0 10px;
          content: "|";
        }
      }
    }

    .state {
      .flex-shrink(0);
    }
  }

  .form-container {
    overflow: hidden;
    .display-flex();

    & > .tab-container {
      .flex(1);
      border-top: 3px solid @color-new-purple-medium;

      & > .tabs-left > .sidebar {
        border-right: 1px solid #e5e5e5;
      }
    }
  }

  .tabs-left {
    .display-flex();

    & > .sidebar > .nav-tabs {
      margin: 0;

      li.header {
        height: 44px;
        border-left: 1px solid #ddd;
        border-right: none;
        background: #f9f9f9;
      }
    }

    & > .tab-content {
      .flex();
    }
  }
}

.product-attributes >.tab-content {
  overflow: hidden;
}

.panel-selector {
  margin-top: 5px;

  .btn {
    background: none;
    font-weight: bold;
    font-size: 12px;
    border-color: #e5e5e5;
    height: 30px;
    line-height: 12px;
    padding: 8px 18px;
    border-radius: 1px;

    &.active {
      background: #555;
      color: white;
      text-shadow: none;
      border-color: #555;
    }
  }
}

.panel-container {
  border-top: 3px solid #333;
  width: 400px;
  background: #f9f9f9;
  border-left: 1px solid #e5e5e5;
  padding: 0 15px;

  &.closed {
    display: none;
  }

  & > header {
    border-bottom: 3px solid #ddd;
    margin-bottom: 15px;

    .close {
      width: 22px;
      height: 22px;
      margin-top: 10px;
      background: #333;
      color: white;
      padding: 0 5px 5px 5px;
      line-height: 22px;
      border-radius: 2px;
      text-shadow: none;
      opacity: 1;
    }

    h1 {
      margin: 0;
      line-height: 42px;
      color: #333;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.panel-content {
  overflow: auto;
  position: relative;
}

.form-container.full-panel {
  & > .tab-container {
    .flex(0);
  }

  & > .panels > .panel-container {
    width: auto;
    .flex(1);
  }
}

.completeness-block {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;

  &[data-closed="true"] {
    border-bottom: none;

    .content {
      display: none;
    }

    i:before {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  header {
    border-bottom: 1px solid #e5e5e5;
    .display-flex();
    .align-items(center);

    .locale {
      .flex(1);
      margin: 0;
      margin-left: 10px;
      font-size: 14px;
      color: #333;
      font-weight: 200;
      line-height: 35px;
      text-transform: capitalize;
    }

    .stats {
      .flex(1);
      .display-flex();
      .align-items(center);

      .progress {
        .flex(1);
        border-radius: 10px;
        height: 15px;
        margin: 0 10px;

        .bar {
          background-image: none;
          box-shadow: none;
        }
      }
    }

    .btn {
      border: none;
      border-left: 1px solid #e5e5e5;
      border-radius: 0;
      opacity: 1;
      background: none;
      box-shadow: none;
      padding: 4px 12px;
      color: #333;
      font-size: 20px;
      height: 100%;
    }
  }

  .content {
    padding: 10px;

    & > div:not(:last-child) {
      margin-bottom: 20px;
    }

    .channel {
      display: block;
      font-size: 13px;
      margin-bottom: 3px;
      text-transform: capitalize;
    }

    .progress {
      border-radius: 10px;
      margin-bottom: 5px;

      .bar {
        background-image: none;
        box-shadow: none;
      }
    }

    .missing {
      color: @color-form-info;

      .missing-attributes span {
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.field-container {
  .display-flex();

  & > * {
    .flex(1);
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.comparison-elements-container {
  display: none;

  .copy-container {
    .display-flex();

    @copy-field-selector-width: 20px;

    .copy-field-selector {
      width: @copy-field-selector-width;
    }

    .form-field {
      .flex(1);
      max-width: @max-field-width - @copy-field-selector-width;
      min-width: @min-field-width - @copy-field-selector-width;
    }
  }

  .field-input {
    padding-top: 3px;
  }
}

.field-context {
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  .display-flex();

  & > span {
    padding: 0 6px;
  }

  span:first-child:not(:last-child) {
    border-right: 1px solid #e5e5e5;
  }

  .flag-language {
    .display-flex();
    .align-items(center);
  }

  .language {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: @color-form-label;
    font-weight: normal;
  }
}

.form-field {
  margin-bottom: 20px;
  max-width: @max-field-width;
  min-width: @min-field-width;

  label {
    font-size: 12px;
    color: @color-form-label;
    font-weight: normal;
    display: inline-block;
  }

  header {
    .display-flex();
    .align-items(top);

    .field-info {
      font-size: 11px;
    }

    label {
      .flex();
    }

    .field-context {
      padding: 1px;
      border: none;

      & > span {
        padding: 0 4px;
      }

      span:first-child:not(:last-child) {
        border-right: none;
      }
    }

    .remove-attribute {
      color: #888;

      &:hover {
        color: #555;
      }
    }
  }

  .footer-elements-container {
    color: @color-form-info;
    font-size: 12px;
  }

  input:not([type="file"]),
  textarea {
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.04);
    font-size: 12px;
    color: @color-form-input;
    min-height: 30px;
    margin-bottom: 0;
    width: 100%;
    .border-radius(0);
    .box-sizing();
  }

  &.text-field > input {
    width: 100%;
  }

  &.price-collection-field {
    input {
      min-width: 80px;
      max-width: 100px;
    }

    .input-append .add-on {
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.04);
      font-size: 11px;
      color: @color-form-label;
      .border-radius(0);
      .box-sizing();
    }
  }

  &.metric-field {
    .metric-container {
      .flex(1);
      .display-flex();

      & > input {
        width: auto;
        .flex(1);
      }

      .unit {
        max-width: 150px;
      }
    }
  }

  &.boolean-field {
    .switch {
      border-color: #ccc;
      .border-radius(0);
      .box-sizing();

      .switch-left, .switch-right, .switch-small {
        .border-radius(0);
        background-image: none;
        background-color: white;
        text-shadow:none;
      }

      .switch-left {
        background-color: #7ec500;
      }

      .switch-right {
        background-color: #f0f0f0;
      }
    }
  }
}

.media-uploader {
  background: #eee;
  width: 100%;
  height: 100px;
  border-radius: 2px;

  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  .file-uploader {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    input {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .uploader {
    .display-flex();
    .flex-direction(column);

    img {
      align-self: center;
      margin-top: 20px;
    }

    span {
      align-self: center;
    }
  }

  .preview {
    .display-flex();
    .flex-direction(row);
    .align-items(center);
    height: 100px;

    .file img {
      max-height: 90px;
      max-width: 150px;
      margin: 5px;
      border-radius: 2px;
    }

    .file i {
      font-size: 90px;
      margin-left: 10px;
      color: #999;
    }

    .info {
      width: 100%;
      .display-flex();
      .flex-direction(column);
      .align-items(center);

      .filename {
        &:first-letter {
          text-transform: uppercase;
        }
      }

      .actions {
        .display-flex();
        .justify-content(center);
        margin-top: 10px;

        &:hover {
          cursor: pointer;
        }

        & > *:not(:first-child) {
          margin-left: 10px;
        }

        i {
          font-size: 20px;
          color: #444;
        }
      }
    }
  }

  .progress  {
    height: 7px;
    opacity: 0;
    border-radius: 0;
  }
}

.form-field .remove-attribute {
  margin-bottom: 3px;
  margin-right: 0;
  padding: 5px 5px 3px 5px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.attribute-group-selector {
  li > a {
    .display-flex();
    width: 150px;

    .attribute-group-label {
      .flex(1);
    }
  }

  .invalid-badge {
    background-color: #d0021b;
    margin-left: 2px;
  }
}

.validation-errors {
  .display-flex();
  .flex-direction(column);

  & > span {
    .display-flex();
    .align-items(baseline);
    margin-top: 3px;

    & > * {
      margin-right: 5px;
    }

    & > i, & > .error-message {
      color: #d0021b;
      font-weight: 400;
    }
  }

  .change-context {
    &:hover {
      cursor: pointer;
    }
  }
}

.form-field .select2-container {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.04);
  background-image: none;
  background-color: white;
  font-size: 12px;
  color: @color-form-input;
  min-height: 30px;
  .border-radius(0);
  .box-sizing();
  max-width: @max-field-width;
  display: block;

  .select2-choice {
    line-height: 30px;
  }

  .select2-choices {
    .select2-search-choice {
      .border-radius(0);
      background-image:none;
      background-color: white;
      line-height: 22px;
      border: 1px solid #ccc;
      padding: 0;
      margin: 2px 0 2px 2px;
      .display-flex();

      div {
        .flex(1);
        margin:0 6px 0 10px;
        line-height: 26px;
        .flex-order(2);
      }
    }

    .select2-search-choice-close {
      line-height: 26px;
      border-right: solid 1px #ccc;
      width: 26px;
      height: 26px;
      text-align: center;
      position: relative;
      top: auto;
      right: auto;

      &:hover {
        background: #f0f0f0 !important;
      }
    }
  }

  .select2-input {
    min-width: 20px;
  }

  &.unit{
    display: inline-block;
    width: 100px;
    margin-left: -5px;
  }

  .select2-search-choice-close {
    margin-top: 0
  }
}

.select2-search input {
  .border-radius(0);
  .box-sizing();
}

.history-panel {
  .display-flex();
  .flex-direction(column);
  height: 100%;
  padding-bottom: 20px;

  & > .btn {
    .align-self(flex-end);
  }

  .history-block {
    .flex(1);
    overflow-y: auto;
    min-height: 150px;
    margin-bottom: 10px;

    table {
      border-left: 1px solid #ddd;
      text-align: left;
      margin-bottom: 0;
    }
  }

  .logged-at, .version {
    white-space: nowrap;
  }

  .table-history-details {
    width: 80%;
    position: relative;
    margin: 20px auto;

    th {
      min-width: 100px;
    }
  }

  thead th {
    text-transform: uppercase;
    padding: 7px 15px;
  }

  .table-condensed:not(.grid) td, .table-condensed:not(.grid) td, td, th {
    border-left: none;
    text-align: left;
    padding: 7px 15px;
  }
}

.panel-content {
  .table-history.table-condensed:not(.grid) td, .table-history.table-condensed:not(.grid)  th {
    text-align: left;
    padding: 7px 15px;
  }
}

.product-edit-form {
  & > header .btn {
    background-image: none;
    padding: 3px 15px;
    height: 35px;
    text-shadow: none;
    box-shadow: none;
  }

  .btn-success {
    background: #67b373;
    color: white;
    border: 1px solid #4c9858;
  }

  .dropdown-menu {
    a:hover .language {
      color: white;
    }
  }

  .dropdown-toggle, .btn, .dropdown-menu {
    &:first-letter {
      text-transform: capitalize;
    }

    background-image: none;

    .caret {
      margin-top: 11px;
    }

    .flag-language .language {
      font-family: Helvetica;
      color: #555;
      padding-top: 1px;
    }
  }
}

.product-edit-form > header .actions .btn-group {
  font-weight: 200;
}

.product-edit-form > header .btn-dropdown {
  .btn.dropdown-toggle {
    padding: 0;

    &:first-child {
      .display-flex();
    }

    &:not(:first-child) {
      margin-left: 0px;
      border-left: none;
    }

    .caret {
      margin: 15px 12px;
    }
  }
}


.btn-dropdown {
  &.enabled > a, & > .enabled {
    opacity: 1;
    background-color: #dae9de;
    color: #67b373;
    border: 1px solid #67b373;

    .caret {
      border-top-color: #67b373;
    }
  }

  &.disabled > a, & > .disabled {
    opacity: 1;
    background-color: #ededed;
    color: #ccc;
    border: 1px solid #ccc;

    .caret {
      border-top-color: #ccc;
    }
  }
}

.product-status {
  padding: 4px 0 4px 15px;
}

.updated-status {
  margin-top: 5px;
  transition: opacity .4s ease-in-out;

  .label-warning {
    color: #777;
    font-weight: 400;
    text-shadow: none;
    background-color: #fdd9b6;
    border-radius: 10px;
    padding-right: 7px;
  }

  .icon {
    position: relative;
    left: -2px;
    color: #fa9f47;
  }
}

.attribute-info {
  display: inline-block;
  min-width: 120px;
  padding-left: 10px;
  color: #777;
  > span {
    padding-left: 3px;
  }
}

.note-link-dialog {
  .modal-title {
    color: white;
    line-height: 12px;
  }
  .checkbox {
    input {
      width: 22px;
      margin-right: 5px;
    }
    label {
      line-height: 36px;
    }
  }
  .modal-footer .btn-primary {
    background-color: #7dbf16;
  }
}

.simple-select-field, .multi-select-field {
  .field-input {
    display: flex;

    .select-field {
      .flex(1);
    }

    .add-attribute-option {
      background: none;
      border-radius: 2px;
      height: 30px;
      line-height: 30px;
      border-color: #ddd;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.multi-select-field .btn.add-attribute-option {
  height: 34px;
  width: 34px;
  line-height: 34px;
}

.meta .family {
  flex-shrink: 0;
}

.comparison-elements-container {
  .media-uploader .preview .info .actions {
    display: none;
  }
}
