@import 'less/variables';
@import 'less/mixins';

/* Progress bars ******************************************************************************************************/

#progressbar {
  display: block;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 600px;
}
