@import 'less/variables';
@import 'less/mixins';

/* Progress bars ******************************************************************************************************/

#progressbar {
  display: block;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
  .progress-striped .bar {
    #gradient > .striped(@color-149bdf, -45deg);
  }
  .progress.active .bar {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
       -moz-animation: progress-bar-stripes 1s linear infinite;
            animation: progress-bar-stripes 1s linear infinite;
  }
}

@-webkit-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@-moz-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

.progress-disabled .bar,
.progress .bar-disabled {
  background-color: @color-ccc;
  background-image: -moz-linear-gradient(top, @color-bbb, @color-ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@color-bbb), to(@color-ccc));
  background-image: -webkit-linear-gradient(top, @color-bbb, @color-ccc);
  background-image: -o-linear-gradient(top, @color-bbb, @color-ccc);
  background-image: linear-gradient(to bottom, @color-bbb, @color-ccc);
  background-repeat: repeat-x;
}
