@import 'less/variables';
@import 'less/mixins';

/* Login Form *******************************************************************************************************/

.login-page {
  background: @signin-bg-color1; /* Old browsers */
  background: -moz-linear-gradient(top,  @signin-bg-color1 0, @signin-bg-color2 86%, @signin-bg-color3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  @signin-bg-color1 0,@signin-bg-color2 86%,@signin-bg-color3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  @signin-bg-color1 0,@signin-bg-color2 86%,@signin-bg-color3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#112539', endColorstr='#d1706a',GradientType=0 ); /* IE6-9 */
  background-image: url("/bundles/pimui/images/background_login.png");
  background-position: bottom center;
  background-size: cover;

  height: 100%;
  min-height: 280px;
  color: @akeneo-grey;
  a {
    color: @akeneo-grey;
  }
  #page {
    position: relative;
    top: 25%;
    #top-page {
      margin: -90px 0 0;
    }
  }

  h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    img {
      max-width: 240px;
    }
  }

  .title-box {
    margin-bottom: 80px;
  }

  .version-container {
    position: fixed;
    bottom: 45px;
    text-align: center;
    width: 100%;
    font-size: @font-size-12;
  }

  .form-signin, .form-reset, .alert {
    margin: 0 auto;
    max-width: 520px;
    margin-bottom: 10px;
  }
}

.form-signin, .form-reset {
  button.btn {
    text-transform: uppercase;
    font-size: @font-size-13;
    height: 38px;
    border-radius: 2px;
    margin-right: 0;
    margin-top: 0;
  }

  input[type="text"],
  input[type="password"] {
    padding: 0 18px;
    height: 38px;
    border-radius: 2px;
    background: @akeneo-grey;
    border: none;
    color: @color-042b48;
    font-size: @font-size-14;
    &:-webkit-autofill {
      background-color: @akeneo-grey !important;
      color: @gray !important;
      -webkit-box-shadow: 0 0 0 1000px @akeneo-grey inset !important;
      -webkit-text-fill-color: @color-042b48 !important;
    }
    &::-webkit-input-placeholder {
      color: @slate-grey;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: @font-size-15;
    line-height: 15px;
    margin: 0 0 6px;
  }
}

.form-signin {
  .remember-me, .signin-help {
    float:left;
    width: 50%;
    input[type="checkbox"] {
      width: auto;
    }
  }

  .signin-help {
    text-align: right;
    font-size: @font-size-13;
  }

  input[type="text"],
  input[type="password"] {
    width: 211px;
  }
}

.form-reset {
  input[type="text"] {
    width: 418px;
  }

  .cancel {
    float: right;
  }
}
