@import 'less/variables';

/** jstree ***********************************************************************************************************/
.jstree-default {
  height: 100%;
  overflow: auto;
}

.jstree.jstree-default {
  .jstree-hovered {
    background: none;
    border: none;
    color: @color-new-purple-medium;
    padding: 1px 2px;
  }
  
  .jstree-clicked {
    padding: 1px 2px;
  }
  
  li.jstree-open {
    > a:not(.jstree-loading) .jstree-icon {
      background: url("jstree/folder_standard_opened.png") 0 0 no-repeat;
    }
    
    > a.jstree-clicked {
      color: @color-new-purple-medium;
      background: none;
      border: none;
      
      .jstree-icon {
        background: url("jstree/folder_selected_opened.png") 0 0 no-repeat;
      }
    }
  }
  
  li.jstree-closed {
    > a:not(.jstree-loading) .jstree-icon {
      background: url("jstree/folder_standard_closed.png") 0 0 no-repeat;
    }
    
    > a.jstree-clicked {
      color: @color-new-purple-medium;
      background: none;
      border: none;
      
      .jstree-icon {
        background: url("jstree/folder_selected_closed.png") 0 0 no-repeat;
      }
    }
  }
  
  li.jstree-leaf {
    > a:not(.jstree-loading) .jstree-icon {
      background: url("jstree/folder_leaf.png") 0 0 no-repeat;
    }
    
    > a.jstree-clicked {
      color: @color-new-purple-medium;
      background: none;
      border: none;
      
      .jstree-icon {
        background: url("jstree/folder_selected_leaf.png") 0 0 no-repeat;
      }
    }
  }
  
  li.jstree-unclassified {
    > a:not(.jstree-loading) .jstree-icon {
      background: url("jstree/folder_unclassified.png") 0 0 no-repeat;
    }
    
    > a.jstree-clicked {
      color: @color-new-purple-medium;
      background: none;
      border: none;
      
      .jstree-icon {
        background: url("jstree/folder_selected_closed.png") 0 0 no-repeat;
      }
    }
  }
}

.root-unselectable .jstree-root > a > .jstree-checkbox {
  display: none;
}

.jstree-tree-toolbar {
  padding: 16px 20px;
  margin-bottom: 10px;
  background-color: @color-efefef;
  border: solid @color-ccc;
  border-width: 1px 0;
}

#nested-switch {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: @color-efefef;
  border: solid @color-ccc;
  border-width: 1px 0;
  
  .has-switch {
    margin: 5px;
  }
  
  label.control-label {
    padding-top: 9px;
    padding-left: 9px;
  }
}

.jstree li {
  line-height: 28px;
}

.jstree li.separated {
  margin-top: 20px;
  border-top: solid 1px @color-purple_dark;
}

/** modal */

.jstree-modal {
  .modal-body {
    padding: 0 15px;
    height: 400px;

    hr {
      margin: 10px 0;
    }

    .jstree-default {
      height: auto;
    }
  }
}
