<tr>
    <th class="AknGrid-headerCell AknGrid-headerCell--sixteen"><%- headers.identifiersLabel %></th>
    <th class="AknGrid-headerCell"><%- headers.attributeLabel %></th>
    <th class="AknGrid-headerCell AknGrid-headerCell--tight"><%- headers.franklinInsightsLabel %></th>
</tr>
<% for (franklinAttributeCode in identifiers) { %>
<tr class="AknGrid-bodyRow <%- getRowClass(identifiersStatuses[franklinAttributeCode]) %> ">
    <td class="AknGrid-bodyCell AknGrid-bodyCell--highlight AknGrid-bodyCell--sixteen">
        <%- __(`akeneo_franklin_insights.entity.identifier_mapping.fields.identifier_label.values.${franklinAttributeCode}`) %>
    </td>
    <td class="AknGrid-bodyCell">
        <div class="AknFormContainer AknFormContainer--inline attribute-selector" data-identifier="<%- franklinAttributeCode %>"></div>
    </td>
    <td class="AknGrid-bodyCell AknGrid-bodyCell--tight AknGrid-bodyCell--big">
        <%- __(`akeneo_franklin_insights.entity.identifier_mapping.fields.status.${identifiersStatuses[franklinAttributeCode]}`) %>
    </td>
</tr>
<% } %>
