<div class="span4">
    <h4></h4>
    <ul class="nav nav-list">
        <li class="tab active">
            <%= _.__("pim_datagrid.column_configurator.all_groups") %>
            <span class="badge badge-transparent pull-right"><%= columns.length %></span>
        </li>
        <% _.each(groups, function(group) { %>
        <li class="tab" data-value="<%= group.name %>">
            <%= group.name %>
            <span class="badge badge-transparent pull-right"><%= group.itemCount %></span>
        </li>
        <% }); %>
    </ul>
</div>

<div class="span4">
    <h4>
        <i class="icon-search"></i>
        <input type="search" placeholder="<%= _.__('pim_datagrid.column_configurator.search') %>"/>
    </h4>
    <ul id="column-list" class="connected-sortable">
        <% _.each(_.where(columns, {displayed: false}), function(column) { %>
        <li data-value="<%= column.code %>" data-group="<%= column.group %>">
            <i class="icon-th"></i><%= column.label %>
            <a href="javascript:void(0);" class="action pull-right" title="<%= _.__('pim_datagrid.column_configurator.remove_column') %>">
            <i class="icon-trash"></i>
            </a>
        </li>
        <% }); %>
    </ul>
</div>

<div class="span4">
    <h4>
        <%= _.__("pim_datagrid.column_configurator.displayed_columns") %>
        <button class="btn pull-right reset">
            <%= _.__("pim_datagrid.column_configurator.clear") %>
        </button>
    </h4>
    <ul id="column-selection" class="connected-sortable">
        <% _.each(_.sortBy(_.where(columns, {displayed: true}), 'position'), function(column) { %>
        <li data-value="<%= column.code %>" data-group="<%= column.group %>">
            <i class="icon-th"></i><%= column.label %>
            <a href="javascript:void(0);" class="action pull-right" title="<%= _.__('pim_datagrid.column_configurator.remove_column') %>">
            <i class="icon-trash"></i>
            </a>
        </li>
        <% }); %>
        <div class="alert alert-error hide"><%= _.__("datagrid_view.columns.min_message") %></div>
    </ul>
</div>
