<?php

namespace %namespace%;

/**
 *
 * @author    me <me@akeneo.com>
 * @copyright 2016 Akeneo SAS (http://www.akeneo.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
class %name%
{
}
