        <div class="span2 tree-sidebar">
            <div id="tree"></div>

            <div class="tree-toolbar">
                <div class="btn-group">
                    <button data-toggle="dropdown" id="add_item" class="btn-tree-toolbar dropdown-toggle">
                        <i class="icon-plus-sign"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="tree-create" href="#">Create tree</a></li>
                        <li><a id="segment-create" href="#">Create segment</a></li>
                    </ul>
                </div>
                
                <button id="segment-edit" class="btn-tree-toolbar"><i class="icon-edit"></i></button>
                <button id="segment-remove" class="btn-tree-toolbar"><i class="icon-trash"></i></button>
                <button id="sidebar-collapse" class="btn-tree-toolbar"><i class="icon-chevron-left"></i></button>
            </div>
        </div>
