{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}

    <div class="AknDefault-mainContent">
        {{ elements.page_header(
            {
                title: 'pim_dashboard.title'|trans,
                image: image is defined ? image : ''
            }
        ) }}

        {{ render(controller('pim_dashboard.controller.widget:listAction')) }}

        <div class="AknFooter">
            {% embed 'PimDashboardBundle:Dashboard:version.html.twig' %}{% endembed %}
            {% embed 'PimAnalyticsBundle:Update:last_patch.html.twig' %}{% endembed %}
        </div>
    </div>
    <script nonce="{{ js_nonce() }}">
        require(
            [
                'pim/common/breadcrumbs',
                'pim/fetcher-registry',
                'pim/form-builder',
                'pim/form/common/user-main-image'
            ],
            function(
                Breadcrumbs,
                FetcherRegistry,
                FormBuilder,
                UserMainImage
            ) {
                $(function() {
                    var breadcrumbs = new Breadcrumbs({
                        config: {
                            tab: 'pim-menu-activity',
                            item: 'pim-menu-activity-dashboard'
                        }
                    });
                    breadcrumbs.configure().then(function () {
                        breadcrumbs.render();
                        $('*[data-drop-zone="breadcrumbs"]').append(breadcrumbs.$el);
                    });

                    FetcherRegistry.initialize().done(function () {
                        FormBuilder.build('pim-menu-user-navigation').then(function (form) {
                            $('.user-menu').append(form.el);
                            form.render();
                        }.bind(this));
                    });

                    const userMainImage = new UserMainImage({ config: {} });
                    $('*[data-drop-zone="main-image"]').append(userMainImage.el);
                    userMainImage.render();
                });
            }
        );
    </script>
{% endblock %}
