<div>
    <div class="horizontal clearfix type">
        <select name="<%= name %>" class="filter-select-oro">
            <% _.each(choices, function (option) { %>
                <option value="<%= option.value %>"<% if (option.value == selectedChoice) { %> selected="selected"<% } %>><%= option.label %></option>
            <% }); %>
        </select>
    </div>
    <div>
        <span class="start"><input type="text" value="" class="<%= inputClass %> add-on" name="start" placeholder="<%- _.__('from') %>"></span>
        <span class="filter-separator">-</span>
        <span class="end"><input type="text" value="" class="<%= inputClass %> add-on" name="end" placeholder="<%- _.__('to') %>"></span>
    </div>
    <div class="oro-action">
        <div class="btn-group">
            <button class="btn btn-primary filter-update" type="button"><%- _.__('Update') %></button>
        </div>
    </div>
</div>
