<div class="AknFilterDate">
    <select class="AknFilterDate-select type" name="<%= name %>">
        <% _.each(choices, function (option) { %>
        <option value="<%= option.value %>"<% if (option.value == selectedChoice) { %> selected="selected"<% } %>><%= option.label %></option>
        <% }); %>
    </select>
    <div class="AknFilterDate-dates">
        <span class="AknFilterDate-start">
            <input type="text" value="" class="<%= inputClass %> add-on" name="start" placeholder="<%- _.__('from') %>" size="1">
        </span>
        <span class="AknFilterDate-separator">-</span>
        <span class="AknFilterDate-end">
            <input type="text" value="" class="<%= inputClass %> add-on" name="end" placeholder="<%- _.__('to') %>" size="1">
        </span>
    </div>
    <div class="AknButtonList AknButtonList--right">
        <button class="AknButtonList-item AknButton AknButton--apply filter-update" type="button"><%- _.__('Update') %></button>
    </div>
</div>
