<div class="AkbemFilterChoice choicefilter">
    <div class="AkbemFilterChoice-operator AkbemDropdown">
        <% if (emptyChoice) { %>
            <button type="button" class="AkbemDropdown-button AkbemDropdown-button--noRightBorder dropdown-toggle" data-toggle="dropdown">
                <%= selectedOperatorLabel %>
                <span class="AkbemDropdown-caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(operatorChoices, function (label, operator) { %>
                    <li<% if (selectedOperator == operator) { %> class="active"<% } %>>
                        <a class="operator_choice" href="#" data-value="<%= operator %>"><%= label %></a>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <input type="text" name="value" class="AkbemFilterChoice-field select-field">
    <button type="button" class="AkbemButton AkbemButton--success AkbemButton--little AkbemButton--noLeftRadius filter-update"><%- _.__('Update') %></button>
</div>
