<div class="AknFilterChoice choicefilter">
    <div class="AknFilterChoice-operator AknDropdown">
        <% if (emptyChoice) { %>
            <button type="button" class="AknActionButton AknActionButton--big AknActionButton--noRightBorder dropdown-toggle" data-toggle="dropdown">
                <%= selectedOperatorLabel %>
                <span class="AknCaret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(operatorChoices, function (label, operator) { %>
                    <li<% if (selectedOperator == operator) { %> class="active"<% } %>>
                        <a class="operator_choice" href="#" data-value="<%= operator %>"><%= label %></a>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <input type="text" name="value" class="AknTextField AknTextField--select2 AknTextField--noRadius AknFilterChoice-field select-field">
    <button type="button" class="AknFilterChoice-button AknButton AknButton--apply AknButton--noLeftRadius filter-update"><%- _.__('Update') %></button>
</div>
