<div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label control-label" for="pim_enrich_attribute_form_<%- fieldName %>">
        <%- fieldLabel %> <em><%- requiredLabel %></em>
    </label>
</div>
<div class="AknFieldContainer-inputContainer">
    <div class="field-input"></div>
</div>
<div class="AknFieldContainer-footer">
    <% _.each(errors, function(error) { %>
        <span class="AknFieldContainer-validationError">
            <i class="icon-warning-sign"></i>
            <span class="error-message"><%- error.message %></span>
        </span>
    <% }) %>
</div>
