<div class="AknFieldContainer-copyContainer copy-container">
    <input type="checkbox" class="copy-field-selector" <%- selected ? 'checked' : '' %>></input>
    <div class="<%- type %> AknFieldContainer-formField AknFieldContainer-formField--comparisonMode form-field">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label"><%- label %></label>
            <span class="AknFieldContainer-fieldInfo field-info">
                <% if (attribute.localizable || attribute.scopable) { %>
                    <span class="field-context">
                        <% if (attribute.scopable) { %> <span><%- context.scopeLabel %></span> <% } %>
                        <% if (attribute.localizable) { %> <span><%= i18n.getFlag(context.locale) %></span> <% } %>
                    </span>
                <% } %>
            </span>
        </div>
        <div class="field-input">
        </div>
    </div>
</div>
