<% if (!copying) { %>
    <div class="AknButton AknButton--grey AknButton--little start-copying"><%- _.__('pim_enrich.entity.product.btn.compare_translate') %></div>
<% } else { %>
    <div data-drop-zone="context-selectors" class="AknAttributeActions-contextSelectors context-selectors"></div>
    <div data-drop-zone="other-actions" class="AknAttributeActions-otherActions other-actions">
        <div data-drop-zone="copy-actions" class="AknAttributeActions-copyActions copy-actions">
            <div class="AknDropdown AknDropdownButton AknDropdownButton--little selection-dropdown">
                <a class="AknDropdownButton-button" data-toggle="dropdown" href="#">
                    <%- _.__('pim_enrich.entity.product.copy.select') %>
                    <div class="AknDropdownButton-caretContainer">
                        <span class="AknCaret"></span>
                    </div>
                </a>
                <ul class="AknDropdown-menu">
                    <li>
                        <a class="AknDropdown-menuLink select-all"><%- _.__('pim_enrich.entity.product.copy.all') %></a>
                        <a class="AknDropdown-menuLink select-all-visible"><%- _.__('pim_enrich.entity.product.copy.all_visible') %></a>
                        <a class="AknDropdown-menuLink select-none"><%- _.__('pim_enrich.entity.product.copy.none') %></a>
                    </li>
                </ul>
            </div>
            <div class="AknButton AknButton--little AknButton--success copy"><%- _.__('pim_enrich.entity.product.copy.copy') %></div>
            <div class="AknButton AknButton--little AknButton--grey stop-copying">&times;</div>
        </div>
    </div>
<% } %>
