<div class="copy-container">
    <input type="checkbox" class="copy-field-selector" <%- selected ? 'checked' : '' %>></input>
    <div class="<%- type %> form-field">
        <header>
            <label><%- label %></label>
            <span class="field-info pull-right">
                <% if (attribute.localizable || attribute.scopable) { %>
                    <span class="field-context">
                        <% if (attribute.scopable) { %> <span><%- context.scopeLabel %></span> <% } %>
                        <% if (attribute.localizable) { %> <span><%= i18n.getFlag(context.locale) %></span> <% } %>
                    </span>
                <% } %>
            </span>
        </header>
        <div class="field-input">
        </div>
    </div>
</div>
