parameters:
  level: 5
  paths:
    - %rootDir%/../../../components/tailored-export/back
  excludes_analyse:
    - %rootDir%/../../../components/tailored-export/back/tests/Specification
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
