@import './public/bundles/akeneopimruleengine/less/variables';

.AknRuleEngine {
  &-edit {
    overflow: auto;

    .rdw-editor-toolbar {
      border: 1px solid @AknBorderColor;
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0;

      a {
        color: @AknSlateGrey;
      }

      .rdw-editor-toolbar-blockType {
        .rdw-option-wrapper {
          font-family: FontAwesome;
          font-size: 0;

          &:before {
            content: "\f121";
            display: inline-block;
            speak: none;
            font-size: 17px;
          }
        }
      }
    }

    .rdw-editor-wrapper {
      width: calc((100vw - 580px) / 2);
      min-width: 300px;
    }

    .AknTextareaField {
      max-height: 250px;
    }

    *:not(.record-selector-container):not(.asset-selector-container) {
      & > .select2-container-multi .select2-choices {
        padding-right: 4px;
        padding-bottom: 4px;
        min-height: 40px;
      }

      & > .select2-container-multi .select2-choices .select2-search-field {
        height: 34px;
      }

      & > .select2-container-multi .select2-choices .select2-search-choice {
        margin-top: 4px;
        margin-left: 4px;
        height: 29px;
        line-height: 29px;
      }

      & > .select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close,
      & > .select2-container.select2-allowclear .select2-choice .select2-search-choice-close {
        top: 8px;
      }
    }

    .asset-selector-container, .record-selector-container {
      width: 460px;
      margin-left: -5px;
      margin-top: -5px;

      .asset-selector, .record-selector {
        &--compact {
          .select2-choices {
            .select2-search-choice {
              width: 300px;
            }
          }
        }

        .select2-choices {
          border-bottom: none;
          min-height: 50px !important;

          .select2-search-choice {
            border-radius: 2px;
            border-color: @AknBorderColor;

            .select2-result-label-bottom {
              color: @AknGrey140;
            }

            img {
              border: 1px solid @AknGrey60;
            }
          }

          .select2-search-field {
            height: 40px;
            background: url('/bundles/pimui/images/icon-down.svg') no-repeat 261px 10px;
            background-size: 17px;
            width: 300px;
            border-radius: 2px;
            border-color: @AknBorderColor;

            input {
              height: 36px;
            }
          }
        }
      }
    }
  }
}

.asset-selector-dropdown--rules,
.record-selector-dropdown--rules {
  width: 300px !important;
}

#edit-rules-form {
  .AknGrid {
    display: table;
  }

  .AknGrid-body {
    display: table-row-group;
  }

  .AknGrid-bodyRow {
    display: flex;
  }

  .AknGrid-bodyCell {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 17px;
    padding-bottom: 17px;

    &.AknGrid-bodyCell--tight {
      width: 44px;
    }
  }

  .AknGrid-bodyCell.AknRule {
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 49px;
  }

  .AknGrid-body .AknGrid-bodyRow:not(.AknGrid-bodyRow--thumbnail):not(.AknGrid-bodyRow--highlight):hover {
    background: white;
  }

  .actionList > * {
    background-image: url('/bundles/akeneopimruleengine/assets/illustrations/middle.svg');
    padding-left: 12px;
    margin-left: -12px;
    background-repeat: no-repeat;
    padding-bottom: 20px;

    &:last-child {
      background-image: url('/bundles/akeneopimruleengine/assets/illustrations/end.svg');
    }
  }

  .AknPriceList-item {
    width: auto;
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .AknTextField--error {
    border-color: @AknRed;
  }

  .AknTextField--glued {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
  }

  .AknNumberField--hideArrows {
    -moz-appearance: textfield;
  }
  .AknNumberField--hideArrows::-webkit-outer-spin-button,
  .AknNumberField--hideArrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .AknPriceList-currency--error {
    border-color: @AknRed;
  }
}

.clearfix {
  clear: both;
}

.AknFullPage-illustration--rules {
  background-image: url('/bundles/akeneopimruleengine/assets/illustrations/rules.svg');
  background-size: 256px 256px;
  height: 256px;
}

.AknTextField[type="number"] {
  line-height: initial;
}

.ActionGridItem {
  vertical-align: top;
  padding: 10px 0;

  &:nth-child(even) {
    border-left: 1px solid @AknPurple100;
    padding-left: 40px;
  }
}

.from-smart {
  background-image: url("/bundles/pimui/images/icon-info.svg");
  background-repeat: no-repeat;
  line-height: 16px;
  padding-left: 20px;
  margin: 10px 0 0 0;
  min-height: 16px;
  background-size: 16px;

  span {
    cursor: pointer;
    color: @AknBlue100;
    text-decoration: underline;
  }
}

.AknRulePreviewBox {
  background-color: @AknBlue10;
  border-radius: 3px;
  border: 1px solid @AknBlue40;
  font-size: 11px;
  padding: 10px;
  color: @AknGrey140;

  .AknRulePreviewBox-title {
    color: @AknBlue100;
    text-transform: uppercase;
  }
}

.AknNumberField--hideArrows {
  -moz-appearance: textfield;
}

.AknNumberField--hideArrows::-webkit-outer-spin-button,
.AknNumberField--hideArrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.AknTextareaField--hide {
  display: none;
}

.AknInputSizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  border: 1px solid @AknBlue100;
  border-radius: 2px;
  padding: 0 15px;
  margin: 0;
  height: 40px;

  &.stacked {
    padding: .5em;
    align-items: stretch;

    &::after,
    input,
    textarea {
      grid-area: 2 / 1;
    }
  }

  &::after,
  input,
  textarea {
    width: auto;
    min-width: 1em;
    grid-area: 1 / 2;
    font: inherit;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
  }

  input {
    line-height: 40px;
    height: 40px;
  }

  &::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
  }

  &:focus-within {
    textarea:focus,
    input:focus {
      outline: none;
    }
  }

  &--error {
    border-color: @AknRed;
  }
}
