@import './public/bundles/pimui/less/base/variables';

.select2-container.add-conditions-button {
  width: auto;
  border-radius: 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  height: 24px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  color: @AknGrey;
  border-color: @AknMediumGrey;
  background-color: @AknWhite;

  & > .select2-choice {
    height: auto;
    line-height: 22px;
    border: none;
    color: @AknGrey;
    padding-left: 0;

    &.select2-dropdown-open {
      background: @AknWhite;
    }

    & > .select2-chosen {
      margin-right: 0;
    }
    & > .select2-arrow {
      display: none;
    }
  }
}

.select2-drop.select2-with-searchbox {
  min-width: 450px;
  margin-top: -43px;
  border-top: 1px solid #ccd1d8;

  .select2-results {
    min-height: 50vh;

    li.select2-result-with-children > .select2-result-label {
      line-height: 36px;
      padding-left: 0;
      font-weight: normal;
      text-transform: uppercase;
      color: @AknGrey;
      cursor: default;
    }

    .select2-result-sub {
      line-height: 36px;

      & > li > .select2-result-label {
        padding-left: 0;
      }
    }
  }
}
