@import './public/bundles/akeneopimruleengine/less/variables';

#edit-rules-form {
  .select2-container .select2-choice > .select2-chosen {
    margin-right: 40px;
  }

  .select2-default {
    color: @AknGrey100 !important;
  }

  .add-conditions-button .select2-default {
    color: @AknGrey !important;
  }


  .select2-container.select2-allowclear .select2-choice .select2-chosen {
    width: calc(100% - 40px);
    margin-right: 40px;
    transition: width 0.2s ease;
  }
  .select2-container.select2-allowclear:hover .select2-choice .select2-chosen {
    width: calc(100% - 70px);
  }

  .select2-container.add-conditions-button {
    width: auto;
    border-radius: 16px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    height: 24px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    color: @AknGrey;
    border-color: @AknMediumGrey;
    background-color: @AknWhite;

    & > .select2-choice {
      height: auto;
      line-height: 22px;
      border: none;
      color: @AknGrey;
      padding-left: 0;

      &.select2-dropdown-open {
        background: @AknWhite;
      }

      & > .select2-chosen {
        margin-right: 0 !important;
      }

      & > .select2-arrow {
        display: none;
      }
    }
  }

  .select2-container.add-attribute-button {
    width: auto;
    border-radius: 16px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    height: 32px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 16px;
    border-width: 1px;
    border-style: solid;
    color: @AknPurple100;
    border-color: @AknPurple100;
    background-color: @AknWhite;

    & > .select2-choice {
      height: auto;
      line-height: 30px;
      border: none;
      color: @AknPurple100 !important;
      padding-left: 0;

      &.select2-dropdown-open {
        background: @AknWhite;
      }

      & > .select2-chosen {
        margin-right: 30px !important;
      }

      & > .select2-arrow {
        background-position-y: 7px;
        background-image: url('/bundles/akeneopimruleengine/assets/icons/icon-down-purple.svg');
        width: 30px;
      }
    }
  }
}

.select2-container.add-action-button {
  .select2-choice {
    border-color: @AknBlue100;
    color: @AknBlue100 !important;
    text-transform: uppercase;
    border-radius: 100px;
    height: 32px;
    line-height: 30px;

    .select2-arrow {
      background-image: url('/bundles/akeneopimruleengine/assets/icons/icon-down-blue.svg');
      background-position-y: 7px;
      background-position-x: 10px;
      width: 43px;
    }

    & > .select2-chosen {
      margin-right: 43px;
    }
  }
}

.select2-drop.operator-dropdown {
  min-width: 200px;
}

.select2-drop.add-action-dropdown {
  margin-top: -32px;
  min-width: 300px;
  border-top: 1px solid @AknBorderColor;
}

.select2-drop.add-conditions-dropdown,
.select2-drop.add-action-dropdown {
  min-width: 300px;
  margin-top: -43px;
  border-top: 1px solid #ccd1d8;

  .select2-results {
    min-height: 50vh;
  }
}

.select2-drop.add-attribute-dropdown {
  min-width: 300px;
}

.select2-drop.add-conditions-dropdown,
.select2-drop.add-action-dropdown,
.select2-drop.family-selector-dropdown,
.select2-drop.operator-dropdown,
.select2-drop.locale-dropdown,
.select2-drop.scope-dropdown,
.select2-drop.currency-dropdown,
.select2-drop.calculate-operator-dropdown,
.select2-drop.fields-selector-dropdown,
.select2-drop.add-attribute-dropdown,
.select2-drop.measurement-unit-selector-dropdown {
  .select2-results {
    font-size: 13px;

    .select2-highlighted,
    .select2-highlighted ul {
      color: @AknSlateGrey;
    }

    .select2-results .select2-result-label, .select2-result .select2-result-label {
      line-height: 34px;
    }

    li.select2-result-with-children > .select2-result-label {
      line-height: 34px;
      padding-left: 0;
      font-weight: normal;
      text-transform: uppercase;
      color: @AknGrey;
      cursor: default;
      background-color: white;
      margin-top: 10px;
      font-size: 13px;
    }

    li.select2-result-with-children > .select2-result-label:empty {
      margin: 0;
    }

    .select2-result-sub {
      line-height: 34px;

      & > li > .select2-result-label {
        padding-left: 0;
      }
    }

    .active-condition {
      color: @AknLightPurple;
      font-weight: bold;
      font-style: italic;
    }
  }
}

.select2-drop.calculate-operator-dropdown {
  min-width: 150px;
}

.AknRuleOperation-elementOperator > .select2-container > .select2-choice {
  border: none;
}

.select2-container-error > .select2-container > .select2-choices,
.select2-container-error > .select2-container > .select2-choice,
.select2-container-error > .asset-selector-container > .select2-container > .select2-choices > .select2-search-field,
.select2-container-error > .record-selector-container > .select2-container > .select2-choices > .select2-search-field {
  border: 1px solid @AknRed100;
}

.select2-glued-container-error > .select2-container > .select2-choices,
.select2-glued-container-error > .select2-container > .select2-choice,
.select2-glued-container-error > .asset-selector-container > .select2-container > .select2-choices > .select2-search-field,
.select2-glued-container-error > .record-selector-container > .select2-container > .select2-choices > .select2-search-field {
  border-color: @AknRed100;
}

.select2-container.select2-container-disabled > a.select2-choice,
.AknTextField[readonly]:not(.AknTextField--light),
.AknTextField[disabled]:not(.AknTextField--light) {
  background-color: @AknGrey20;
  color: @AknGrey100;
  background-image: url('/bundles/akeneopimruleengine/assets/icons/icon-lock.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 10px;
}

.select2-container-operation-field-option {
  border-color: @AknPurple100;
}

.select2-container-left-glued {
  .select2-choice {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.select2-container-as-option {
  .select2-chosen {
    text-align: right;
    text-transform: uppercase;
    color: @AknGrey100;

    .flag {
      display: none;
    }
  }
}
