@import './public/bundles/pimui/less/base/variables';

#edit-rules-form {
  .select2-container .select2-choice > .select2-chosen {
    margin-right: 40px;
  }
}

.select2-container.add-conditions-button {
  width: auto;
  border-radius: 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  height: 24px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  color: @AknGrey;
  border-color: @AknMediumGrey;
  background-color: @AknWhite;

  & > .select2-choice {
    height: auto;
    line-height: 22px;
    border: none;
    color: @AknGrey;
    padding-left: 0;

    &.select2-dropdown-open {
      background: @AknWhite;
    }

    & > .select2-chosen {
      margin-right: 0 !important;
    }
    & > .select2-arrow {
      display: none;
    }
  }
}

.select2-container.add-action-button {
  .select2-choice {
    border-color: @AknIllustrationBlue100;
    color: @AknIllustrationBlue100 !important;
    text-transform: uppercase;
    border-radius: 100px;
    height: 32px;
    line-height: 32px;

    .select2-arrow {
      background-image: url('/bundles/akeneopimruleengine/assets/icons/icon-down-blue.svg');
      background-position-y: 7px;
    }
  }
}

.select2-drop.operator-dropdown {
  min-width: 200px;
}

.select2-drop.add-action-dropdown {
  margin-top: -32px;
  min-width: 300px;
  border-top: 1px solid @AknBorderColor;
}

.select2-drop.add-conditions-dropdown, .select2-drop.fields-selector-dropdown {
  min-width: 300px;
  margin-top: -43px;
  border-top: 1px solid #ccd1d8;

  .select2-results {
    min-height: 50vh;
    font-size: 15px;

    .select2-highlighted,
    .select2-highlighted ul {
      color: @AknSlateGrey;
    }

    li.select2-result-with-children > .select2-result-label {
      line-height: 36px;
      padding-left: 0;
      font-weight: normal;
      text-transform: uppercase;
      color: @AknGrey;
      cursor: default;
      background-color: white;
    }

    .select2-result-sub {
      line-height: 36px;

      & > li > .select2-result-label {
        padding-left: 0;
      }
    }

    .active-condition {
      color: @AknLightPurple;
      font-weight: bold;
      font-style: italic;
    }
  }
}
