.AknSwitch .AknSwitch-text {
  position: absolute;
  margin-left: 74px;
  line-height: 34px;
  font-size: 13px;
  padding: 0;
  color: @AknGrey120;
}

.AknSwitch.AknSwitch--disabled .AknSwitch-text {
  color: @AknGrey80;
}
