@import './public/bundles/pimui/less/base/variables';

@AknWhite: #ffffff;
@AknGrey20: #f6f7fb;
@AknGrey70: #e8ebee;
@AknGrey80: #d9dde2; // @AknMediumGrey
@AknGrey100: #a1a9b7; // @AknGrey
@AknGrey120: #67768a; // @AknSlateGrey
@AknGrey140: #11324d; // @AknGrey
@AknRed100: #d4604f; // @AknRed
@AknPurple100: #9452ba; // @AknLightPurple
@AknPurple120: #764194; // @AknLightPurple
@AknBlue100: #5992c7; // @AknBlue
@AknBlue120: #47749f; // @AknBlue
@AknBlue140: #355777; // @AknBlue
@AknBlue10: #f5f9fc; // @AknBlue
@AknBlue40: #bdd3e9; // @AknBlue
