{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}
    <div id="system-user-role">
    </div>

    <script>
        require(
            [
                'jquery',
                'pim/form-builder',
                'pim/fetcher-registry'
            ],
            function (
                $,
                FormBuilder,
                FetcherRegistry
            ) {
                FetcherRegistry.initialize().done(function () {
                    FormBuilder.build('pim-user-role-index')
                        .then(function (form) {
                            form.setElement('#system-user-role').render();
                        });
                });
            });
    </script>
{% endblock %}
