<ul>
{% for fieldKey, fieldValue in value %}
    {% if fieldKey == 'auditData' %}
        {% if fieldValue.old|length %}
        {% for collKey, collValue in fieldValue.old %}
    <li>
        <strong>{{ collKey }}:</strong> {{ collValue|attribute_option_presenter(collKey) }}
    </li>
        {% endfor %}
        {% endif %}
    {% else %}
    <li>
        <strong>{{ fieldKey }}:</strong>
        {{ fieldValue.old|attribute_option_presenter(fieldKey) }}
    </li>
    {% endif %}
{% endfor %}
</ul>
