<div class="AknFieldContainer" data-code="axis">
    <div class="AknFieldContainer-header">
        <label for="axis" class="AknFieldContainer-label control-label required">
            <%- label %> <em><%- required %></em>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer">
        <input type="hidden" class="select-field" name="axis" id="axis">
        <span class="AknFieldContainer-iconsContainer icons-container">
            <i class="AknIconButton icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="<%- help %>"></i>
        </span>
    </div>
    <div class="AknFieldContainer-footer AknFieldContainer-validationErrors validation-errors">
        <% _.each(errors, function (error) { %>
        <span class="AknFieldContainer-validationError">
                <i class="icon-warning-sign"></i>
                <span class="error-message"><%- error.message %></span>
            </span>
        <% }) %>
    </div>
</div>
