<div class="AknFullPage AknFullPage--modal">
    <div class="AknFullPage-content">
        <div class="AknFullPage-left">
            <img src="bundles/pimui/images/illustration-attribute.svg" class="AknFullPage-image">
        </div>
        <div class="AknFullPage-right">
            <div class="AknFullPage-subTitle"><%- subTitleLabel %></div>
            <div class="AknFullPage-title"><%- titleLabel %></div>
            <div data-drop-zone="fields">
                <% if (undefined !== fields) { %>
                <%= fields %>
                <% } %>
            </div>
        </div>
    </div>
</div>
