<div class="AknFullPage AknFullPage--modal">
    <div class="AknFullPage-content">
        <div class="AknFullPage-left">
            <img src="bundles/pimui/images/<%- picture %>" class="AknFullPage-image">
        </div>
        <div class="AknFullPage-right">
            <div class="AknFullPage-subTitle"><%- subTitleLabel %></div>
            <div class="AknFullPage-title"><%- titleLabel %></div>
            <% if (typeof contentLabel !== 'undefined') { %>
                <div class="AknFullPage-description">
                    <%- contentLabel %>
                </div>
            <% } %>
            <div data-drop-zone="fields">
                <% if (null !== fields) { %>
                    <%= fields %>
                <% } %>
            </div>
            <% if (typeof displayGlobalErrors !== 'undefined' && errors.length > 0) { %>
                <div class="AknMessageBox AknMessageBox--danger global-errors">
                    <ul class="AknMessageBox-list">
                        <% _.each(errors, error => { %>
                            <li class="global-error"><%- error.message %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        </div>
    </div>
</div>
