{% if states %}
    <div style="display: none" id="widget-states-container">
        {% for stateId, state in states %}
            {% if state.url %}
                <div id="widget-restored-state-{{ stateId|default("none") }}">

                    {% render state.cleanUrl %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script type="text/javascript">
        require(['jquery', 'oro/dialog-widget', 'oro/dialog/state/model'],
        function($, DialogWidget, StateModel) {
            $(function(){
                {% for stateId, state in states %}
                var widget = new DialogWidget({
                    model: new StateModel({{ {'data': state, 'id': stateId}|json_encode|raw }})
                });
                widget.render();
                {% endfor %}
            });
        });
    </script>
{% endif %}