<div class="tab-pane tab-property {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {{ elements.accordion({
        'pane.accordion.general_properties': form_row(form.code),
        'pane.accordion.locale_values': form_row(form.label)
    }) }}
</div>
