<div class="tabsection-title"><%- label %></div>
<div class="tabsection-content">
    <div class="AknFormContainer AknFormContainer--withPadding">
        <% _.each(metrics, function (attribute, key) { %>
        <div class="AknFieldContainer">
            <div class="AknFieldContainer-header">
                <label class="AknFieldContainer-label control-label" for="<%- fieldBaseId + attribute.code %>">
                    <%- i18n.getLabel(attribute.labels, catalogLocale, attribute.code) %>
                </label>
            </div>
            <div class="AknFieldContainer-inputContainer">
                <select class="select2" id="<%- fieldBaseId + attribute.code %>">
                    <% isMetricConfigured = !_.isUndefined(conversionUnits[attribute.code]) %>
                    <option value="no_conversion" <%- (!isMetricConfigured) ? 'selected' : '' %>>
                        <%- doNotConvertLabel %>
                    </option>
                    <% _.each(_.keys(measures[attribute.metric_family].units), function (unit) { %>
                    <option value="<%- unit %>" <%- (isMetricConfigured && unit == conversionUnits[attribute.code]) ? 'selected' : '' %>>
                        <%- __(`pim_measure.units.${unit}`) %>
                    </option>
                    <% }) %>
                </select>
            </div>
        </div>
        <% }) %>
    </div>
</div>
