{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}
    <div class="row wizard-header">
        <ul class="wizard">
            {% spaceless %}
                {% for stepLabel in stepLabels|default([]) %}
                    <li>{{ stepLabel|default('step label')|trans }}</li>
                {% endfor %}
            {% endspaceless %}
        </ul>
    </div>
{% endblock %}

{% block head_script_component %}

    <script type="text/javascript" charset="utf-8">
        require(
            ['jquery', 'jquery.wizard'],
            function($) {
                $(function() {
                    $('.wizard').wizard({
                        currentStep: {{ currentStep }}
                    });
                });
            }
        );
    </script>

{% endblock %}
