{% set warningMessages = form.operation.vars.warningMessages %}
{% if warningMessages|length > 0 %}
    <div class="AknMessageBox AknMessageBox--alert alert alert-info">
        <ul>
            {% for message in warningMessages %}
                <li>{{ message.key|trans(message.options) }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
