parameters:
    database_driver:                      pdo_mysql
    database_host:                        localhost
    database_port:                        ~
    database_name:                        akeneo_pim
    database_user:                        akeneo_pim
    database_password:                    akeneo_pim
    locale:                               en
    secret:                               ThisTokenIsNotSoSecretChangeIt
    product_index_name:                   akeneo_pim_product
    product_proposal_index_name:          akeneo_pim_product_proposal
    product_model_index_name:             akeneo_pim_product_model
    product_and_product_model_index_name: akeneo_pim_product_and_product_model
    index_hosts:                          'localhost: 9200'
