parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     akeneo_pim
    database_user:     akeneo_pim
    database_password: akeneo_pim

    # MongoDB support
    #mongodb_server:   mongodb://localhost:27017
    #mongodb_database: akeneo_pim

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    # WebSocket server config
    websocket_host:    "127.0.0.1"
    websocket_port:    8080

    session_handler:   ~

    locale:            en_US
    default_locale:    default
    secret:            ThisTokenIsNotSoSecretChangeIt

    upload_dir:        %kernel.root_dir%/uploads/product

    installed:         true

    installer_data:    PimDemoBundle:demo_dev
    # use PimInstallerBundle:minimal for minimal data set
