parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     akeneo_pim
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_encryption: ssl
    mailer_auth_mode:  login
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en_US
    default_locale:    default
    secret:            ThisTokenIsNotSoSecretChangeIt

    upload_dir:        uploads/product

    batch_log_dir:     log
