<% if (!hasFamily) { %>
    <p>
        <%- _.__('pim_enrich.form.product.panel.completeness.info.no_family') %>
    </p>
<% } else if (_.isEmpty(completenesses) || hasFamilyChanged) { %>
    <p>
        <%- _.__('pim_enrich.form.product.panel.completeness.info.no_completeness') %>
    </p>
<% } else { %>
    <% _.each(completenesses, function(channel) { %>
        <% var ratio = (channel['stats']['complete'] / channel['stats']['total']) * 100; %>
        <div class="AknCompletenessPanel-block completeness-block">
            <header class="AknCompletenessPanel-header">
                <span class="AknCompletenessPanel-headerLocale channel" data-channel="<%- channel.channel %>"><%- channel.label %></span>
                <span class="AknCompletenessPanel-headerStats stats">
                    <%- Math.round(ratio) %>%
                </span>
            </header>
            <div class="AknCompletenessPanel-content content">
                <% _.each(channel['locales'], function(localeCompleteness) { %>
                    <% if (localeCompleteness.completeness) { %>
                        <div class="AknCompletenessPanel-channel">
                            <div class="AknCompletenessPanel-progressContainer">
                                <span class="AknCompletenessPanel-channelTitle channel" data-locale="<%- localeCompleteness.completeness.locale %>">
                                    <%- localeCompleteness.label %>
                                </span>
                                <span class="AknCompletenessPanel-progressRatio literal-progress"><%- localeCompleteness.completeness.ratio %>%</span>
                            </div>
                            <div class="AknCompletenessPanel-progress AknProgress AknProgress--micro progress <%- localeCompleteness.completeness.ratio === 100 ? 'AknProgress--apply' : 'AknProgress--warning' %>">
                                <div class="AknProgress-bar bar" data-ratio="<%- localeCompleteness.completeness.ratio %>" style="width: <%- localeCompleteness.completeness.ratio %>%;"></div>
                            </div>
                            <% if (localeCompleteness.completeness.missing.length > 0) { %>
                                <div class="AknCompletenessPanel-missing missing">
                                    <% missingValuesLabel %> <%- localeCompleteness.completeness.missing.length %>
                                </div>
                            <% } %>
                        </div>
                    <% }%>
                <% }); %>
            </div>
        </div>
    <% }); %>
<% } %>
