<% if (!hasFamily) { %>
    <p>
        <%- _.__('pim_enrich.form.product.panel.completeness.info.no_family') %>
    </p>
<% } else if (_.isEmpty(completenesses) || hasFamilyChanged) { %>
    <p>
        <%- _.__('pim_enrich.form.product.panel.completeness.info.no_completeness') %>
    </p>
<% } else { %>
    <% _.each(completenesses, function(locale) { %>
        <% var ratio = (locale['stats']['complete'] / locale['stats']['total']) * 100; %>
        <div class="AknCompletenessPanel-block completeness-block" data-closed="<%- (100 === ratio || locale['locale'] !== catalogLocale) ? 'true' : 'false' %>">
            <header class="AknCompletenessPanel-header">
                <span class="AknCompletenessPanel-headerLocale locale" data-locale="<%- locale['locale'] %>"><%= i18n.getFlag(locale['locale'], false) %> <%- _.findWhere(locales, {code: locale['locale']}).language %></span>
                <span class="AknCompletenessPanel-headerStats stats">
                    <%- ratio %>%
                </span>
            </header>
            <div class="AknCompletenessPanel-content content">
                <% _.each(locale['channels'], function(channelCompleteness) { %>
                    <% if (channelCompleteness.completeness) { %>
                        <div class="AknCompletenessPanel-channel">
                            <div class="AknCompletenessPanel-progressContainer">
                                <span class="AknCompletenessPanel-channelTitle channel" data-channel="<%- channelCompleteness.completeness.channel %>">
                                    <%- i18n.getLabel(_.findWhere(channels, {code: channelCompleteness.completeness.channel}).labels, catalogLocale, channelCompleteness.completeness.channel) %>
                                </span>
                                <span class="AknCompletenessPanel-progressRatio literal-progress"><%- channelCompleteness.completeness.ratio %>%</span>
                            </div>
                            <div class="AknCompletenessPanel-progress AknProgress AknProgress--micro progress <%- channelCompleteness.completeness.ratio === 100 ? 'AknProgress--apply' : 'AknProgress--warning' %>">
                                <div class="AknProgress-bar bar" data-ratio="<%- channelCompleteness.completeness.ratio %>" style="width: <%- channelCompleteness.completeness.ratio %>%;"></div>
                            </div>
                            <div class="AknCompletenessPanel-missing missing">
                                <% if (channelCompleteness.completeness.missing !== 0) { %>
                                    <%- _.__('pim_enrich.form.product.panel.completeness.missing_values') %>:
                                        <span class="missing-attributes">
                                            <% _.each(channelCompleteness.missing, function(missing, i) { %>
                                                <% if (0 !== i) { %> | <% } %>
                                                <a href="javascript:void(0);" data-attribute="<%- missing.code %>" data-locale="<%- locale['locale'] %>" data-channel="<%- channelCompleteness.completeness.channel %>"><%- i18n.getLabel(missing.labels, catalogLocale, missing.code) %></a>
                                            <% }) %>
                                        </span>
                                    <% } %>
                                <% if (0 === channelCompleteness.completeness.missing && channelCompleteness.missing.length > 0) { %>
                                    <span class="AknBadge AknBadget--important">Completeness error</span>
                                <% } %>
                            </div>
                        </div>
                    <% }%>
                <% }); %>
            </div>
        </div>
    <% }); %>
<% } %>
