<header>
    <ul class="nav nav-tabs form-tabs">
        <% _.each(tabs, function (tab) { %>
            <li <% if (currentTab === tab.code) { %> class="active"<% } %> data-tab="<%- tab.code %>">
                <a href="javascript:void(0);"><%- tab.label %></a>
            </li>
        <% }); %>
    </ul>
</header>
<div class="form-container <%- fullPanel ? 'full-panel' : '' %>">
    <div data-drop-zone="container" class="tab-container tab-content"></div>
    <div data-drop-zone="panels" class="panels"></div>
</div>
