<div class="product-edit-form">
    <header>
        <div>
            <div class="product-title">
                <span class="product-label"><%= product.meta.label %></span>
            </div>
            <div class="actions">
            </div>
        </div>
        <div class="meta">
            <% if (product.meta.created) { %><span>Created: <%= product.meta.created.logged_at %> By <%= product.meta.created.author %></span><% } %>
            <% if (product.meta.updated) { %><span>Last update: <%= product.meta.updated.logged_at %> By <%= product.meta.updated.author %></span><% } %>
        </div>
    </header>
</div>
