<div class="product-edit-form">
    <header>
        <div>
            <div class="product-title">
                <span class="product-label">Sony SRS-BTV25</span>
            </div>
            <div class="actions">
                <button class="btn" id="get-data">get data</button>
            </div>
        </div>
        <div class="meta">
            <span>Family: Tshirt <i class="icon-pencil"></i></span>
            <span>Created: 2015-03-12 08:11:27 By admin</span>
            <span>Last update: 2015-03-12 08:11:27 By admin</span>
        </div>
    </header>
</div>
