<div class="history-block">
    <table class="AknGrid expanded">
        <thead>
            <tr>
                <th class="AknGrid-headerCell"></th>
                <th class="AknGrid-headerCell version"><%- _.__('pim_enrich.entity.product.history.version') %></th>
                <th class="AknGrid-headerCell author"><%- _.__('pim_enrich.entity.product.history.author') %></th>
                <th class="AknGrid-headerCell logged-at"><%- _.__('pim_enrich.entity.product.history.logged_at') %></th>
                <th class="AknGrid-headerCell changes"><%- _.__('pim_enrich.entity.product.history.modified') %></th>
                <% if (hasAction) { %><th class="AknGrid-headerCell actions"><%- _.__('pim_enrich.entity.product.history.actions') %></th><% } %>
            </tr>
        </thead>
        <tbody>
            <% _.each(versions, function(version) { %>
                <tr data-version="<%- version.version %>" data-version-id="<%- version.id %>" class="AknGrid-bodyRow product-version">
                    <td class="AknGrid-bodyCell">
                        <div class="version-expander AknGrid-expand"></div>
                    </td>
                    <td class="AknGrid-bodyCell version"><span class="AknButton AknButton--grey AknButton--round"><%- version.version %></span></td>
                    <td class="AknGrid-bodyCell AknGrid-bodyCell--highlight author"><%- version.author %><%- version.context ? ' (' + version.context + ')' : '' %></td>
                    <td class="AknGrid-bodyCell logged-at"><%- version.logged_at %></td>
                    <td class="AknGrid-bodyCell AknGrid-bodyCell--truncatable changes"><div class="AknGrid-truncatable"><%- _.keys(version.changeset).join(', ') %></div></td>
                    <% if (hasAction) { %><td class="AknGrid-bodyCell actions"></td><% } %>
                </tr>
                <tr class="AknGrid-bodyRow AknGrid-bodyRow--withoutTopBorder changeset hide">
                    <td class="AknGrid-bodyCell"></td>
                    <td class="AknGrid-bodyCell"></td>
                    <td class="AknGrid-bodyCell" colspan="<%- hasAction ? '4' : '3' %>">
                        <table class="AknGrid table-history-details">
                            <tbody>
                                <% _.each(version.changeset, function(value) { %>
                                    <tr class="AknGrid-bodyRow">
                                        <td class="AknGrid-bodyCell AknGrid-bodyCell--highlight AknGrid-bodyCell--withoutBottomBorder property" colspan="2"><%= value.label %></td>
                                    </tr>
                                    <tr class="AknGrid-bodyRow">
                                        <td class="AknGrid-bodyCell AknGrid-bodyCell--withoutTopBorder"><span class="AknDiff--remove"><%- _.__('pim_enrich.entity.product.history.old_value') %>:</span> <span class="old-values"><%- value.old %></span></td>
                                        <td class="AknGrid-bodyCell AknGrid-bodyCell--withoutTopBorder"><span class="AknDiff--add"><%- _.__('pim_enrich.entity.product.history.new_value') %>:</span> <span class="new-values"><%- value.new %></span></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
