<a class="AknActionButton<% if (displayInline) { %> AknActionButton--big AknActionButton--noLeftBorder<% } %>" data-toggle="dropdown" href="#">
    <%= i18n.getFlag(currentLocale.code, false) %> <%- currentLocale.language %>
    <span class="AknActionButton-caret AknCaret"></span>
</a>
<ul class="AknDropdown-menu">
    <% _.each(locales, function (locale) { %>
        <li><a class="AknDropdown-menuLink<% if (currentLocale.code === locale.code) { %> AknDropdown-menuLink--active<% } %>" data-locale="<%- locale.code %>"><%= i18n.getFlag(locale.code, false) %> <%- locale.language %></a></li>
    <% }); %>
</ul>
