<a class="AknActionButton" data-toggle="dropdown" href="#">
    <%- currentScope %>
    <span class="AknActionButton-caret AknCaret"></span>
</a>
<ul class="AknDropdown-menu">
    <% _.each(channels, function (scope) { %>
        <li>
            <a class="AknDropdown-menuLink"
               data-scope="<%- scope.code %>"
               data-label="<%- i18n.getLabel(scope.labels, catalogLocale, scope.code) %>">
                <%- i18n.getLabel(scope.labels, catalogLocale, scope.code) %>
            </a>
        </li>
    <% }); %>
</ul>
