{% extends 'BapUIBundle::layout.html.twig' %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/pimui/css/main-pim.css') }}" />
{% endblock %}

{% block main_menu %}
    <div id="main-menu-pim" class="ui-corner-all">
        {{ knp_menu_render('PimUIBundle:Builder:mainMenu') }}
    </div>
{% endblock %}

