<!-- <button class="toggle">Toggle</button> -->

<div class="family-mapping">
    <div class="family-selector">
        <h2>
            <%- __('akeneo_franklin_insights.entity.attributes_mapping.module.index.family_selector.title') %>
        </h2>
        <div
            class="AknFormContainer AknFormContainer--withPadding AknFormContainer--small"
            data-drop-zone="family-selector"
        ></div>
        <div data-drop-zone="family-status"></div>
    </div>

    <div class="family-progress" data-drop-zone="family-progress"></div>
</div>

<div data-drop-zone="mapping"></div>

<div data-drop-zone="toolbar"></div>
