<h2>
    <%- __('akeneo_franklin_insights.entity.attributes_mapping.module.index.family_progress.title') %>
</h2>
<p class="description">
    <%- __('akeneo_franklin_insights.entity.attributes_mapping.module.index.family_progress.description') %>
</p>

<div class="progress">
    <%- __('akeneo_franklin_insights.entity.attributes_mapping.module.index.family_progress.mapped_attribute_count', {
    count: `${mappedAttributeCount}/${attributeCount}` }) %>
</div>
<div class="AknProgress AknProgress--apply AknProgress--flat">
    <div class="AknProgress-bar" style="<%= `width: ${mappedAttributeCount / attributeCount * 100}%;` %>"></div>
</div>
