<div class="AknFilterBox AknFilterBox--search" data-drop-zone="filters"></div>
<table class="AknGrid AknGrid--unclickable">
    <tr class="AknGrid-header">
        <th class="AknGrid-headerCell AknGrid-headerCell--sixteen"><%- franklinAttribute %></th>
        <th class="AknGrid-headerCell"><%- catalogAttribute %></th>
        <th class="AknGrid-headerCell AknGrid-headerCell--tight"><%- attributeMappingStatus %></th>
    </tr>
    <% Object.keys(mapping).forEach((franklin_attribute_code) => { %>
        <tr class="AknGrid-bodyRow AknGrid-bodyRow--sixteen searchable-row line"
            data-franklin-attribute="<%- mapping[franklin_attribute_code].franklinAttribute.label %>"
            data-status="<%- mapping[franklin_attribute_code].status %>"
        >
            <td class="AknGrid-bodyCell AknGrid-bodyCell--flex AknGrid-bodyCell--highlight searchable-value">
                <%- mapping[franklin_attribute_code].franklinAttribute.label %>
                <div class="AknDropdown">
                    <div class="AknIconButton AknIconButton--value AknGrid-onHoverElement summary-button" data-toggle="dropdown"></div>
                    <div class="AknDropdown-menu AknDropdown-menu--offset">
                        <div class="AknDropdown-menuTitle">
                            <%= __(valuesSummaryKey, {
                                label: '<span class="AknDropdown-menuTitle--soft">' + escapeHtml(mapping[franklin_attribute_code].franklinAttribute.label) + '</span>'
                            }) %>
                        </div>
                        <div class="AknColumn-block AknDropdown-menuSection">
                            <div class="AknColumn-subtitle"><%- type %></div>
                            <div class="AknColumn-value"><%- mapping[franklin_attribute_code].franklinAttribute.type %></div>
                        </div>
                        <% mapping[franklin_attribute_code].franklinAttribute.summary.forEach((summaryItem) => { %>
                            <div class="AknDropdown-menuLink AknDropdown-menuLink--inactive"><%- summaryItem %></div>
                        <% }) %>
                    </div>
                </div>
            </td>
            <td class="AknGrid-bodyCell attribute-selector" data-franklin-attribute-code="<%- franklin_attribute_code %>">
            </td>
            <td class="AknGrid-bodyCell AknGrid-bodyCell--tight AknGrid-bodyCell--big">
                <%- statuses[mapping[franklin_attribute_code].status] %>
            </td>
        </tr>
    <% }) %>
</table>
