#tags-overlay #tag-list,
.tag-view  #tag-list {
    margin-bottom: 0;
}
#tag-sort-actions {
    margin-top: 5px;
}
#tag-sort-actions a.active:hover,
#tag-sort-actions a.active {
    cursor: default;
    text-decoration: none;
    color: #777777;
}
#tags-overlay #tag-list span.label.with-button {
    position: relative;
    padding-right: 17px;
}
.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 3px;

    font-size: 1px;
    outline: none;
    background: url("/bundles/orotag/img/select2.png") right top no-repeat;
}

