<form id="create-status-form" action="{{ path('oro_user_status_create') }}" method="POST" class="form-status">
    {{ form_widget(form) }}
    <div class="form-row">
        <button class="btn btn-large btn-primary" type="submit">Save</button>
    </div>
</form>
