version: '3.4'

services:
  php:
    volumes:
      - './:/srv/pim'
      - '${HOST_COMPOSER_HOME:-~/.composer}:/var/www/.composer'
      - '/tmp:/tmp'

  mysql:
    tmpfs:
      - '/tmp'
      - '/var/lib/mysql'
