version: '3.4'

services:
  mysql:
    tmpfs:
      - '/tmp'
      - '/var/lib/mysql'

  elasticsearch:
    tmpfs:
      - '/tmp'
      - '/usr/share/elasticsearch/data'

  selenium:
    tmpfs:
      - '/tmp'
