{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}StrixOS - Test searches{% endblock %}

{% block content %}

    <table class="grid">
        <thead>
          <tr>
            <th>Description</th>
            <th>Time</th>
            <th>Memory</th>
            <th>Nb Results</th>
          </tr>
        </thead>
        <tbody>
        {% for search in searches %}
          <tr class="{% if loop.index is odd %} odd {% else %} even {% endif %}">
            <td>{{search.description}}</td>
            <td>{{search.time}}</td>
            <td>{{search.memory}}</td>
            <td>{{search.results}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
