@import '../../base/variables';

.AknFilterDate {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  width: 200px;

  &-select {
    height: @AknLittleButtonSize;
    margin-bottom: 5px;
    width: auto; // This rule have to be removed when "select { width: 220px; }" will be removed.
    border-radius: 2px;
  }

  &-dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &-buttonContainer {
    align-self: flex-end;
  }

  &-dateInput {
    height: @AknLittleButtonSize;
    line-height: @AknLittleButtonSize;
    border: 1px solid @AknBorderColor;
    padding: 0 5px;
    width: 100%;
    border-radius: 2px;
  }

  &-separator {
    height: @AknLittleButtonSize;
    line-height: @AknLittleButtonSize;
    margin: 0 5px;
  }

  &-start, &-end {
    flex-grow: 1;
  }
}
