@import '../../base/variables';

.AknFilterBox {
  @searchHeight: 44px;
  background-color: white;

  &-addFilterButton {
    background: url("../../../images/icon-plus.svg") no-repeat right center;
    background-size: 19px;
    width: ~"calc(100% + 10px)" !important; // Width is set by multiselect
    padding: 0 !important; // Padding is set by multiselect
    border: none;
    height: 30px;
    font-size: @AknFontSizeBig;
    color: @AknDarkBlue;
    transition: color 0.1s ease-in;
  }

  &--search:not(:empty) {
    min-height: @searchHeight;
    display: flex;
    width: 100%;
    border-bottom: 1px solid @AknBorderColor;
    justify-content: flex-end;
    padding: 0 0 1px 0;
    background: none;
    margin: 10px 0 10px 0;
    flex-wrap: wrap;
    background: white;
  }

  &--sticky {
    position: sticky;
    background: white;
    padding: 10px 0 1px 0;
    margin: -10px 0 10px 0;
    top: 0;
    z-index: 1;
  }

  &--sticky:not(:empty) {
    top: -28px;
    padding: 0;
    margin-bottom: 0;
  }

  &-search {
    height: @searchHeight;
    line-height: @searchHeight;
    color: @AknDefaultFontColor;
    font-size: 15px;
    border: none;
    background: url("../../../images/icon-search.svg") no-repeat 0 center;
    padding-left: 30px;
    flex-grow: 1;
    margin-top: @AknPaddingLeftColumn;

    &:focus {
      outline: none;
    }
  }

  &-searchContainer {
    order: -1;
    flex-grow: 1;
    display: flex;
    margin-top: -20px;
  }

  &-filterContainer {
    cursor: pointer;
    position: relative;
    margin-top: 20px;
  }

  &--search &-filterContainer {
    margin-top: 10px;
  }

  &-filter {
    margin: 0 0 @AknPaddingLeftColumn 0;
  }

  &-disableFilter {
    position: absolute;
    right: -30px;
    top: 6px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  &-filterContainer:hover &-disableFilter {
    opacity: 1;
  }

  &-filterLabel {
    display: block;
    color: @AknGrey;
    text-transform: uppercase;
    font-size: @AknDefaultFontSize;
    white-space: nowrap;
  }

  &-filterCriteria {
    color: @AknDarkBlue;
    font-size: @AknDefaultFontSize;

    &.ui-multiselect {
      // jQuery select adds style for the button, we need to remove it for the filters.
      width: auto !important;
      padding: 0 !important;
      border: none;
      background: none;
      line-height: 0;
      height: 0;
    }
  }

  &--search &-filter {
    display: flex;
    height: @searchHeight;
    line-height: @searchHeight;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0 0 0 20px;
  }

  &--search &-filterCriteria {
    color: @AknLightPurple;
    height: @searchHeight;
    line-height: @searchHeight;
    display: inherit;
  }

  &--search &-filterCaret {
    display: inline-block;
    width: 12px;
    height: @searchHeight;
    background: url("../../../images/jstree/icon-down.svg") no-repeat 0 center;
    background-size: 12px;
    margin-left: 3px;
  }

  &--search &-filterLabel {
    text-transform: none;

    &:after {
      content: ' : ';
      margin-right: 3px;
      color: @AknDefaultFontColor;
    }
  }

  &--search &-filterContainer {
    margin-right: 0;
  }

  &--search &-disableFilter {
    display: none;
  }

  &--search &-list {
    margin-right: 30px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &--search &-addFilterButton {
    line-height: @AknLittleButtonSize;
    min-height: @searchHeight;
    min-width: @searchHeight;
    border: none;
    order: -1;
    width: auto !important; // The width is updated by JS method.
    background-color: white;
    background: url("../../../images/icon-filters.svg") no-repeat left 50%;
    flex-grow: 1;
    padding-left: 35px !important; // The padding is updated by JS method.
    margin-left: 10px;
    margin-top: 10px;
  }
}
