@import '../../base/variables';

.AknFilterMetric {
  display: flex;
  padding: 0 5px;

  &-field {
    height: @AknLittleButtonSize;
    border: 1px solid @AknBorderColor;
    line-height: @AknLittleButtonSize;
    padding: 0 5px;
  }
}
