@import '../../base/variables';

.AknFilterChoice {
  display: flex;
  padding: 0 5px;

  &-operator {
    flex-shrink: 0;
  }

  &-field {
    min-width: 150px;
  }

  &-button {
    flex-shrink: 0;
  }
}
