@import '../../base/variables';

.AknGridToolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;

  &-left {
    display: flex;
    flex-grow: 1;
  }

  &-center {
    flex-grow: 1;
  }

  &-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &-pageSize {
    display: flex;
    line-height: @AknLittleButtonSize - 2px;
  }
  
  &-actionsPanel {
    display: flex;
  }

  &-actionButton {
    min-width: @AknLittleButtonSize - 2px;
    margin-left: 5px;
    text-align: center;
  }

  &-left &-actionButton:first-child {
    margin-left: 0;
  }
}
