@import '../../base/variables';

.AknGridsLine {
  @margin: 10px;

  display: flex;
  margin: @margin 0;

  &-item {
    border: 10px solid lighten(@AknGrey, 30%);
    transition: border 0.2s ease;
    flex-grow: 1;

    &:hover {
      border-color: lighten(@AknGrey, 25%);
    }
  }

  &-item + &-item {
    margin-left: @margin;
  }
}
