{% extends 'PimEnrichBundle:MassEditAction:configure/layout.html.twig' %}

{% block formContent %}

    <div id="product-edit-form">
    </div>

    {{ form_widget(form.operation.values) }}

    <script>
        require(
                [
                    'jquery',
                    'pim/fetcher-registry',
                    'pim/form-builder',
                    'pim/product-manager',
                    'pim/user-context',
                    'pim/dialog',
                    'oro/mediator',
                    'pim/error',
                    'oro/navigation'
                ],
                function (
                        $,
                        FetcherRegistry,
                        FormBuilder,
                        ProductManager,
                        UserContext,
                        Dialog,
                        mediator,
                        Error,
                        Navigation
                ) {
                    $(function() {
                        var product = {
                            meta: {},
                            values: {}
                        };

                        FetcherRegistry.initialize().done(function () {
                            FormBuilder.build('pim-mass-product-edit-form').then(function (form) {
                                form.setData(product);
                                mediator.trigger('pim_enrich:form:entity:post_fetch', product);
                                form.setElement('#product-edit-form').render();
                            });
                        });
                    });
                });
    </script>
{% endblock %}
