{% extends 'PimEnrichBundle:MassEditAction:configure/layout.html.twig' %}

{% block formContent %}

    <div id="product-edit-form">
    </div>

    {{ form_widget(form.operation.values) }}

    <script>
        require(
                [
                    'jquery',
                    'pim/fetcher-registry',
                    'pim/form-builder',
                    'oro/mediator'
                ],
                function (
                    $,
                    FetcherRegistry,
                    FormBuilder,
                    mediator
                ) {
                    $(function () {
                        var userData = "{{ form.vars.data.getValues|escape('js') }}";
                        var errors = "{{ form.vars.data.getErrors|escape('js') }}";
                        errors = '' !== errors ? JSON.parse(errors) : {};

                        var product = {
                            meta: {},
                            values: '' !== userData ? JSON.parse(userData) : {}
                        };

                        FetcherRegistry.initialize().done(function () {
                            FormBuilder.build('pim-mass-product-edit-form').then(function (form) {
                                form.setData(product);
                                mediator.trigger('pim_enrich:form:entity:post_fetch', product);
                                form.setElement('#product-edit-form').render();

                                var event = {
                                    sentData: product,
                                    response: errors
                                };

                                if (!_.isEmpty(errors)) {
//                                    form.trigger('pim_enrich:form:entity:validation_error', event);
                                    form.trigger('pim_enrich:form:entity:bad_request', event);
                                }
                            });
                        });
                    });
                });
    </script>
{% endblock %}
