<label class="control-label required" for="pim_enrich.export.product.filter.attributes"><%- __('pim_enrich.export.product.filter.attributes.title') %></label>
<div class="controls">
    <div class="flex-space-between input-like <%- !isEditable ? 'disabled' : '' %>">
        <span class="form-control">
            <%- labelInfo %>
        </span>
        <% if (isEditable) { %>
        <div class="input-group-btn">
            <button type="button" class="btn btn-small edit icons-holder-text">
                <i class="icon-pencil"></i><%- labelEdit %>
            </button>
        </div>
        <% } %>
    </div>
    <div class="icons-container">
        <i class="icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="<%- __('pim_enrich.export.product.filter.attributes.help') %>"></i>
    </div>
</div>
