<% _.each(archives, function (archive, archiver) { %>
    <% if (_.size(archive.files) === 1) { %>

        <% _.each(archive.files, function (file, key) { %>
        <a class="AknButton AknButton--grey AknButton--withIcon AknButtonList-item" title="<%- __(archive.label) %>"
           href="<%- generateRoute({id: executionId, archiver: archiver, key: key }) %>">
            <i class="AknButton-icon icon-download-alt"></i> <%- __(archive.label) %>
        </a>
        <% }); %>

    <% } else { %>

        <div class="AknDropdownButton AknDropdownButton--grey AknDropdown AknButtonList-item">
            <a class="AknDropdownButton-button" data-toggle="dropdown" href="#">
                <%- __(archive.label) %>
                <span class="AknDropdownButton-caretContainer">
                    <span class="AknCaret AknCaret--big AknCaret--inverse caret"></span>
                </span>
            </a>
            <ul class="AknDropdown-menu dropdown-menu">
                <% _.each(archive.files, function (file, key) { %>
                <li>
                    <a class="AknDropdown-menuLink"
                       href="<%- generateRoute({id: executionId, archiver: archiver, key: key }) %>">
                        <%- key %>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>

    <% } %>
<% }); %>
