<div class="AknDefault-mainContent entity-edit-form edit-form">
    <div data-drop-zone="sequential"></div>
    <header class="AknTitleContainer">
        <div class="AknTitleContainer-backContainer" data-drop-zone="back"></div>
        <div class="AknTitleContainer-contentContainer">
            <div class="AknTitleContainer-mainLine">
                <div class="AknTitleContainer-titleContainer" data-drop-zone="title">
                    <div class="AknTitleContainer-titleButtons AknButtonList" data-drop-zone="title-buttons"></div>
                </div>
                <div class="AknTitleContainer-rightButtons" data-drop-zone="buttons"></div>
            </div>
            <div class="AknTitleContainer-metaLine">
                <div class="AknTitleContainer-meta meta" data-drop-zone="meta"></div>
                <div class="AknTitleContainer-state" data-drop-zone="state"></div>
            </div>
        </div>
    </header>
    <div data-drop-zone="content" class="content"></div>
</div>
