<div style="display: none">
    <div data-drop-zone="back"></div>
    <div data-drop-zone="meta"></div>
</div>

<div class="AknDefault-contentWithColumn" data-drop-zone="column">
    <div class="AknDefault-mainContent entity-edit-form edit-form">
        <div data-drop-zone="sequential"></div>
        <header class="AknTitleContainer navigation">
            <div class="AknTitleContainer-imageContainer"></div>
            <div class="AknTitleContainer-mainContainer">
                <div class="AknTitleContainer-breadcrumbs" data-drop-zone="breadcrumbs"></div>
                <div class="AknTitleContainer-title" data-drop-zone="title"></div>
                <div class="AknTitleContainer-state" data-drop-zone="state"></div>
            </div>
            <div class="AknTitleContainer-buttonsContainer">
                <div class="AknTitleContainer-rightButtons" data-drop-zone="buttons"></div>
                <div class="AknTitleContainer-titleButtons AknButtonList" data-drop-zone="title-buttons"></div>
            </div>
        </header>

        <div data-drop-zone="content" class="content"></div>
    </div>
</div>
