<header class="AknHorizontalNavtab">
    <ul class="AknHorizontalNavtab-list nav nav-tabs form-tabs">
        <% _.each(tabs, function (tab) { %>
            <li class="AknHorizontalNavtab-item<% if (currentTab === tab.code) { %> active<% } %>" data-tab="<%- tab.code %>">
                <a class="AknHorizontalNavtab-link <% if (currentTab === tab.code) { %> AknHorizontalNavtab-link--active<% } %>" href="javascript:void(0);"><%- tab.label %></a>
            </li>
        <% }); %>
    </ul>
    <span data-drop-zone="side-buttons"></span>
</header>
<div class="AknTabContainer-contentThreeColumns form-container form-horizontal <%- fullPanel ? 'AknTabContainer-contentThreeColumns--fullPanel full-panel' : '' %>">
    <div data-drop-zone="container" class="AknTabContainer-notPanels tab-container tab-content"></div>
    <div data-drop-zone="panels" class="AknTabContainer-panels AknTabContainer-panels--closed panels"></div>
</div>
