<% if (primaryButton) { %>
    <button class="AknSeveralActionsButton-mainAction <%- primaryButton.className || '' %>">
        <%- primaryButton.label %>
    </button>
<%  } %>
<% if (secondaryButtons && secondaryButtons.length) { %>
    <button  class="AknSeveralActionsButton-caretContainer" data-toggle="dropdown">
        <span class="AknCaret AknCaret--inverse"></span>
    </button>
    <ul class="AknSeveralActionsButton-menu AknDropdown-menu AknDropdown-menu--alignRight">
        <% _.each(secondaryButtons, function (btn) { %>
            <li>
                <button type="button" class="AknDropdown-menuLink <%- btn.className || '' %>">
                    <%- btn.label %>
                </button>
            </li>
        <% }) %>
    </ul>
<% } %>
