<div class="AknDefault-contentWithColumn" data-drop-zone="column">
    <div class="AknDefault-thirdColumnContainer">
        <div class="AknDefault-thirdColumn" data-drop-zone="tree"></div>
    </div>
    <div class="AknDefault-contentWithBottom" data-drop-zone="bottom-panel">
        <div class="AknDefault-mainContent entity-edit-form edit-form">
            <header class="AknTitleContainer navigation">
                <div class="AknTitleContainer-line">
                    <div class="AknTitleContainer-imageContainer" data-drop-zone="main-image"></div>
                    <div class="AknTitleContainer-mainContainer">
                        <div>
                            <div class="AknTitleContainer-line">
                                <div class="AknTitleContainer-breadcrumbs" data-drop-zone="breadcrumbs"></div>
                                <div class="AknTitleContainer-buttonsContainer">
                                    <div class="AknTitleContainer-userMenuContainer user-menu" data-drop-zone="user-menu"></div>
                                    <div class="AknTitleContainer-actionsContainer AknButtonList" data-drop-zone="buttons"></div>
                                </div>
                            </div>
                            <div class="AknTitleContainer-line">
                                <div class="AknTitleContainer-title" data-drop-zone="title"></div>
                                <div class="AknTitleContainer-state" data-drop-zone="state"></div>
                            </div>
                        </div>
                        <div>
                            <div class="AknTitleContainer-line">
                                <div class="AknTitleContainer-context AknButtonList" data-drop-zone="context"></div>
                            </div>
                            <div class="AknTitleContainer-line">
                                <div class="AknTitleContainer-meta AknButtonList" data-drop-zone="meta"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="AknTitleContainer-line">
                    <div data-drop-zone="navigation" class="AknTitleContainer-navigation"></div>
                </div>
                <div class="AknTitleContainer-line">
                    <div data-drop-zone="search" class="AknTitleContainer-search search-zone"></div>
                </div>
            </header>

            <div data-drop-zone="content" class="content"></div>
        </div>
    </div>
</div>
