<div class="AknFullPage">
  <div class="AknFullPage-content AknFullPage-content--withIllustration">
    <div>
      <% if (typeof picture !== 'undefined') { %>
        <img src="bundles/pimui/images/<%- picture %>" alt="<%- picture %>"/>
      <% } else { %>
        <div class="AknFullPage-image AknFullPage-illustration AknFullPage-illustration--<%- illustrationClass %>"> </div>
      <% } %>
    </div>
    <div>
      <% if (typeof subtitle !== 'undefined') { %>
        <div class="AknFullPage-subTitle"><%- subtitle %></div>
      <% } %>
      <div class="AknFullPage-title"><%- title %></div>
      <% if (typeof contentLabel !== 'undefined') { %>
        <!-- TODO Rename this to 'innerDescription' -->
        <div class="AknFullPage-description">
          <%- contentLabel %>
        </div>
      <% } %>
      <div class="modal-body"><%= content %></div>
      <div class="AknButtonList">
        <% if (typeof cancelText !== undefined) { %>
          <div class="AknButton AknButton--grey AknButtonList-item cancel"><%- cancelText %></div>
        <% } %>
        <div title="<%- okText %>" class="AknButton AknButtonList-item AknButton--apply<% if (typeof buttonClass !== 'undefined') { %> <%- buttonClass %><% } %> ok"><%- okText %></div>
      </div>
    </div>
  </div>
</div>
<% if (typeof cancelText === undefined && (typeof allowCancel === 'undefined' || allowCancel)) { %>
  <div class="AknFullPage-cancel cancel"></div>
<% } %>
