<div class="AknFullPage">
  <div class="AknFullPage-content AknFullPage-content--withIllustration">
    <div>
      <img src="bundles/pimui/images/<%- picture %>" alt="<%- picture %>"/>
    </div>
    <div>
      <% if (typeof subtitle !== 'undefined') { %>
        <div class="AknFullPage-subTitle"><%- subtitle %></div>
      <% } %>
      <div class="AknFullPage-title"><%- title %></div>
      <% if (typeof contentLabel !== 'undefined') { %>
      <!-- TODO Rename this to 'description' -->
        <div class="AknFullPage-description">
          <%- contentLabel %>
        </div>
      <% } %>
      <div class="modal-body"><%= content %></div>
      <div title="<%- okText %>" class="AknButton AknButton--apply ok"><%- okText %></div>
    </div>
  </div>
</div>
<% if (allowCancel) { %>
  <div class="AknFullPage-cancel cancel"></div>
<% } %>
