<li class="divider-vertical small-divider"></li>
<li><a class="help no-hash" href="http://www.akeneo.com/doc/user-guide/" target="_blank"><i class="icon-question-sign" title="{{ 'Get help'|trans }}"></i></a></li>
