{% if not oro_is_hash_navigation() %}
    <!DOCTYPE html>
    <html>
    <head>
        {% block head %}
            <title>{% trans %}Loading...{% endtrans %}</title>
            <script id="page-title" type="text/html">{{ oro_title_render() }}</script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% block head_style %}
                <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
               {% placeholder head_style %}
            {% endblock %}

            {% block script %}
                {% block scripts_before %}
                    {% placeholder scripts_before %}
                {% endblock %}
                {% include 'OroRequireJSBundle::scripts.html.twig' with {compressed: not app.debug} %}
                <script type="text/javascript">
                    require(['jquery', 'bootstrap', 'oro/init-layout', 'oro/init-user', 'pimuser/js/init-signin']);
                {% if app.debug %}
                    require(['oro/app'], function(app){app.debug = true;});
                {% endif %}
                </script>
                {% block hash_nav %}
                    {% placeholder hash_nav %}
                {% endblock %}
                {% placeholder scripts_after %}
                {% block head_script %}
                {% endblock %}
            {% endblock %}
        {% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
    {% placeholder after_body_start %}
    <div id="progressbar">
        <h3>{% trans %}Loading ...{% endtrans %}</h3>
        <div class="progress progress-striped active">
            <div class="bar" style="width: 90%;"></div>
        </div>
    </div>
    <div id="page" style="display:none;">
        <div id="top-page">
            {% block header %}
                <header class="navbar" id="oroplatform-header">
                    {% placeholder before_navigation %}
                    <div class="navbar-inner">
                        <div class="container">
                            {% placeholder header_logo %}
                            <div class="navbar-responsive-collapse">
                                {% block navbar %}
                                <div class="nav pull-left top-search shortcuts">
                                    {% placeholder navbar %}
                                </div>
                                {% endblock navbar %}
                                <div class="divider-vertical small-divider"></div>
                                <div id="main-menu">
                                    {% block application_menu %}
                                        {% placeholder application_menu %}
                                    {% endblock application_menu %}
                                 </div>
                                {% block user_menu %}
                                    <ul class="nav pull-right user-menu">
                                        {% placeholder user_menu %}
                                    </ul>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    {% placeholder after_navigation %}
                </header>
            {% endblock header %}
            {% block main %}
                <div id="main" >
                    {% block right_panel %}
                        {% placeholder right_panel %}
                    {% endblock right_panel %}
                    {% block left_panel %}
                        {% placeholder left_panel %}
                    {% endblock left_panel %}
                    {% block before_content %}
                    <div class="container-fluid breadcrumb-pin">
                        <div id="breadcrumb">
                            {% block breadcrumb %}
                                {% placeholder breadcrumb %}
                            {% endblock breadcrumb %}
                        </div>
                        {% placeholder pin_button %}
                        <div id="flash-messages">
                            {% block messages %}
                                <div class="flash-messages-frame">
                                    <div class="flash-messages-holder"></div>
                                </div>
                                <script type="text/template" id="message-item-template">
                                    <div class="alert <% if (type) {  %><%= 'alert-' + type %><% } %> fade in top-messages ">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <div class="message"><%= message %></div>
                                    </div>
                                </script>
                                <script type="text/javascript">
                                    require(['jquery', 'oro/messenger'],
                                            function($, messenger) {
                                                messenger.setup({
                                                    container: '#flash-messages .flash-messages-holder',
                                                    template: _.template($.trim($('#message-item-template').html()))
                                                });
                                                {% if app.session.flashbag.peekAll|length > 0 %}
                                                $(function() {
                                                    {% for type, messages in app.session.flashbag.all %}
                                                    {% for message in messages %}
                                                    messenger.notificationFlashMessage({{ type|json_encode|raw }}, {{ message|trans|json_encode|raw }});
                                                    {% endfor %}
                                                    {% endfor %}
                                                });
                                                {% endif %}
                                            });
                                </script>
                            {% endblock messages %}
                        </div>

                    </div>
                    {% endblock before_content %}
                    <div class="hash-loading-mask"></div>
                    <div id="container" class="scrollable-container">
                        {% block page_container %}
                            {% block content %}
                                {% placeholder content_before %}
                                {% placeholder content_after %}
                            {% endblock content %}
                        {% endblock page_container %}
                    </div>
                </div>
            {% endblock main %}
        </div>
    </div>
    {% placeholder before_body_end %}

    {% if 'prod' == app.environment %}
        <script type="text/javascript">
            require(
                ['pim/fetcher-registry'],
                function (FetcherRegistry) {
                    'use strict';

                    FetcherRegistry.initialize().then(function () {
                        FetcherRegistry.warmUp();
                    });
                }
            );
        </script>
    {% endif %}

    </body>
    </html>
{% else %}
{# Template for hash tag navigation#}
{% include 'OroNavigationBundle:HashNav:hashNavAjax.html.twig'
    with {
        'script': block('head_script'),
        'content': block('page_container'),
        'menu': block('application_menu'),
        'breadcrumb': block('breadcrumb'),
        'userMenu': block('user_menu')
    }
    %}
{% endif %}
