<h1 class="logo">
    <a href="{{ path('oro_default') }}" title="{{ oro_config_value('oro_ui.application_title') }}">
        <img src="{{ asset('/bundles/pimui/images/logo.png') }}" alt="{{ oro_config_value('oro_ui.application_name') }}">
    </a>
</h1>
