<h1 class="AknHeader-logo">
    <a href="{{ path('oro_default') }}" title="Akeneo">
        <img class="AknHeader-logoImage" src="{{ asset('/bundles/pimui/images/logo.png') }}" alt="Akeneo">
    </a>
</h1>
