{% spaceless %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}
{% endspaceless %}
{% set accordionContent = { 'pane.accordion.label_translations': form_row(form.label) } %}


{% set optionsContent %}
    <table id="attribute-option-grid" class="">

    </table>
    <script type="text/javascript">
        require(['pim/attributeoptiongrid'], function(attributeoptiongrid) {
            attributeoptiongrid('#attribute-option-grid');
        });
    </script>
{% endset %}
{% set accordionContent = accordionContent|merge({ 'pane.accordion.options': optionsContent }) %}

{{ elements.accordion(accordionContent, 2) }}
