<div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse">
        <i class="icon-chevron-down"></i>
        <%- sectionTitle %>
    </a>
</div>
<div class="accordion-body in">
    <div class="accordion-inner">
        <div class="control-group">
            <label class="control-label required" for="pim_enrich_variant_group_form_code">
                <%- codeLabel %> <em><%- __('pim_enrich.form.required') %></em>
            </label>
            <div class="controls">
                <input type="text" id="pim_enrich_variant_group_form_code" readonly="readonly" disabled="disabled" required="required" class="input-large" value="<%- model.code %>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label required">
                <%- typeLabel %> <em><%- __('pim_enrich.form.required') %></em>
                </label>
            <div class="controls">
                <select id="pim_enrich_variant_group_form_type" readonly="readonly" disabled="disabled" class="select2 input-large">
                    <option>[<%- model.type %>]</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label required">
                <%- axisLabel %> <em><%- __('pim_enrich.form.required') %></em>
            </label>
            <div class="controls">
                <select id="pim_enrich_variant_group_form_type" readonly="readonly" disabled="disabled" class="select2 input-large" multiple>
                    <% _.each(model.axis, function (axis) { %>
                        <option selected><%- axis %></option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>
</div>
