<div class="tabsection-title">
    <%- _.__('pim_enrich.form.variant_group.tab.properties.label_translations') %>
</div>
<div class="tabsection-content">
    <% _.each(locales, function (locale) { %>
    <div class="control-group">
        <label for="pim_enrich_variant_group_form_label_<%- locale.code %>">
            <%- locale.label %>
        </label>
        <div class="controls">
            <input type="text" id="pim_enrich_variant_group_form_label_<%- locale.code %>" class="input-large label-field" data-locale="<%- locale.code %>" value="<%- model.labels[locale.code] %>">
            <% if (errors[locale.code]) { %>
                <span class="validation-error">
                    <i class="icon-warning-sign"></i>
                    <span class="error-message"><%- errors[locale.code].message %></span>
                </span>
            <% } %>
            <div class="icons-container">
            </div>
        </div>
    </div>
    <% }) %>
</div>
