<div class="edit-form oro-config-system">
    <header class="AknTitleContainer navigation">
        <div class="AknTitleContainer-backContainer" data-drop-zone="back"></div>
        <div class="AknTitleContainer-contentContainer">
            <div class="AknTitleContainer-mainLine">
                <div class="AknTitleContainer-titleContainer" data-drop-zone="title">
                    <h2 class="AknTitleContainer-title">
                        <%- _.__('oro_config.form.config.title') %>
                    </h2>
                    <div class="AknTitleContainer-titleButtons AknButtonList" data-drop-zone="title-buttons"></div>
                </div>
                <div class="AknTitleContainer-rightButtons" data-drop-zone="buttons">
                    <div
                        class="AknButtonList AknButtonList--right AknTitleContainer-rightButtons actions"
                        data-drop-zone="buttons">
                    </div>
                </div>
            </div>
            <div class="AknTitleContainer-metaLine">
                <div class="AknTitleContainer-state state" data-drop-zone="state">
                </div>
            </div>
        </div>
    </header>
    <div data-drop-zone="content" class="content"></div>
</div>
