<div class="tab-pane {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

    {% set validationParameters %}
        {% set validationFields = ['dateMin', 'dateMax', 'negativeAllowed', 'decimalsAllowed', 'numberMin',
        'numberMax', 'maxCharacters', 'wysiwygEnabled', 'metricFamily', 'defaultMetricUnit', 'maxFileSize',
        'allowedExtensions', 'validationRule', 'validationRegexp', 'minimumInputLength', 'defaultValue', 'sortOrder'] %}

        {% for property in form.vars.value.properties|keys %}
            {% set validationFields = validationFields|merge([property]) %}
        {% endfor %}

        {% for field in validationFields %}
            {% if form[field] is defined %}
                {{ form_row(form[field]) }}
            {% endif %}
        {% endfor %}
    {% endset %}

    {{
        elements.tabSections({
            'pane.accordion.general_parameters': elements.form_container(view_elements('pim_enrich_attribute_form.general_parameters')),
            'pane.accordion.validation_parameters': elements.form_container(validationParameters),
            'pane.accordion.backend_parameters': elements.form_container(view_elements('pim_enrich_attribute_form.backend_parameters'))
        })
    }}
</div>
