<div class="tab-pane {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}">
    {% spaceless %}
    {% if elements is not defined %}
        {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
    {% endif %}
    {% endspaceless %}

    {% set validationParameters %}
        {% set validationFields = ['dateMin', 'dateMax', 'negativeAllowed', 'decimalsAllowed', 'numberMin',
        'numberMax', 'maxCharacters', 'wysiwygEnabled', 'metricFamily', 'defaultMetricUnit', 'maxFileSize',
        'allowedExtensions', 'validationRule', 'validationRegexp', 'minimumInputLength', 'defaultValue', 'sortOrder'] %}

        {% for property in form.vars.value.properties|keys %}
            {% set validationFields = validationFields|merge([property]) %}
        {% endfor %}

        {% for field in validationFields %}
            {% if form[field] is defined %}
                {{ form_row(form[field]) }}
            {% endif %}
        {% endfor %}
    {% endset %}

    {% set general_parameters_title = view_element_aliases('pim_enrich_attribute_form.general_parameters') %}
    {% set backend_parameters_title = view_element_aliases('pim_enrich_attribute_form.backend_parameters') %}

    {{
        elements.accordion({
            general_parameters_title: view_elements('pim_enrich_attribute_form.general_parameters'),
            'pane.accordion.validation_parameters': validationParameters,
            backend_parameters_title: view_elements('pim_enrich_attribute_form.backend_parameters')
        })
    }}
</div>
