<div class="date-field form-field">
    <header>
        <label><%= label %></label>
        <span class="field-info">
            <% if (attribute.scopable) { %> <span>Scopable value <i class="icon-sitemap icon-rotate-270"></i></span> <% } %>
            <% if (attribute.localizable) { %> <span>Localized value <i class="icon-globe icon-rotate-270"></i></span> <% } %>
        </span>
    </header>
    <input type="text" class="datepicker" data-date-format="yyyy-mm-dd" data-locale="<%= value.locale %>" data-scope="<%= value.scope %>" value="<%= value.value %>"/>
    <footer>
        <div class="field-info">

        </div>
    </footer>
</div>
