<div class="<%= type %>-field">
    <header>
        <label><%= label %></label>
        <span class="field-info pull-right">
            <% if (attribute.scopable) { %> <span>Scopable value <i class="icon-sitemap icon-rotate-270"></i></span> <% } %>
            <% if (attribute.localizable) { %> <span>Localized value <i class="icon-globe icon-rotate-270"></i></span> <% } %>
        </span>
        <% if (context.optional) { %><i class="icon-remove remove-attribute" data-attribute="<%= attribute.code %>"></i><% } %>
    </header>
    <div class="field-input">
    </div>
    <footer>
        <div class="field-info">

        </div>
    </footer>
</div>
