<% if (!value.value) { %>
    <% _.each(currencies, function (currency) { %>
        <div class="input-append">
            <input type="number" pattern="(\d+(.\d+)?)" data-locale="<%= value.locale %>" data-scope="<%= value.scope %>" data-currency="<%= currency.code %>" value="" <%= editMode === 'disabled' ? 'disabled' : '' %>>
            <span class="add-on"><%= currency.code %></span>
        </div>
    <% }) %>
<% } else { %>
    <% _.each(value.value, function (price) { %>
        <div class="input-append">
            <input type="number" pattern="(\d+(.\d+)?)" data-locale="<%= value.locale %>" data-scope="<%= value.scope %>" data-currency="<%= price.currency %>" value="<%= price.data %>" <%= editMode === 'disabled' ? 'disabled' : '' %>>
            <span class="add-on"><%= price.currency %></span>
        </div>
    <% }) %>
<% } %>
