<% if (!value.value) { %>
    <% _.each(config.currency, function (currency) { %>
        <div class="input-append">
            <input type="text" data-locale="<%= value.locale %>" data-scope="<%= value.scope %>" data-currency="<%= currency %>" value="">
            <span class="add-on"><%= price.currency %></span>
        </div>
    <% }) %>
<% } else { %>
    <% _.each(value.value, function (price) { %>
        <div class="input-append">
            <input type="text" data-locale="<%= value.locale %>" data-scope="<%= value.scope %>" data-currency="<%= price.currency %>" value="<%= price.data %>">
            <span class="add-on"><%= price.currency %></span>
        </div>
    <% }) %>
<% } %>
