{% set valueArray = value|split(',') %}
{% if valueArray is not empty %}
    <ul>
        {% for recipient in valueArray %}
            <li>{{ recipient }}</li>
        {% endfor %}
    </ul>
{% endif %}
