{% if value is not empty %}
    {% set valueArray = value|split(',') %}
    {% if valueArray|length > 3 %}
        {{ valueArray[:3]|join(', ') }}
        <span class="label show-more">{{ '...'|trans}}</span>
    {% else %}
        {{ value }}
    {% endif %}
{% endif %}
