<div id="pin-button-div" class="AknBreadcrumbContainer-pinButtonsContainer AknButtonList {% if app.request.attributes.get('_route') == bap.start_route %}AknButtonList--hide{% endif %}">
    <button class="AknIconButton AknIconButton--noFocus favorite-button"
        title="{{ 'Add this page to favorites'|trans }}">
            <i class="icon-star"></i>
    </button>
    <button class="AknIconButton AknIconButton--noFocus minimize-button"
        title="{{ 'Minimize the window to the pinbar'|trans }}">
            <i class="icon-pushpin"></i>
    </button>
</div>
