<div id="pin-button-div">
    <div class="navigation clearfix">
        <div class="top-action-box">
            <button class="btn favorite-button"
                title="{{ 'Add this page to favorites'|trans }}">
                    <i class="icon-star"></i>
            </button>
            <button class="btn minimize-button"
                title="{{ 'Minimize the window to the pinbar'|trans }}">
                    <i class="icon-pushpin"></i>
            </button>
        </div>
    </div>
</div>
