{% extends 'PimCatalogBundle::layout.html.twig' %}

{% block head_script %}
    {{ parent() }}

    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#group-grid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block content %}

    {% if title is not defined %}
        {% set title = 'group.overview'|trans %}
    {% endif %}

    {% if buttons is not defined %}
        {% set buttons %}
            {{ elements.createBtn(
                'group',
                path('pim_catalog_group_create'),
                'dialog',
                'pim_catalog_group_create'
            ) }}
        {% endset %}
    {% endif %}

    {{ elements.page_header(title, buttons) }}

    <div id="group-grid"></div>

{% endblock %}
