{% extends 'OroSearchBundle:Search:searchResultItem.html.twig' %}
{% import 'OroUserBundle::macros.html.twig' as macros %}

{% set showImage = false %}

{% if entity %}
    {% set recordUrl = indexer_item.recordUrl %}
    {% block additional_info %}
        <div class="status-enabled pull-left">
            {% if entity.enabled %}
                <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled"></i>{{ 'Active'|trans }}</div>
            {% else %}
                <div class="badge badge-enabled status-disabled"><i class="icon-status-disabled"></i>{{ 'Inactive'|trans }}</div>
            {% endif %}
        </div>
    {% endblock %}
{% endif %}

{% if entity.sku is defined %}
    {% set title = entity.sku %}
{% else %}
    {% set title = entity.id %}
{% endif %}

{% set entityType = 'Product' |trans({}, 'config') %}

{% set entityInfo = [
    {'title': 'Created', 'value': entity.created ? macros.time(entity.created) : 'N/A'},
    {'title': 'Updated', 'value': entity.updated ? macros.time(entity.updated) : 'N/A'},
] %}
