
/* connectors icons */
.ui-icon-connector-icecat { background-position: 0 0; background-image:url(icons-connector/icecat-16.gif) !important;}
.ui-icon-connector-magento { background-position: 0 0; background-image:url(icons-connector/magento-16.gif) !important;}


/* clearfix for the main menu to horizontal use */
#mainmenu {
    margin: 0 25px 10px;
}
#mainmenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#mainmenu li {
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    width: auto;
}

#mainmenu .ui-menu { z-index: 2;}

/* product field views */
.grid_action {padding-left:20px; background-repeat: no-repeat;}



/* attribute set form */
.connectedSortable {min-height: 50px;}
.connectedSortable li {width:500px; margin-bottom:5px; padding:2px;}
.ui-tabs-nav li {min-width:120px;}
.ui-tabs-nav li .ui-icon {float:right;}
.connectedSortable .add-attribute {border:1px solid green;}

.connectedSortable .remove-attribute {border:1px solid red;}
#add_tab {float:right;margin-bottom:1px;}
.ui-tabs { border: 0px solid }

.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}


.type-available-fields, .type-group-fields {float: left;}
.type-available-fields {width: 550px; margin-right:20px;}