
/* connectors icons */
.ui-icon-connector-icecat { background-position: 0 0; background-image:url(icons-connector/icecat-16.gif) !important;}
.ui-icon-connector-magento { background-position: 0 0; background-image:url(icons-connector/magento-16.gif) !important;}


/* clearfix for the main menu to horizontal use */
#mainmenu {
    margin: 0 25px 10px;
}
#mainmenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#mainmenu li {
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    width: auto;
}

#mainmenu .ui-menu { z-index: 2;}

/* product field views */
.grid_action {padding-left:20px; background-repeat: no-repeat;}

