<div class="AknFlash alert <% if (type) {  %><%= 'alert-' + type + ' AknFlash--' + type %><% } %> <% if (false !== delay) { %>AknFlash--withTimer<% } %> top-messages">
    <img class="AknFlash-icon" src="/bundles/pimui/images/<%= icon %>"/>
    <div class="AknFlash-message">
        <% if (messageTitle) { %>
            <div class="AknFlash-messageTitle">
                 <%= messageTitle %>
            </div>
        <% } %>
        <div class="AknFlash-messageContent">
            <%= message %>
        </div>
    </div>
    <img class="AknFlash-closeButton close" src="/bundles/pimui/images/<%= closeIcon %>" data-dismiss="alert"/>
    <% if (false !== delay) { %>
        <div class="AknFlash-timer">
            <span class="flash-timer"><%= delay / 1000 %></span>s
        </div>
    <% } %>
</div>
