parameters:
  level: 6
  paths:
    - %rootDir%/../../../src/Akeneo/Channel
  excludes_analyse:
    - %rootDir%/../../../src/Akeneo/Channel/back/tests/Specification
    - %rootDir%/../../../src/Akeneo/Channel/back/tests/Integration
    - %rootDir%/../../../src/Akeneo/Channel/back/Infrastructure
