parameters:
  level: 6
  paths:
    - %rootDir%/../../../src/Akeneo/Channel
  excludePaths:
    - %rootDir%/../../../src/Akeneo/Channel/back/tests/Specification
    - %rootDir%/../../../src/Akeneo/Channel/back/tests/Acceptance/Specification
    - %rootDir%/../../../src/Akeneo/Channel/back/Infrastructure
