@import '../../pimui/css/less/variables';

/** Role form ********************************************************************************************************/
.acl-group {
  margin-left: 20px;
}
.acl-permission {
  line-height: 40px;
  &>div[id] {
    display: inline-block;
  }
}
.acl-permission-toggle {
  padding: 5px;
  cursor: pointer;
  font-size: @font-size-15em;
  &.granted {
    color: @color-33be00;
  }
  &.non-granted {
    padding: 5px 7px;
    color: @errorText;
  }
}
.acl-group-permission-toggle {
  cursor: pointer;
  font-size: @font-size-12em;
  margin: 0;
  &.icon-circle {
    padding: 1px 7px 0 6px;
    font-size: @font-size-10em;
    color: @color-bbb;
  }
  &.icon-ok {
    padding: 0 5px 0 4px;
    color: @color-33be00;
  }
  &.icon-remove {
    padding: 0 6px;
    color: @errorText;
  }
}
