<ul>
{% for businessUnit in businessUnits %}
    {% set isChecked = hasId ? (businessUnit.hasUser is defined and businessUnit.hasUser == 1) : false%}
    {% set hasChildren = businessUnit.children is defined and businessUnit.children %}
    <li class="{% if isChecked %}jstree-checked{% endif %} {% if hasChildren %}jstree-open{% else %}jstree-leaf{% endif %}" data-id="{{ businessUnit.id }}">
        <a href="#" for="resource_{{ businessUnit.id }}" title="{{ businessUnit.name|trans }}">{{ businessUnit.name|trans }}</a>

        {% if hasChildren %}
            {% include 'OroOrganizationBundle:BusinessUnit:businessUnitsTree.html.twig' with {'businessUnits': businessUnit.children}  %}
        {% endif %}
    </li>
{% endfor %}
</ul>
