<div class="span2 tree-sidebar">
    <div id="tree"></div>

    <div class="tree-toolbar">
        <div class="btn-group">
            <button data-toggle="dropdown" id="add_item" class="btn-tree-toolbar dropdown-toggle">
                <i class="icon-plus-sign"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="tree-create" href="#">{{ 'Create tree' | trans }}</a></li>
                <li><a id="category-create" href="#">{{ 'Create category' | trans }}</a></li>
            </ul>
        </div>
        
        <button id="category-edit" class="btn-tree-toolbar"><i class="icon-edit"></i></button>
        <button id="category-remove" class="btn-tree-toolbar"><i class="icon-trash"></i></button>
        <button id="sidebar-collapse" class="btn-tree-toolbar"><i class="icon-chevron-left"></i></button>
    </div>
</div>
