<div id="{{ elementId }}">{% render options.url %}</div>

<script type="text/javascript">
    require(['jquery', 'oro/widget-manager', 'oro/{{ widgetType ~ '-widget' }}'],
    function($, widgetManager, widget){
        $(function(){
            var widgetInstance = new widget({{ options|json_encode|raw }});
            widgetInstance.render();
            widgetManager.addWidgetInstance(widgetInstance);
        })
    });
</script>
