<div id="{{ elementId }}">{% render options.url %}</div>

<script type="text/javascript">
    $(function(){
        var options = {{ options|json_encode|raw }};
        Oro.widget.Manager.createWidget({{ widgetType|json_encode|raw }}, options).render();
    });
</script>
