<div id="{{ elementId }}">{% render options.url %}</div>

<script type="text/javascript">
    require(['jquery', 'oro/widget-manager'],
    function($, widgetManager){
        $(function(){
            widgetManager.createWidget({{ widgetType|json_encode|raw }}, {{ options|json_encode|raw }}).render();
        })
    });
</script>
