<div id="{{ elementId }}">{% render options.url %}</div>

<script type="text/javascript">
    require(['jquery', 'oro/{{ widgetType ~ '-widget' }}'],
    function($, Widget){
        $(function(){
            var widget = new Widget({{ options|json_encode|raw }});
            widget.render();
        })
    });
</script>
