@import '../base/variables';

.AknCenteredBox {
  width: @AknCenteredContentWidth;
  margin: 20px auto;
  border: 1px solid @AknBorderColor;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: @AknFontSizeBig;
  border-radius: 2px;

  &-highlight {
    color: @AknLightPurple;
  }
}
