.ModalHint {
  align-items: center;
  background: #F5F9FC;
  color: @AknSlateGrey;
  display: flex;
  font-size: 13px;
  margin: -22px 0 0;
  max-width: 550px;
  min-height: 44px;
  padding: 5px;

  &-title {
    flex-grow: 1;
  }

  &-icon {
    background-image: url("/bundles/pimui/images/icon-info.svg");
    border-right: 1px @AknMediumGrey solid;
    margin-right: 15px;
    min-height: 30px;
    min-width: 39px;
  }
}
