.AknOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,.2);
  transition: opacity .2s ease-in;
  opacity: 1;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;

  &--show {
    display: block;
  }
}
