@import '../../base/variables';

.AknIconButton {
  color: lighten(@AknGrey, 25%);
  width: @AknIconSize;
  height: @AknIconSize;
  line-height: @AknIconSize;
  border: none;
  background: white;
  display: inline-block;
  padding: 0;
  font-size: @AknLittleIconFontSize;
  border-radius: 2px;
  text-align: center;

  &:hover {
    background: lighten(@AknGrey, 25%);
    color: white;
  }

  &--light {
    background-color: @AknLightGray;
    border: 1px solid @AknGrey;
    color: @AknGrey;

    &:hover {
      background-color: @AknGrey;
      color: white;
    }
  }
}
