<div class="AknFieldContainer-header">
    <label class="AknFieldContainer-label control-label required" for="pim_enrich.export.product.filter.attributes"><%- __('pim_enrich.entity.attribute.plural_label') %></label>
</div>
<div class="AknFieldContainer-inputContainer">
    <div class="AknTextField <%- !isEditable ? 'AknTextField--disabled' : 'AknTextField--withRightButton' %>">
        <%- labelInfo %>
        <% if (isEditable) { %>
        <button type="button" class="AknButton AknButton--action AknButton--small edit">
            <%- labelEdit %>
        </button>
        <% } %>
    </div>
    <div class="AknFieldContainer-iconsContainer icons-container">
        <i class="AknIconButton icon-info-sign" data-toggle="tooltip" data-placement="right" data-original-title="<%- __('pim_enrich.export.product.filter.attributes.help') %>"></i>
    </div>
</div>
<div class="AknFieldContainer-footer">
    <span class="below-input">
        <span class="AknFieldContainer-validationErrors validation-errors">
            <% errors.forEach(function (error) { %>
                <span class="AknFieldContainer-validationError">
                    <span class="error-message"><%- error %></span>
                </span>
            <% }); %>
        </span>
    </span>
</div>
