{% if value|length == 0 %}-{% endif %}
{% for completeness in value %}
    {% if completeness.locale.code == localeCode and completeness.channel.code == channelCode %}
        <span class="label">{{ completeness.ratio }}%</span>
    {% endif %}
{% endfor %}