parameters:
  level: 6
  paths:
    - %rootDir%/../../../components/onboarder-retailer/back
  checkMissingIterableValueType: false # Allow array typehint instead of int[]
  treatPhpDocTypesAsCertain: false # https://phpstan.org/config-reference#treatphpdoctypesascertain
  checkFunctionNameCase: true # https://phpstan.org/config-reference#checkfunctionnamecase
  ignoreErrors:
    - '#Access to an undefined property Symfony\\\Component\\\Validator\\\Constraint::\$message#'
