@import '../../pimui/css/less/variables';

.justify-content(@position) {
  -webkit-box-justify-content: @position;
     -moz-box-justify-content: @position;
      -webkit-justify-content: @position;
          -ms-justify-content: @position;
              justify-content: @position;
}

.display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex(@ratio: 1) {
  -webkit-box-flex: @ratio;
     -moz-box-flex: @ratio;
      -webkit-flex: @ratio;
          -ms-flex: @ratio;
              flex: @ratio;
}

.comment-threads {
  a {
    color: @color-444;
  }

  textarea {
    height: 31px;
    width: 100%;
    transition: height .5s ease-in-out;
    border: none;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 0;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    line-height: 23px;
  }

  .comment-buttons {
    padding: 3px;

    .btn {
      margin-left: 3px;
    }
  }

  .comment-create .comment-buttons, .comment-thread .comment-buttons {
    display: none;
    .justify-content(flex-end);


  }

  .active {
    .comment-buttons {
      .display-flex();
    }

    textarea {
      height: 60px;
      border-bottom: 1px solid @color-ddd;
    }
  }

  .comment-meta {
    .display-flex();
    line-height: 25px;

    .author {
      .flex(1);
    }

    .date {
      margin-right: 3px;
      color: @color-888;
    }
  }

  .remove-comment {
    border: 1px solid @color-ddd;
    margin: 2px 0;
    padding: 0 1px;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .no-data {
    border: none;
  }
}

li.comment-create {
  border: 1px solid @color-ddd;
}

ol.comment-thread li {
  border: 1px solid @color-ddd;
  border-top: none;
}

ol.comment-thread > :first-child {
  margin-top: 15px;
  border: 1px solid @color-ddd;
}

ol.comment-thread > :last-child {
  overflow: hidden;
}

li.comment-reply:last-child {
  border-bottom: 1px solid @color-ddd;
}

li.comment-topic {
  background-color: @whiteDarker;
  border-bottom: 1px solid @color-ddd;
  padding: 3px;
}

li.comment-topic, li.comment-reply {
  .message {
    word-break: normal;
  }
}

.comment-reply {
  border: 1px solid @color-ddd;
  padding: 5px;
}

.comment-reply-action {
  border-top: none;
}
