{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block head_script %}
    {#{% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#' ~ gridId} %}#}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block page_container %}
    <div class="container-fluid" style="height:500px; overflow: scroll;">
        {% block content %}
            {% set id = 'apply-view' %}
            {% set general_fields = [
                UI.attibuteRow('Icon', entity_config.get('icon')),
                UI.attibuteRow('Label', entity_config.get('label')),
                UI.attibuteRow('Plural Label', entity_config.get('plural_label')),
                UI.attibuteRow('Type', entity_extend.get('owner')),
                UI.attibuteRow('Description', entity_config.get('description')),

            ]%}

            {#{% for key,property in entity_config.getValues %}#}
                {#{% set general_fields = general_fields|merge([UI.attibuteRow(key|replace('_',' ')|capitalize, property)])%}#}
            {#{% endfor %}#}
            {#{% set general_fields = general_fields|merge([UI.attibuteRow('Type', entity_extend.get('type'))])%}#}
            {#{% for key,property in entity_extend.getValues %}#}
                {#{% set general_fields = general_fields|merge([UI.attibuteRow(key|replace('_',' ')|capitalize, property)])%}#}
            {#{% endfor %}#}

            {% set data = {
                'dataBlocks': [
                    {
                        'title': 'General',
                        'class': 'active',
                        'subblocks': [
                            {'title': 'General Information', 'data': general_fields},
                        ]
                    },
                    {
                        'title': 'General',
                        'class': 'active',
                        'subblocks': [
                            {'title': 'General Information', 'data': general_fields},
                        ]
                    },
                    {
                        'title': 'General',
                        'class': 'active',
                        'subblocks': [
                            {'title': 'General Information', 'data': general_fields},
                        ]
                    },
                    {
                        'title': 'General',
                        'class': 'active',
                        'subblocks': [
                            {'title': 'General Information', 'data': general_fields},
                        ]
                    },
                    {
                        'title': 'General',
                        'class': 'active',
                        'subblocks': [
                            {'title': 'General Information', 'data': general_fields},
                        ]
                    },
                    {
                        'title': 'General',
                        'class': 'active',
                        'subblocks': [
                            {'title': 'General Information', 'data': general_fields},
                        ]
                    },
                ]
            }%}

            {{ UI.scrollData(id, data) }}
        {% endblock %}
    </div>
{% endblock %}
