{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block head_script %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block page_container %}
    <div class="container-fluid" style="height:500px; overflow: scroll;">
        {% block content %}

            {#{% set id = 'apply-view' %}#}
            {#{% set general_fields = [#}
                {#UI.attibuteRow('Icon', entity_config.get('icon')),#}
                {#UI.attibuteRow('Label', entity_config.get('label')),#}
                {#UI.attibuteRow('Plural Label', entity_config.get('plural_label')),#}
                {#UI.attibuteRow('Type', entity_extend.get('owner')),#}
                {#UI.attibuteRow('Description', entity_config.get('description')),#}
            {#]%}#}

            {#{% set data = {'dataBlocks': [{#}
                {#'title': 'General',#}
                {#'class': 'active',#}
                {#'subblocks': [{'title': 'General Information', 'data': general_fields},]#}
            {#}]} %}#}

            {#{{ UI.scrollData(id, data) }}#}

        {% endblock %}
    </div>
{% endblock %}
