<ul>
{% for val in value %}
    {% for key, value in val.diff %}
        <li>
            <b>{{ key|capitalize|replace('_',' ') }}</b>: <s>{{ value[0]|default('N/A') }}</s> {{ value[1] }}
        </li>
    {% endfor %}
{% endfor %}
</ul>
