<ul>
{% for val in value %}
    {% if properties.is_entity %}
        {% set items = properties.config_manager.getProvider(val.scope).getConfigContainer().getEntityItems() %}
    {% else %}
        {% set items = properties.config_manager.getProvider(val.scope).getConfigContainer().getFieldItems() %}
    {% endif %}

    {% for key, data in val.diff if (properties.is_entity and val.fieldName() == null) or (properties.is_entity == false and val.fieldName() == properties.field_name) %}
        {% if items[key]['form']['options']['label'] is defined %}
            {% set label = items[key]['form']['options']['label'] %}
        {% elseif items[key]['options']['label'] is defined %}
            {% set label = items[key]['options']['label'] %}
        {% else %}
            {% set label = key|capitalize|replace('_',' ') %}
        {% endif %}
        <li>
            <b>{{ label }}</b>: <s>{{ data[0]|default('N/A') }}</s> {{ data[1] }}
        </li>
    {% endfor %}
{% endfor %}
</ul>
