<% _.each(data, function (channelResult, channel) { %>
    <div class="channel">
        <div class="header">
            <%= channel %>
            <div class="pull-right"><%= channelResult.percentage %>%</div>
        </div>
        <% _.each(channelResult.locales, function (localeResult, locale) { %>
            <div class="locale-result">
                <div class="locale"><%= locale %></div>
                <div class="progress-cell">
                    <div class="progress">
                        <div class="bar <%= localeResult.ratio === 100 ? options.completeBar : options.inCompleteBar %>" style="width: <%= localeResult.ratio %>%"></div>
                    </div>
                </div>
                <div class="total"><%= localeResult.complete %>/<%= channelResult.total %></div>
            </div>
        <% }); %>
    </div>
<% }); %>
