<div class="AknCompletenessPanel">
    <% _.each(data, function(channel) { %>
        <div class="AknCompletenessPanel-block completeness-block">
            <header class="AknCompletenessPanel-header">
                <span class="AknCompletenessPanel-headerLocale channel"><%- channel.name %></span>
                <span class="AknCompletenessPanel-headerStats stats"><%- channel.percentage %>%</span>
            </header>
            <div class="AknCompletenessPanel-content content">
                <% _.each(channel.locales, function(locale, localeLabel) { %>
                    <div class="AknCompletenessPanel-channel">
                        <div class="AknCompletenessPanel-progressContainer">
                            <span class="AknCompletenessPanel-channelTitle locale">
                                <%- localeLabel %>
                            </span>
                            <span class="AknCompletenessPanel-progressRatio literal-progress"><%- locale.ratio %>%</span>
                        </div>
                        <div class="AknCompletenessPanel-progress AknProgress AknProgress--micro progress <%- locale.ratio === 100 ? 'AknProgress--apply' : 'AknProgress--warning' %>">
                            <div class="AknProgress-bar bar" style="width: <%- locale.ratio %>%;"></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
</div>
