<% if (!_.isEmpty(data)) { %>
    <thead>
        <tr>
            <th class="AknGrid-headerCell">
                <%= __('pim_dashboard.widget.last_operations.date') %>
            </th>
            <th class="AknGrid-headerCell">
                <%= __('pim_dashboard.widget.last_operations.type') %>
            </th>
            <th class="AknGrid-headerCell">
                <%= __('pim_dashboard.widget.last_operations.profile name') %>
            </th>
            <th class="AknGrid-headerCell">
                <%= __('pim_dashboard.widget.last_operations.status') %>
            </th>
            <th class="AknGrid-headerCell"></th>
        </tr>
    </thead>
    <tbody>
    <% _.each(data, function (operation) { %>
        <tr class="AknGrid-bodyRow">
            <td class="AknGrid-bodyCell"> <%= operation.date %></td>
            <td class="AknGrid-bodyCell"> <%= __('pim_dashboard.widget.last_operations.job_type.'+operation.type) %></td>
            <td class="AknGrid-bodyCell"><%= operation.label %></td>
            <td class="AknGrid-bodyCell">
                <span class="AknBadge <%= operation.labelClass %>">
                    <%= operation.statusLabel %>
                </span>
            </td>
            <td class="AknGrid-bodyCell AknGrid-bodyCell--right">
                <a class="AknButton AknButton--little AknButton--grey show-details-btn" href="javascript:void(0);"
                data-id="<%= operation.id %>"
                data-operation-type="<%= operation.type %>">
                    <%= __('pim_dashboard.widget.last_operations.details') %>
                </a>
            </td>
        </tr>
    <% }); %>
    </tbody>
<% } else if (options.contentLoaded) {%>
    <tr>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--full">
            <div class="AknMessageBox AknMessageBox--centered">
                <%= __('pim_dashboard.widget.last_operations.empty') %>
            </div>
        </td>
    </tr>
<% } %>
