<% if (!_.isEmpty(data)) { %>
    <thead>
        <tr>
            <th class="center">
                <%= _.__("pim_dashboard.widget.last_operations.date") %>
            </th>
            <th class="center">
                <%= _.__("pim_dashboard.widget.last_operations.type") %>
            </th>
            <th class="center">
                <%= _.__("pim_dashboard.widget.last_operations.profile name") %>
            </th>
            <th class="center">
                <%= _.__("pim_dashboard.widget.last_operations.status") %>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% _.each(data, function (operation) { %>
        <tr>
            <td> <%= operation.date %></td>
            <td> <%= _.__("pim_dashboard.widget.last_operations.job_type."+operation.type) %></td>
            <td><%= operation.label %></td>
            <td>
                <span class="label <%= operation.labelClass %> fullwidth">
                    <%= operation.statusLabel %>
                </span>
            </td>
            <td>
                <a class="btn btn-mini" href="javascript:void(0);"
                data-id="<%= operation.id %>"
                data-operation-type="<%= operation.type %>">
                    <%= _.__("pim_dashboard.widget.last_operations.details") %>
                </a>
            </td>
        </tr>
    <% }); %>
    </tbody>
<% } else if (options.contentLoaded) {%>
    <span class="label text-center buffer-small-top buffer-small-bottom fullwidth">
        <%= _.__("pim_dashboard.widget.last_operations.empty") %>
    </span>
<% } %>
