{% import 'OroTagBundle::macros.html.twig' as _tag %}

{% block oro_tag_view_js %}
    <script type="text/html" id="tag-view-template">
        <div class="tag-view span6">
            {{ _tag.tagSortActions() }}

            <div class="well well-small">
                <ul id="tag-list" class="inline">
                    <% _.each(collection.models, function(tag, i) { %>
                        <li>
                            <a href="<%= tag.get("url") %>">
                                <span class="label label-info">
                                    <%= tag.get("name") %>
                                </span>
                            </a>
                        </li>
                    <%}) %>
                </ul>
            </div>
        </div>
    </script>
{% endblock oro_tag_view_js %}
