{% macro renderView(entity) %}
    {# // check if block was not included yet #}
    {% set _block = block('oro_tag_view_js') %}
    {% if (_block is empty) %}
        {% include 'OroTagBundle::javascript.html.twig' %}
        {{ block('oro_tag_view_js')|raw }}
    {% endif %}

    <div id="tags"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            var tags = {{ oro_tag_get_list(entity)|json_encode|raw }};
            var tagView = new Oro.Tags.TagView();
            tagView.getCollection().reset(tags);
        });
    </script>
{% endmacro %}
