<div class="tab-pane tab-proposal {{ viewElement.loop.first ? 'active' : '' }}" id="{{ viewElement.alias|replace({' ': '-', '.': '-'})|lower }}" data-url="{{ path('pimee_enrich_product_product_drafts', { id: product.id, dataLocale: dataLocale }) }}">
</div>
