@import 'bootstrap_mixins';

.forScreen (@size; background; @value: none) {
  @media only screen and (max-width: @size) {
    background: @value;
  }
}

.forScreen (@size; float; @value: none) {
  @media only screen and (max-width: @size) {
    float: @value;
  }
}

.forScreen (@size; width; @value: 100%) {
  @media only screen and (max-width: @size) {
    width: @value;
  }
}

.forScreen (@size; height; @value: auto) {
  @media only screen and (max-width: @size) {
    height: @value;
  }
}

.forScreen (@size; min-height; @value: initial) {
  @media only screen and (max-width: @size) {
    min-height: @value;
  }
}

.forScreen (@size; margin; @value: 0) {
  @media only screen and (max-width: @size) {
    margin: @value;
  }
}

.forScreen (@size; padding; @value: 0) {
  @media only screen and (max-width: @size) {
    padding: @value;
  }
}

.forScreen (@size; padding-right; @value: 0) {
  @media only screen and (max-width: @size) {
    padding-right: @value;
  }
}

.forScreen (@size; @_; @value) {}

.border-radius(@radius: 0px) {
  border-radius: @radius;
  background-clip: padding-box;
}

.box-sizing(@value: border-box) {
  -webkit-box-sizing: @value;
     -moz-box-sizing: @value;
          box-sizing: @value;
}

.display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex(@ratio: 1) {
  -webkit-box-flex: @ratio;
     -moz-box-flex: @ratio;
      -webkit-flex: @ratio;
          -ms-flex: @ratio;
              flex: @ratio;
}

.flex-direction(@direction: row) {
  -webkit-box-flex-direction: @direction;
     -moz-box-flex-direction: @direction;
      -webkit-flex-direction: @direction;
          -ms-flex-direction: @direction;
              flex-direction: @direction;
}

.align-items(@position) {
  -webkit-box-align-items: @position;
     -moz-box-align-items: @position;
      -webkit-align-items: @position;
          -ms-align-items: @position;
              align-items: @position;
}

.align-self(@position) {
  -webkit-box-align-self: @position;
     -moz-box-align-self: @position;
      -webkit-align-self: @position;
          -ms-align-self: @position;
              align-self: @position;
}

.justify-content(@position) {
  -webkit-box-justify-content: @position;
     -moz-box-justify-content: @position;
      -webkit-justify-content: @position;
          -ms-justify-content: @position;
              justify-content: @position;
}

.flex-order(@order: 1) {
  -webkit-box-ordinal-group: @order;
     -moz-box-ordinal-group: @order;
             -ms-flex-order: @order;
              -webkit-order: @order;
                      order: @order;
}

.flex-shrink(@number: 0) {
  -webkit-box-flex-shrink: @number;
     -moz-box-flex-shrink: @number;
      -webkit-flex-shrink: @number;
          -ms-flex-shrink: @number;
              flex-shrink: @number;
}

.transition(@duration:0.2s, @ease:ease-in-out) {
  -webkit-transition: background-color @duration @ease;
  -moz-transition: background-color @duration @ease;
  -o-transition: background-color @duration @ease;
  transition: background-color @duration @ease;
}

.icon-button() {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin: 0;
}
