@import 'variables';
@import 'mixins';

// Base
* {
  box-sizing:border-box;
}
body {
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: 20px;
  color: @bodyColor;
  margin: 0;
  padding: 0 ;
  min-width: 980px;
  background:@white;
}
h2 {
  font-size: @font-size-27;
}
h3 {
  font-size: @font-size-19;
}
h4 {
  font-size: @font-size-15;
}
h5 {
  font-size: @font-size-12;
}
h6 {
  font-size: @font-size-12;
}
.btn {
  border: 1px solid @color-ccc;
  border-bottom-color: @color-bbb;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
#main {
  background-color: @white;
}
.dropdown-menu {
  margin-top:-1px;
  .border-radius(0);
  z-index: 900;
}

// Bootstrap - Buttons
.btn {
  .border-radius(@baseBtnBorderRadius);
  padding: 0 12px;
  height: 28px;
  line-height: 26px;
  font-size: @font-size-14;
  font-weight:bold;
  background-repeat: none;
  display: inline-block;
  #gradient > .vertical(@whiteDark, @grayLighter);
  color: @gray;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  color: @gray;
  #gradient > .vertical(@whiteDark, @whiteDarker);
}
.btn:active {
  #gradient > .vertical(@grayLighter, @whiteDarker);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-small {
  height: 24px;
  line-height: 24px;
  font-size: @font-size-13;
}
.btn-large {
  font-size: @font-size-15;
  min-width: 90px;
  padding: 0 20px;
  height: 34px;
  line-height: 32px;
  font-weight: bold;
}
.btn-mini {
  height: 22px;
  line-height: 20px;
  font-size: @font-size-11;
  padding: 0 6px;
}

// Bootstrap - Form
label, input, button, select, textarea {
  font-size: @font-size-12;
}

.form-horizontal .control-label {
  font-size: @font-size-12;
}
.control-group .controls p.control-label{
  width: auto;
}

.form-horizontal {
  .control-group {
    & + .control-group {
      padding-top: 5px;
    }

    label.control-label {
      box-sizing: border-box;
      display: block;
      height: 20px;
      line-height: 20px;
      margin-bottom: 5px;
      width: 100%;
      -webkit-box-flex: 1;
      padding-top: 0;

      &:after {
        content:":";
      }
    }

    .controls {
      margin-left: 0;

      input[type="text"],
      input[type="password"],
      input[type="date"],
      input[type="number"],
      input[type="email"],
      input[type="url"],
      input[type="search"],
      textarea {
        width: @max-field-width;
        font-size: @font-size-12;
      }
    }
  }
}

input[type='checkbox'] + label { margin-bottom:2px; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background:@whiteDarker;
}

// Bootstrap - Table
.table thead th { padding-top:2px; padding-bottom:2px; }

// FontAwesome
[class^="icon-"],
[class*=" icon-"] {
  display:inline-block !important;
}
[class^='icon-'].hide-text:after,
[class^='icon-'].hide-text:before {
  padding:0;
  text-indent:0;
  font-size: @font-size-14;
  color: @gray;

}

// GLOBAL LAYOUT ELEMENTS
.navbar-inner {
  min-height:0;
  .nav {
    margin-right:0;
  }
}

.dropdown-menu {
  .divider {
    border-bottom-color:@grayLighter;
    margin:4px 0;
  }
}

.layout-content {
  .navbar-inner {
    z-index:1;
  }
}
.form-row {
  padding: 0 0 @marginBottomBox/2;
}

.open-filter .filter-criteria-selector {
  #gradient > .vertical(@grayLighter, @white);
}

.label-important,
.badge-important {
  background-color: @red;
}
/* general style classes */
.input-large {
  width: 300px;
}
.extra-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.layout-content {
  overflow: hidden;
}

.tab-content > .tab-pane {
  padding: 0;
}

[class^="icon-"], [class*=" icon-"] {
  margin: 0 3px;
}
.navbar .nav > li a {
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: @color-444;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  box-shadow: none;
  color: @white;
}

.badge-enabled,
.badge-disabled {
  padding: 3px 10px 3px 5px;
  font-size: @font-size-12;
  font-weight: normal;
}
.badge-enabled {
  background-color: @greenLighter;
  color: @greenDarker;
}
.badge-disabled {
  color: @color-aaa;
  background-color: @whiteDark;
}
.status-disabled {
  margin-top:-4px;
  color: @color-aaa;
  text-shadow:none;
  padding:3px 10px 3px 5px;
}
.status-enabled {
  margin-top:-4px;
  color: @greenDarker;
  text-shadow:none;
  padding:3px 10px 3px 5px;
}
.status-disabled,
.status-enabled {
  [class^='icon-']:before {
    font-size: @font-size-12;
  }
}
.status-enabled [class^='icon-']:before { color:@greenDark; }
.status-disabled [class^='icon-']:before { color:@redDark; }

.dib {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  line-height: 26px;
}
.grid-container {
  width: 100%;
  margin-top: 10px;
  overflow: visible;

  // This next line is very important because the Loading mask is in absolute position and NEED this. Elsewhere, the loading mask takes the entire page.
  position: relative;

  .table-bordered {
    border-left:1px solid @color-ddd;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    td,
    th { border-left:0; }
    .boolean-cell {
      input[type='checkbox'],
      input[type='radio'] { margin-top:0; }
    }
  }
}

#loading-wrapper {
  background: @black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.loading-frame {
  position: absolute;
  top: 40%;
  left: 48%;
  width: 180px;
  z-index: 9999;
  .box {
    background: @white;
    font-size: @font-size-14;
    font-weight: bold;
    line-height:  24px;
  }
}
.navigation {
  position: relative;
  .icons-holder-text.btn {
    [class^='icon-'].hide-text {
      float:left;
      margin:0;
      &:before {
        display:inline-block;
        font-size: @font-size-16;
      }
    }
    .icon-chevron-left.hide-text {
      &:before {
        font-size: @font-size-11;
        line-size:19px;
      }
    }
    &.btn-success,
    &.btn-primary,
    &.btn-danger {
      [class^='icon-'].hide-text {
        &:before {
          color:@white;
        }
      }
    }
  }
}

.dropdown:after {
  content: "";
  clear: both;
  display: block;
}

.scrollspy-nav {
  background-color: @whiteDarker;
  border-bottom: 1px solid @color-ccc;
  margin-bottom: 0;
  .box-shadow(0 2px 0 rgba(0, 0, 0, .03));
  .navbar-inner {
    padding: 0;
    border: 0;
    background: 0;
    .container-fluid {
      padding:0 15px;
      .nav {
        > li a {
          padding:5px 15px;
          color:@gray;
          font-size: @font-size-13;
        }
        > li a:hover {
          border-bottom:3px solid @color-ddd;
          background:none;
          padding-bottom:2px;
          color: @color-444 !important;
        }
        .active a,
        .active a:hover {
          border-bottom:3px solid @gray;
          background:none;
          padding-bottom:2px;
          color:@grayDarker;
          font-weight:bold;
        }
      }
    }
  }
}
.scrollspy {
  position: relative;
  overflow: auto;
}
.clearfix {
  .clearfix();
}
.clearfix-oro {
  width: 100%;
}
.clearfix-oro:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

label.required em,
.form-horizontal label.required em {
  font-style: normal;
}

input, textarea { width:280px; }
textarea {
  height: 150px;
  resize: vertical;
  text-align: justify;
  vertical-align: top;
}
.scrollspy .responsive-section:nth-of-type(1) .scrollspy-title {
  display: none;
}
.scrollspy-title {
  line-height: 18px;
  padding: 10px 20px;
}
.oro-clearfix-width:after,
.oro-clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.oro-clearfix-width {
  height: 1%;
}
.oro-clearfix {
  width: 100%;
}
.horizontal .oro-clearfix {
  input[type="checkbox"],
  input[type="radio"] {
    float: left;
    margin: 3px 10px 0 0;
  }
  label {
    float: left;
  }
}
.controls .horizontal {
  padding-top: 5px;
}
.dot-menu-empty-message {
  padding: 4px 15px;
  color:lighten(@bodyColor,30%);
  font-style:italic;
}
.filter-criteria {
  .oro-action {
    width: 100%;
    margin: 0;
    .btn {
      outline: none;
      position: static;
    }
  }
}
.filter-criteria {
  &.right-dropdown-menu:before {
    left: 11px;
    right: auto;
  }
  &.right-dropdown-menu:after {
    left: 10px;
    right: auto;
  }
  &.left-dropdown-menu:before {
    left: auto;
    right: 30px;
  }
  &.left-dropdown-menu:after {
    left: auto;
    right: 29px;
  }
}
.top-messages {
  margin-bottom: 0;
}

select {
  height: 26px;
  line-height: 26px;
}

.responsive-section .inner-grid {
  margin:-20px -20px 20px -20px;
}
.container-fluid > .responsive-section .scrollspy-title {
  margin-left:0;
}

.row-fluid.row-fluid-divider {
  background: url("../../img/vertical-separator.png") repeat-y 50% 0;
  .forScreen(@mediumScreen, background, none);
}
h5.user-fiedset {
  font-size: @font-size-15;
  line-height:18px;
  margin: 0 10px 10px 0;
}
.page-size .dropdown-menu {
  min-width: 20px;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  color: @gray;
}
.alert-error > ul{
  margin-bottom: 0;
}
#flash-messages {
  .alert {
    margin: 3px 0 0;
    background-color: @warningBackground;
    background-image: url('../../img/warning-ico.png');
    background-position: 10px 48%;
    background-repeat: no-repeat;
    padding: 3px 35px 1px 37px;
    border:1px solid rgba(241,216,103,.3);
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    .close {
      font-size: @font-size-18;
      color: @warningClose;
      opacity: 1;
    }
  }
  .alert-success {
    background-color: @successBackground;
    background-image: url('../../img/sucsses-ico.png');
    border:1px solid rgba(77,161,36,.3);
    color: @successText;
    .close {
      color: @successClose;
    }
  }
  .alert-danger,
  .alert-error {
    background-image: url('../../img/error-ico.png');
    background-color: @errorBackground;
    border:1px solid rgba(203,17,17,.3);
    color: @errorText;
    .close {
      color: @errorClose;
    }
  }
  .alert-empty {
    display: none;
  }
}
#flash-messages{
  overflow: hidden;
}
.flash-messages-frame {
  position: fixed;
  top: 74px;
  left: 25%;
  z-index: 500;
  width: 50%;
  margin:auto;
  .box-sizing(border-box);
  padding: 0 10px;
}

/* validation-error */
.validation-error .error {
  border:1px solid @redDark;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(211, 33, 33, 0.6);
  color: @gray;
}

.validation-tooltip {
  font-size:0;
  text-indent:-9999em;
  &:before {
    display: inline-block;
    margin-left:8px;
    font:normal 18px/1em 'FontAwesome';
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f06a";
    color:@errorText;
    text-decoration: inherit;
    text-indent:0;
    speak: none;
  }
}

.validation-error .validation-tooltip {
  display: inline-block;
}
.validate-group {
  display: inline-block;
  vertical-align: middle;
  min-width: 230px;
}
.validate-group:after {
  content: "";
  clear: both;
  display: block;
}
label.checkbox.error,
label.radio.error {
  padding-right: 12px;
}
.input-append .add-on,
.input-prepend .add-on {
  height:32px;
  input[type='checkbox'],
  input[type='radio'] {
    margin-top:-1px;
  }
}
.filter-separator {
  font-size: @font-size-16;
  padding: 0 3px;
  position: relative;
  top: -3px;
}

.form-horizontal .control-group {
  margin: 0;
  max-width:700px;
}
.form-container .control-group {
  margin: 0 0 10px;
}
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family:@baseFontFamily !important;
}

span.validation-failed {
  color: @errorText;
  display: block;
  margin: 5px 0 5px 14px;
  line-height: 1.1em;
  display: block;
  clear:both;
  &:before {
    content: "\f00d";
    color: @errorText;
    font: normal 1.15em/1em 'FontAwesome';
    display: inline-block;
    width: 14px;
    margin-left: -14px;
  }
}
.input-addon {
  width: 258px;
}
