@import 'bootstrap_variables';

@horizontalPadding:   20px;
@verticalPadding:     20px;
@marginBottomBox:     20px;
@baseBtnBorderRadius: 3px;
@baseLineHeight:      20px;
@inputBorderRadius:   3px;
@mediumScreen:        1340px;
@buttonHeight:        28px;
@uploadZoneHeight:    80px;

// Font sizes
@lato-coeff: 1.011; // Lato font is smaller than previous one (Helvetica)
@font-size-200: 200px * @lato-coeff;
@font-size-90: 90px * @lato-coeff;
@font-size-60: 60px * @lato-coeff;
@font-size-40: 40px * @lato-coeff;
@font-size-27: 27px * @lato-coeff;
@font-size-26: 26px * @lato-coeff;
@font-size-24: 24px * @lato-coeff;
@font-size-22: 22px * @lato-coeff;
@font-size-21: 21px * @lato-coeff;
@font-size-20: 20px * @lato-coeff;
@font-size-19: 19px * @lato-coeff;
@font-size-18: 18px * @lato-coeff;
@font-size-17: 17px * @lato-coeff;
@font-size-16: 16px * @lato-coeff;
@font-size-15: 15px * @lato-coeff;
@font-size-14: 14px * @lato-coeff;
@font-size-13: 13px * @lato-coeff;
@font-size-12: 12px * @lato-coeff;
@font-size-11: 11px * @lato-coeff;
@font-size-10: 10px * @lato-coeff;
@font-size-9:  9px * @lato-coeff;

@font-size-15em: 1.5em * @lato-coeff;
@font-size-12em: 1.2em * @lato-coeff;
@font-size-11em: 1.1em * @lato-coeff;
@font-size-10em: 1.0em * @lato-coeff;
@font-size-25em: 2.5em * @lato-coeff;
@font-size-09em: 0.9em * @lato-coeff;
@font-size-07em: 0.7em * @lato-coeff;

@baseFontSize: @font-size-12;

/* Colors */
// Greens
@color-changed_diff:        #ddfade;
@successBackground:         #e3f3c3;
@successClose:              #bfd78f;
@successBorder:             #89a86d;
@color-58BB00:              #58BB00;
@color-33be00:              #33be00;
@color-7dbf16:              #7dbf16;
@color-7ec500:              #7ec500;
@btnPrimaryBackgroundLight: #83c817;
@fern-green:                #67b373;
@color-67b373:              #67b373;
@color-4c9858:              #4c9858;
@color-4d9a59:              #4d9a59;
@btnPrimaryBackground:      #519d0b;
@successText:               #3d7c04;

// Reds
@color-base_diff: #ffe7e7;
@errorBackground: #fdcece;
@errorClose:      #e5acac;
@errorBorder:     #b48d8d;
@chesnut-red:     #d36050;
@errorText:       #c81717;
@color-da0000:    #da0000;
@color-d0021b:    #d0021b;
@color-f93a43:    #f93a43;

// Yellows-orange
@warningBorder:     #b4a68d;
@warningBackground: #fff8d7;
@warningClose:      #e2d59a;
@color-fdd9b6:      #fdd9b6;
@color-fa9f47:      #fa9f47;
@casablanca-yellow: #f8b43f;

// Purple
@color-purple_hover:    #f2ebf8;
@color-header_top:      #a44dd7;
@akeneo-purple:         #9452BA;
@color-purple_light:    #8e3bc4;
@color-header_bottom:   #7225ad;
@color-6800A9:          #6800A9;
@color-purple_dark:     #66279c;
@color-new-purple-dark: #5f2385;

// Blues
@color-149bdf:           #149bdf;
@blue-danube:            #5992c7;
@btnInfoBackgroundLight: #739cdc;
@color-5e8dcb:           #5e8dcb;
@color-37485f:           #37485f;
@color-2a2f36:           #2a2f36;
@color-354150:           #354150;
@akeneo-dark:            #11324d;

// Blue-frays
@color-f7fafc: #f7fafc;
@color-ececf0: #ececf0;
@color-ecf1f9: #ecf1f9;
@color-e6eff8: #e6eff8;
@color-e0e7e9: #e0e7e9;
@color-cad2da: #cad2da;
@color-cbcbd2: #cbcbd2;
@color-a1a9b7: #a1a9b7;
@akeneo-grey:  #a1a9b7;
@color-b2bac2: #b2bac2;
@color-8ba1b6: #8ba1b6;
@color-67768A: #67768A;
@slate-grey:   #67768a;
@color-67768a: #67768a;

// White-blue-grays
@color-dbe2ea: #dbe2ea;
@color-e3eaeb: #e3eaeb;
@color-edf1f2: #edf1f2;
@color-e4eaec: #e4eaec;

// Grays
@black:          #000;
@grayDarker:     #222;
@grayDark:       #333;
@color-444:      #444;
@gray:           #555;
@color-777:      #777;
@color-888:      #888;
@grayLight:      #999;
@color-aaa:      #aaa;
@color-bbb:      #bbb;
@color-ccc:      #ccc;
@color-ddd:      #ddd;
@grayLighter:    #eee;
@color-grey_tab: #fafafa;
@whiteDarker:    #f4f4f4;
@whiteDark:      #f9f9f9;
@white:          #fff;

// Named colors
@bodyColor: @color-444;
@color-disabled: @whiteDarker;
@color-new-purple-medium: @akeneo-purple;
@color-new-purple-light: @color-purple_hover;
@color-new-green: @fern-green;
@color-new-red: @chesnut-red;
@color-new-blue: @blue-danube;
@color-new-blue-light: @akeneo-light;
@color-new-yellow: @casablanca-yellow;
@color-new-red: @chesnut-red;
@backgroundColor-white: @white;
@color-form-input: @bodyColor;
@color-form-info: @color-777;
@color-form-label: @bodyColor;
@color-light_grey: @grayLighter;
@color-new-grey: @grayLighter;
@akeneo-light: @grayLighter;
@textColor: @bodyColor;
