@import 'bootstrap_variables';

//Oro variables
@horizontalPadding:               20px;
@verticalPadding:                 20px;
@marginBottomBox:                 20px;
@baseBtnBorderRadius:             3px;
@bodyColor:                       #444;
@wellBackground:                  #f8f8f8;

@baseFontSize:                    12px;
@baseLineHeight:                  20px;

@inputBorderRadius:               3px;
@infoText:                        #447fe9;

@successBackground:               #e3f3c3;
@successBorder:                   #89a86d;
@successText:                     #3d7c04;
@successClose:                    #bfd78f;

@errorBackground:                 #fdcece;
@errorBorder:                     #b48d8d;
@errorText:                       #c81717;
@errorClose:                      #e5acac;

@warningBackground:               #fff8d7;
@warningBorder:                   #b4a68d;
@warningText:                     #444;
@warningClose:                    #e2d59a;

// Screen sizes
@smallScreen:                     1024px;
@mediumScreen:                    1340px;
@largeScreen:                     1920px;

// Pim variables
@color-purple_dark: #66279c;
@color-purple_light: #8e3bc4;
@color-light_grey: #eee;
@color-header_top: #a44dd7;
@color-header_bottom: #7225ad;
@color-dialogHeader_top: #8c62b6;
@color-dialogHeader_bottom: #673f8f;
@color-grey_tab: #fafafa;
@color-purple_hover: #f2ebf8;
@backgroundColor-white: #fff;
@textColor: #444;
@btnPrimaryBackgroundLight: #83c817;
@btnPrimaryBackground: #519d0b;
@btnInfoBackgroundLight: #739cdc;
@imageWidth: 64px;
@imageHeight: 64px;
@buttonHeight: 28px;
@uploadZoneHeight: 80px;
@color-base_diff: #ffe7e7;
@color-changed_diff: #ddfade;
@border-purple: 1px solid #3a1657;

// New variables version14test
@color-new-purple-dark: #5f2385;
@color-new-purple-medium: #9452Ba;
@color-new-purple-light: #f2ebF8;
@color-new-green: #67B373;
@color-new-red: #d36050;
@color-new-blue: #5992c7;
@color-new-grey: #e7e7eC;
@color-new-blue-light: #f1f4f9;
@color-new-yellow: #f8b43f;
@color-new-red: #d36050;

@akeneo-purple: #9452BA;
@akeneo-dark: #11324d;
@akeneo-grey: #a1a9b7;
@akeneo-light: #f1f4f9;
@fern-green: #67b373;
@blue-danube: #5992c7;
@slate-grey: #67768a;
@casablanca-yellow: #f8b43f;
@chesnut-red: #d36050;


// Product edit form
@color-form-label: #4a4a4a;
@color-form-info: #777;
@color-form-input: #4a4a4a;
