.AknAttributeOption {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 400px;

  &-list {
    width: 56%;
  }

  &-listItem {
    line-height: 54px;
    border-bottom: 1px @AknGrey60 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--selected {
      background-color: @AknBlue20;
    }

    &:first-child {
      margin-top: 20px;
    }

    &:hover {
      :not(&--selected) {
        background-color: @AknLightGray;
      }

      .AknAttributeOption-delete-option-icon {
        display: block;
      }
    }

    .AknAttributeOption-itemCode {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      color: @AknLightPurple;
      cursor: pointer;
    }

    .AknAttributeOption-cancel-new-option-icon, .AknAttributeOption-delete-option-icon {
      margin-right: 20px;
      background: url("/bundles/pimui/images/icon-delete-slategrey.svg") no-repeat center;
      width: 16px;
      height: 16px;
      cursor: pointer;
      display: none;
    }
    .AknAttributeOption-cancel-new-option-icon {
      display: block;
    }
  }

  &-edit {
    width: 40%;
  }

  .AknSubsection {
    &-title {
      &.AknSubsection-title--glued {
        font-weight: normal;
        margin: 20px 0 20px 0;
      }
    }
  }
}
