{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

{% set blockId = 'entity-transitions-container-' ~ random() %}
<div class="widget-content" id="{{ blockId }}">
    <div class="btn-group">
        {% for data in new_workflows_data %}
            {% set redirectToWorkflow = false %}
            {% if data.workflow.type == 'wizard' %}
                {% set redirectToWorkflow = true %}
            {% endif %}

            {% for transition in data.transitions %}
                {{ workflowMacros.renderTransitionButton(
                    data.workflow,
                    transition,
                    true,
                    path(
                        'oro_workflow_api_rest_workflow_start',
                        {
                            workflowName: data.workflow.name,
                            entityClass: entity_class,
                            entityId: entity_id,
                            transitionName: transition.name
                        }
                    ),
                    redirectToWorkflow
                ) }}
            {% endfor %}
        {% endfor %}

        {% for data in exisiting_workflows_data if data.workflow.type == 'entity' %}
            {% for transition in data.transitions %}
                {{ workflowMacros.renderTransitionButton(
                    data.workflow,
                    transition,
                    true,
                    path(
                        'oro_workflow_api_rest_workflow_transit',
                        {
                            workflowItemId: data.workflowItem.id,
                            transitionName: transition.name
                        }
                    )
                ) }}
            {% endfor %}
        {% endfor %}
    </div>
    {% set workflowData = new_workflows_data|merge(exisiting_workflows_data) %}
    {{ workflowMacros.renderTransitionsJs(workflowData, blockId) }}
</div>
