{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

{% set blockId = 'entity-transitions-container-' ~ random() %}
<div class="widget-content" id="{{ blockId }}">
    {# Show buttons for entity workflows #}
    <div class="btn-group">
        {% for data in transitionsData if data.workflow.type == 'entity' %}
            {# Show button for start or transit entity workflow #}
            {% set transitionData = {
                'redirect-to-workflow': false,
                'enabled': true,
                'transition-label': data.transition.label|trans,
                'message': data.transition.message|trans
            } %}

            {% if data.workflowItem is not defined %}
                {% set data = data|merge({'workflowItem': null}) %}
                {% if data.transition.hasForm() %}
                    {% set transitionData = transitionData|merge({'dialog-url': path(
                        'oro_workflow_widget_start_transition_form',
                        {
                            workflowName: data.workflow.name,
                            transitionName: data.transition.name,
                            entityClass: entity_class,
                            entityId: entity_id,
                        })
                    }) %}
                {% endif %}

                {# New workflow #}
                {% set transitionData = transitionData|merge({'transition-url': path(
                    'oro_workflow_api_rest_workflow_start',
                    {
                        workflowName: data.workflow.name,
                        entityClass: entity_class,
                        entityId: entity_id,
                        transitionName: data.transition.name
                    })
                }) %}
            {% endif %}

            {{ workflowMacros.renderTransitionButton(
                data.workflow,
                data.transition,
                data.workflowItem,
                transitionData
            ) }}
        {% endfor %}
    </div>

    {# Show buttons that for start new wizard workflows #}
    <div class="btn-group">
        {% for data in transitionsData if data.workflow.type == 'wizard' and data.workflowItem is not defined  %}
            {% set transitionData = {
                'redirect-to-workflow': true,
                'enabled': true,
                'transition-label': data.transition.label|trans,
                'message': data.transition.message|trans,
                'transition-url': path(
                    'oro_workflow_api_rest_workflow_start',
                    {
                        workflowName: data.workflow.name,
                        entityClass: entity_class,
                        entityId: entity_id,
                        transitionName: data.transition.name
                    }
                ),
            } %}
            {% if data.transition.hasForm() %}
                {% set transitionData = transitionData|merge({'dialog-url': path(
                    'oro_workflow_widget_start_transition_form',
                    {
                        workflowName: data.workflow.name,
                        transitionName: data.transition.name,
                        entityClass: entity_class,
                        entityId: entity_id,
                    })
                }) %}
            {% endif %}

            {{ workflowMacros.renderTransitionButton(
                data.workflow,
                data.transition,
                null,
                transitionData
            ) }}
        {% endfor %}
    </div>
    {{ workflowMacros.renderTransitionsJs(transitionsData, blockId) }}
</div>
