{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

{% set blockId = 'wizard-transitions-container-' ~ random() %}
<div class="widget-content" id="{{ blockId }}">
    <div class="btn-group">
        {% for data in transitionsData %}
            {% set isAllowed = data.workflow.isTransitionAllowed(data.workflowItem, data.transition) %}
            {% if isAllowed or not data.transition.unavailableHidden %}
                {% set dialogUrl = null %}
                {% if data.transition.formOptions|length > 0 %}
                    {% set dialogUrl = path(
                    'oro_workflow_widget_transition_form',
                    {
                    workflowItemId: data.workflowItem.id,
                    transitionName: data.transition.name
                    }
                    ) %}
                {% endif %}
                {% set enabled = data.transition.hasForm() or isAllowed %}
                {{ workflowMacros.renderTransitionButton(
                    data.workflow,
                    data.transition,
                    enabled,
                    path(
                        'oro_workflow_api_rest_workflow_transit',
                        {
                            workflowItemId: data.workflowItem.id,
                            transitionName: data.transition.name
                        }
                    ),
                    false,
                    dialogUrl
                ) }}
            {% endif %}
        {% endfor %}
    </div>
    {{ workflowMacros.renderTransitionsJs(transitionsData, blockId) }}
</div>
