{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

{% set blockId = 'wizard-transitions-container-' ~ random() %}
<div class="widget-content" id="{{ blockId }}">
    <div class="btn-group">
        {% for transition in transitions %}
            {{ workflowMacros.renderTransitionButton(
                workflow,
                transition,
                workflow.isTransitionAllowed(workflowItem, transition),
                path(
                    'oro_workflow_api_rest_workflow_transit',
                    {
                        workflowItemId: workflowItem.id,
                        transitionName: transition.name
                    }
                )
            ) }}
        {% endfor %}
    </div>
    {% set workflowData = [
        {
        'workflow': workflow,
        'transitions' : transitions
        }
    ] %}
    {{ workflowMacros.renderTransitionsJs(workflowData, blockId) }}
</div>
