<div class="AknColumn-block AknDropdown">
    <div data-toggle="dropdown">
        <div class="AknColumn-subtitle"><%- __(subscriptionStatusTitle) %></div>
        <div class="AknColumn-value ask-franklin-subscription-status" data-status="<%- hasSubscribed ? 'enabled' : 'disabled' %>">
            <div class="status-switcher">
                <%- hasSubscribed ? __(enabledLabel) : __(disabledLabel) %>
                <div class="AknColumn-blockDown"></div>
            </div>
        </div>
    </div>
    <ul class="AknDropdown-menu">
        <li class="AknDropdown-menuTitle"><%- __(subscriptionStatusTitle) %></li>
        <li>
            <div class="AknDropdown-menuLink <% hasSubscribed ? '' : 'AknDropdown-menuLink--active' %> franklin-subscription-disabled" data-status="disabled">
                <span class="label"><%- __(disabledLabel) %></span>
            </div>
        </li>
        <li>
            <div class="AknDropdown-menuLink <% hasSubscribed ? 'AknDropdown-menuLink--active' : '' %> franklin-subscription-enabled" data-status="enabled">
                <span class="label"><%- __(enabledLabel) %></span>
            </div>
        </li>
    </ul>
</div>
