{% extends 'PimEnrichBundle:MassEditAction:configure/layout.html.twig' %}

{% block formContent %}
    {% set notGrantedIdentifiers = form.operation.notGrantedIdentifiers.vars.value %}
    {% set nbNotGranted = notGrantedIdentifiers|trim|length == 0 ? 0 : notGrantedIdentifiers|split(', ')|length %}
    {% set nbGranted = productCount - nbNotGranted %}

    <div class="errors">
    {% if nbGranted == 0 %}
        <div class="alert alert-error">
            <div class="message">
                <ul><li>{{ "You're not the owner of the selected products, you can't publish them" | trans }}</li></ul>
            </div>
        </div>
    {% elseif nbNotGranted > 0 %}
        <div class="alert alert-warning">
            <div class="message">
                <ul><li>{{ "You're not the owner of all the selected products, you can't publish the following %notGranted%"|trans({'%notGranted%': notGrantedIdentifiers}) }}</li></ul>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">
            <div class="message">
                <ul><li>{{ "The %nbProducts% selected products will be published"|trans({'%nbProducts%': productCount}) }}</li></ul>
            </div>
        </div>
    {% endif %}
    </div>

{% endblock %}
