{% extends 'PimEnrichBundle:MassEditAction:configure/layout.html.twig' %}

{% block head_script %}
    {{ parent() }}
    {% if productCount == 0 %}
        <script type="text/javascript">
            require(
                ['jquery'],
                function($){
                    'use strict';
                    $(function() {
                        $('a.next').hide();
                    });
                }
            );
        </script>
    {% endif %}
{% endblock %}

{% block formContent %}
    {% if productCount == 0 %}
        {% set alertClass = 'error' %}
        {% set alertMessage = 'pim_enrich.mass_edit_action.unpublish.message.error'|trans %}
    {% else %}
        {% set alertClass = 'info' %}
        {% set alertMessage = 'pim_enrich.mass_edit_action.unpublish.message.info'|trans({'%nbProducts%': productCount}) %}
    {% endif %}

    <div class="alert alert-{{ alertClass }}">
        <div class="message">
            <ul><li>{{ alertMessage }}</li></ul>
        </div>
    </div>

{% endblock %}
