{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}Akeneo - product attributes{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
    <li>
        <a href="{{ path('pim_catalog_productattribute_new') }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon ui-icon-fugue-tag--plus"></span><span class="ui-button-text">New attribute</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    
    <h1>Product attributes</h1>
    
    {{ grid(grid) }}

{% endblock %}