{% extends 'PimCatalogBundle::layout.html.twig' %}
{% if elements is not defined %}
    {% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% endif %}

{% set title = elements.title('attribute') %}

{% block head_script %}
    {{ parent() }}

    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#attribute-grid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block content %}
    <div>
        {% set buttons = elements.createBtn('attribute', path('pim_catalog_productattribute_create')) %}

        {{ elements.page_header(title, buttons) }}

        <div id="attribute-grid"></div>
    </div>
{% endblock %}
