html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

a {
    text-decoration: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

html {
    overflow-y: scroll
}

a:hover, a:active, input, input:active {
    outline: 0
}

ul, ol {
    list-style: none
}

textarea {
    overflow: auto
}

input[type=radio] {
    vertical-align: text-bottom
}

input[type=checkbox] {
    vertical-align: bottom
}

.ie7 input[type=checkbox] {
    vertical-align: baseline
}

.ie6 input {
    vertical-align: text-bottom
}

label, input[type=button], input[type=submit], button {
    cursor: pointer
}

.ie6 legend, .ie7 legend {
    margin-left: -7px
}

button, input, select, textarea {
    margin: 0
}

::-moz-selection {
    background: #a8d1ff;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #a8d1ff;
    color: #fff;
    text-shadow: none
}

a:link {
    -webkit-tap-highlight-color: #ff5e99
}

button {
    width: auto;
    overflow: visible
}

.ie7 img {
    -ms-interpolation-mode: bicubic
}

.clearfix:before, .clearfix:after, .f_row:before, .f_row:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden
}

.clearfix:after, .f_row:after {
    clear: both
}

.ie6 .clearfix, .ie7 .clearfix, .ie6 .f_row, .ie7 .f_row {
    zoom: 1
}

.none_submit {
    background: transparent;
    border: 0;
    width: 0;
    height: 0;
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}

body {
    margin: 0;
    color: #666;
    min-width: 1024px;
    background: #fff;
    font: 13px/18px 'Helvetica Neue', Arial, sans-serif
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none
}

img {
    border-style: none;
    vertical-align: top
}

input, select, textarea {
    vertical-align: middle;
    font: 100% arial, helvetica, sans-serif
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.header, header {
    padding: 14px 15px;
    background-color: #3b4651;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3b4651), to(#323b45));
    background: -webkit-linear-gradient(top, #3b4651, #323b45);
    background: -moz-linear-gradient(top, #3b4651, #323b45);
    background: -ms-linear-gradient(top, #3b4651, #323b45);
    background: -o-linear-gradient(top, #3b4651, #323b45)
}

.logo {
    font: 16px/16px 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    float: left
}

.header:after, header:after {
    content: "";
    clear: both;
    display: block
}

.helper {
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    background-image: url(../img/icon/helper.png);
    width: 14px;
    height: 14px;
    float: right
}

.wrapper {
    margin: 0 auto;
    padding: 27px 25px;
    background-color: #fff;
    width: 990px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper > .content {
    border: 2px solid #dededf;
    -webkit-border-radius: 7px;
    border-radius: 7px
}

.progress-bar {
    padding: 25px;
    text-align: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #dadada
}

.progress-bar ul {
    display: inline-block;
    background: url(../img/separator.png) repeat-x 0 10px;
    text-align: center
}

.progress-bar li {
    position: relative;
    display: inline-block;
    color: #b9b9b9;
    font-size: 14px;
    text-align: center
}

.progress-bar li:first-child {
    position: relative;
    left: -25%
}

.progress-bar li:last-child {
    position: relative;
    right: -18%
}

.progress-bar li > span {
    display: block;
    clear: both
}

.progress-bar li.active {
    color: #2f2f2f;
    font-weight: 700
}

.progress-bar .step {
    display: inline-block;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    color: #dedede;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    width: 20px;
    line-height: 20px;
    height: 20px;
    clear: both;
    margin: 2px;
    text-align: center
}

.progress-bar .active .step {
    margin: 0;
    border: 2px solid #2f2f2f;
    color: #2f2f2f
}

.page-title {
    color: #444;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #fafafa
}

.well {
    padding: 30px
}

.table, table.table {
    border: 1px solid #e1e1e1;
    width: 100%;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

table.table tr, table.table td, table.table th {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    line-height: 22px;
    text-align: left
}

table.table td, table.table th {
    padding: 10px 15px;
    vertical-align: top
}

table.table th {
    background-color: #f6f6f6;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
    background: -webkit-linear-gradient(top, #f6f6f6, #f4f4f4);
    background: -moz-linear-gradient(top, #f6f6f6, #f4f4f4);
    background: -ms-linear-gradient(top, #f6f6f6, #f4f4f4);
    background: -o-linear-gradient(top, #f6f6f6, #f4f4f4);
    text-transform: uppercase
}

table.table .dark {
    background-color: #f9f9f9
}

table.table {
    margin-bottom: 30px
}

.well > :last-child {
    margin-bottom: 0
}

.button-set {
    background-color: #f7f7f7;
    padding: 35px 30px 40px;
    overflow: hidden;
    border-top: 1px solid #eaeaea
}

.pull-right {
    float: right
}

.pull-right .button {
    margin-right: 10px
}

.next span:after {
    content: '';
    float: right;
    width: 8px;
    height: 13px;
    background-image: url(../img/icon/next-arrow.png);
    margin: 9px 0 0 15px
}

.button, .back {
    -moz-transition: all 10ms ease;
    -webkit-transition: all 10ms ease;
    -o-transition: all 10ms ease;
    transition: all 10ms ease;
    background-color: #f8f8f8;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
    background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -o-linear-gradient(top, #f8f8f8, #f1f1f1t);
    border: 1px solid #d3d3d3;
    font-weight: 700;
    font: 700 15px/30px 'Helvetica Neue', Arial, sans-serif;
    height: 34px;
    padding: 0 12px;
    color: #777;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
    cursor: pointer
}

.button span {
    min-width: 75px;
    display: inline-block;
    text-align: center
}

a.button {
    float: left;
    height: 32px;
    font: 700 15px/32px 'Helvetica Neue', Arial, sans-serif;
    cursor: pointer
}

a.button:hover {
    text-decoration: none
}

.button:hover, .button:focus {
    background-color: #f1f1f1;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f8f8f8));
    background: -webkit-linear-gradient(top, #f1f1f1, #f8f8f8);
    background: -moz-linear-gradient(top, #f1f1f1, #f8f8f8);
    background: -ms-linear-gradient(top, #f1f1f1, #f8f8f8);
    background: -o-linear-gradient(top, #f1f1f1, #f8f8f8)
}

.primary {
    background-color: #6d8fcd;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#88abe9), to(#6d8fcd));
    background: -webkit-linear-gradient(top, #88abe9, #6d8fcd);
    background: -moz-linear-gradient(top, #88abe9, #6d8fcd);
    background: -ms-linear-gradient(top, #88abe9, #6d8fcd);
    background: -o-linear-gradient(top, #88abe9, #6d8fcd);
    border-color: #768bb0;
    color: #fff
}

.primary:hover, .primary:focus {
    background-color: #88abe9;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#6d8fcd), to(#88abe9));
    background: -webkit-linear-gradient(top, #6d8fcd, #88abe9);
    background: -moz-linear-gradient(top, #6d8fcd, #88abe9);
    background: -ms-linear-gradient(top, #6d8fcd, #88abe9);
    background: -o-linear-gradient(top, #6d8fcd, #6d8fcd)
}

.icon-yes {
    display: inline-block;
    vertical-align: top
}

.button.disabled {
    background: #ededed;
    border: 1px solid #dcdcda;
    cursor: no-drop;
    color: #fff
}

.button.disabled span:after, .button.disabled:before, .button.disabled[class^=icon-]:before {
    opacity: .2
}

.icon-reset:before, .icon-settings:before, .icon-warning:before, .icon-no:before, .icon-yes:before, .icon-wait:before {
    float: left;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    content: '';
    width: 21px;
    height: 21px;
    margin: 0 10px 0 0
}

.icon-yes:before {
    background-image: url(../img/icon/yes.png)
}

.icon-no:before {
    background-image: url(../img/icon/no.png)
}

.icon-warning:before {
    background-image: url(../img/icon/warning.png)
}

.icon-settings:before {
    background-image: url(../img/icon/settings.png);
    width: 16px;
    height: 18px;
    margin: 6px 0 0
}

.icon-reset:before {
    background-image: url(../img/icon/reset.png);
    width: 19px;
    height: 19px;
    margin: 6px 0 0
}

.icon-wait:before {
    background-image: url(../img/icon/wait.png)
}

.row {
    margin-bottom: 50px;
    display: inline-block;
    width: 100%
}

.control-group:after, .row:after {
    content: "";
    clear: both;
    display: block
}

.row .box {
    float: left;
    width: 45%;
    margin-right: 5%
}

.control-group {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 0 0 136px;
    margin: 0 0 10px
}

.sub-title {
    font-size: 15px;
    color: #444;
    margin-bottom: 15px
}

.horizontal-form label {
    width: 135px;
    text-align: right;
    margin: 0 0 0 -146px;
    float: left;
    line-height: 32px
}

.horizontal-form input[type=text], .horizontal-form input[type=number], .horizontal-form input[type=email], .horizontal-form input[type=password] {
    border: 1px solid #e4e4e4;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.horizontal-form input[type=checkbox] {
    margin: 7px 0 0
}

.horizontal-form select {
    height: 32px;
    line-height: 23px;
    padding: 5px 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.horizontal-form .checkbox {
    margin-top: 8px;
    float: left
}

.horizontal-form label em {
    color: #c60000;
    font-size: 15px;
    padding: 0 5px
}

.validation-tooltip {
    color: red;
    padding: 10px 0 0;
    display: block
}

.validation-error > ul {
    color: red;
    padding: 10px 0;
    display: block
}

span.validation-faled:before {
    color: #C81717;
    content: "×";
    display: inline-block;
    font: bold 1.25em/1em Arial;
    margin-left: -14px;
    width: 14px
}

span.validation-faled {
    clear: both;
    color: #C81717;
    display: block;
    line-height: 1.1em;
    margin: 5px 0 5px 14px
}

html, body {
    position: relative;
    min-height: 100%
}

.start-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.fade-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    z-index: 55
}

.start-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 60
}

.start-content-holder {
    width: 615px;
    margin: 0 auto;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    padding: 55px 0 0;
    text-align: center;
    position: relative;
    top: -210px
}

.start-footer {
    background-color: #f7f7f7;
    overflow: hidden;
    text-align: center;
    padding: 30px 0 50px;
    border-top: 1px solid #eaeaea
}

.start-footer .button {
    display: inline-block;
    float: none
}

.start-content .center {
    text-align: center;
    margin-bottom: 30px
}

.start-content .center img {
    vertical-align: top;
    text-align: center
}

.start-content-holder h2 {
    font: 700 31px/34px 'helvetica neue', Arial, sans-serif;
    margin: 0 0 15px
}

.start-content-holder h3 {
    font: 16px/18px 'helvetica neue', Arial, sans-serif;
    margin: 0 0 45px
}

.progress-bar li {
    padding: 0 30px
}

.progress-bar li:last-child {
    right: 0;
    padding-right: 0
}

.progress-bar li:first-child {
    left: 0;
    padding-left: 0
}

.progress-bar .fix-bg {
    display: none
}

.progress-bar span, .progress-bar .step {
    position: relative;
    z-index: 50
}

.progress-bar li:first-child .fix-bg, .progress-bar li:last-child .fix-bg {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    background: #f1f1f1;
    z-index: 10
}

.progress-bar li:last-child .fix-bg {
    right: 0
}

.progress-bar li:first-child .fix-bg {
    left: 0
}

td.progress span {
    display: none
}
