<% if (hasId) { %>
<div class="AknFormContainer AknFormContainer--withPadding">
    <div class="AknGridContainer AknGridContainer--box">
    <table class="AknGrid AknGrid--unclickable grid-asset-transformations">
        <thead>
        <tr class="AknGrid-bodyRow">
            <th class="AknGrid-headerCell"><%- transformationLabel %></th>
            <th class="AknGrid-headerCell"><%- optionsLabel %></th>
        </tr>
        </thead>
        <tbody>
        <% if (0 < _.keys(configuration).length) { %>
            <% _.each(configuration, function (options, transformation) { %>
            <tr class="AknGrid-bodyRow">
                <td class="AknGrid-bodyCell">
                    <%- __('pimee_enrich.entity.channel.module.asset_transformation.' + transformation + '.title') %>
                </td>
                <td class="AknGrid-bodyCell">
                    <% _.each(options, function(value, key) { %>
                    <span class="AknBadge AknBadge--grey badge-info-large">
                        <% var valueTraslation = __('pimee_enrich.entity.channel.module.asset_transformation.' + transformation + '.options.' + key) %>
                        <%- valueTraslation.replace('%value%', value) %>
                    </span>
                    <% }) %>
                </td>
            </tr>
            <% }) %>
        <% } %>
        </tbody>
    </table>
    </div>
</div>
<% } else { %>
<div class="no-data AknMessageBox AknMessageBox--centered">
    <%- notFoundLabel %>
</div>
<% } %>

