<% _.each(archives, function (archive, archiver) { %>
    <% if (_.size(archive.files) === 1) { %>
        <% _.each(archive.files, function (file, key) { %>
        <a class="AknDropdown-menuLink" title="<%- __(archive.label) %>"
           href="<%- generateRoute({id: executionId, archiver: archiver, key: key }) %>">
            <%- __(archive.label) %>
        </a>
        <% }); %>
    <% } else { %>
        <% _.each(archive.files, function (file, key) { %>
            <li>
                <a class="AknDropdown-menuLink"
                   href="<%- generateRoute({id: executionId, archiver: archiver, key: key }) %>">
                    <%- key %>
                </a>
            </li>
        <% }); %>
    <% } %>
<% }); %>
