<% if (Object.keys(files).length > 0) { %>
    <% if (Object.keys(files).length === 1) { %>
    <a class="AknButton AknButton--action" title="<%- label %>" href="<%- Object.values(files)[0] %>">
        <%- label %>
    </a>
    <% } else { %>
    <div class="AknDropdown">
        <div class="AknButton AknButton--action" data-toggle="dropdown"><%- label %></div>
        <div class="AknDropdown-menu">
            <div class="AknDropdown-menuTitle"><%- label %></div>
            <% Object.keys(files).forEach((key) => { %>
            <a class="AknDropdown-menuLink" href="<%- files[key] %>">
                <%- key %>
            </a>
            <% }); %>
        </div>
    </div>
    <% } %>
<% } %>
