{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroConfigBundle::macros.html.twig' as __ %}

{% block content %}
    {% set pageTitle = 'Configuration' %}

    {% set buttons = [
            UI.saveAndStayButton(),
            UI.saveAndCloseButton()
        ]
    %}

    {{ __.renderTitleAndSearch(pageTitle is defined ? pageTitle : '', buttons) }}

    {% set currentTab = {
            label: 'Localization',
            description: 'Some additional information about possible localization setup and real need of localization settings (help block)',
            children: [
                {
                    label: 'Locale options',
                    children: [
                        '<div class="control-group">
                            <label class="control-label" for="orocrm_contact_form_namePrefix">Name prefix</label>
                            <div class="controls">
                                <input type="text" id="orocrm_contact_form_namePrefix" name="orocrm_contact_form[namePrefix]">
                            </div>
                        </div>',
                        '<div class="control-group">
                            <label class="control-label required" for="orocrm_contact_form_firstName"><em>*</em>First name</label>
                            <div class="controls">
                                <input type="text" id="orocrm_contact_form_firstName" name="orocrm_contact_form[firstName]" required="required">
                            </div>
                        </div>'
                    ]
                }
            ]
        }
    %}

    {% set DATA = {
        formData: [
                {
                    name: 'platform',
                    label: 'Platform',
                    icon: 'icon-hdd',
                    children: [
                        {
                            label: 'General setup',
                            children: [
                                {
                                    name: 'localiztion_settings',
                                    label: 'Localization',
                                    icon: 'icon-time',
                                },
                                {
                                    name: 'themes_settings',
                                    label: 'Themes',
                                }
                            ]
                        }
                    ]
                }, {
                    name: 'sales',
                    label: 'Sales',
                    children: [
                        {
                            label: 'Customers',
                            children: [
                                {
                                    label: 'Login options',
                                    name:  'login_options'
                                }
                            ]
                        }
                    ]
                }
            ],
            current: currentTab
        }
    %}

    {{ __.renderScrollData(DATA) }}
{% endblock content %}
