{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}
{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block main %}
    <div id="main">
        {% block before_content %}
        <div class="AknBreadcrumbContainer">
            <div id="breadcrumb">
                {% block breadcrumb %}
                    {% placeholder breadcrumb %}
                {% endblock breadcrumb %}
            </div>
            {{ elements.flashMessagesContainer() }}
            {% placeholder pin_button %}
        </div>
        {% endblock before_content %}
        <div class="hash-loading-mask"></div>
        <div id="container" class="scrollable-container">
            {% block page_container %}
                {% block content %}
                    {% placeholder content_before %}
                    <div id="variant-group-edit-form">

                    </div>
                    <script>
                        require(
                            ['jquery', 'pim/fetcher-registry', 'pim/form-builder', 'pim/variant-group-manager', 'pim/user-context', 'pim/dialog', 'oro/mediator', 'pim/error'],
                            function($, FetcherRegistry, FormBuilder, VariantGroupManager, UserContext, Dialog, mediator, Error) {
                                $(function() {
                                    FetcherRegistry.initialize().done(function () {
                                        FetcherRegistry.getFetcher('variant-group').fetch('{{ code }}', {cached: false, generateMissing: true})
                                            .then(function (group) {
                                                var label    = _.escape(group.labels[UserContext.get('catalogLocale')]);
                                                var newTitle = document.title.replace('%group.label%', label);

                                                document.title  = newTitle;
                                                //TODOnav
                                                // var navigation  = Navigation.getInstance();
                                                // var navTitle    = navigation.getPinButtonsData('title');
                                                // navTitle.params = {'%group.label%': label};
                                                // navigation.setPinButtonsData('title', navTitle);
                                                // navigation.setPinButtonsData('title-rendered-short', newTitle);

                                                FormBuilder.build(group.meta.form)
                                                    .then(function (form) {
                                                        form.setData(group);
                                                        mediator.trigger('pim_enrich:form:entity:post_fetch', group);
                                                        form.setElement('#variant-group-edit-form').render();
                                                    });
                                            }).fail(function(response, textStatus, errorThrown) {
                                                var errorView = new Error(response.responseJSON.message, response.status);
                                                errorView.setElement('#variant-group-edit-form').render();
                                            });
                                    })
                                });
                            });
                    </script>
                    {% placeholder content_after %}
                {% endblock content %}
            {% endblock page_container %}
        </div>
    </div>
{% endblock main %}
