<div class="control-group modal-project-form">
    <div class="controls">
        <label class="control-label required">
            <%- labelLabel %> (<%- requiredLabel %>)
            <input type="text" value="<%- labelValue %>" name="project-label" class="project-field" placeholder="<%- labelPlaceholder %>" required />
        </label>

        <div class="validation-errors">
            <span class="validation-errors label-errors"></span>
            <% _.each(_.where(errors, {field: 'label'}), function (error) { console.log(error)%>
                <span>
                    <i class="icon-warning-sign"></i>
                    <span class="error-message"><%- error.message %></span>
                </span>
            <% }) %>
        </div>
    </div>

    <div class="controls">
        <label class="control-label">
            <%- dueDateLabel %>
            <span class="date-wrapper">
                <input name="project-due-date" value="<%- dueDateValue %>" class="add-on project-field" type="text">
            </span>
        </label>

        <div class="validation-errors">
            <span class="validation-errors due-date-errors"></span>
            <% _.each(_.where(errors, {field: 'due_date'}), function (error) { %>
                <span>
                    <i class="icon-warning-sign"></i>
                    <span class="error-message"><%- error.message %></span>
                </span>
            <% }) %>
        </div>
    </div>

    <div class="controls">
        <label class="control-label">
            <%- descriptionLabel %>
            <textarea name="project-description" class="project-field" placeholder="<%- descriptionPlaceholder %>"><%- descriptionValue %></textarea>
        </label>
    </div>
</div>
