<div class="btn-group submit-form pull-right">
    <button class="btn btn-primary" data-action="prompt-creation-project">
        <%- projectButtonTitle %>
    </button>

    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu right-align">
        <li>
            <button data-action="prompt-creation" type="button">
                <%- viewButtonTitle %>
            </button>
        </li>

        <li>
            <button type="button" data-action="prompt-creation-project">
                <%- projectButtonTitle %>
            </button>
        </li>
    </ul>
</div>
