<form action="{{ path('pim_catalog_producttype_creategroup') }}" method="post" id="form_group">
    
    <fieldset class="ui-helper-reset">
        {{ form_row(formGroup.idProductType) }}
        {{ form_row(formGroup.code) }}
    </fieldset>
    
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <input type="submit" value="Add" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false" /> 
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                <span class="ui-button-text">Cancel</span>
            </button>
        </div>
    </div>
    
</form>