{% extends bap.layout %}

{% macro renderWidget(widget) %}
    {% if widget.acl is defined and not resource_granted(widget.acl) %}
    {% else %}
        <div class="quick-launchpad-widget span6">
            <div class="clearfix">
                {{ render(controller('pim_dashboard.controller.widget:showAction', {'alias': widget.alias})) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}
{% import _self as __ %}

{% block content %}
    <div class="scrollable-container quick-launchpad dashboard">
        <div class="container">
            <h3>{{ 'Quick Launchpad'|trans }}</h3>

            {% set widgetsArray = [
                { alias: 'completeness', acl: 'pim_navigation_enrich' },
                { alias: 'links' },
            ] %}

            {% for widget in widgetsArray %}
                {% if loop.index is odd %}<div class="row">{% endif %}
                {{ __.renderWidget(widget) }}
                {% if loop.index is even %}</div>{% endif %}
            {% endfor %}

        </div>

        <div class="version-container">
            <strong>Version:</strong> 1.0.0-beta4 "The Abominable Snow Rabbit"
        </div>
    </div>
{% endblock %}
