{% extends bap.layout %}

{% macro renderWidget(widget) %}
    <div class="quick-launchpad-widget span6">
        <div class="clearfix">
            {{ render(controller('pim_dashboard.controller.widget:showAction', { 'alias': widget })) }}
        </div>
    </div>
{% endmacro %}
{% import _self as __ %}

{% block content %}
    <div class="scrollable-container quick-launchpad dashboard">
        <div class="container">
            <h3>{{ 'pim_dashboard.quick_launchpad'|trans }}</h3>

            <div class="row">
                {% set widgetsArray = ['completeness', 'links', 'last_operations'] %}

                {% for widget in widgetsArray %}
                    {{ __.renderWidget(widget) }}
                {% endfor %}
            </div>
        </div>

        <div class="version-container">
            <strong>Version:</strong> 1.0.0-RC1 "Tortoise Beats Hare"
        </div>
    </div>
{% endblock %}
