{% extends bap.layout %}

{% block content %}
    <header class="AknTitleContainer navigation">
        <div class="AknTitleContainer-titleContainer" data-drop-zone="title">
            <h2 class="AknTitleContainer-title">{{ 'pim_dashboard.title'|trans }}</h2>
        </div>
        <div class="AknTitleContainer-metaLine"></div>
    </header>

    {{ render(controller('pim_dashboard.controller.widget:listAction')) }}
    <div class="AknFooter">
        {% embed 'PimDashboardBundle:Dashboard:version.html.twig' %}{% endembed %}
        {% embed 'PimAnalyticsBundle:Update:last_patch.html.twig' %}{% endembed %}
    </div>
{% endblock %}
