{% extends bap.layout %}

{% block content %}
    <div class="dashboard header">
        <h3>{{ 'pim_dashboard.title'|trans }}</h3>
    </div>

    <div class="scrollable-container quick-launchpad dashboard">
        <div class="container">
            <div class="row">
                {{ render_widgets() }}
            </div>
        </div>

        <div class="version-container muted">
            {% embed 'PimDashboardBundle:Dashboard:version.html.twig' %}{% endembed %}
        </div>
    </div>
{% endblock %}
