{% block content %}
    <div class="AknDefault-mainContent">
        <div class="AknTitleContainer-mainContainer">
            <div class="AknTitleContainer-breadcrumbs" data-drop-zone="breadcrumbs"></div>
            <div class="AknTitleContainer-title" data-drop-zone="title">{{ 'pim_dashboard.title'|trans }}</div>
        </div>

        {{ render(controller('pim_dashboard.controller.widget:listAction')) }}

        <div class="AknFooter">
            {% embed 'PimDashboardBundle:Dashboard:version.html.twig' %}{% endembed %}
            {% embed 'PimAnalyticsBundle:Update:last_patch.html.twig' %}{% endembed %}
        </div>
    </div>
{% endblock %}
