{% block content %}
    <div class="AknDefault-mainContent">

        <header class="AknTitleContainer navigation">
            <div class="AknTitleContainer-imageContainer"></div>
            <div class="AknTitleContainer-mainContainer">
                <div class="AknTitleContainer-breadcrumbs" data-drop-zone="breadcrumbs"></div>
                <div class="AknTitleContainer-title" data-drop-zone="title">{{ 'pim_dashboard.title'|trans }}</div>
            </div>
            <div class="AknTitleContainer-buttonsContainer">
                <div class="AknTitleContainer-userMenu user-menu"></div>
                <div class="AknTitleContainer-rightButtons" data-drop-zone="buttons"></div>
                <div class="AknTitleContainer-titleButtons AknButtonList" data-drop-zone="title-buttons"></div>
                <div class="AknTitleContainer-state state" data-drop-zone="state"></div>
            </div>
        </header>

        {{ render(controller('pim_dashboard.controller.widget:listAction')) }}

        <div class="AknFooter">
            {% embed 'PimDashboardBundle:Dashboard:version.html.twig' %}{% endembed %}
            {% embed 'PimAnalyticsBundle:Update:last_patch.html.twig' %}{% endembed %}
        </div>
    </div>

    <script>
        require(
            [
                'pim/fetcher-registry',
                'pim/form-builder'
            ],
            function(
                FetcherRegistry,
                FormBuilder
            ) {
                $(function() {
                    FetcherRegistry.initialize().done(function () {
                        FormBuilder.buildForm('pim-menu-user-navigation').then(function (form) {
                            form.setElement('.user-menu').render();
                        }.bind(this));
                    });
                });
            }
        );
    </script>
{% endblock %}
