@import '../../pimui/css/less/mixins';

.permission-changes {
  color: #777;
}

.product-view {
  .tab-pane h3 {
    border-top: 1px solid #e5e5e5;
  }
  .value-field {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px 5px;
    min-height: 26px;
    width: 350px;
    display: inline-block;
  }
}

.proposal-changes {
  width: 100%;
  min-width: 400px;
  position: relative;

  &[data-collapsed="true"] {
    .details {
      max-height: 35px;
      transition: max-height 0s;
    }

    .mask {
      display: block;
      height: 40px;
    }
  }

  .mask {
    position: absolute;
    background: linear-gradient(RGBa(255,255,255,0), RGBa(255,255,255,0) 60%, RGBa(255,255,255,1) 87%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 10%;
    display: none;
    cursor: pointer;
  }

  .details {
    width: 90%;
    max-height: 10000px;
    overflow: hidden;
    display: inline-block;
    transition: max-height 1s ease-in-out;
  }

  .btn-more {
    display: none;
    width: 8%;
    margin-left: 2%;
  }
}

.table-hover tbody tr:hover > td {
  .proposal-changes {
    .mask {
      background: linear-gradient(RGBa(242, 235, 248,0), RGBa(242, 235, 248,0) 60%, RGBa(242, 235, 248,1) 87%);
    }

    .btn-more {
      display: inline-block;
    }
  }
}

.btn-transparent, .btn-transparent:hover {
  border: none;
  background: none;
  box-shadow: none;
}

.icon-code-fork.from-smart {
  margin: 0;
  padding: 0 5px;
}

.label-published {
  margin-left: 5px;
  text-transform: uppercase;
  background: #4a90e2;
  box-shadow: none;
  text-shadow: none;
}

.btn-publish {
  &:not(.disabled) {
    background-color: #4a90e2;
    color: white;
    border: 1px solid #276dbf;
  }

  i {
    margin-right: 8px;
    margin-left: -5px;
  }
}

.meta .published-version {
  flex-shrink: 0;
}

.asset-gallery {
  border: 1px solid #ccc;

  header {
    background-color: #f3f3f3;
    padding: 5px;
    .display-flex();
    .justify-content(flex-end);

    .btn {
      background-image: none;
      padding: 3px 15px;
      height: 35px;
      text-shadow: none;
      box-shadow: none;
    }
  }

  ul {
    padding: 10px 0 0 10px;
    margin: 0;
    min-height: 180px;

    li {
      list-style: none;
      display: block;
      float: left;
      margin: 0 10px 10px 0;
      padding: 9px;
      width: 180px;
      height: 160px;
      border: 1px solid #ddd;
      border-radius: 1px;

      footer {
        padding: 5px;
        font-size: 11px;
        text-align: center;
        line-height: 14px;
      }
    }
  }
}

.asset-thumbnail {
  width: 160px;
  height: 110px;
  background-size: 100% auto;
  background-position: center center;
}

.asset-basket {
  width: 400px;

  ul {
    margin: 10px 0;
    padding: 0;

    li {
      list-style: none;
      .display-flex();
      .flex-direction(row);
      padding: 10px;
      border: 1px solid #ccc;

      &:not(:nth-last-child(2)) {
        border-bottom: none;
      }

      .asset-thumbnail {
        width: 60px;
        height: 60px;
        background-size: auto 100%;
      }

      .asset-description {
        .flex(1);
        font-size: 11px;
        margin-left: 10px;
      }

      &.empty-basket {
        border: 1px dashed #ccc;
        height: 100px;
        line-height: 80px;
        text-align: center;
        display: block;
        color: #ccc;
        font-size: 16;
      }
    }
  }
}

.modal-asset {
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  margin: 0;

  .modal-body {
    height: 90%;
    max-height: none;
    .display-flex();
    .flex-direction(row);

    .asset-grid {
      .flex(1);
    }
  }
}

.akeneo-asset-collection-field.view {
  .asset-gallery header {
    display: none;
  }
}
