#permission-changes {
  color: #777;
}

.product-view {
  .tab-pane h3 {
    border-top: 1px solid #e5e5e5;
  }
  .value-field {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px 5px;
    min-height: 26px;
    width: 350px;
    display: inline-block;
  }
}
