## Rename this file in phpspec.yml to customize the phpspec configuration
suites:
    ReferenceEntity:
        namespace: Akeneo\ReferenceEntity
        psr4_prefix: Akeneo\ReferenceEntity
        spec_path: src/Akeneo/ReferenceEntity/tests/back
        src_path: src/Akeneo/ReferenceEntity/back

extensions:
    LeanPHP\PhpSpec\CodeCoverage\CodeCoverageExtension:
        format:
            - html
        whitelist:
            - src/Akeneo/ReferenceEntity/back
        blacklist:
            - src/Akeneo/ReferenceEntity/back/Domain/Repository
            - src/Akeneo/ReferenceEntity/back/Infrastructure/Symfony
