parameters:
    level: 3
    paths:
        - %rootDir%/../../../src/Akeneo/AssetManager
    excludePaths:
        - %rootDir%/../../../src/Akeneo/AssetManager/tests/back/spec/*
        - %rootDir%/../../../src/Akeneo/AssetManager/back/Infrastructure/Symfony/Command/MigrationPAM
    ignoreErrors:
        - '#Call to an undefined method Akeneo\\AssetManager\\Domain\\Model\\Asset\\Value\\ValueDataInterface::[a-zA-Z0-9\\_]+\(\)#'
        - '#Call to an undefined method Akeneo\\AssetManager\\Domain\\Model\\Attribute\\AbstractAttribute::[a-zA-Z0-9\\_]+\(\)#'
        - '#Access to an undefined property Akeneo\\AssetManager\\Application\\Attribute\\EditAttribute\\CommandFactory\\AbstractEditAttributeCommand::\$[a-zA-Z0-9\\_]+#'
        - '#Access to an undefined property Akeneo\\AssetManager\\Application\\Asset\\EditAsset\\CommandFactory\\AbstractEditValueCommand::\$[a-zA-Z0-9\\_]+#'
        - '#Access to an undefined property Akeneo\\AssetManager\\Application\\Attribute\\CreateAttribute\\AbstractCreateAttributeCommand::\$[a-zA-Z0-9\\_]+#'
        - '#Method Akeneo\\AssetManager\\Infrastructure\\Security\\AssetScopeMapper::getMessage\(\) should return array{icon: string, type: string, entities: string} but returns array{}#'
includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-symfony/extension.neon
