{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}
    <div id="enrich-group">
    </div>
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script>
        require(
            [
                'jquery',
                'pim/form-builder'
            ],
            function (
                $,
                FormBuilder
            ) {
                $(function () {
                    FormBuilder.build('pim-group-index')
                        .then(function (form) {
                            form.setElement('#enrich-group').render();
                        });
                })
            });
    </script>
{% endblock %}
