<div class="AknColumn-block AknDropdown AknDropdown--read-only">
    <div>
        <div class="AknColumn-subtitle"><%- __(subscriptionStatusTitle) %></div>
        <div class="AknColumn-value ask-franklin-subscription-status">
            <div class="status-switcher">
                <%- __(statusLabel) %>
            </div>
        </div>
        <div class="AknDropdown-validationError AknDropdown-validationError--arrow">
            <%- __(errorMessage) %>
        </div>
    </div>
    <ul class="AknDropdown-menu">
        <li class="AknDropdown-menuTitle"><%- __(subscriptionStatusTitle) %></li>
        <li>
            <div class="AknDropdown-menuLink AknDropdown-menuLink--active franklin-subscription-<%- status %>">
                <span class="label"><%- __(statusLabel) %></span>
            </div>
        </li>
    </ul>
</div>
