{% extends 'PimImportExportBundle::layout.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}

    {{ elements.page_header(title) }}

    {{ dataGrid.renderGrid(gridName) }}

    <div id="job-report-grid"></div>

{% endblock %}
