{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% block content %}
    <div class="container-fluid ">
        <div class="navigation navbar-extra page-title">
            <h1>Import</h1>
        </div>

        <div class="form-container">
            <form method="post"
                  data-nohash="true"
                  id="{{ form.vars.name }}"
                  action="{{ path('oro_importexport_import_form', {entity: entityName}) }}"
                  class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        {{ form_row(form.file, {'label': 'Import file'}) }}
                    </div>
                    <div class="control-group">
                        {{ form_row(form.processor, {'label': 'Import type'}) }}
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Import</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
