includes:
  - %rootDir%/../phpstan-symfony/extension.neon
  - %rootDir%/../phpstan-webmozart-assert/extension.neon

parameters:
  level: 6
  paths:
    - %rootDir%/../../../src/Akeneo/Platform/Installer/back/src
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # Pre-existing issues - missing type hints for parameters
    - '#has parameter .* with no value type specified in iterable type#'
