includes:
  - %rootDir%/../phpstan-symfony/extension.neon
  - %rootDir%/../phpstan-webmozart-assert/extension.neon

parameters:
  level: 6
  paths:
    - %rootDir%/../../../src/Akeneo/Platform/Installer/back/src
  ignoreErrors:
    # Pre-existing issues - missing type hints
    - '#has no return type specified#'
    - '#has no value type specified in iterable type#'
    - '#does not specify its types#'
    - '#with generic interface .* does not specify its types#'
    - '#should return .* but returns#'
    - '#Call to method .* on an unknown class#'
    - '#has invalid return type#'
    - '#Strict comparison using === between null and string will always evaluate to false#'
