@import '../base/variables';

.AknDefault {
  &-page {
    width: 100%;
  }

  &-topPage {
    width: 100%;
  }

  &-progressContainer {
    width: @AknCenteredContentWidth;
    font-size: @AknTitleFontSize;
    display: block;
    margin: 200px auto 0;
    text-align: center;
    line-height: 40px;
  }

  &-flashContainer {
    position: fixed;
    bottom: 44px;
    right: 44px;
    width: 340px;
  }

  &-flashList {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    z-index: 899;
  }
}
