@import '../base/variables';

.AknDefault {
  &-page {
    width: 100%;
  }

  &-topPage {
    width: 100%;
  }

  &-progressContainer {
    width: @AknCenteredContentWidth;
    font-size: @AknTitleFontSize;
    display: block;
    margin: 200px auto 0;
    text-align: center;
    line-height: 40px;
  }

  &-flashContainer {
    position: fixed;
    bottom: @AknFlashMessagesPadding;
    right: @AknFlashMessagesPadding;
  }

  &-flashList {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    z-index: 899;
  }

  &-contentWithColumn {
    display: flex;
    height: 100%;
  }

  &-mainContent {
    padding: 40px;
    overflow-x: auto;
    flex-grow: 1;
  }
}
