<div id="association-list" class="tab-groups">
    <ul class="nav nav-list">
        {% for association in associations %}
            <li{% if loop.first %} class="active"{% endif %}>
                <a id="association-link-{{ association.id }}" href="javascript:void(0);">
                    <i class="icon-ok"></i>
                    {{ association.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="tab-content fullheight">
    <div id="association-grid"></div>
    {{ form_widget(form.productAssociations) }}
</div>
