<div class="tab-pane active" id="attributes">
    {% include 'PimCatalogBundle:Product:_attributes.html.twig' %}
</div>

<div class="tab-pane" id="categories">
   {% include 'PimCatalogBundle:Product:_associateCategories.html.twig' %}
</div>

<div class="tab-pane" id="completeness">
   {% include 'PimCatalogBundle:Product:_completeness.html.twig' %}
</div>

<div class="tab-pane" id="history">
    <div id="history-grid"></div>
</div>
