<div class="tab-pane active" id="attributes">
    {% include 'PimCatalogBundle:Product:_attributes.html.twig' %}
</div>
{% if resource_granted("pim_catalog_product_categories_view") %}
    <div class="tab-pane" id="categories">
       {% include 'PimCatalogBundle:Product:_associateCategories.html.twig' %}
    </div>
{% endif %}

{% if resource_granted("pim_catalog_product_associations_view") %}
    <div class="tab-pane" id="associations" data-url="{{ path('pim_catalog_product_associations', { id: product.id }) }}">
    </div>
{% endif %}

<div class="tab-pane" id="completeness" data-url="{{ path('pim_catalog_product_completeness', { id: product.id }) }}">
</div>

{#FIXME MONGO: Audit and versionning broken with MongoDB #}
{#
<div class="tab-pane" id="history" data-url="{{ path('pim_catalog_product_history', { id: product.id }) }}">
</div>
