{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}Akeneo - {{ "pim.catalog.product.title.list" | trans }}{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <h1>{{ "pim.catalog.product.title.list" | trans }}</h1>

    {{ grid(grid) }}

{% endblock %}
