{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}Akeneo - {% trans %}pim.catalog.product.title.list{% endtrans %}{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
{% endblock %}

{% block content %}
    
    <h1>{% trans %}pim.catalog.product.title.list{% endtrans %}</h1>
    
    {{ grid(grid) }}

{% endblock %}