{% extends 'PimSearchBundle:Search:baseResultItem.html.twig' %}

{% set showImage = true %}
{% set imagePath = asset('/bundles/pimui/images/icon_product.png') %}

{% if entity %}
    {% set recordUrl = indexer_item.recordUrl %}
    {% block additional_info %}
        <div class="status-enabled pull-left">
            {% if entity.enabled %}
                <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled"></i>{{ 'Active'|trans }}</div>
            {% else %}
                <div class="badge badge-enabled status-disabled"><i class="icon-status-disabled"></i>{{ 'Inactive'|trans }}</div>
            {% endif %}
        </div>
    {% endblock %}
{% endif %}

{% set title = entity.getLabel() %}

{% set entityType = 'Product' |trans({}, 'config') %}

{% set entityInfo = [
    {'title': 'Family', 'value': entity.family ? entity.family : 'N/A'},
    {'title': 'Created', 'value': entity.created ? entity.created|oro_format_datetime : 'N/A'},
    {'title': 'Updated', 'value': entity.updated ? entity.updated|oro_format_datetime : 'N/A'}
] %}
