<form class="unspaced comment-reply">
    <div class="row-fluid">
        <div class="span12">
            <textarea name="body" required="required" placeholder="Reply to this comment..." class="exclude span12 input-large"></textarea>
            <span class="comment-buttons">
               <button class="btn btn-primary comment-btn pull-right">Reply</button>
               <input class="btn cancel comment-btn pull-right" type="reset" value="Cancel">
            </span>
        </div>
    </div>
</form>
