<% if (!hasFamily) { %>
    <p>
        <%- _.__('pim_enrich.form.product.panel.completeness.info.no_family') %>
    </p>
<% } else if (_.isEmpty(completenesses)) { %>
    <p>
        <%- _.__('pim_enrich.form.product.panel.completeness.info.no_completeness') %>
    </p>
<% } else { %>
    <% _.each(completenesses, function(locale) { %>
        <% var ratio = (locale['stats']['complete'] / locale['stats']['total']) * 100; %>
        <div class="AknCompletenessBlock completeness-block" data-closed="<%- (100 === ratio || locale['locale'] !== catalogLocale) ? 'true' : 'false' %>">
            <header class="AknCompletenessBlock-header">
                <span class="AknCompletenessBlock-headerLocale locale" data-locale="<%- locale['locale'] %>"><%= i18n.getFlag(locale['locale'], false) %> <%- _.findWhere(locales, {code: locale['locale']}).language %></span>
                <span class="AknCompletenessBlock-headerStats stats">
                    <div class="AknProgress progress <%- 100 === ratio ? 'AknProgress--apply' : 'AknProgress--warning' %>">
                        <div class="AknProgress-bar bar" data-ratio="<%- ratio %>" style="width: <%- ratio %>%;"></div>
                    </div>
                    <span class="AknCompletenessBlock-progressRatio"><%- locale['stats']['complete'] %>/<%- locale['stats']['total'] %></span>
                </span>
                <span class="AknCompletenessBlock-headerButton"><i class="AknCompletenessBlock-arrow icon-angle-down"></i></span>
            </header>
            <div class="AknCompletenessBlock-content content">
                <% _.each(locale['channels'], function(channelCompleteness) { %>
                    <% if (channelCompleteness.completeness) { %>
                        <div class="AknCompletenessBlock-channel">
                            <span class="AknCompletenessBlock-channelTitle channel" data-channel="<%- channelCompleteness.completeness['channel_code'] %>"><%- channelCompleteness.completeness['channel_labels'][catalogLocale] %></span>
                            <div class="AknCompletenessBlock-progressContainer">
                                <div class="AknCompletenessBlock-progress AknProgress progress <%- channelCompleteness.completeness.ratio === 100 ? 'AknProgress--apply' : 'AknProgress--warning' %>">
                                    <div class="AknProgress-bar bar" data-ratio="<%- channelCompleteness.completeness.ratio %>" style="width: <%- channelCompleteness.completeness.ratio %>%;"></div>
                                </div>
                                <span class="AknCompletenessBlock-progressRatio literal-progress"><%- channelCompleteness.completeness.ratio %>%</span>
                            </div>
                            <div class="AknCompletenessBlock-missing missing">
                                <% if (channelCompleteness.completeness.missing !== 0) { %>
                                    <%- _.__('pim_enrich.form.product.panel.completeness.missing_values') %>:
                                        <span class="missing-attributes">
                                            <% _.each(channelCompleteness.missing, function(missing, i) { %>
                                                <% if (0 !== i) { %> | <% } %>
                                                <a href="javascript:void(0);" data-attribute="<%- missing.code %>" data-locale="<%- locale['locale'] %>" data-channel="<%- channelCompleteness.completeness['channel_code'] %>"><%- i18n.getLabel(missing.labels, catalogLocale, missing.code) %></a>
                                            <% }) %>
                                        </span>
                                    <% } %>
                                <% if (0 === channelCompleteness.completeness.missing && channelCompleteness.missing.length > 0) { %>
                                    <span class="AknBadge AknBadget--important">Completeness error</span>
                                <% } %>
                            </div>
                        </div>
                    <% }%>
                <% }); %>
            </div>
        </div>
    <% }); %>
<% } %>
