<% _.each(completenesses, function(locales, channel) { %>
    <div class="completeness-block" data-closed="false">
        <header><span class="channel" data-channel="<%= channel %>"><%= channel %></span><span class="btn"><i class="icon-angle-down"></i></span></header>
        <div class="content">
            <% _.each(locales, function(completeness, locale) { %>
                <div>
                    <span class="locale" data-locale="<%= locale %>"><%= i18n.getFlag(locale) %></span>
                    <% if (completeness.completeness) { %>
                        <div class="progress <%= completeness.completeness.ratio === 100 ? 'progress-success' : 'progress-warning' %>">
                          <div class="bar" data-ratio="<%= completeness.completeness.ratio %>" style="width: <%= completeness.completeness.ratio %>%;"></div>
                        </div>
                        <div class="missing">
                            <% if (completeness.completeness.missing !== 0) { %>
                             missing values:
                             <span class="missing-attributes">
                                <% _.each(completeness.missing, function(missing) { %>
                                    <span data-attribute="<%= missing %>" data-locale="<%= locale %>" data-channel="<%= channel %>"><%= missing %></span>
                                <% }) %>
                            </span>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% }); %>
        </div>
    </div>
<% }); %>
