<table class="table table-condensed table-bordered table-hover table-history">
    <thead>
        <tr>
            <th>Version</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(versions, function(version, index) { %>
            <tr data-version="<%= version.version %>">
                <td><%= version.version %></td>
                <td><%= version.author %><%= version.context ? ' (' + version.context + ')' : '' %></td>
                <td><%= version.logged_at %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<button id="expand-history" class="btn btn-default pull-right">More</button>
