<table class="table table-condensed table-bordered table-hover table-history">
    <thead>
        <tr>
            <th class="version"><%= _.__('pim_enrich.entity.product.history.version') %></th>
            <th class="author"><%= _.__('pim_enrich.entity.product.history.author') %></th>
            <th class="logged-at"><%= _.__('pim_enrich.entity.product.history.logged_at') %></th>
        </tr>
    </thead>
    <tbody>
        <% _.each(versions, function(version) { %>
            <tr data-version="<%= version.version %>" class="product-version">
                <td class="version"><%= version.version %></td>
                <td class="author"><%= version.author %><%= version.context ? ' (' + version.context + ')' : '' %></td>
                <td class="logged_at"><%= version.logged_at %></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<button class="btn btn-default pull-right expand-history"><%= _.__('pim_enrich.entity.product.history.more') %></button>
