<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>Version</th>
            <th>Author</th>
            <th>From</th>
            <th>Logged at</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody>
        <% _.each(versions, function(version, index) { %>
            <tr data-version="<%= index %>">
                <td class="version">
                    <span>
                        <i class="icon-chevron-right"></i>
                    </span>
                    <%= version.version %>
                </td>
                <td class="author"><%= version.author %></td>
                <td class="context"><%= version.context %></td>
                <td class="logged-at"><%= version.logged_at %></td>
                <td class="changes"><%= _.keys(version.changeset).join(', ') %></td>
            </tr>
            <tr class="changeset hide">
                <td colspan="5">
                    <table class="table table-condensed table-bordered table-hover table-history-details">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Old values</th>
                                <th>New values</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(version.changeset, function(value, key) { %>
                                <tr>
                                    <td><%= key %></td>
                                    <td><%= value.old %></td>
                                    <td><%= value.new %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>
