{% import 'OroEmailBundle::macros.html.twig' as EA %}

{% set valueArray = value.toArray %}
{% if value.first %}
    {% set recipients = value.first.email.getRecipients('to') %}
{% endif %}

{% for recipient in recipients if recipient is not empty %}
    <span>{{ EA.email_address(recipient.getEmailAddress, record.getValue('fromName'), oro_config_value('oro_user.name_format')) }}</span>
{% endfor %}




