$(function() {
    var $optionList = $('table.options');

    $optionList.after($('<a class="btn btn-small add_option_link" href="#"><i class="icon-plus"></i>{{ 'Add another'|trans }}</a>'));

    $optionList.find('tr.att-option').each(function() {
        $(this).append($('<td><button type="button" class="btn btn-small action-delete-inline"><i class="icon-remove"></i></button></td>'));
    });

    $(document).on('click', 'a.add_option_link', function(e) {
        e.preventDefault();
        addOption();
    });

    $(document).on('click', 'button.action-delete-inline', function(e) {
        var rows = $optionList.find('tr').length;
        if (rows > 2) {
            $(this).parent().parent().remove();
            if (rows == 3) {
                $('button.action-delete-inline').hide();
            }
        }
    });

    $optionList.find('.handle input').hide();

    $optionList.find('tbody').sortable({
        handle: '.handle',
        containment: 'parent',
        tolerance: 'pointer',
        update: updateSortOrder
    });

    function addOption() {
        var option = $optionList.find('tr').last().html();

        var optionNumber = $optionList.find('tr.att-option').length + 1;

        option = option.replace(/\[options\]\[([0-9]+)\]/g, "[options][" + optionNumber + "]");
        option = option.replace(/_options_([0-9]+)_/g, "_options_" + optionNumber + "_");
        option = option.replace(/\s+/g, ' ');

        var $option = $('<tr class="att-option"></tr>').append($(option));

        // Empty all fields except for locale
        $option.find('input').each(function() {
            if ($(this).attr('name').indexOf('locale') == -1) {
                $(this).removeAttr('value');
            }
        });

        $option.find('input[type="radio"]').each(function() {
            $(this).val(optionNumber-1);
        });

        $optionList.find('tbody').append($option);

        $('button.action-delete-inline').show();
        updateSortOrder();
    }

    function updateSortOrder() {
        var num = 0;
        $optionList.find('tr').each(function() {
            $(this).find('td.handle input').val(num);
            num++;
        });
    }
});
