parameters:
    level: 5
    paths:
        - %rootDir%/../../../grth/src/Akeneo/Pim/TableAttribute/back/Infrastructure
includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-symfony/extension.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
