## Rename this file in phpspec.yml to customize the phpspec configuration
suites:
    TableAttribute:
        namespace: Akeneo\Pim\TableAttribute
        psr4_prefix: Akeneo\Pim\TableAttribute
        spec_path: grth/src/Akeneo/Pim/TableAttribute/tests/back
        src_path: grth/src/Akeneo/Pim/TableAttribute/back
        spec_prefix: Specification
    TableAttributeTest:
        namespace: Akeneo\Test\Pim\TableAttribute\Acceptance
        psr4_prefix: Akeneo\Test\Pim\TableAttribute\Acceptance
        spec_path: grth/src/Akeneo/Pim/TableAttribute/tests/back/Acceptance
        src_path: grth/src/Akeneo/Pim/TableAttribute/tests/back/Acceptance
        spec_prefix: Specification
