parameters:
    level: 8
    paths:
        - %rootDir%/../../../grth/src/Akeneo/Pim/TableAttribute/back/Domain
includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
