{% extends 'PimCatalogBundle::layout.html.twig' %}

{% block content %}
    <form action="{{ path('pim_catalog_batch_operation_choose', { 'products': productIds }) }}" method="POST" class="form-horizontal">
        {{ form_widget(form) }}
        <input type="submit" value="Continue &rarr;" class="btn">
    </form>
{% endblock %}
