.AknConnectivityConnection {
    &-view {
        overflow: auto;
    }
    &-helper {
        &--highlight {
            color: #9452ba;
            &--lighter {
                color: #a974c7;
            }
        }
    }

    &-link {
        color: #9452ba;
    }
}
