<div data-drop-zone="sidebar" class="sidebar"></div>
<div class="tab-content">
    <header data-drop-zone="header" class="AknAttributeActions tab-header attribute-actions">
        <div data-drop-zone="edit-actions" class="AknAttributeActions-editActions attribute-edit-actions">
            <div data-drop-zone="context-selectors" class="AknAttributeActions-contextSelectors context-selectors"></div>
            <div data-drop-zone="other-actions" class="AknAttributeActions-otherActions other-actions"></div>
        </div>
    </header>
    <div class="tab-pane active object-values"></div>
</div>
