<div class="tabsection-title">
    <%- sectionTitle %>
</div>
<div class="tabsection-content">
    <div class="AknFormContainer AknFormContainer--withPadding">
        <div class="AknFieldContainer">
            <div class="AknFieldContainer-header">
                <label class="control-label required" for="pim_enrich_group_type_form_code">
                    <%- codeLabel %> <em><%- __('pim_enrich.form.required') %></em>
                </label>
            </div>
            <div class="AknFieldContainer-inputContainer">
                <input id="pim_enrich_group_type_form_code" class="AknTextField" type="text" readonly disabled required value="<%- model.code %>">
            </div>
        </div>
    </div>
</div>
