{% extends 'OroNavigationBundle:Menu:menu.html.twig' %}

{% block list %}
    <ul{{ oro_menu.attributes(listAttributes) }}>

        {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
            {% import _self as oro_menu %}

            {{ block('children') }}
        {% elseif (not item.hasChildren and item.parent is null) %}
            <div class="dot-menu-empty-message">{{ 'No items'|trans|raw }}</div>
        {% endif %}
    </ul>
{% endblock %}

{% block label %}
    {{ oro_title_render(item.label|raw) }}
{% endblock %}
