{% extends 'OroNavigationBundle:Menu:menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <script type="text/javascript">
            require(['jquery', 'oro/navigation/shortcuts/view'],
            function($, ShortcutsView) {
                $(function() {
                    /** @type {oro.navigation.shortcuts.View} */
                    new ShortcutsView({
                        el: '.shortcuts .input',
                        source: {{ options.source|json_encode|raw }}
                    });
                });
            });
        </script>
            <div class="dropdown header-dropdown-shortcut header-utility-dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" title="{% trans %}Shortcuts{% endtrans %}"><i class="icon-share-sign"></i></a>
                <ul class="dropdown-menu">
                    <li class="nav-header nav-header-title">{% trans %}Shortcuts{% endtrans %}</li>
                    <li class="dark">
                        <form>
                            <input type="text" placeholder="Enter shortcut action" class="input">
                            <div class="clearfix">
                                <div class="extra-small">{% trans %}Example: Create user, Users list{% endtrans %}
                                    <a href="{{ options.details }}">{% trans %}See full list{% endtrans %}</a>
                                </div>
                            </div>
                        </form>
                    </li>
                    <div class="nav-header">{% trans %}Most Used Actions{% endtrans %}</div>
                    {{ block('children') }}
                </ul>
            </div>
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.extras.isCustomAction is defined %}
        {{ block('item_renderer') }}
    {% endif %}
{% endblock %}
