<%- _.__('pim_enrich.form.product.change_family.modal.merge_attributes')%><br />
<%- _.__('pim_enrich.form.product.change_family.modal.keep_attributes')%><br />
<%- _.__('pim_enrich.form.product.change_family.modal.change_family_to')%>:
<input type="hidden"
       class="input-large family-select2"
       value="<%- product.family !== null ? product.family.code : '' %>"
       <%- product.family ? ' selected' : '' %>
       data-placeholder="<%- _.__('pim_enrich.form.product.change_family.modal.empty_selection') %>" />
