{{ form_widget(form.associations, { 'attr': { 'class': 'hide' }}) }}
<div class="tab-pane {{ first_tab ? 'active' : '' }}" id="{{ tab_id }}" data-url="{{ path('pim_enrich_associations', { id: product.id , dataLocale: dataLocale}) }}">
</div>
