<% if (!_.isEmpty(data)) { %>
<thead>
    <tr>
        <th><%- __('pimee_dashboard.widget.product_drafts.date') %></th>
        <th><%- __('pimee_dashboard.widget.product_drafts.author') %></th>
        <th><%- __('pimee_dashboard.widget.product_drafts.product') %></th>
        <th></th>
    </tr>
</thead>
<tbody>
<% _.each(data, function (proposal) { %>
    <tr>
        <td>
            <%- proposal.createdAt %>
        </td>
        <td><%- proposal.authorFullName %></td>
        <td>
            <a class="product-label" href='#' data-id="<%- proposal.productId %>">
                <%- proposal.productLabel %>
            </a>
        </td>
        <td class="text-right">
            <a class="product-review btn btn-large btn-download" data-product-review-url="<%- proposal.productReviewUrl %>">
                <%- __('pimee_dashboard.widget.product_drafts.review') %>
            </a>
        </td>
    </tr>
<% }); %>
</tbody>
<% } else if (options.contentLoaded) {%>
    <tr>
        <th class="text-center">
            <%- __('pimee_dashboard.widget.product_drafts.empty') %>
        </th>
    </tr>
<% } %>
