<div class="AknFullPage-upperTitle">
    <div class="AknFullPage-title title"><%- title %></div>
    <div class="AknFullPage-description"></div>
</div>

<div class="AknFullPage-centeredContent">
    <div data-drop-zone="header"></div>
    <div class="AknFilterBox AknFilterBox--search" data-drop-zone="filters"></div>
    <table class="AknGrid AknGrid--unclickable">
        <tr class="AknGrid-header">
            <th class="AknGrid-headerCell AknGrid-headerCell--sixteen"><%- franklin_attribute_option %></th>
            <th class="AknGrid-headerCell"><%- catalog_attribute_option %></th>
            <th class="AknGrid-headerCell AknGrid-headerCell--tight"><%- attribute_option_status %></th>
        </tr>
        <% Object.keys(mapping).forEach((franklin_attribute_option_code) => { %>
        <tr
                class="AknGrid-bodyRow AknGrid-bodyRow--sixteen searchable-row"
                data-franklin_attribute_option="<%- mapping[franklin_attribute_option_code].franklin_attribute_option_code.label %>"
                data-status="<%- mapping[franklin_attribute_option_code].status %>"
        >
            <td class="AknGrid-bodyCell AknGrid-bodyCell--highlight searchable-value">
                <%- mapping[franklin_attribute_option_code].franklin_attribute_option_code.label %>
            </td>
            <td class="AknGrid-bodyCell attribute-selector" data-franklin-attribute-code="<%- franklin_attribute_option_code %>"/>
            <td class="AknGrid-bodyCell AknGrid-bodyCell--tight">
                <%- statuses[mapping[franklin_attribute_option_code].status] %>
            </td>
        </tr>
        <% }) %>
    </table>
</div>
