<% _.each(elements, function (element) { %>
    <li class="AknVerticalNavtab-item <%- current === element.code ? 'active' : '' %>" data-element="<%- element.code %>">
        <a class="AknVerticalNavtab-link <%- current === element.code ? 'AknVerticalNavtab-link--active' : '' %>">
            <span class="group-label label"><%- element.label %></span>
            <span class="badge-elements-container">
                <% _.each(badges[element.code], function(badge, type) { %>
                    <span class="AknBadge AknBadge--<%- type %> <%- type %>-badge label"><%- badge %></span>
                <% }) %>
            </span>
        </a>
    </li>
<% }); %>
