{% extends 'PimCatalogBundle::layout.html.twig' %}

{% block content %}

    {% set title = "Execution details" | trans  %}

    {{ elements.page_header(title) }}

    <ul>
        <li><a class="no-hash" href="{{ path('pim_importexport_report_download', { 'id': execution.id }) }}">{{ "Download the log"|trans }}</a></li>
    </ul>

{% endblock %}
