@import '../../pimui/css/less/variables';

.ui-multiselect-menu.select-filter-widget {
  padding: 0 0 2px 0;
  ul {
    max-height: 170px;
  }
  .ui-multiselect-close {
    display: none;
  }
  .ui-multiselect-checkboxes {
    label span {
      white-space: nowrap;
    }
    li {
      padding: 0;
    }
    label {
      margin: 0;
      &.ui-state-hover,
      &.ui-state-active {
        color: @white;
      }
    }
  }
  input[type="search"] {
    margin: 0;
  }
  .ui-multiselect-header {
    padding: 0;
    margin: 0;
  }
  .ui-multiselect-header > div {
    padding: 4px 4px 6px 4px;
  }
  .ui-multiselect-header .ui-helper-reset {
    display: none;
  }
  .ui-multiselect-checkboxes input[type="checkbox"] {
    margin: 0 6px 5px 5px;
  }
  .ui-multiselect-optgroup-label {
    text-align: left;
    text-transform: uppercase;
    border-bottom: none;
    a {
      padding-left: 10px;
    }
  }
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
  line-height: 20px;
}

.filter-criteria {
  .date-visual-element {
    width: 90px;
  }

  .dropdown-menu {
    a {
      color: @color-444;
      &:hover {
        color: @white;
      }
    }
  }
  .datetime-visual-element {
    width: 150px;
  }
}
