@import '../../pimui/css/less/variables';

/** Loading ***********************************************************************************************************/
.loading-frame {
  .box.well {
    background: none;
    border: none;
    box-shadow: none;
    margin: 10px 0;
  }

  .loading-content {
    width: 40px;
    height: 40px;
    margin: auto auto;
    background-color: @white;
    color: transparent;
    border-radius: 4px;
    -webkit-animation: scaleout 0.7s infinite ease-in-out;
    animation: scaleout 0.7s infinite ease-in-out;
  }

}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
