<select class="select2 operator" <%- editable ? '' : 'disabled' %> name="filter-operator">
    <% _.each(operatorChoices, function (operatorChoice) { %>
        <option value="<%- operatorChoice %>"<%- operator === operatorChoice ? ' selected' : '' %>>
            <%- __('pim_enrich.export.product.filter.' + shortName + '.operators.' + operatorChoice) %>
        </option>
    <% }); %>
</select>

<% if (!_.contains(['EMPTY', 'NOT EMPTY'], operator)) { %>
    <input type="text" name="filter-value" class="AknTextField AknTextField--noLeftRadius value" value="<%- value %>" <%- editable ? '' : 'disabled' %>/>
<% } %>
