public/bundles/*
public/media/*
public/css/*
public/js/*
public/dist/*
public/test_dist/*
public/cache/*
var/archive/*
var/*
vendor
bin/symfony_requirements
.phpspec/*.tpl
node_modules
phpcs.xml
phpspec.yml
npm-debug.log
docker-compose.override.yml
composer.lock
package-lock.json
yarn-error.log
coverage/*
.phpunit.result.cache
.env.local
.env.behat.local
.env.test.local
.env.dev.local
.env.local.php
