<div class="AknFieldContainer">
    <div class="AknFieldContainer-header">
        <label title="<%- __('pim_datagrid.view_selector.choose_label') %>" class="AknFieldContainer-label control-label required truncate">
            <%- __('pim_datagrid.view_selector.choose_label') %>
        </label>
    </div>
    <div class="AknFieldContainer-inputContainer field-input">
        <input name="new-view-label" type="text" class="AknTextField" placeholder="<%- __('pim_datagrid.view_selector.placeholder') %>">
    </div>
</div>
<div class="AknFieldContainer">
    <label title="<%- __('pim_datagrid.view_selector.choose_type') %>" class="AknFieldContainer-inputContainer AknFieldContainer--inline">
        <div class="AknSelectButton AknSelectButton--selected AknCreateView-typeSelector"></div>
        <span class="AknFieldContainer-label--inline AknFieldContainer-label--right">
            <%- __('pim_datagrid.view_selector.choose_type') %>
        </span>
    </label>
</div>
