{% extends 'PimEnrichBundle::layout.html.twig' %}
{% import 'PimDataGridBundle::macros.html.twig' as dataGrid %}

{% block content %}
    {{ form_start(form, {
        'action': actionRoute,
        'attr': {
            'data-updated-title': 'confirmation.leave'|trans,
            'data-updated-message': 'confirmation.discard changes'|trans({ '%entity%': (entityName ~ '.title')|trans })
        }
    }) }}

    {% include 'PimImportExportBundle:JobProfile:_edit_headers.html.twig' with {'form': form} %}

    <div class="AknTabContainer">
        {{ elements.form_navbar(view_element_aliases(viewElementsAliases)) }}
        <div class="AknTabContainer-content">
            {% include 'PimImportExportBundle:JobProfile:_form.html.twig' %}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
