{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}
    <div id="job-execution-form">
    </div>
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script>
        require(
            ['jquery', 'pim/fetcher-registry', 'pim/form-builder', 'pim/variant-group-manager', 'pim/user-context', 'pim/dialog', 'oro/mediator', 'pim/error', 'oro/navigation'],
            function ($, FetcherRegistry, FormBuilder, VariantGroupManager, UserContext, Dialog, mediator, Error, Navigation) {
                $(function () {
                    FetcherRegistry.initialize().done(function () {
                        FetcherRegistry.getFetcher('job-execution').fetch('{{ id }}', {id: '{{ id }}'})
                            .then(function (jobExecution) {
                                FormBuilder.build('pim-job-execution-form')
                                    .then(function (form) {
                                        form.setData(jobExecution);
                                        form.getRoot().trigger('pim-job-execution-form:start-auto-update', jobExecution);
                                        form.setElement('#job-execution-form').render();
                                    });

                            })
                            .fail(function (response, textStatus, errorThrown) {
                                var errorView = new Error(response.responseJSON.message, response.status);
                                errorView.setElement('#job-execution-form').render();
                            });
                    })
                });
            });
    </script>
{% endblock %}
