{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block main %}
    <div id="main">
        {% block before_content %}
        <div class="container-fluid breadcrumb-pin">
            <div id="breadcrumb">
                {% block breadcrumb %}
                    {% placeholder breadcrumb %}
                {% endblock breadcrumb %}
            </div>
            {% placeholder pin_button %}
        </div>
        {% endblock before_content %}
        <div class="hash-loading-mask"></div>
        <div id="container">
            {% block page_container %}
                {% block content %}
                    {% placeholder content_before %}
                    <div id="product-edit-form">

                    </div>
                    <script>
                        require(
                            ['jquery', 'pim/fetcher-registry', 'pim/form-builder', 'pim/product-manager', 'pim/user-context', 'pim/dialog', 'oro/mediator'],
                            function($, FetcherRegistry, FormBuilder, ProductManager, UserContext, Dialog, mediator) {
                                $(function() {
                                    FetcherRegistry.initialize().done(function () {
                                        ProductManager.get('{{ productId }}')
                                            .then(function (product) {
                                                FormBuilder.build(product.meta.form)
                                                    .then(function (form) {
                                                        document.title = document.title.replace('%product.sku%', _.escape(product.meta.label[UserContext.get('catalogLocale')]));
                                                        form.setData(product);

                                                        mediator.trigger('pim_enrich:form:entity:post_fetch', product);

                                                        form.setElement('#product-edit-form').render();
                                                    });
                                            }).fail(function(response, textStatus, errorThrown) {
                                                switch (response.status) {
                                                    case 400:
                                                    case 403:
                                                        Dialog.alert(_.__('pim_enrich.alert.not_allowed'));
                                                        break;
                                                }
                                            });
                                    })
                                });
                            });
                    </script>
                    {% placeholder content_after %}
                {% endblock content %}
            {% endblock page_container %}
        </div>
    </div>
{% endblock main %}
