{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block head_script %}
    {# {{ parent() }}
    {% include 'PimEnrichBundle:Product:_js-handler.html.twig' %} #}
{% endblock %}

{% block content %}

<div id="product-edit-form">

</div>

<script>
    require(
        ['jquery', 'pim/form-builder', 'pim/product-manager'],
        function($, FormBuilder, ProductManager) {
            $(function() {
                $.when(
                    FormBuilder.build('pim/product-edit-form'),
                    ProductManager.get({{ product_id }})
                ).done(function(form, product) {
                    form.setData(product);
                    form.setElement('#product-edit-form').render();
                });
            });
        });
</script>


{% endblock %}
