{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block head_script %}
    {# {{ parent() }}
    {% include 'PimEnrichBundle:Product:_js-handler.html.twig' %} #}
{% endblock %}

{% block content %}
<div id="product-edit-form">

</div>

<script>
    require(['pim/product-edit-form'], function() {});
</script>

{% endblock %}
