<div class="AknAssetCollectionField-header AknButtonList AknButtonList--right <%- ('view' === editMode) ? 'AknAssetCollectionField-header--disabled' : '' %>">
    <span class="asset-mass-uploader">
    </span>
    <% if (canUploadAssets) { %>
    <span class="AknButtonList-item AknButton AknButton--action upload-assets">
        <%- _.__('pimee_product_asset.form.product.asset.upload') %>
    </span>
    <% } %>
    <% if (canManageAssets) { %>
    <span class="AknButtonList-item AknButton AknButton--apply add-asset">
        <%- _.__('pimee_product_asset.form.product.asset.manage') %>
    </span>
    <% } %>
</div>
<ul class="AknAssetCollectionField-list<%- ('view' === editMode) ? ' AknAssetCollectionField-list--disabled' : '' %>">
    <% _.each(assets, function (asset) { %>
        <li class="asset-thumbnail-item AknAssetCollectionField-listItem<%- ('view' === editMode) ? ' AknAssetCollectionField-listItem--disabled' : '' %>" data-asset="<%- asset.code %>">
            <div class="AknAssetCollectionField-assetThumbnail asset-thumbnail" style="background-image: url('<%- Routing.generate('pimee_product_asset_thumbnail', {
                    code: asset.code,
                    filter: thumbnailFilter,
                    channelCode: scope,
                    localeCode: locale
                 }) + '?' + new Date().getTime() %>')">
            </div>
            <footer title="<%- asset.description %>">
                <% if (asset.description) { %>
                    <%- asset.description.substring(0, 30) %><%- asset.description.length > 30 ? '...' : '' %>
                <% } %>
            </footer>
        </li>
    <% }); %>
</ul>
