{% extends 'PimEnrichBundle:MassEditAction:product/configure.html.twig' %}

{% block formContent %}
    <div class="AknFormContainer AknFormContainer--withPadding">
        {{ form_row(form.operation.toEnable) }}
    </div>
{% endblock %}
