{% extends 'PimEnrichBundle:MassEditAction:product/configure.html.twig' %}

{% block formContent %}
    <label class="control-label">{{ 'Family'|trans }}</label>
    {{ form_row(
        form.operation.family
    ) }}
{% endblock %}
