{% extends 'StrixosIcecatConnectorBundle::layout.html.twig' %}

{% block title %}StrixOS - Manage Icecat configuration{% endblock %}

{% block content %}

    <form action="{{ path('strixos_icecatconnector_config_save') }}" method="post" {{ form_enctype(form) }}>
        
        <div>
          {% for config in form.configs %}
            {{ form_widget(config.code) }}
            {{ form_widget(config.value) }}
            <br />
          {% endfor %}
        </div>

        <input type="submit" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">

    </form>

{% endblock %}