parameters:
  level: 5
  paths:
    - %rootDir%/../../../components/syndication/back
  excludePaths:
    - %rootDir%/../../../components/syndication/back/tests/Specification
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
