parameters:
  level: 6
  paths:
    - %rootDir%/../../../components/tailored-import/back
  excludes_analyse:
    - %rootDir%/../../../components/tailored-import/back/tests
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
