parameters:
  level: 6
  paths:
    - %rootDir%/../../../components/tailored-import/back
  excludePaths:
    - %rootDir%/../../../components/tailored-import/back/tests
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
