@import '../base/variables';

.AknBadge {
  line-height: @AknDefaultFontSize + 4px;
  height: @AknDefaultFontSize + 4px;
  font-size: @AknDefaultFontSize;
  background: @AknMediumGrey;
  color: @AknDefaultFontColor;
  display: inline-block;
  border-radius: 100px;
  padding: 0 8px;
  transition: background 0.1s ease-in, opacity 0.4s ease-in;
  white-space: nowrap;
  margin: 0 4px;
  text-transform: uppercase;
  cursor: default;

  &-icon {
    margin: 0 5px 0 0;
  }

  &--enabled,
  &--success {
    background: @AknGreen;
    color: white;

    &:hover {
      background: darken(@AknGreen, 10%);
    }
  }

  &--enabled &-icon,
  &--success &-icon {
    color: white;
  }

  &--disabled,
  &--important,
  &--invalid {
    background: @AknRed;
    color: white;

    &:hover {
      background: darken(@AknRed, 10%);
    }
  }

  &--disabled &-icon,
  &--important &-icon,
  &--invalid &-icon {
    color: white;
  }

  &--warning {
    background: @AknOrange;
    color: white;

    &:hover {
      background: @AknOrange;
    }
  }

  &--warning &-icon {
    color: white;
  }

  &--grey {
    background: @AknGrey;
    color: white;

    &:hover {
      background: darken(@AknGrey, 10%);
    }
  }

  &--info {
    background: @AknBlue;
    color: white;

    &:hover {
      background: darken(@AknBlue, 10%);
    }
  }

  &--active {
    background: @AknLightPurple;
    color: white;

    &:hover {
      background: darken(@AknLightPurple, 10%);
    }
  }

  &--highlight {
    background: @AknOrange;
  }

  &--light {
    opacity: 0.2;
  }

  &--round {
    border-radius: 100px;
    padding: 0 6px;
    height: @AknDefaultFontSize;
    line-height: @AknDefaultFontSize;

    &:not(:empty) {
      padding-left: 7px;
      padding-right: 7px;
      height: 18px;
      line-height: 18px;
    }
  }

  &--grey &-icon {
    color: white;
  }

  &--hidden {
    display: none;
  }

  &--medium {
    height: @AknSmallProgressBarHeight;
    min-width: @AknSmallProgressBarHeight;
    line-height: @AknSmallProgressBarHeight;
    font-size: @AknDefaultFontSize;
    padding: 0 8px;
  }

  &--big {
    height: @AknLittleButtonSize;
    min-width: @AknLittleButtonSize;
    line-height: @AknLittleButtonSize;
    font-size: @AknDefaultFontSize;
    padding: 0 16px;
  }

  &--large {
    padding: 0 20px;
  }
}
