@import '../base/variables';

.AknBell {
  &-link {
    height: @AknMainMenuHeight;
    width: @AknMainMenuHeight;
    line-height: @AknMainMenuHeight;
    color: white;
    text-align: center;
    display: block;
    position: relative;

    &:hover,
    &:focus {
      color: white;
    }
  }

  &-icon {
    font-size: @AknBigIconFontSize;
    line-height: @AknMainMenuHeight;
  }

  &-countContainer {
    width: @AknMainMenuHeight;
    position: absolute;
    top: -8px;
    right: -8px;
  }

  &-count {
    background: @AknRed;
    padding: 0 2px;
    border-radius: 2px;

    &--hidden {
      display: none;
    }
  }
}
