@import '../base/variables';

.AknBreadcrumb {
  color: @AknDefaultFontColor;
  font-size: @AknFontSizeBig;
  text-transform: uppercase;
  transition: color 0.2s ease-in;

  &-item {
    display: inline;

    &--routable {
      cursor: pointer;
    }

    &:after {
      content: ' / ';
    }

    &:hover {
      color: @AknDefaultFontColor;
    }

    &--final {
      color: @AknGrey;
      &:after {
        content: '';
      }

      &:hover {
        color: @AknGrey;
      }
    }
  }
}
