@import '../base/variables';

.AknBreadcrumb {
  color: @AknDefaultFontColor;
  font-size: @AknFontSizeBig;

  &-item {
    display: inline;

    &--routable {
      cursor: pointer;
    }

    &:after {
      content: ' / ';
    }
  }
}
