@import '../base/variables';

.AknColumn {
  @iconSize: 20px;
  @littleWidth: 40px;
  @scrollbarWidth: 16px;
  @verticalPadding: @AknPaddingLeftColumn - 10px;

  flex-basis: @AknSecondColumnWidth;
  width: @AknSecondColumnWidth;
  position: relative;
  transition:
    flex-basis @AknColumnTiming @AknColumnTransition,
    width @AknColumnTiming @AknColumnTransition;
  order: -10;
  background: @AknLightGray;
  border-right: 1px solid @AknBorderColor;
  flex-shrink: 0;
  height: 100%;
  z-index: 802;
  overflow: hidden;

  &:empty {
    display: none;
  }

  &-inner {
    width: @AknSecondColumnWidth;
    height: ~"calc(100% - 20px - 20px - 20px)";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: @AknFontSizeSmall;
    position: absolute;
    right: 0;
    overflow-x: auto;
    transition: right @AknColumnTiming @AknColumnTransition;
  }

  &-innerTop:not(:empty),
  &-innerBottom:not(:empty) {
    padding: 0 @AknPaddingLeftColumn @AknPaddingLeftColumn @AknPaddingLeftColumn;
    line-height: 14px;
    transition:
      margin-right @AknColumnTiming @AknColumnTransition,
      margin-left @AknColumnTiming @AknColumnTransition;
  }

  &-innerTop {
    flex-grow: 1;

    &:not(:empty) {
      padding-bottom: @AknPaddingLeftColumn - @verticalPadding;
    }
  }

  &-innerBottom:not(:empty) {
    border-top: 1px solid @AknBorderColor;
    padding-top: @AknPaddingLeftColumn;
  }

  &-block {
    &:not(:empty) {
      display: flex;
      flex-direction: column;
      margin: @AknPaddingLeftColumn 0 0 0;
    }

    &--inline:not(:empty) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: -40px;
    }
  }

  &-block--inline &-subtitle {
    line-height: 38px;
    white-space: nowrap;
  }

  &-block--inline &-value {
    flex-grow: 1;
    margin-top: 2px;
    margin-bottom: -2px;
  }

  &-blockDropdown {
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 4px;
    margin-right: -16px;
  }

  &-title,
  &-subtitle {
    color: @AknGrey;
    text-transform: uppercase;
    font-size: @AknFontSizeSmall;
    line-height: 20px;
  }

  &-title {
    margin-bottom: @AknPaddingLeftColumn;
  }

  &-value {
    color: @AknDarkBlue;
    font-size: @AknDefaultFontSize;

    &--highlited {
      color: @AknLightPurple;
    }
  }

  &-part:not(:empty) {
    border-bottom: 1px solid @AknBorderColor;
    margin-top: -10px;
    margin-left: -@AknPaddingLeftColumn;
    margin-right: -@AknPaddingLeftColumn;
    padding-left: @AknPaddingLeftColumn;
    padding-right: @AknPaddingLeftColumn;
    padding-bottom: @verticalPadding;
    min-height: 48px;
  }

  &-navigationLink {
    display: block;
    font-size: @AknFontSizeBig;
    margin: 0 0 20px 0;
    color: @AknDarkBlue;
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 0.2s ease-in;

    &:hover {
      opacity: 1;
    }

    &--active {
      color: @AknLightPurple;
    }
  }

  &-navigation {
    position: fixed;
    margin-top: 10px;
    left: @AknMainMenuWidth + (@littleWidth - @AknDefaultButtonSize) / 2;
    opacity: 0;
    transition: opacity @AknColumnTiming @AknColumnTransition;
    z-index: 850;
  }

  &-resume {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: @AknDefaultFontSize;
  }

  &-collapseButton {
    height: @iconSize + @verticalPadding * 2;
    width: @AknSecondColumnWidth;
    background: url("../../images/icon-panelClose.svg") no-repeat 20px center;
    background-size: @iconSize;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    bottom:0;
    right: 0;
    border-top: 1px solid @AknBorderColor;
    transition:
      opacity 0.2s @AknColumnTransition,
      width @AknColumnTiming @AknColumnTransition,
      background-position @AknColumnTiming @AknColumnTransition;

    &:hover {
      opacity: 1;
    }
  }

  &--collapsed {
    flex-basis: @littleWidth;
    width: @littleWidth;
  }

  &--collapsed &-navigation {
    opacity: 1;
  }

  &--collapsed &-inner {
    right: -@scrollbarWidth;
  }

  &--collapsed &-innerTop,
  &--collapsed &-innerBottom {
    margin-right: @littleWidth + @scrollbarWidth;
    margin-left: -(@littleWidth + @scrollbarWidth);
  }

  &--collapsed &-collapseButton {
    width: @littleWidth;
    background-position: ((@littleWidth - @iconSize) / 2) center;
    background-image: url("../../images/icon-panelOpen.svg");
  }

  &-bottomButtonContainer {
    border-top: 1px solid @AknBorderColor;
    padding: 20px;
    text-align: center;
  }
}
