@import '../base/variables';

.AknDashboardButtons {
  width: @AknCenteredContentWidth;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;

  &-item {
    background: lighten(@AknGrey, 30%);
    color: @AknPurple;
    transition: background 0.2s ease;
    flex-grow: 1;
    display: block;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: bold;

    &:hover {
      background: lighten(@AknGrey, 25%);
    }
  }

  &-item + &-item {
    margin-left: 10px;
  }

  &-image {
    display: block;
    margin: 0 auto 10px auto;
  }
}
