@import '../base/variables';

.AknDropdown {
  @animationDuration: 0.2s;
  @transitionTimingFunction: ease-in;

  position: relative;
  cursor: pointer;

  &-menu {
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.15);
    z-index: 801;
    min-width: 100%;
    opacity: 0;
    transform: scale(0);
    transition: opacity @animationDuration @transitionTimingFunction;
    animation-name: fadeOut;
    transition-timing-function: @transitionTimingFunction;
    animation-duration: @animationDuration;
    max-height: 70vh;
    overflow: auto;

    &--alignLeft { }

    &--right {
      right: 0;
      left: auto;
    }

    &--spaceless {
      padding: 0;
    }

    &-expanded {
      min-width: 400px;
    }

    &--open {
      display: block;
      transform: scale(1);
      opacity:1;
      animation-name: fadeIn;
      animation-duration: 0.2s;
      transition-timing-function: ease-in;
      cursor: default;
      z-index: 804;
    }
  }

  &-menuTitle {
    color: @AknLightPurple;
    border-bottom: 1px solid @AknLightPurple;
    margin-bottom: 12px;
    padding-bottom: 5px;
    padding-right: 40px;
    text-transform: uppercase;
  }

  &-menuTitle,
  &-menuLink {
    white-space: nowrap;
    font-weight: normal;
    background: none;
    display: block;
    text-align: left;
    font-size: @AknDefaultFontSize;
    width: 100%;
    line-height: 26px;
    transition: line-height @animationDuration @transitionTimingFunction;
  }

  &-menuLink {
    color: @AknSlateGrey;
    border: none;
    cursor: pointer;
    padding: 0;
    text-transform: none;

    &:hover {
      background: @AknDefaultHoverBackground;
    }

    &--active {
      color: darken(@AknSlateGrey, 30%);
    }

    &--hidden {
      display: none;
    }
  }

  &--left {
    margin-left: 10px;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  1% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
  }

  99% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
