@import '../base/variables';

.AknDropdownButton {
  &-button {
    background: lighten(@AknGrey, 25%);
    height: @AknDefaultButtonSize;
    line-height: @AknDefaultButtonSize;
    border-radius: 2px;
    padding: 0 0 0 10px;
    display: inline-block;
    cursor: pointer;
    font-size: @AknFontSizeBig;

    &:hover {
      background: lighten(@AknGrey, 15%);
    }
  }

  &-caretContainer {
    background: lighten(@AknGrey, 15%);
    width: @AknDefaultButtonSize;
    margin-left: 10px;
    height: @AknDefaultButtonSize;
    display: inline-block;
    text-align: center;
  }

  &:hover &-caretContainer {
    background: lighten(@AknGrey, 5%);
  }
}
