@import '../base/variables';

// TODO Remove the .dropdown, .dropdown-menu ... classes. I keep it because it's used everywhere for now.
.AknDropdown {
  position: relative;

  &-menu {
    border: 1px solid @AknBorderColor;
    padding: @AknDropdownMenuVerticalPadding 0;
    position: absolute;
    left: 0;
    display: none;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 801;

    &--alignLeft { }

    &--right {
      right: 0;
      left: auto;
    }

    &--spaceless {
      padding: 0;
    }
  }

  &-menuLink {
    color: @AknDefaultFontColor;
    font-size: @AknDefaultFontSize;
    padding: 0 15px;
    display: block;
    height: 27px;
    line-height: 27px;
    white-space: nowrap;
    font-weight: normal;
    border: none;
    background: white;
    cursor: pointer;
    text-align: left;
    min-width: 80px;

    &:hover {
      background: @AknDefaultHoverBackground;
    }

    &--active,
    &--active:hover {
      background: @AknPurple;
      color: white;
    }
  }

  // TODO Due to JS dropdown, we have to change it directly in the jQuery code.
  &.open &-menu {
    display: block;
  }
}
