
.AknFieldContainer {
  &-formField {
    margin-bottom: 20px;
    max-width: 500px;
    min-width: 300px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-label { }
}
