.AknFilterBox {
  background: #e6e8ec;
  padding: 15px 20px 15px 150px;
  z-index: 800;
  position: relative;
  min-height: 64px;

  &-addFilterButton {
    position: absolute;
    left: 20px;
    border: none;
    background: inherit;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
  }

  &-filter {
    margin-right: 10px
  }

  &-disableFilter {
    height: 30px;
    text-align: center;
    display: inline-block;
    width: 20px;
  }
}
