@import '../base/variables';

.AknFlash {
  @iconSize: 24px;

  border: 1px solid darken(@AknOrange, 10%);
  background: lighten(@AknOrange, 30%);
  color: darken(@AknOrange, 15%);
  border-radius: 2px;
  padding: 12px;
  display: flex;
  margin-top: 10px;
  font-size: @AknFontSizeBig;
  line-height: 11px;
  align-items: center;

  &-icon {
    background: darken(@AknOrange, 15%);
    border-radius: 1000px;
    padding: 2px;
    height: @iconSize;
    width: @iconSize;
  }

  &-messageTitle {
    font-weight: bold;
  }

  &-message {
    flex-grow: 1;
    line-height: @AknFontSizeBig * 1.15;
    margin: 0 16px;
  }

  &-closeButton {
    cursor: pointer;
    padding: 4px;
    width: @iconSize;
    height: @iconSize;
  }

  &-timer {
    width: @iconSize;
    text-align: center;
  }

  &--withTimer &-closeButton {
    display: none;
  }

  &--withTimer:hover &-closeButton {
    display: block;
  }

  &--withTimer:hover &-timer {
    display: none;
  }

  &--success {
    border: 1px solid darken(@AknGreen, 5%);
    background: lighten(@AknGreen, 30%);
    color: darken(@AknGreen, 5%);
  }

  &--success &-closeButton {
    color: darken(@AknGreen, 5%);
  }

  &--success &-icon {
    background: darken(@AknGreen, 5%);
  }

  &--danger,
  &--error {
    border: 1px solid darken(@AknRed, 10%);
    background: lighten(@AknRed, 30%);
    color: darken(@AknRed, 20%);
  }

  &--danger &-closeButton,
  &--error &-closeButton {
    color: darken(@AknRed, 20%);
  }
}
