@import '../base/variables';

.AknSequentialEdit {
  display: flex;
  justify-content: center;

  &-progress {
    flex-basis: 50%;
    margin: 10px;
  }

  &-previous,
  &-next {
    margin: 10px;
    line-height: @AknMicroButtonSize;
  }
}
