@import '../base/variables';

.AknSubsection {
  &-title {
    color: @AknSlateGrey;
    font-size: @AknFontSizeBig;
    text-transform: uppercase;
    border-bottom: 2px solid @AknSlateGrey;
    font-weight: bold;
    line-height: @AknBigButtonSize;
  }

  &-comment {
    font-size: @AknDefaultFontSize;
    text-transform: none;
    font-weight: normal;
  }
}
