@import '../base/variables';

.AknTabContainer {
  padding: 10px 20px;

  &-content {
    border-left: 1px solid @AknBorderColor;
    border-right: 1px solid @AknBorderColor;
    border-bottom: 1px solid @AknBorderColor;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    &--fullWidth {
      width: 100%;
    }
  }

  &-contentThreeColumns {
    display: flex;
    align-items: stretch;
  }
}
