@import '../base/variables';

.AknThumbnail {
  width: 160px;
  height: 110px;
  background-size: 100% auto;
  background-position: center center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 3px;

  &-label {
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
  }
}
