@import '../base/variables';

.AknTitleContainer {
  @imageSize: 100px;

  margin-bottom: 40px;
  display: flex;

  &-imageContainer:not(:empty) {
    width: @imageSize;
    height: @imageSize;
    margin-right: 20px;
  }

  &-image {
    width: @imageSize;
    height: @imageSize;
  }

  &-mainContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &-breadcrumbs:not(:empty) {
    padding-bottom: 10px;
  }

  &-title {
    color: @AknLightPurple;
    font-size: @AknTitleFontSize;
    height: @AknDefaultButtonSize;
    line-height: @AknDefaultButtonSize;
    margin: 0;
    font-weight: normal;
    white-space: nowrap;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &-rightButtons {
    order: 10;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &--hidden {
    display: none;
  }
}
