@import '../base/variables';

.AknTitleContainer {
  @imageSize: 140px;
  @padding: 40px;

  position: sticky;
  top: 0;
  margin: 0 -@padding 0 -@padding;
  padding: @padding;
  background: white;
  z-index: 10;

  &-line {
    display: flex;
    justify-content: space-between;
  }

  &-imageContainer:not(:empty) {
    width: @imageSize + 2px;
    height: @imageSize + 2px;
    border: 1px solid @AknBorderColor;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    flex-basis: @imageSize + 2px;
    flex-shrink: 0;
  }

  &-image {
    margin: auto;
    width: 100%;
  }

  &-mainContainer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
  }

  &-breadcrumbs {
    flex-grow: 1;
    max-height: 32px;
    overflow: hidden;
    margin-right: 20px;
    line-height: 16px;
  }

  &-buttonsContainer {
    display: flex;
    align-content: baseline;
  }

  &-userMenu:not(:empty) {
    display: flex;
    border-right: 1px solid @AknBorderColor;
    margin-right: 20px;
    padding-right: 20px;
    height: @AknDefaultButtonSize;
  }

  &-userIcon {
    height: @AknDefaultButtonSize;
    width: @AknDefaultButtonSize;
    border-radius: 100px;
    cursor: pointer;
    background-size: cover;
  }

  &-title {
    color: @AknLightPurple;
    font-size: @AknTitleFontSize;
    line-height: 34px;
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &-state {
    order: 50;
    align-self: center;
    margin-right: 0;
    margin-top: 6px;
    text-align: right;
    margin-left: 20px;
  }

  &-context {
    padding: 10px 0;
  }

  &-metaItem {
    & + & {
      &:before {
        content: ' | ';
      }
    }
  }

  &--hidden {
    display: none;
  }
}
