@import '../base/variables';

.AknUserMenu {
  height: @AknMainMenuHeight;
  line-height: @AknMainMenuHeight;

  &-userLink {
    color: white;
    padding: 20px;

    &:hover,
    &:focus {
      color: white;
    }
  }

  &-helpLink {
    height: @AknMainMenuHeight;
    width: @AknMainMenuHeight;
    text-align: center;
    line-height: @AknMainMenuHeight;
    color: white;
    font-size: @AknLittleIconFontSize;
    display: block;

    &:hover,
    &:focus {
      color: white;
    }
  }
}
