<% if (product.meta.published) { %>
    <div class="AknSeveralActionsButton AknSeveralActionsButton--action AknDropdown">
        <button class="AknSeveralActionsButton-mainAction publish-product <%- (product.meta.published.version === product.meta.updated.version) ? 'disabled' : '' %>">
            <%- _.__('pimee_enrich.entity.product.btn.publish_this_version') %>
        </button>
        <button class="AknSeveralActionsButton-caretContainer dropdown-publish" data-toggle="dropdown">
            <span class="AknCaret AknCaret--inverse"></span>
        </button>
        <ul class="AknSeveralActionsButton-menu AknDropdown-menu AknDropdown-menu--alignRight">
            <li><a class="AknDropdown-menuLink unpublish-product"><%- _.__('pimee_enrich.entity.product.btn.unpublish') %></a></li>
        </ul>
    </div>
<% } else { %>
    <button class="AknButton AknButton--action AknButton--withIcon publish-product">
        <i class="AknButton-icon icon-cloud-upload"></i><%- _.__('pimee_enrich.entity.product.btn.publish') %>
    </button>
<% } %>
