<% if (product.meta.published) { %>
    <% if (product.meta.published.version !== product.meta.updated.version) { %>
        <a class="AknDropdown-menuLink publish-product "><%- _.__('pimee_enrich.entity.product.btn.publish_this_version') %></a>
    <% } %>
    <a class="AknDropdown-menuLink unpublish-product"><%- _.__('pimee_enrich.entity.product.btn.unpublish') %></a>
<% } else { %>
    <a class="AknDropdown-menuLink publish-product"><%- _.__('pimee_enrich.entity.product.btn.publish') %></a>
<% } %>
