<td>
    <span class="handle"><i class="icon-reorder"></i></span>
    <span class="option-code"><%- item.code %></span>
</td>
<% _.each(locales, function (locale) { %>
    <td>
        <% if (item.optionValues[locale]) { %>
            <span title="<%- item.optionValues[locale].value %>">
                <%- item.optionValues[locale].value %>
            </span>
        <% } %>
    </td>
<% }); %>
<td>
    <div class="AknButtonsList AknButtonsList--withSpace">
        <span class="AknButtonsList-item AknIconButton AknIconButton--apply edit-row"><i class="icon-pencil"></i></span>
        <span class="AknButtonsList-item AknIconButton AknIconButton--important delete-row"><i class="icon-trash"></i></span>
    </div>
</td>
