<div id="page" class="AknDefault-page">
    <div data-drop-zone="header"></div>
    <div class="AknDefault-topPage">
        <div>
            <div class="AknBreadcrumbContainer">
                <div id="flash-messages" class="AknBreadcrumbContainer-flashContainer ">
                    <div class="flash-messages-holder AknBreadcrumbContainer-flashList"></div>
                </div>
            </div>
            <div id="container" class="scrollable-container"></div>
        </div>
    </div>
</div>
