<form class="form-inline">
    <div class="row-fluid">
        <div class="control-group option-code">
            <label class="control-label option-code"><%= _.__('pim_enrich.form.product.tab.attributes.add_option.code') %></label>
            <div class="controls">
                <input class="input-large add-option-input option-code" type="text" name="option-code">
            </div>
        </div>
        <div class="control-group option-value">
            <label class="control-label option-value"><%= _.__('pim_enrich.form.product.tab.attributes.add_option.value') %></label>
            <div class="controls">
                <input class="input-large add-option-input option-value" type="text" name="option-value">
            </div>
        </div>
    </div>
</form>
