<% if (!copying) { %>
    <div class="btn start-copying">Copy</div>
<% } else { %>
    <div class="context-selectors"></div>
    <div class="other-actions">
        <div class="copy-actions">
            <div class="btn-group selection-dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Select
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="select-all">All</a>
                        <a class="select-all-visible">All visible</a>
                    </li>
                </ul>
            </div>
            <div class="btn copy">Copy</div>
            <div class="btn stop-copying">&times;</div>
        </div>
    </div>
<% } %>
