<div class="copy-container">
    <input type="checkbox" class="copy-field-selector" <%= selected ? 'checked' : '' %>></input>
    <div class="<%= type %>-field form-field">
        <header>
            <label><%= label %></label>
            <span class="field-info pull-right">
                <% if (attribute.scopable || attribute.scopable) { %>
                    <span class="field-context">
                        <% if (attribute.scopable) { %> <span><%= scope %></span> <% } %>
                        <% if (attribute.localizable) { %> <span><%= i18n.getFlag(locale) %></span> <% } %>
                    </span>
                <% } %>
            </span>
        </header>
        <div class="field-input">
            <% if (data && 'pim_catalog_image' === attribute.type || 'pim_catalog_file' === attribute.type) { %>
                <% filename = data.filePath.substring(data.filePath.lastIndexOf('/') + 1) %>
                <div class="media-uploader <%= data && data.filePath ? 'has-file' : '' %>" >
                    <div class="file">
                    <% if (data) { %>
                        <% if ('pim_catalog_image' === attribute.type && null != filename) { %>
                            <img class="preview" src="/media/<%= filename %>"/>
                        <% } %>
                        <span><%= data.originalFilename %></span>
                    <% } %>
                    </div>
                </div>
            <% } else { %>
                <%= data %>
            <% } %>
        </div>
    </div>
</div>
