<div class="AknMetricField metric-container<% if (attribute.localizable) { %> AknMetricField--localizable<% } %>">
    <% if (attribute.localizable) { %>
        <div class="AknTextField-layer AknTextField-layer--first"></div>
        <div class="AknTextField-layer AknTextField-layer--second"></div>
    <% } %>
    <input class="AknTextField AknTextField--noRightRadius data" id="<%- fieldId %>" type="text" data-locale="<%- locale %>" data-scope="<%- scope %>" value="<%- value ? value.data.amount : null %>" <%- editMode === 'view' ? 'disabled' : '' %>/>
    <select class="AknMetricField-unit unit select-field" data-locale="<%- value ? value.locale : null %>" data-scope="<%- value ? value.scope : null %>" <%- editMode === 'view' ? 'disabled' : '' %>>
        <% _.each(_.keys(measures[attribute.metric_family].units), function(unit) { %>
            <option value="<%- unit %>"<% if (undefined !== value && ((null === value.data.unit && unit === attribute.empty_value.unit) || value.data.unit === unit)) { %> selected<% } %>>
                <%- __(`pim_measure.units.${unit}`) %>
            </option>
        <% }); %>
    </select>
</div>
