<div class="AknFieldContainer-subContainer">
    <% if (attribute.localizable) { %>
        <div class="AknTextField-layer AknTextField-layer--first"></div>
        <div class="AknTextField-layer AknTextField-layer--second"></div>
    <% } %>
    <input
        id="<%- fieldId %>"
        type="hidden"
        class="select-field<% if (attribute.localizable) { %> AknTextField--localizable<% } %>"
        value="<%- value ? value.data.join(',') : null %>"
        data-locale="<%- locale %>"
        data-scope="<%- scope %>"
        <%- editMode === 'view' ? 'disabled' : '' %>
    />
</div>
<% if (userCanAddOption) { %>
    <div class="AknFieldContainer-iconsContainer">
        <span class="AknIconButton AknIconButton--plus add-attribute-option" data-toggle="tooltip" data-placement="top" data-original-title="<%- _.__('pim_enrich.entity.product.module.attribute.add_option') %>"></span>
    </div>
<% } %>
