{% extends 'PimUserBundle::layout.html.twig' %}

{% block bodyClass %}AknLogin{% endblock %}

{% block messages %}
    <div class="Helper Helper--info">
        <span class="Icon"></span>
        <span class="Text">{{ 'pim_user.user.login.password_reset_email_sent'|trans }}</span>
    </div>
{% endblock %}

{% block content %}
    <div class="Form">
        <div class="InputGroup">
            <div class="CancelPasswordReset">
                <a href="{{ path('oro_default') }}">{{ 'pim_user.user.login.homepage'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
