{% extends 'PimUserBundle::layout.html.twig' %}

{% block bodyClass %}AknLogin{% endblock %}

{% block content %}
    <form action="" class="Form">
        <div class="Helper Helper--info">
            <span class="Icon"></span>
            <span class="Text">{{ 'pim_user.user.login.password_reset_email_sent'|trans }}</span>
        </div>
        <div class="CancelPasswordReset">
            <a href="{{ path('oro_default') }}">{{ 'pim_user.user.login.homepage'|trans }}</a>
        </div>
    </form>
{% endblock %}
