default:
    suites:
        acceptance:
            paths:
                - '%paths.base%/../features'
            contexts_services:
                - akeneo_referenceentity.tests.back.acceptance.context.edit_reference_entity_context
                - akeneo_referenceentity.tests.back.acceptance.context.delete_reference_entity_context
                - akeneo_referenceentity.tests.back.acceptance.context.create_reference_entity_context
                - akeneo_referenceentity.tests.back.acceptance.context.create_record_context
                - akeneo_referenceentity.tests.back.acceptance.context.list_record_context
                - akeneo_referenceentity.tests.back.acceptance.context.delete_record_context
                - akeneo_referenceentity.tests.back.acceptance.context.delete_all_records_context
                - akeneo_referenceentity.tests.back.acceptance.context.create_attribute_context
                - akeneo_referenceentity.tests.back.acceptance.context.append_attribute_option_context
                - akeneo_referenceentity.tests.back.acceptance.context.edit_attribute_option_context
                - akeneo_referenceentity.tests.back.acceptance.context.edit_attribute_context
                - akeneo_referenceentity.tests.back.acceptance.context.exception_context
                - akeneo_referenceentity.tests.back.acceptance.context.edit_attribute_context
                - akeneo_referenceentity.tests.back.acceptance.context.edit_record_context
                - akeneo_referenceentity.tests.back.acceptance.context.constraint_violations_context
                - akeneo_referenceentity.tests.back.acceptance.context.index_records_context
                - akeneo_referenceentity.tests.back.acceptance.context.set_reference_entity_permission_context
            filters:
                tags: '@acceptance-back'
        integration:
            paths:
                - '%paths.base%/../features'
            contexts_services:
                - akeneo_referenceentity.tests.back.integration.connector.collect.create_or_update_record_context
                - akeneo_referenceentity.tests.back.integration.connector.collect.create_or_update_reference_entity_context
                - akeneo_referenceentity.tests.back.integration.connector.collect.create_or_update_attribute_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_record_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_records_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.not_found_reference_entity_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_reference_entity_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_reference_entities_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_attributes_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_attribute_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_attribute_option_context
                - akeneo_referenceentity.tests.back.integration.connector.distribute.get_connector_attribute_options_context
            filters:
                tags: '@integration-back'
    extensions:
        FriendsOfBehat\ContextServiceExtension:
           imports:
               - 'Acceptance/Resources/config/behat/services.yml'
               - 'Integration/Resources/config/behat/services.yml'
        FriendsOfBehat\CrossContainerExtension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                env: test_fake
                debug: false
    formatters:
        pretty: true
