{#
    Renders datagrid widget

    parameters:
        name: datagrid name
        params: additional parameters for url
#}
{% macro renderGrid(name, params = {}) %}
    {% set dataUrl = path('oro_datagrid_index', { 'gridName': name }|merge(params)) %}

    {% set metaData = oro_grid_metadata(name) %}
    {% set options = metaData.options is defined ? metaData.options : [] %}
    {% set options = options|merge({ gridName: name, dataUrl: dataUrl }) %}
    {% set metaData = metaData|merge({'options': options}) %}

    <div data-type="datagrid" data-data="{{ render(dataUrl)|escape }}" data-metadata="{{ metaData|json_encode }}"></div>
    <script type="text/javascript">
        require(['jquery'], function ($) {
            $(function () {
                $('div[data-type="datagrid"]:not([data-rendered])').each(function (e, el) {
                    var el = $(el);
                    console.group('Datagrid "{{ name }}" rendered:');
                    console.info(el.data('data'));
                    console.info(el.data('metadata'));
                    console.groupEnd();

                    el.html(JSON.stringify(el.data('data'))).append($('<hr />'));
                    el.append($('<div>').html(JSON.stringify(el.data('metadata'))));

                    el.data('rendered', true);
                });
                {# @TODO add require JS builder here and call init method #}
            });
        });
    </script>
{% endmacro %}
