{#
    Renders datagrid widget

    parameters:
        name: datagrid name
        params: additional parameters for url
#}
{% macro renderGrid(name, params = {}) %}
    {% set metaData = oro_datagrid_metadata(name, params) %}

    <div data-type="datagrid" data-data="{{ oro_datagrid_data(name, params)|escape }}"
         data-metadata="{{ metaData|json_encode }}"></div>
    <script type="text/javascript">
        require(['jquery', 'oro/datagrid-builder'].concat({{ metaData.requireJSModules|json_encode|raw }}),
        function ($, datagridBuilder) {
            var builders = _.toArray(arguments).slice(2);
            $(function () {
                datagridBuilder(builders);
                {# @TODO remove dev code #}
                $('div[data-type="datagrid"]:not([data-rendered])').each(function (e, el) {
                    el = $(el);
                    console.group('Datagrid "{{ name }}" rendered:');
                    console.info(el.data('data'));
                    console.info(el.data('metadata'));
                    console.groupEnd();
                });
            });
        });
    </script>
{% endmacro %}
