<div class="AknCatalogVolume-axis">
    <div class="AknCatalogVolume-icon AknCatalogVolume-icon--<%- icon %> <%- (true === has_warning) ? 'AknCatalogVolume-icon--warning': '' %>"></div>
    <div class="AknCatalogVolume-title">
        <%- title %>
        <div class="AknCatalogVolume-value" data-field="<%- name %>">
            <span>Mean: <div><%- value.average %></div></span>
            <span>Max: <div><%- value.max %></div></span>
        </div>

        <% if (true === has_warning) { %>
            <div class="AknCatalogVolume-warning">
                <%- warningText %>
            </div>
        <% } %>
    </div>
</div>
