<div class="AknCatalogVolume-axis">
    <div class="AknCatalogVolume-icon AknCatalogVolume-icon--<%- icon %>"></div>
    <div class="AknCatalogVolume-title">
        <%- title %>
        <div class="AknCatalogVolume-value">
            <span>Mean:</span><%- value.mean %>
            <span>Max:</span> <%- value.max %>
        </div>

        <% if (true === warning) { %>
            <div class="AknCatalogVolume-warning">
                <%- warningText %>
            </div>
        <% } %>
    </div>
</div>
