body {
    background-color: #fff;
    color: #444;
}

#main {
    padding: 0;
}

header {
    background : -webkit-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -moz-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -o-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -ms-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
}

header .extra-divider, .navbar .small-divider {
    background: transparent;
}

.header-search .dropdown-toggle {
    background : -webkit-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -moz-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -o-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -ms-linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
    background : -linear-gradient(top, rgb(137, 68, 176) 00%, rgb(104, 49, 144) 99%);
}

.header-search input[type="text"] {
    background-color: #4F1374;
    background-image: none;
}

.header-search .btn-search, .header-search .btn-search:hover,
.header-search .btn-search:active, .header-search .btn-search:focus {
    background-color: #4F1374;
}

.pin-bar {
    background-image: none;
    background-color: #50097C;
}

.pin-bar .list-bar li.active{
    background-color: #6800A9;
}

.application-menu {
    background-color: #F6F6F6;
}

.application-menu .nav-tabs > li.active > a,
.application-menu .nav-tabs > li.active > a:hover,
.application-menu .nav-tabs > li > a:hover,
.application-menu .nav-tabs > li > a:focus {
    color: #444;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-width: 1px 1px 0 1px;
    text-shadow: none;
}

.application-menu .nav-tabs > li > a {
    color: #9f9f9f;
    background-color: #e2e2e2;
    border: none;
    border: 1px solid #d8d8d8;
    border-width: 1px 1px 0 1px;
    text-shadow: none;
}

.application-menu .nav-tabs {
    border-color: #d8d8d8;
}

.application-menu .tab-content {
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.25);
    -moz-box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.25);
    box-shadow: 0px 1px 3px rgba(20, 20, 20, 0.25);
    border-bottom: 1px solid #c3c3c3;
}

.application-menu .tab-content > .tab-pane > .nav a {
    font-weight: normal;
    color: #444;
}

.application-menu .tab-content > .tab-pane > .nav .active a,
.application-menu .tab-content > .tab-pane > .nav a:hover {
    color: #444;
    background-color: #fff;
    font-weight: bold;
}

.application-menu .tab-content > .tab-pane > .nav .current a,
.application-menu .tab-content > .tab-pane > .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #444;
    background-color: #fff;
}

.navigation .top-action-box {
    background-color: transparent;
    padding: 0;
}

.form-row button.btn {
    height: 32px;
}

.form-row .btn {
    font-weight: bold;
    margin-top: 8px;
    margin-right: 8px;
}

.btn-primary {
    background-color: #885ab1;
    background-image: -moz-linear-gradient(top, #9e71c7, #71429a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9e71c7), to(#71429a));
    background-image: -webkit-linear-gradient(top, #9e71c7, #71429a);
    background-image: -o-linear-gradient(top, #9e71c7, #71429a);
    background-image: linear-gradient(to bottom, #9e71c7, #71429a);
    border: 1px solid;
    border-color: #703c9d #703c9d #703c9d;
    text-shadow: 1px 1px 2px #582c81;
    filter: dropshadow(color=#582c81, offx=1, offy=1);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #8C64AF;
    background-image: none;
}

a.return {
    line-height: 30px;
    margin-top: 8px;
    margin-right: 8px;
}

.scrollspy-title {
    background-color: #FAFAFA;
    padding: 10px;
    margin-top: 0;
}

a.accordion-toggle {
    text-decoration: none;
    color: #444;
}

.accordion-group {
    margin: 10px;
}

.controls .switch label{
    float: none;
}

#entities-sortable li {
    list-style: none;
    cursor: pointer;
    line-height: 35px;
}

#entities-sortable li:nth-child(odd) {
    background-color: #E1E1E1;
}

#entities-sortable li.active {
    background-color: #5A8CE6;
}

#form-tab tbody td {
    border: none;
}

th label {
    text-align: center;
}

.table-condensed td {
    text-align: center;
}

form .table-condensed input.span4 {
    width: 100%;
}

.has-switch > div.switch-off, .has-switch > div.switch-on {
    height: auto;
}

#entities-sortable {
    margin-left: 0;
}

.resizable-sidebar-handle {
    background-color: #F5F5F5;
}

.resizable-sidebar-handle:hover {
    background-color: #D0D0D0;
}

.resizable-content h3 {
    margin-left: 10px;
}
