{% extends "OroUIBundle:Default:index.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock head %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-pass-reset">
            <h2 class="form-signin-heading">Password reset Request</h2>
            <div class="form-row">
                <label class="">Enter your registered email address :</label>
                <input type="text" class="" />
            </div>
            <button type="submit" class="btn ">Request</button>
            <button type="submit" class="btn ">Cancel</button>
        </form>
    </div>
{% endblock content %}