
<body>
<div id="page">
    <div id="top-page">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <hr />
                    <h3>Layout pages</h3>
                    <ul>
                        <li><a href="1column">1column </a></li>
                        <li><a href="2columns-left.php">2columns-left</a></li>
                        <li><a href="2columns-right.php">2columns-right</a></li>
                        <li><a href="3column.php">3column</a></li>
                        <li><a href="1column-with-toolbar.php">1column with toolbar</a></li>
                    </ul>
                    <h3>Static pages</h3>
                    <ul>
                        <li><a href="forgot-password.php">forgot-password</a></li>
                        <li><a href="login-page.php">login-page</a></li>
                        <li><a href="registration-page.php">registration-page</a></li>
                        <li><a href="404.php">404</a></li>
                        <li><a href="503.php">503</a></li>
                    </ul>
                    <h3>Example pages</h3>
                    <ul>
                        <li><a href="form-elements.php">form-elements</a></li>
                        <li><a href="system-messages.php">system-messages</a></li>
                        <li><a href="buttons.php">buttons</a></li>
                        <li><a href="print-page.php">print-page</a></li>
                        <li><a href="tables.php">tables</a></li>
                        <li><a href="general-elements.php">general-elements</a></li>
                    </ul>
                    <h3>Js use page</h3>
                    <ul>
                        <li><a href="dialog.php">jQuery DialogExtend</a></li>
                        <li><a href="dialog-styled.php">jQuery DialogExtend styled</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>