{% extends "OroUIBundle:Default:index.html.twig" %}
{% block main %}
<div class="page-container">
{% block right_panel %}
<div class="side-nav right-panel">
    <div class="side-nav-opener">
        <span class="maximaze-bar"><i class="icon-arrow-left hide-text">maximaze-bar</i><i class="icon-arrow-right hide-text">minimmase bar</i></span>
        <span class="lock-bar"><i class="icon-lock hide-text">lock-bar</i><i class="icon-unlock hide-text">unlock bar</i></span>
    </div>
    <ul class="bar-tools">
        <li class="open-item">
            <a class="test2 sn-opener" href="#"><i class="icon-paypal hide-text">paypal</i><span>paypal</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-paypal hide-text">paypal</i>
                        Paypal
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content">
                    <div class="well well-small">

                        <ul>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a class="test5 sn-opener" href="#"><i class="icon-twitter hide-text">twitter</i><span>twitter</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-twitter hide-text">twitter</i>twitter
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content"  style="display: none;">
                    <p>Vivamus bibendum orci eget eros egestas et interdum ipsum elementum. Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>In hac habitasse platea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-facebook hide-text">facebook</i><span>facebook</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-facebook hide-text">facebook</i>Facebook
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content"  style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-timer hide-text">timer</i><span>timer</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-timer hide-text">timer</i>Time Tracker
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content" style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-bug hide-text">bug</i><span>bug</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-bug hide-text">bug</i>
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content" style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-plus icon-white hide-text">add</i><span>add</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-bug hide-text">bug</i>
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content" style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock right_panel %}

{% block left_panel %}
<div class="side-nav left-panel">
    <div class="side-nav-opener">
        <span class="maximaze-bar"><i class="icon-arrow-left hide-text">maximaze-bar</i><i class="icon-arrow-right hide-text">minimmase bar</i></span>
        <span class="lock-bar"><i class="icon-lock hide-text">lock-bar</i><i class="icon-unlock hide-text">unlock bar</i></span>
    </div>
    <ul class="bar-tools">
        <li class="open-item">
            <a class="test2 sn-opener" href="#"><i class="icon-paypal hide-text">paypal</i><span>paypal</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-paypal hide-text">paypal</i>
                        Paypal
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content">
                    <div class="well well-small">

                        <ul>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a class="test5 sn-opener" href="#"><i class="icon-twitter hide-text">twitter</i><span>twitter</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-twitter hide-text">twitter</i>twitter
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content"  style="display: none;">
                    <p>Vivamus bibendum orci eget eros egestas et interdum ipsum elementum. Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>In hac habitasse platea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-facebook hide-text">facebook</i><span>facebook</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-facebook hide-text">facebook</i>Facebook
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content"  style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-timer hide-text">timer</i><span>timer</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-timer hide-text">timer</i>Time Tracker
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content" style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-bug hide-text">bug</i><span>bug</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-bug hide-text">bug</i>
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content" style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
        <li>
            <a class="test6 sn-opener" href="#"><i class="icon-plus icon-white hide-text">add</i><span>add</span></a>
            <div class="nav-box" style="display: none;">
                <div class="nav-title">
                    <h3>
                        <span class="open-bar-item">
                            <i class="icon-chevron-right icon-white hide-text">close</i>
                            <i class="icon-chevron-down icon-white hide-text"  style="display: none;">open</i>
                        </span>
                        <i class="icon-bug hide-text">bug</i>
                    </h3>
                    <span class="close action icon-remove">close</span>
                    <span class="settings action icon-cog">settings</span>
                </div>
                <div class="nav-content" style="display: none;">
                    <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                    <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock left_panel %}

{% block content %}
    <div class="container-fluid alert alert-info layout-content">
        <div class=" test-box">
            <div class="fr">test text</div>
            One column
        </div>
    </div>
{% endblock content %}
</div>
{% endblock main %}