{% extends "OroUiBundle:Default:index.html.twig" %}
{% block content %}
<div class="page-container">
    <div class="side-nav right-panel">
        <div class="clearfix">
            <span class="maximaze-bar">maximaze-bar</span>
            <span class="lock-bar">lock-bar</span>
        </div>
        <ul class="bar-tools">
            <li>
                <a class="test1 sn-opener" href="#">paypal</a>
                <div class="nav-box" style="display: none;">
                    <div class="nav-title">
                        <h3>paypal</h3>
                        <span class="close action icon-remove">close</span>
                        <span class="settings action icon-cog">settings</span>
                    </div>
                    <div class="nav-content">
                        <p>Vivamus bibendum orci eget eros egestas et interdum ipsum elementum. Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                        <p>In hac habitasse platea dictumst. Cras cursus orci arcu.</p>
                    </div>
                </div>
            </li>
            <li><a class="test4" href="#">text2</a></li>
            <li><a class="test3" href="#">text3</a></li>
            <li><a class="test7" href="#">text3</a></li>
        </ul>
    </div>
    <div class="side-nav left-panel">
        <div class="clearfix">
            <span class="maximaze-bar">maximaze-bar</span>
            <span class="lock-bar">lock-bar</span>
        </div>
        <ul class="bar-tools">
            <li>
                <a class="test2 sn-opener" href="#">twitter</a>
                <div class="nav-box" style="display: none;">
                    <div class="nav-title">
                        <h3>Twitter</h3>
                        <span class="close action icon-remove">close</span>
                        <span class="settings action icon-cog">settings</span>
                    </div>
                    <div class="nav-content">
                        <ul>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                            <li>@DarthVader We Will begin creating DS after lunch</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a class="test5 sn-opener" href="#">diagrams</a>
                <div class="nav-box" style="display: none;">
                    <div class="nav-title">
                        <h3>diagrams</h3>
                        <span class="close action icon-remove">close</span>
                        <span class="settings action icon-cog">settings</span>
                    </div>
                    <div class="nav-content">
                        <p>Vivamus bibendum orci eget eros egestas et interdum ipsum elementum. Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                        <p>In hac habitasse platea dictumst. Cras cursus orci arcu.</p>
                    </div>
                </div>
            </li>
            <li>
                <a class="test6 sn-opener" href="#">text3</a>
                <div class="nav-box" style="display: none;">
                    <div class="nav-title">
                        <h3>test</h3>
                        <span class="close action icon-remove">close</span>
                        <span class="settings action icon-cog">settings</span>
                    </div>
                    <div class="nav-content">
                        <p> Aliquam laoreet mattis felis, vitae bibendum mauris consectetur vel. </p>
                        <p>tes te ts ea dictumst. Cras cursus orci arcu.</p>
                    </div>
                </div>
            </li>
            <li><a class="test7" href="#">text3</a></li>
        </ul>
    </div>
    <div class="container-fluid alert alert-info layout-content">
        <div class=" test-box">
            <div class="fr">test text</div>
            One column
        </div>
    </div>

</div>
{% endblock content %}