{% extends "OroUIBundle:Default:index.html.twig" %}
{% block main %}
{% block content %}
            <div class="">
                <div class="alert alert-info test-box">
                    One column
                </div>
            </div>
{% endblock content %}
{% endblock main %}
