{% extends "OroUiBundle:Default:index.html.twig" %}
{% block title %}Dashboard|one Colume{% endblock %}
{% block content %}
            <div class="container-fluid">
                <div class="alert alert-info test-box">
                    One column
                </div>
            </div>
{% endblock content %}