{% extends "OroUIBundle:Default:index.html.twig" %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="alert alert-block pagination-centered popup-box">
        <h1 class="">503 Service Unavailable</h1>
        <img src="{{ asset('bundles/oroui/img/503.png') }}" alt="no" />
    </div>
{% endblock content %}