{% extends "OroUIBundle:Default:index.html.twig" %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="alert alert-block pagination-centered popup-box">
        <h1 class="">404 Page Not Found</h1>
        <p>The URL you requested was not found.</p>
        <p>Apache 2 Web server blah blah blah</p>
        <img src="{{ asset('bundles/oroui/img/no.png') }}" alt="no" />
    </div>
{% endblock content %}