{% extends "OroUIBundle:Default:index.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock head %}
{% block page_container %}
    <div class="container-fluid">
        <div class="row-fluid" id="wrapper">
            <div class="span3">
                {% block sidebar %}
                <div id="sidebar" class="test-box alert alert-success">
                    sidebar
                </div>
                {% endblock sidebar %}
            </div>
            <div class="span9">
                {% block content %}
                <div id="content" class="test-box alert alert-block">
                    Content
                </div>
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock page_container %}