{% extends "OroUiBundle:Default:index.html.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid" id="wrapper">
            <div class="span9">
                <div id="content" class="test-box alert alert-block">
                    Content
                </div>
            </div>
            <div class="span3">
                <div id="sidebar" class="test-box alert alert-success">
                    Sidebar
                </div>
            </div>
        </div>
    </div>
{% endblock content %}