<div class="AknCatalogVolume-axis">
    <div class="AknCatalogVolume-icon AknCatalogVolume-icon--<%- icon %> <%- (true === hasWarning) ? 'AknCatalogVolume-icon--warning': '' %>"></div>
    <div class="AknCatalogVolume-title">
        <%- title %>
        <div class="AknCatalogVolume-value" data-field="<%- name %>">
            <span><%- meanLabel %> <div><%- value.average.toLocaleString(userLocale, { useGrouping: true }) %></div></span>
            <span><%- maxLabel %> <div><%- value.max.toLocaleString(userLocale, { useGrouping: true }) %></div></span>
        </div>

        <% if (true === hasWarning) { %>
            <div class="AknCatalogVolume-warning">
                <%- warningText %>
            </div>
        <% } %>
    </div>
</div>
