<div class="AknCatalogVolume-axis">
    <div class="AknCatalogVolume-icon AknCatalogVolume-icon--<%- icon %> <%- (true === hasWarning) ? 'AknCatalogVolume-icon--warning': '' %>"></div>
    <div class="AknCatalogVolume-title">
        <%- title %>
        <div class="AknCatalogVolume-value" data-field="<%- name %>">
            <%- value.toLocaleString(userLocale, { useGrouping: true }) %>
        </div>
        <% if (true === hasWarning) { %>
            <div class="AknCatalogVolume-warning">
                <%- warningText %>
            </div>
        <% } %>
    </div>
</div>
