<ul data-level="<%- level %>" id="attributes-column-level-<%- level %>" class="AknFamilyVariant-columnList connected-sortable">
    <% attributes.forEach(function (attribute) { %>
        <li
            data-attribute-code="<%- attribute.code %>"
            class="AknVerticalList-item AknFamilyVariant-columnListItem AknFamilyVariant-attribute attribute <%- !lockedAttributes.includes(attribute.code) ? 'AknVerticalList-item--movable movable' : 'AknVerticalList-item--notMovable' %>"
        >
            <%- i18n.getLabel(attribute.labels, UserContext.get('catalogLocale'), attribute.code) %>

            <% if (axisAttributes.includes(attribute.code)) { %>
            (<%- __('pim_enrich.entity.family.variant.axis.label') %>)
            <% } %>

            <% if (!lockedAttributes.includes(attribute.code)) { %>
            <span
                class="AknIconButton AknIconButton--small AknIconButton--delete AknButtonList-item delete-attribute"
                title="<%- __('pim_enrich.entity.family.variant.attribute_remove') %>"
            ></span>
            <% } %>
        </li>
    <% }) %>
</ul>
