<div class="AknFamilyVariant-level">
    <div class="common-attribute AknFamilyVariant-column AknFamilyVariant-column--common" style="display:flex,">
        <div data-level="0" id="common-attribute-groups-column" class="attribute-list connected-group-sortable">
        <% groupAttributes(commonAttributes).forEach(section => { %>
            <div data-attribute-group-code="<%- section.attributeGroup.code %>" class="AknFamilyVariant-attributeGroup AknFamilyVariant-attributeGroup--common">
                <span class="AknFamilyVariant-columTitle AknVerticalList-item">
                    <%- i18n.getLabel(section.attributeGroup.labels, UserContext.get('catalogLocale'), section.attributeGroup.code) %>
                </span>
                <ul data-level="0" id="common-attributes-column" class="AknFamilyVariant-columnList connected-sortable">
                    <% section.attributes.forEach(function (attribute) { %>
                        <li data-attribute-code="<%- attribute.code %>" class="AknVerticalList-item AknVerticalList-item--movable AknFamilyVariant-attribute AknFamilyVariant-attribute--common">
                            <%- i18n.getLabel(attribute.labels, UserContext.get('catalogLocale'), attribute.code) %>
                        </li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
        </div>
    </div>
</div>
<% familyVariant.variant_attribute_sets.forEach(function (level) { %>
<div class="AknFamilyVariant-level">
    <div class="AknFamilyVariant-levelPath">
        <span class="AknFamilyVariant-levelPathLabel"><%- __('pim_enrich.entity.family.variant.level_' + level.level + '.label') %></span>
    </div>
    <div class="family-variant-level AknFamilyVariant-column AknFamilyVariant-column--level<%- level.level %>" data-level="<%- level.level %>">
        <div class="AknFamilyVariant-axes AknVerticalList-item">
            <%- level.axes.reduce(function (result, axis) {
                result.push(i18n.getLabel(getAttribute(axis).labels, UserContext.get('catalogLocale'), getAttribute(axis).code))

                return result;
            }, []).join(', ') %>
            (<%- __('pim_enrich.entity.family.variant.axis.label') %>)
        </div>

        <div data-level="<%- level.level %>" id="attribute-groups-column-level-<%- level.level %>" class="attribute-list connected-group-sortable">
        <% groupAttributes(level.attributes).forEach(section => { %>
            <div data-attribute-group-code="<%- section.attributeGroup.code %>" class="AknFamilyVariant-attributeGroup">
                <span class="AknFamilyVariant-columTitle AknVerticalList-item">
                    <%- i18n.getLabel(section.attributeGroup.labels, UserContext.get('catalogLocale'), section.attributeGroup.code) %>
                </span>
                <ul data-level="<%- level.level %>" id="attributes-column-level-<%- level.level %>" class="AknFamilyVariant-columnList connected-sortable">
                    <% section.attributes.forEach(function (attribute) { %>
                        <li data-attribute-code="<%- attribute.code %>" class="AknVerticalList-item AknVerticalList-item--movable AknFamilyVariant-columnListItem AknFamilyVariant-attribute">
                            <%- i18n.getLabel(attribute.labels, UserContext.get('catalogLocale'), attribute.code) %>

                            <% if (axisAttributes.includes(attribute.code)) { %>
                            (<%- __('pim_enrich.entity.family.variant.axis.label') %>)
                            <% } %>

                            <% if (!lockedAttributes.includes(attribute.code)) { %>
                            <a href="javascript:void(0);" class="AknIconButton AknIconButton--small AknIconButton--delete AknButtonList-item" title="Supprimer le produit">
                                Supprimer le produit
                            </a>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
        </div>
    </div>
</div>
<% }); %>
