<div class="AknFamilyVariant-level">
    <div class="common-attribute AknFamilyVariant-column AknFamilyVariant-column--common" style="display:flex,">
        <div data-level="0" id="attribute-groups-column-level-0" class="attribute-list connected-group-sortable">
        <% groupAttributes(commonAttributes, lockedAttributes).forEach(section => { %>
            <div data-attribute-group-code="<%- section.attributeGroup.code %>" class="AknFamilyVariant-attributeGroup AknFamilyVariant-attributeGroup--common <%- !section.attributeGroup.locked ? 'movable-group' : '' %>">
                <span class="AknFamilyVariant-columTitle AknVerticalList-item <%- !section.attributeGroup.locked ? 'AknFamilyVariant-columTitle--movable' : '' %>">
                    <%- i18n.getLabel(section.attributeGroup.labels, UserContext.get('catalogLocale'), section.attributeGroup.code) %>
                </span>

                <%= renderSection(0, section.attributes) %>
            </div>
        <% }) %>
        <% if (commonAttributes.length === 0) { %>
            <div class="AknFamilyVariant-attributeGroup AknFamilyVariant-attributeGroup--common AknFamilyVariant-attributeGroup--empty">
                <%- __('pim_enrich.entity.family.variant.empty_common') %>
            </div>
        <% } %>
        </div>
    </div>
</div>
<% familyVariant.variant_attribute_sets.forEach(function (level) { %>
<div class="AknFamilyVariant-level">
    <div class="AknFamilyVariant-levelPath">
        <span class="AknFamilyVariant-levelPathLabel"><%- __('pim_enrich.entity.family.variant.level_' + level.level + '.label') %></span>
    </div>
    <div class="family-variant-level AknFamilyVariant-column AknFamilyVariant-column--level<%- level.level %>" data-level="<%- level.level %>">
        <div class="AknFamilyVariant-axes AknVerticalList-item">
            <%- level.axes.reduce(function (result, axis) {
                result.push(i18n.getLabel(getAttribute(axis).labels, UserContext.get('catalogLocale'), getAttribute(axis).code))

                return result;
            }, []).join(', ') %>
            (<%- __('pim_enrich.entity.family.variant.axis.label') %>)
        </div>
        <div data-level="<%- level.level %>" id="attribute-groups-column-level-<%- level.level %>" class="attribute-list connected-group-sortable">
        <% groupAttributes(level.attributes, lockedAttributes).forEach(section => { %>
            <div data-attribute-group-code="<%- section.attributeGroup.code %>" class="AknFamilyVariant-attributeGroup <%- !section.attributeGroup.locked ? 'movable-group' : '' %> attribute-group-section">
                <span class="AknFamilyVariant-columTitle AknVerticalList-item <%- !section.attributeGroup.locked ? 'AknFamilyVariant-columTitle--movable' : '' %>">
                    <%- i18n.getLabel(section.attributeGroup.labels, UserContext.get('catalogLocale'), section.attributeGroup.code) %>
                    <% if (!section.attributeGroup.locked) { %>
                    <span
                        class="AknIconButton AknIconButton--small AknIconButton--delete AknButtonList-item delete-attribute-group"
                        title="<%- __('pim_enrich.entity.family.variant.attribute_group_remove') %>"
                    ></span>
                    <% } %>
                </span>
                <%= renderSection(level.level, section.attributes) %>
            </div>
        <% }) %>
        </div>
    </div>
</div>
<% }); %>
