<div class="AknFamilyVariant-header AkntitleContainer">
    <div class="AknFamilyVariant-leftHeader AknButtonList">
        <span class="AknButtonList-item AknFullPage-cancel cancel"></span>
    </div>
    <div class="AknFamilyVariant-centerHeader AknTitleContainer">
        <div class="AknFamilyVariant-subTitle AknFullPage-description">
            <%- __('Code') %>: <%- familyVariant.code %>
        </div>
        <div class="AknFamilyVariant-title AknTitleContainer-title">
            <%- i18n.getLabel(familyVariant.labels, userContext.get('user_default_locale'), familyVariant.code) %>
        </div>
    </div>
    <div class="AknFamilyVariant-rightHeader">
        <div class="AknButtonList" data-drop-zone="buttons"></div>
        <div class="AknButtonList" data-drop-zone="state">

        </div>
    </div>
</div>
<div data-drop-zone="content"></div>
