<div class="AknFullPage-buttons">
    <div class="AknButtonList">
        <span class="AknButtonList-item AknFullPage-cancel cancel"></span>

    </div>
    <div class="AknButtonList" data-drop-zone="state">

    </div>
    <div class="AknButtonList" data-drop-zone="buttons">

    </div>
</div>
<div class="AknFamilyVariant-header">
    <div class="AknFamilyVariant-title AknFullPage-title">
        <%- i18n.getLabel(familyVariant.labels, userContext.get('uiLocale'), familyVariant.code) %>
    </div>
    <div class="AknFamilyVariant-subTitle AknFullPage-description">
        <%- familyVariant.code %>
    </div>
    <div><%- __('pim_enrich.entity.family.variant.update_description') %></div>
</div>
<div data-drop-zone="content">

</div>
