<div class="AknFamilyVariant-labels AknFullPage AknFullPage--modal">
    <div class="AknFullPage-content">
        <div class="AknFullPage-left">
            <img src="bundles/pimui/images/illustrations/Variant.svg" class="AknFullPage-image">
        </div>
        <div class="AknFullPage-right">
            <div class="AknFullPage-subTitle"><%- __('family') %> <%- familyVariant.family %> </div>
            <div class="AknFullPage-title"><%- __('pim_enrich.entity.family.variant.update_translation') %></div>
            <div class="AknFullPage-description">
            </div>
            <div data-drop-zone="fields"></div>
        </div>
    </div>
</div>
