includes:
    - phpstan-ee.neon

parameters:
  excludes_analyse:
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Application/Common/Selection/ReferenceEntity
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Application/Common/Selection/ReferenceEntityCollection
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Application/MapValues/SelectionApplier/ReferenceEntity
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Application/MapValues/SelectionApplier/ReferenceEntityCollection
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Infrastructure/Controller/GetRecordsAction.php
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Infrastructure/Query/AssetManager
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Infrastructure/Query/ReferenceEntity
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Infrastructure/Validation/IsValidAssetAttributeValidator
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Infrastructure/Validation/Source/AssetCollection/AssetCollectionSelectionValidator.php
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Infrastructure/Validation/Source/ReferenceEntity
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/src/Infrastructure/Validation/Source/ReferenceEntityCollection
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Acceptance/Hydrator/Value/Attribute/AssetCollectionValueHydratorTest.php
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Acceptance/Hydrator/Value/Attribute/ReferenceEntityCollectionValueHydratorTest.php
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Acceptance/Hydrator/Value/Attribute/ReferenceEntityValueHydratorTest.php
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Integration/Infrastructure/Validation/Source/AssetCollection/AssetCollectionSelectionValidatorTest.php
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Specification/Application/Common/Selection/ReferenceEntity
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Specification/Application/Common/Selection/ReferenceEntityCollection
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Specification/Application/MapValues/SelectionApplier/ReferenceEntity
    - %rootDir%/../../../components/tailored-export/back/src/Akeneo/Platform/Bundle/TailoredExportBundle/tests/Specification/Application/MapValues/SelectionApplier/ReferenceEntityCollection
