<div class="pull-right usser-info-state">
    <ul class="inline-decorate">
        <li><a class="no-hash" href="{{ path(audit_path, {entity:entity, id:id}) }}"
               id="view-activity-btn" title="{{ title }} - {{ 'Change History'|trans }}">{{ 'Change History'|trans }}</a></li>
    </ul>
</div>
