{% extends 'StrixosWidgetBundle::layout.html.twig' %}

{% block title %}Akeneo - product list{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
{% endblock %}

{% block content %}
    
    <h1>Catalog product list</h1>
    
    {{ grid(grid) }}

{% endblock %}