<div class="AknSubsection">
    <header class="AknSubsection-title">
        <%- tokenFieldTitle %>
    </header>

    <div class="AknFieldContainer AknFieldContainer--big">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label" for="token-field"><%- tokenLabelContent %></label>
        </div>
        <div class="AknFieldContainer-inputContainer field-input">
            <input class="AknTextField token-field"
                   name="token"
                   placeholder="<%- tokenFieldPlaceholder %>"
                   type="text"
                   value="<%- token %>"
                   id="token-field"
            />
            <div class="AknFieldContainer-iconsContainer">
                <div class="AknButton AknButton--asIcon <%- buttonStyle %> <%- connectionStatus %> franklin-insights-connection">
                    <%- activationLabel %>
                </div>
            </div>
        </div>
    </div>
</div>
