{% extends bap.layout %}

{% block title %}{% trans %}How to use Pinbar{% endtrans %}{% endblock %}
{% block page_container %}
<div class="container-fluid">
{% block content %}
    <div class="clearfix">

        <h3>{% trans %}How To Use Pinbar{% endtrans %}</h3>

        <p>
            {% trans %}
                Use the Pin Bar to “pin” documents and pages you want to continuously work on by clicking on the minimize button while on a specific page.
                <br />To restore a page simply click on the title of the page you want to work on so that it is maximized back to your working area.
            {% endtrans %}
        </p>

    </div>
{% endblock %}
</div>
{% endblock %}
