<div class="AknFormContainer AknFormContainer--withPadding system-notification-field">
    <div class="AknFieldContainer">
        <div class="AknFieldContainer-header">
            <label class="AknFieldContainer-label" for="system-notification"><%- label_system_notification %></label>
        </div>
        <div class="AknFieldContainer-inputContainer system-notification-field">
            <div class="switch switch-small" data-on-label="<%- label_yes %>" data-off-label="<%- label_no %>">
                <input type="checkbox" name="system-notification" <%- notification === '1' ? 'checked' : '' %> />
            </div>
        </div>
    </div>
</div>
