{% extends 'StrixosWidgetBundle::layout.html.twig' %}

{% block title %}Users list{% endblock %}

{% block content_menu_more %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <h1>User list</h1>
    
    <p>based on fosuser give a sample on how to :</p>
    <ul>
        <li>abtract persistence</li>
        <li>provide base entity to extends in a project to add some custom fields</li>
        <li>use default symfony security bundle</li>
    </ul>
    <br/>
    
    {{ grid(grid) }}

{% endblock %}