{% extends 'PimUIBundle::layout.html.twig' %}

{% block title %}{{ parent() }} {{ "pim.dashboard.title.home" | trans }}{% endblock %}

{% block content_menu '' %}

{% block content %}

    <br/>
    <a class="btn btn-large btn-primary disabled" href="{{ path('pim_dashboard_default_index') }}">Dashboard</a>

{% endblock %}
