<div class="pull-left" ng-repeat="filter in metaData.filters | filter:{enabled:true}">
    <button class="btn" ng-init="filter.selectedChoice = 'All'">
        {{ filter.label }}
        <li class="dropdown">
            <a class="dropdown-toggle" ng-bind="filter.selectedChoice"></a>
            <ul class="dropdown-menu">
                <li ng-repeat="choice in filter.choices">
                    <a ng-click="filter.selectedChoice = choice.label" ng-bind="choice.label"></a>
                </li>
            </ul>
        </li>
        <button class="btn btn-xs" ng-click="filter.enabled = false">&times;</button>
    </button>
</div>
