<th></th>
<th ng-repeat="column in metadata.columns">
    <a ng-if="column.sortable && metadata.state.sorters[column.name] !== 'ASC'" ng-click="metadata.state.sorters = {}; metadata.state.sorters[column.name] = 'ASC'">
        {{ column.label }}
        <span ng-if="metadata.state.sorters[column.name]" ng-class="metadata.state.sorters[column.name]">
            <i class="fa fa-caret-down"></i>
        </span>
    </a>
    <a ng-if="column.sortable && metadata.state.sorters[column.name] === 'ASC'" ng-click="metadata.state.sorters = {}; metadata.state.sorters[column.name] = 'DESC'">
        {{ column.label }}
        <span ng-if="metadata.state.sorters[column.name]" ng-class="metadata.state.sorters[column.name]">
            <i class="fa fa-caret-up"></i>
        </span>
    </a>
    <spam ng-if="!column.sortable">{{ column.label }}</span>
</th>
<th>Actions</th>
