<ul class="pagination input-group">
    <li ng-hide="currentPage === 0"><a ng-click="currentPage = currentPage - 1">&laquo;</a></li>
    <li class="pull-left">
        <input class="form-control" type="text" ng-model="currentPage">
    </li>
    <li ng-hide="currentPage === lastPage"><a ng-click="currentPage = currentPage + 1">&raquo;</a></li>
</ul>
<div class="dropdown">
    <a class="btn btn-default dropdown-toggle" ng-bind="pageSize"></a>
    <ul class="dropdown-menu">
        <li ng-repeat="item in pageSizeOptions">
            <!-- I don't understand why I need to specifically call the parent scope -->
            <a ng-bind="item" ng-click="$parent.pageSize = item"></a>
        </li>
    </ul>
</div>
