<ul class="pagination input-group">
    <li ng-hide="state.currentPage === 1"><a ng-click="state.currentPage = state.currentPage - 1">&laquo;</a></li>
    <li class="pull-left">
        <input class="form-control" type="text" ng-model="state.currentPage">
    </li>
    <li ng-hide="state.currentPage === state.lastPage"><a ng-click="state.currentPage = state.currentPage + 1">&raquo;</a></li>
</ul>
<div class="dropdown">
    <a class="btn btn-default dropdown-toggle" ng-bind="state.pageSize"></a>
    <ul class="dropdown-menu">
        <li ng-repeat="item in pageSizeOptions">
            <a ng-bind="item" ng-click="state.pageSize = item"></a>
        </li>
    </ul>
</div>
