<pagination ng-model="metadata.state.currentPage" total-items="data.options.totalRecords" items-per-page="metadata.state.pageSize" previous-text="&laquo;" next-text="&raquo;"></pagination>
<div class="dropdown">
    <a class="btn btn-default dropdown-toggle" ng-bind="metadata.state.pageSize"></a>
    <ul class="dropdown-menu">
        <li ng-repeat="item in metadata.options.toolbarOptions.pageSize.items">
            <a ng-bind="item" ng-click="metadata.state.pageSize = item; metadata.state.currentPage = 1"></a>
        </li>
    </ul>
</div>
