{% extends 'PimConfigBundle::layout.html.twig' %}

{% set title = 'Channels overview'|trans %}

{% block head_script %}
    {{ parent() }}
    
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#channel-grid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block page_container %}
<div class="container-fluid">
    {% block content %}
    <div class="usser-row">
        <h1>{{ title }}
            <a class="btn btn-primary pull-right" 
                href="{{ path('pim_config_channel_create') }}">{{ 'New channel'|trans }}</a>
        </h1>
    
        <div id="channel-grid"></div>
    </div>
    {% endblock %}
</div>
{% endblock %}
