{% extends 'PimConfigBundle::layout.html.twig' %}

{% set title = 'Channels overview'|trans %}

{% block javascripts %}
    {{ parent() }}
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#backgrid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block content %}
    <h1>{{ title }}
        <a class="btn btn-primary pull-right" 
            href="{{ path('pim_config_channel_create') }}">{{ 'New channel'|trans }}</a>
    </h1>

    <div id="backgrid"></div>
{% endblock %}
