<% if (!_.isEmpty(data)) { %>
    <thead>
        <tr>
            <th class="AknGrid-headerCell">
                <%- __('pim_import_export.widget.last_operations.date') %>
            </th>
            <th class="AknGrid-headerCell">
                <%- __('pim_common.type') %>
            </th>
            <th class="AknGrid-headerCell">
                <%- __('pim_import_export.widget.last_operations.profile_name') %>
            </th>
            <th class="AknGrid-headerCell">
                <%- __('pim_common.status') %>
            </th>
            <th class="AknGrid-headerCell">
                <%- __('pim_import_export.widget.last_operations.warning_count') %>
            </th>
            <th class="AknGrid-headerCell"></th>
        </tr>
    </thead>
    <tbody>
    <% _.each(data, function (operation) { %>
        <% var status = 'success'; %>
        <% status = (operation.warningCount !== null && parseInt(operation.warningCount) !== 0) ? 'warning' : status %>
        <% status = (6 === parseInt(operation.status)) ? 'important' : status %>
        <% var counter = (6 === parseInt(operation.status)) ? 1 : operation.warningCount %>

        <tr class="AknGrid-bodyRow">
            <td class="AknGrid-bodyCell"> <%- operation.date %></td>
            <td class="AknGrid-bodyCell"> <%- __('pim_import_export.widget.last_operations.job_type.'+operation.type) %></td>
            <td class="AknGrid-bodyCell"><%- operation.label %></td>
            <td class="AknGrid-bodyCell">
                <span class="AknBadge AknBadge--<%- status %>">
                    <%- operation.statusLabel %>
                </span>
            </td>
            <td class="AknGrid-bodyCell">
                <span class="AknBadge AknBadge--round AknBadge--<%- status %>">
                    <%- counter %>
                </span>
            </td>
            <td class="AknGrid-bodyCell AknGrid-bodyCell--right">
            <% if (operation.canSeeReport) { %>
                <span class="AknButton AknButton--small AknButton--grey show-details-btn"
                data-id="<%- operation.id %>"
                data-operation-type="<%- operation.type %>">
                    <%- __('pim_import_export.widget.last_operations.details') %>
                </span>
            <% } %>
            </td>
        </tr>
    <% }); %>
    </tbody>
<% } else if (options.contentLoaded) {%>
    <tr>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--full">
            <div class="AknMessageBox AknMessageBox--centered">
                <%- __('pim_import_export.widget.last_operations.empty') %>
            </div>
        </td>
    </tr>
<% } %>
