<script type="text/javascript">
    require(
        [
            'jquery',
            'pim/dialogform',
            'oro/mediator',
            'routing',
            'pimee/productasset/uploader',
            'bootstrap.bootstrapswitch'
        ],
        function ($, DialogForm, mediator, Routing, Uploader) {
            'use strict';
            $(function() {
                var checkNextCode = function (event, dialog, codeInput) {
                    if (_.isUndefined(event.bubbles)) {
                        return false;
                    }
                    var iconDiv = codeInput.closest('.AknFieldContainer').find('.icons-container');
                    var icon = $('<i/>')
                            .addClass('AknIconButton AknIconButton--important icon-warning-sign validation-tooltip');

                    iconDiv.empty();
                    icon.tooltip('destroy');

                    if (!codeInput.val()) {
                        iconDiv.append(icon);
                        icon.tooltip({
                            title: '{{ 'pimee_product_asset.validation.code.not_empty'|trans }}',
                            placement: 'right'
                        });

                        return false;
                    }

                    if (!codeInput.val().match('^[a-zA-Z0-9_]+$')) {
                        iconDiv.append(icon);
                        icon.tooltip({
                            title: '{{ 'pimee_product_asset.validation.code.alpha_numeric_plus_underscore'|trans }}',
                            placement: 'right'
                        });

                        return false;
                    }

                    $.ajax({
                        url: Routing.generate('pimee_product_asset_next_code', { code: codeInput.val() })
                    }).done(function (data) {
                        if (!_.isUndefined(data.nextCode)) {
                            codeInput.val(data.nextCode);
                            iconDiv.empty().append(icon);
                            icon.tooltip({
                                title: '{{ 'pimee_product_asset.validation.code.unique'|trans }}' +
                                ' {{ 'pimee_product_asset.validation.code.new_generation'|trans }}',
                                placement: 'right'
                            });
                        } else if ('click' === event.type || 'keypress' === event.type) {
                            dialog.find('form').submit();
                            dialog.remove();
                            $('div.AknLoadingMask-wrapper').hide();
                        }
                    });
                };
                var sanitizeFileName = function (str) {
                    return str
                        .replace(/\\/g, '/')
                        .replace(/.*\//, '')
                        .replace(/\.[^/.]+$/, '')
                        .replace(/[^A-Za-z0-9_]/g, '_');
                };

                new DialogForm('.create-asset');

                mediator.on('dialog:open:after', function () {
                    var uploader   = new Uploader();
                    var dialog     = $('div.ui-dialog[aria-describedby="pimee_product_asset_create"]');
                    var fileInput  = dialog.find('input[type=file]');
                    var codeInput  = dialog.find('.code-field input[type="text"]');
                    var saveBtn    = $('<button type="button" class="btn btn-primary">Save</button>');
                    var oldSaveBtn = dialog.find('.btn-primary');

                    if (oldSaveBtn) {
                        oldSaveBtn.remove();
                    }
                    dialog.find('div.ui-dialog-buttonset').prepend(saveBtn);

                    dialog.find('.has-switch').on('switch-change', function(event, data) {
                        if (true === data.value) {
                            dialog.find('.reference-field').hide('fast');
                        } else {
                            dialog.find('.reference-field').show('fast');
                        }
                    });

                    fileInput.change(function (event) {
                        var fileInput = event.currentTarget;
                        codeInput.val(sanitizeFileName(fileInput.value));
                    });
                    saveBtn.click(function(event){
                        checkNextCode(event, dialog, codeInput);
                    });
                    codeInput.focusout(function(event){
                        checkNextCode(event, dialog, codeInput);
                    });
                    dialog.keypress(function (event) {
                        if (event.keyCode === $.ui.keyCode.ENTER) {
                            checkNextCode(event, dialog, codeInput);
                        }
                    });
                });
            });
        }
    );
</script>
