<script type="text/javascript">
    require(
        ['jquery', 'pim/dialogform', 'oro/mediator', 'routing', 'bootstrap.bootstrapswitch'],
        function ($, DialogForm, mediator, Routing) {
            'use strict';
            $(function() {
                var checkNextCode = function (event, dialog, codeInput) {
                    if (_.isUndefined(event.bubbles)) {
                        return false;
                    }
                    var iconDiv   = codeInput.parent().find('.icons-container');
                    var icon      = $('<i class="validation-tooltip"></i>');

                    iconDiv.empty();
                    icon.tooltip('destroy');

                    if (!codeInput.val()) {
                        iconDiv.append(icon);
                        icon.tooltip({
                            title: '{{ 'pimee_product_asset.validation.code.not_empty'|trans }}',
                            placement: 'right'
                        });

                        return false;
                    }

                    if (!codeInput.val().match('^[a-zA-Z0-9_]+$')) {
                        iconDiv.append(icon);
                        icon.tooltip({
                            title: '{{ 'pimee_product_asset.validation.code.alpha_numeric_plus_underscore'|trans }}',
                            placement: 'right'
                        });

                        return false;
                    }

                    $.ajax({
                        url: Routing.generate('pimee_product_asset_next_code', { code: codeInput.val() })
                    }).done(function (data) {
                        if (!_.isUndefined(data.nextCode)) {
                            codeInput.val(data.nextCode);
                            iconDiv.empty().append(icon);
                            icon.tooltip({
                                title: '{{ 'pimee_product_asset.validation.code.unique'|trans }}' +
                                '{{ 'pimee_product_asset.validation.code.new_generation'|trans }}',
                                placement: 'right'
                            });
                        } else if ('click' === event.type) {
                            dialog.find('form').submit();
                        }
                    });
                };

                new DialogForm('.create-asset');

                mediator.on('dialog:open:after', function () {
                    var dialog    = $('div.ui-dialog[aria-describedby="pimee_product_asset_create"]');
                    var codeInput = dialog.find('.code-field input[type="text"]');
                    var saveBtn   = $('<button type="button" class="btn btn-primary">Save</button>');

                    dialog.find('div.ui-dialog-buttonset').prepend(saveBtn);

                    dialog.find('.has-switch').on('switch-change', function(event, data) {
                        if (true === data.value) {
                            dialog.find('.reference-field').hide('fast');
                        } else {
                            dialog.find('.reference-field').show('fast');
                        }
                    });

                    saveBtn.click(function(event){
                        checkNextCode(event, dialog, codeInput);
                    });
                    codeInput.focusout(function(event){
                        checkNextCode(event, dialog, codeInput);
                    });
                    dialog.keypress(function (event) {
                        if (event.keyCode === $.ui.keyCode.ENTER) {
                            checkNextCode(event, dialog, codeInput);
                        }
                    });
                });
            });
        }
    );
</script>
