<div class="tab-pane active" id="pimee_product_asset-tabs-global-settings">

    <h3> </h3>

    {{ form_row(form.code) }}
    {{ form_row(form.description) }}
    {{ form_row(form.tags) }}
    {{ form_row(form.endOfUseAt) }}

</div>
