<div class="tabsection tab-pane" id="pimee_product_asset-tabs-properties">
    <div class="AknTabContainer-content tabsection-content">
        <div class="AknFormContainer AknFormContainer--withPadding">
            {{ form_row(form.code) }}
            {{ form_row(form.description) }}
            {{ form_row(form.tags) }}
            {{ form_row(form.endOfUseAt) }}
        </div>
    </div>
</div>
