<div class="tab-pane" id="pim_product_asset_variations">
    {#{% for attachment in attachments %}#}
        {#<div class="row-fluid variations">#}

            {#<h3>#}
                {#{% if attachment.reference.locale %}#}
                    {#{{ attachment.reference.locale.code|flag }}#}
                {#{% endif %}#}
            {#</h3>#}

            {#<ul>#}
                {#<li>#}
                    {#{% include 'PimEnterpriseProductAssetBundle:ProductAsset:_reference.html.twig' %}#}
                {#</li>#}

                {#{% for variation in attachment.variations %}#}
                    {#<li>#}
                        {#{% include 'PimEnterpriseProductAssetBundle:ProductAsset:_variation.html.twig' %}#}
                    {#</li>#}
                {#{% endfor %}#}
            {#</ul>#}

        {#</div>#}
    {#{% endfor %}#}

    {% for reference in form.references %}

        <hr/>
        <p>reference</p>
        {% include '@PimEnterpriseProductAsset/Property/thumbnail.html.twig'
        with {'path': reference.vars.data.file.key} only %}
        {% for variation in reference.variations %}
            <hr/>
            <div>{{ variation.vars.data.channel.code }}</div>
            {% include '@PimEnterpriseProductAsset/Property/thumbnail.html.twig'
            with {'path': variation.vars.data.file.key} only %}
        {% endfor %}
    {% endfor %}

</div>
