<div class="tab-pane active" id="pimee_product_asset-tabs-variations">
    {% for reference in form.references %}
        {% set referenceModel = reference.vars.data %}
        {% if referenceModel.locale == currentLocale %}
            {% include 'PimEnterpriseProductAssetBundle:ProductAsset:_reference.html.twig' %}
        {% endif %}
    {% endfor %}
</div>

<script>
    require(
            ['jquery', 'underscore', 'backbone', 'oro/delete-confirmation', 'oro/translator', 'oro/navigation'],
            function ($, _, Backbone, DeleteConfirmation, t, Navigation) {
                'use strict';
                var AssetVariations = Backbone.View.extend({
                    /** @type oro.Modal */
                    confirmModal: undefined,

                    el: $("#pimee_product_asset-tabs-variations"),
                    events: {
                        "click .delete": "confirmDelete"
                    },
                    confirmDelete: function(event){
                        var button = event.currentTarget;
                        var targetUrl = $(button).data('href');
                        event.preventDefault();
                        if (!this.confirmModal) {
                            this.confirmModal = new DeleteConfirmation({
                                content: t('Are you sure you want to delete this item?')
                            });
                            this.confirmModal.on('ok', function() {
                                Navigation.getInstance().setLocation(targetUrl);
                            });
                        }
                        this.confirmModal.open();
                    }
                });

                var variations = new AssetVariations();
            }
    );
</script>
