<div class="AknFullPage AknFullPage--modal">
    <div class="AknFullPage-content">
        <div class="AknFullPage-left">
            <img src="bundles/pimui/images/illustration-attribute.svg" class="AknFullPage-image">
        </div>
        <div class="AknFullPage-right">
            <div class="AknFullPage-subTitle"><%- subTitleLabel %></div>
            <div class="AknFullPage-title"><%- titleLabel %></div>
            <div class="AknFieldContainer notification-comment">
                <div class="AknFieldContainer-header">
                    <label class="AknFieldContainer-label title" for="modal-comment"><%- label %></label>
                </div>
                <div class="AknFieldContainer-inputContainer">
                    <textarea class="AknTextareaField" id="modal-comment"></textarea>
                </div>
                <div class="AknFieldContainer-footer chars-counter above">
                    <div class=""><span class="remaining-chars">255</span> <%- characters %></div>
                </div>
            </div>
        </div>
    </div>
</div>
