<div class="item-picker-basket panel-container">
    <div class="AknColumnConfigurator-columnHeader">
        <%- title %>
    </div>
    <div class="AknColumnConfigurator-listContainer basket-inner">
        <!-- TODO Rename AssetCollectionField to ThumbnailCollection or something like this -->
        <div class="AknAssetCollectionField AknAssetCollectionField--withoutBorder">
            <ul class="AknAssetCollectionField-list">
                <% if (!_.isEmpty(items)) { %>
                <% _.each(items, function (item) { %>
                <li class="AknAssetCollectionField-listItem" data-itemCode="<%- item.code %>">
                    <div class="AknAssetCollectionField-assetThumbnail" style="background-image: url('<%- imagePath(item) %>')">
                    </div>
                    <div>
                        <% if (item.description) { %>
                        <%- item.description.substring(0, 120) %><%- item.description.length > 120 ? '...' : '' %>
                        <% } %>
                    </div>
                    <div class="AknIconButton AknIconButton--grey AknIconButton--small AknAssetCollectionField-icon">
                        <i class="icon-trash remove-item" data-itemCode="<%- item.code %>"></i>
                    </div>
                </li>
                <% }); %>
                <% } else { %>
                <li class="empty-basket">
                    <%- emptyLabel %>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
