<div class="asset-basket panel-container">
    <div class="AknColumnConfigurator-columnHeader">
        <%- _.__('pimee_product_asset.form.product.asset.panel.basket.title') %>
    </div>
    <div class="AknColumnConfigurator-listContainer basket-inner">
        <div class="AknAssetCollectionField AknAssetCollectionField--withoutBorder">
            <ul class="AknAssetCollectionField-list">
                <% if (!_.isEmpty(assets)) { %>
                <% _.each(assets, function (asset) { %>
                <li class="AknAssetCollectionField-listItem" data-asset="<%- asset.code %>">
                    <div class="AknAssetCollectionField-assetThumbnail asset-thumbnail" style="background-image: url('<%- Routing.generate('pimee_product_asset_thumbnail', {
                                    code: asset.code,
                                    filter: thumbnailFilter,
                                    channelCode: scope,
                                    localeCode: locale
                                }) %>')">
                    </div>
                    <div class="asset-description">
                        <% if (asset.description) { %>
                        <%- asset.description.substring(0, 120) %><%- asset.description.length > 120 ? '...' : '' %>
                        <% } %>
                    </div>
                    <div class="AknIconButton AknIconButton--grey AknIconButton--small AknAssetCollectionField-icon asset-action">
                        <i class="icon-trash remove-asset" data-asset="<%- asset.code %>"></i>
                    </div>
                </li>
                <% }); %>
                <% } else { %>
                <li class="empty-basket">
                    <%- _.__('pimee_product_asset.form.product.asset.panel.basket.empty_basket') %>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
