{% import 'PimUIBundle:Default:page_elements.html.twig' as elements %}

{% block content %}
    <div id="oro_system_config_form"></div>

    <script type="text/javascript">
        require(['pim/fetcher-registry', 'pim/form-builder', 'routing'], function (FetcherRegistry, FormBuilder, Routing) {
            'use strict';
            FetcherRegistry.initialize().done(function () {
                $.when(
                    FormBuilder.build('oro-system-config-form'),
                    $.get(Routing.generate('oro_config_configuration_system_get'))
                ).then(function(form, response) {
                    form.setData(response[0]);
                    form.setElement('#oro_system_config_form').render();
                });
            });
        });
    </script>
{% endblock content %}
