{% extends 'PimEnrichBundle::layout.html.twig' %}

{% oro_title_set({ params: { "%category.label%": form.vars.value.label } }) %}

{% block head_script %}
    {{ parent() }}
    {% include "PimEnrichBundle:CategoryTree:_scripts.html.twig" %}
{% endblock %}

{% block content %}
    <div id="category-tree-container" class="row-fluid">
        <div id="tree" {% if form.vars.value.id %} data-node-id="{{ form.vars.value.id }}"{% elseif form.vars.value.parent %} data-node-id="{{ form.vars.value.parent.id }}"{% endif %}{% if resource_granted("pim_enrich_category_edit") %} data-movable="true"{% endif %}{% if resource_granted("pim_enrich_category_create") %} data-creatable="true"{% endif %}></div>

        <div id="category-form">
            {% include 'PimEnrichBundle:CategoryTree:form.html.twig' with {'form': form} %}
        </div>
    </div>
{% endblock %}
