@import '../../base/variables';

.AknAttributeActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-editActions {
    padding: 10.5px 0 10.5px 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    border-bottom: 1px solid @AknBorderColor;
  }

  &-copyActions {
    order: 10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid @AknBorderColor;
    min-height: @AknTabHeight + 7px;
  }

  &-otherActions {
    display: flex;
    align-items: center;
  }

  &-contextSelectors {
    display: flex;
  }

  &--comparisonMode {
    border-bottom: none;
  }

  &--comparisonMode &-editActions {
    flex-basis: @AknMaxFormWidth;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
  }

  &--comparisonMode &-copyActions {
    flex-grow: 1;
  }

  &-help {
    color: @AknLightFontColor;
    padding: 0 10px;
    text-align: right;
  }

  &-close {
    width: 20px;
    height: 20px;
    display: block;
    background: url("@{AknAssetUrl}/icon-delete-slategrey.svg") no-repeat 0 100%;
    opacity: 0.5;
    transition: opacity 0.1s ease-in;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
