@import '../../base/variables';

.AknCompletenessPanel {
  @width: 310px;
  @margin: 15px;

  display: flex;
  margin: -@margin;
  flex-wrap: wrap;

  &-block {
    width: @width;
    padding: 8px 20px 20px 20px;
    border: 1px solid @AknBorderColor;
  }

  & &-block {
    margin: @margin;
  }

  &-header {
    border-bottom: 1px solid @AknLightPurple;
    height: @AknBigButtonSize;
    line-height: @AknBigButtonSize;
    display: flex;
    color: @AknLightPurple;
  }

  &-headerLocale {
    text-transform: uppercase;
    flex-grow: 1;
  }

  &-headerStats {
  }

  &-content {
  }

  &-channel {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  &-channelTitle {
    text-transform: capitalize;
    font-size: @AknFontSizeBig;
  }

  &-missing {
    color: @AknLightFontColor;
    font-size: @AknFontSizeSmall;
    padding-top: 6px;
  }

  &-progressContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &-progress {
    flex-basis: 85%;
  }

  &-progressRatio {
    font-size: @AknFontSizeSmall;
    margin-left: 10px;
  }

  &[data-closed="true"] &-content {
    display: none;
  }

  &[data-closed="true"] &-arrow:before {
    transform: rotate(90deg);
  }

  &-highlight {
    cursor: pointer;
    color: @AknPurple;
  }
}
