@import '../../base/variables';

.AknComparableFields {
  display: flex;

  &-item:not(:empty) {
    flex-basis: @AknMaxFormWidth;
    flex-shrink: 0;

    &--comparisonContainer {
      margin-left: 20px;
    }
  }

  &-copyContainer {
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
  }

  &-checkbox {
    flex-basis: 20px;
    flex-shrink: 0;
    position: relative;
    top: 6px;
  }
}
