@import '../../base/variables';

.AknFieldContainer {
  margin-bottom: 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &-label {
    color: @AknDarkBlue;
    flex-grow: 1;
    font-size: @AknFontSizeBig;
  }

  &-unavailable {
    color: @AknLightFontColor;
  }

  &-footer {
    color: @AknLightFontColor;
    font-size: @AknFontSizeSmall;
  }

  &-inputContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &-subContainer {
    position: relative;
    flex-grow: 1;
  }

  &-iconsContainer {
    min-width: @AknIconSize + 4px;
    padding-top: 4px;
    position: absolute;
    right: -40px;

  }

  &-contextContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  &-validationErrors {
    display: flex;
    flex-direction: column;
  }

  &-validationError {
    display: flex;
    align-items: baseline;
    margin-top: 3px;
    color: @AknRed;
  }

  &--withoutMargin {
    margin-bottom: 0;
  }
}
