@import '../../base/variables';

.AknIconButton {
  .imageIcon(@url) {
    background: url(@url) no-repeat center;
    background-size: 20px;
    opacity: 0.8;
    transition: opacity 0.1s ease-in;
    font-size: 0;

    &:hover {
      background-color: inherit;
      opacity: 1;
    }
  }

  color: lighten(@AknGrey, 15%);
  width: @AknIconSize;
  height: @AknIconSize;
  line-height: @AknIconSize;
  font-size: @AknBigIconFontSize;
  border: none;
  background-color: white;
  display: inline-block;
  padding: 0;
  border-radius: 2px;
  text-align: center;
  transition: background 0.1s ease, color 0.1s ease;

  &:hover {
    background-color: lighten(@AknGrey, 15%);
    color: white;
    cursor: pointer;
  }

  &--light {
    background-color: @AknLightGray;
    border: 1px solid @AknGrey;
    color: @AknGrey;

    &:hover {
      background-color: @AknGrey;
    }
  }

  &--dark {
    color: darken(@AknGrey, 30%);
  }

  &--grey {
    background-color: @AknGrey;
    color: white;

    &:hover {
      background-color: darken(@AknGrey, 10%);
    }
  }

  &--important {
    background-color: @AknRed;
    color: white;

    &:hover {
      background-color: darken(@AknRed, 10%);
    }
  }

  &--gold {
    color: @AknOrange;
  }

  &--remove, &--ok, &--edit {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  &--ok {
    background-image: url("../../../images/icon-checkwhite.svg");
  }

  &--edit {
    background-image: url("../../../images/icon-edit-white.svg");
    background-size: 40%;
  }

  &--remove {
    background-image: url("../../../images/icon-delete-white.svg");
  }

  &--apply {
    background-color: @AknGreen;
    color: white;

    &:hover {
      background-color: darken(@AknGreen, 10%);
    }
  }

  &--small {
    font-size: @AknDefaultFontSize;
    width: @AknMicroButtonSize;
    height: @AknMicroButtonSize;
    line-height: @AknMicroButtonSize;
  }

  &--round {
    border-radius: 1000px;
  }

  &--hide {
    display: none !important; // Font awesome adds !important
  }

  &--noFocus {
    &:focus {
      outline: none;
    }
  }

  &--white {
    filter: brightness(200);
  }

  &--plus {
    .imageIcon("../../../images/icon-plus.svg");
  }

  &--edit {
    .imageIcon("../../../images/icon-edit.svg");
  }

  &--folder {
    .imageIcon("../../../images/icon-folder.svg");
  }

  &--trash {
    .imageIcon("../../../images/icon-trash.svg");
  }

  &--delete {
    .imageIcon("../../../images/icon-delete-slategrey.svg");
  }

  &--switch {
    .imageIcon("../../../images/icon-switch.svg");
  }

  &--view {
    .imageIcon("../../../images/icon-view.svg");
  }

  &--unpublish {
    .imageIcon("../../../images/icon-unpublish.svg");
  }

  &--play {
    .imageIcon("../../../images/icon-play.svg");
  }

  &--remove {
    .imageIcon("../../../images/icon-remove.svg");
  }

  &--topLeft {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 25px;
    height: 25px;
    color: @AknSlateGrey;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    opacity: 1;
    background-size: 15px;
    z-index: 2;

    &:hover {
      background-color: white;
    }
  }
}
