<div class="AknColumn-part" data-drop-zone="view-selector">
    <!--<div class="AknColumn-block">-->
        <!--<div class="AknColumn-subtitle">Default view</div>-->
        <!--<div class="AknColumn-value">YOLO</div>-->
    <!--</div>-->
</div>

<div class="AknColumn-part" data-drop-zone="product-scope-filter"></div>

<div class="AknColumn-part">
    <div class="AknColumn-block">
        <div class="AknColumn-subtitle">Filters</div>
        <div class="AknColumn-value">YOLO</div>
    </div>
</div>
