<div id="locale-switcher" class="AknDropdownButton AknDropdown AknButtonList-item locale-switcher">
    <div class="AknDropdownButton-button" data-toggle="dropdown">
        <%= i18n.getFlag(currentLocaleCode, false) %>&nbsp;<%- getDisplayName(currentLocaleCode) %>
        <div class="AknDropdownButton-caretContainer">
            <i class="AknCaret AknCaret--big"></i>
        </div>
    </div>
    <ul class="AknDropdown-menu">
        <% _.each(locales, (locale) => { %>
             <li>
                <a class="AknDropdown-menuLink <% if (currentLocaleCode == locale.code) { %>AknDropdown-menuLink--active<% } %>" data-locale="<%- locale.code %>">
                    <%= i18n.getFlag(locale.code, false) %> <%- getDisplayName(locale.code) %>
                </a>
            </li>
        <% }) %>
    </ul>
</div>
