<div class="modal-body">
    <div class="AknFullPage-title AknColumnConfigurator-title">Title</div>
    <div class="AknFullPage-description AknColumnConfigurator-subTitle">Description</div>
    <% assets.forEach((asset) => { %>
    <img src="<%- Routing.generate('pimee_product_asset_original', {
            code: asset,
            channelCode: scope,
            localeCode: locale
         }) %>"/>
    </img>
    <% }); %>
    <ul class="AknAssetCollectionField-list">
        <% assets.forEach((asset) => { %>
        <li class="AknAssetCollectionField-listItem" data-asset="akene">
            <div class="AknAssetCollectionField-assetThumbnail asset-thumbnail" style="background-image: url('<%- Routing.generate('pimee_product_asset_thumbnail', {
                    code: asset,
                    filter: thumbnailFilter,
                    channelCode: scope,
                    localeCode: locale
                 }) %>')">
            </div>
        </li>
        <% }); %>
    </ul>
</div>
<div class="AknButtonList AknButtonList--right modal-footer">
    <a href="#" title="prout" class="AknButtonList-item AknButton AknButton--greyLight cancel icons-holder-text"></a>
    <a href="#" title="" class="AknButtonList-item AknButton AknButton--apply ok icons-holder-text"></a>
</div>
