<div class="AknAssetCollectionField-header AknButtonList AknButtonList--right">
    <span class="AknButtonList-item AknButton AknButton--apply AknButton--withIcon add-asset">
        <i class="AknButton-icon icon-ok"></i>
        <%- _.__('pimee_product_asset.form.product.asset.manage') %>
    </span>
</div>
<ul class="AknAssetCollectionField-list">
    <% _.each(assets, function (asset) { %>
        <li class="AknAssetCollectionField-listItem" data-asset="<%- asset.code %>">
            <div class="AknAssetCollectionField-assetThumbnail" style="background-image: url('<%- Routing.generate('pimee_product_asset_thumbnail', {
                    code: asset.code,
                    filter: thumbnailFilter,
                    channelCode: scope,
                    localeCode: locale
                 }) %>')">
            </div>
            <footer>
                <% if (asset.description) { %>
                    <%- asset.description.substring(0, 30) %><%- asset.description.length > 30 ? '...' : '' %>
                <% } %>
            </footer>
        </li>
    <% }); %>
</ul>
