/**
    This file contains temporary fixes during the BEM implementation.
    It contains "hard" rules to reset previous behavior during the step-by-step merges.

    TODO This file has to be deleted at the end of the BEM implementation.
 **/

@import 'base/variables';

.AknTitleContainer.navigation.clearfix > .row {
  width: 100%;
}
.grid-view-selector {
  .select2-container.select-field,
  .buttons {
    display: inline-block;
  }
}
.select2-container-multi .select2-choices .select2-search-choice {
  height: 30px;
  line-height: 28px;
  padding: 0 5px 0 20px;
  margin: 1px;

  .select2-search-choice-close {
    line-height: 20px;
  }
}
.grid-view-selector {
  .select2-container {
    border-color: #ccc;
    border-radius: 2px;

    .select2-choice {
      height: 32px;
      line-height: 32px;
      background: #e9ebee !important;
      font-size: 14px;

      .select2-arrow {
        height: 32px;
        width: 32px;
        line-height: 32px;
        background: #ccd1d8;
      }
    }
  }
}
.edit-form .tabs-left {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.edit-form .tabs-left > .tab-content {
  flex: 1;
  height: 100%;
}
.edit-form .tabs-left > .tab-content > .tab-pane.object-values {
  padding: 15px 20px;
}
#product-categories {
  height: 100%;
}
.AknFieldContainer.akeneo-media-uploader-field.view .clear-field {
  display: none;
}

/** Bootstrap */
.tab-container.tab-content {
  flex-grow: 1;
}
.tab-content > .tab-pane {
  display: none;
}
.edit-form.oro-config-system .tab-content > .tab-pane {
  display: inherit;
}
.tab-content > .active {
  display: block;
}
.AknFieldContainer-inputContainer .select2-container {
  width: 100%;
}
.select2-container-multi.select2-container-disabled .select2-choices,
.select2-container.select2-container-disabled .select2-choice {
  background: @AknDisabledInputColor;
  cursor: not-allowed;
}
.datetimepicker {
  width: 100%;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 0 6px;
  cursor: not-allowed;
}
