<div class="AknFullPage">
    <div class="AknFullPage-top">
        <div class="AknFullPage-description">
            <%- __('Code') %>: <%- familyVariant.code %>
        </div>
        <div class="AknFullPage-title">
            <%- i18n.getLabel(familyVariant.labels, userContext.get('uiLocale'), familyVariant.code) %>
        </div>
    </div>
    <div class="AknFullPage-content AknFullPage-content--withTop AknFullPage-content--fullWidth" data-drop-zone="content"></div>
</div>
<div class="modal-footer">
    <a href="#" class="AknButtonList-item AknButton AknButton--grey cancel"/>
    <div class="AknButtonList AknButtonList--right" data-drop-zone="buttons"></div>
    <div class="" data-drop-zone="state"></div>
</div>

