<div class="AknFamilyVariant-labels AknFullPage">
    <div class="AknFullPage-contentWithIllustration">
        <div>
            <img src="bundles/pimui/images/illustrations/Variant.svg" class="AknFullPage-image">
        </div>
        <div>
            <div class="AknFullPage-subTitle"><%- __('pim_enrich.entity.family.uppercase_label') %> <%- familyVariant.family %> </div>
            <div class="AknFullPage-title"><%- __('pim_enrich.entity.family_variant.module.update_translations.title') %></div>
            <div class="AknFullPage-description">
            </div>
            <div data-drop-zone="fields"></div>
        </div>
    </div>
</div>
