<div class="AknFullPage-content AknFullPage-content--withIllustration">
    <div>
        <img src="bundles/pimui/images/illustrations/Variant.svg">
    </div>
    <div>
        <div class="AknFullPage-titleContainer">
            <div class="AknFullPage-subTitle"><%- __('pim_enrich.entity.family.uppercase_label') %> <%- familyVariant.family %> </div>
            <div class="AknFullPage-title"><%- __('pim_enrich.entity.family_variant.module.update_translations.title') %></div>
        </div>
        <div data-drop-zone="fields" class="AknFormContainer"></div>
    </div>
</div>
