{% extends bap.layout %}

{% block content %}
    <div class="scrollable-container quick-launchpad">
        <div class="container">
            <h3>{{ 'Quick Launchpad'|trans }}</h3>
        </div>
        <div class="version-container">
            <strong>Version:</strong> 1.0.0-alpha3
        </div>
    </div>
{% endblock %}
