<select class="select2 operator" name="filter-operator" <%- editable ? '' : 'disabled' %>>
    <% _.each(operators, function (operatorChoiceLabel, operatorChoice) { %>
        <option value="<%- operatorChoice %>"<%- operator === operatorChoice ? ' selected' : '' %>>
            <%- operatorChoiceLabel %>
        </option>
    <% }); %>
</select>

<% if (!_.contains(['EMPTY', 'NOT EMPTY'], operator)) { %>
    <input type="text" name="filter-data" class="AknTextField AknTextField--noRightRadius AknTextField--noLeftRadius value" value="<%- value.amount %>" <%- editable ? '' : 'disabled' %>>

    <select class="select2 unit" name="filter-unit" <%- editable ? '' : 'disabled' %>>
        <% _.each(_.keys(units.units), function (key) { %>
            <option value="<%- key %>"<%- value.unit === key ? ' selected' : '' %>>
                <%- __(`pim_measure.units.${key}`) %>
            </option>
        <% }); %>
    </select>
<% } %>
