<div class="AknProjectWidget-boxContainer">
    <div class="AknProjectWidget-box AknProjectWidget-box--important">
        <span class="AknProjectWidget-boxLabel"><%- todoLabel %></span>
        <% if (displayLinks) { %>
            <a class="AknProjectWidget-boxHover" href="#<%- urls.todo %>">
                <span class="AknProjectWidget-boxHoverText"><%- displayProductsLabel %></span>
            </a>
        <% } %>

        <div class="AknProjectWidget-boxData teamwork-assistant-completeness-todo"><%- completeness.products_count_todo %></div>
        <%- completeness.ratio_todo %>% <%- ratioTodoLabel %>
    </div>
</div>

<div class="AknProjectWidget-boxContainer">
    <div class="AknProjectWidget-box AknProjectWidget-box--warning">
        <span class="AknProjectWidget-boxLabel"><%- inProgressLabel %></span>
        <% if (displayLinks) { %>
            <a class="AknProjectWidget-boxHover" href="#<%- urls.inprogress %>">
                <span class="AknProjectWidget-boxHoverText"><%- displayProductsLabel %></span>
            </a>
        <% } %>

        <div class="AknProjectWidget-boxData teamwork-assistant-completeness-in-progress"><%- completeness.products_count_in_progress %></div>
        <%- completeness.ratio_in_progress %>% <%- ratioInProgressLabel %>
    </div>
</div>

<div class="AknProjectWidget-boxContainer">
    <div class="AknProjectWidget-box AknProjectWidget-box--success">
        <span class="AknProjectWidget-boxLabel"><%- doneLabel %></span>
        <% if (displayLinks) { %>
            <a class="AknProjectWidget-boxHover" href="#<%- urls.done %>">
                <span class="AknProjectWidget-boxHoverText"><%- displayProductsLabel %></span>
            </a>
        <% } %>

        <div class="AknProjectWidget-boxData teamwork-assistant-completeness-done"><%- completeness.products_count_done %></div>
        <%- completeness.ratio_done %>% <%- ratioDoneLabel %>
    </div>
</div>
