parameters:
    level: 8
    paths:
        - %rootDir%/../../../src/Akeneo/Pim/Enrichment/Product/back
    excludePaths:
        analyse:
            - %rootDir%/../../../src/Akeneo/Pim/Enrichment/Product/back/Test
    ignoreErrors:
        - '#Akeneo\\Pim\\Permission\\Bundle\\Enrichment\\Storage\\Sql\\Category\\GetGrantedCategoryCodes#'
includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-webmozart-assert/extension.neon
