{% block head_script %}
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#entity-grid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block page_container %}
    <div class="container-fluid">
        {% block content %}
            <div id="entity-grid"></div>
        {% endblock %}
    </div>
{% endblock %}
