{% extends bap.layout %}

{% block head_script %}
    {{ parent() }}

    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#audit-grid'} %}
    {% include 'OroGridBundle:Include:stylesheet.html.twig' %}
{% endblock %}

{% block page_container %}
    <div class="container-fluid">
        {% block content %}
            <h1>{{ 'Data Audit'|trans }}</h1>
            <div id="audit-grid"></div>
        {% endblock %}
    </div>
{% endblock %}
