<span class="flag-language">
    <i class="flag flag-{{ region|lower }}"></i>
    {% if short %}
        <span class="language">{{ language|lower }}</span>
    {% else %}
        {{ label }}
    {% endif %}
</span>
