{% set localeParamName = localeParamName|default('dataLocale') %}
<div id="locale-switcher" class="AknDropdownButton AknDropdown AknButtonList-item locale-switcher">
    <div class="AknDropdownButton-button" data-toggle="dropdown">
        {{ currentLocaleCode|flag }}
        <div class="AknDropdownButton-caretContainer">
            <i class="AknCaret AknCaret--big"></i>
        </div>
    </div>
    <ul class="AknDropdown-menu">
        {% for locale in locales %}
            <li>
                {% set routeParams = routeParams|default({})|merge({ (localeParamName): locale.code }) %}
                <a class="AknDropdown-menuLink {% if currentLocaleCode == locale.code %}AknDropdown-menuLink--active{% endif %}"
                    href="#{{ path(routeName, routeParams) }}"
                    title="{{ locale_label(locale.code) }}">
                        {{ locale.code|flag }}
                </a>
            </li>
        {%  endfor %}
    </ul>
</div>
