{% extends 'PimEnrichBundle::layout.html.twig' %}

{% block content %}
    <div id="settings-locale">
    </div>
{% endblock %}

{% block head_script %}
    {{ parent() }}
    <script>
        require(
            [
                'jquery',
                'pim/form-builder',
                'pim/fetcher-registry'
            ],
            function (
                $,
                FormBuilder,
                FetcherRegistry
            ) {
                FetcherRegistry.initialize().done(function () {
                    FormBuilder.build('pim-locale-index')
                        .then(function (form) {
                            form.setElement('#settings-locale').render();
                        });
                });
            });
    </script>
{% endblock %}
