<p>{{ user.firstName }} {{ user.lastName }},</p>

<p>
The job {{ jobExecution }} has been executed.<br />
You can find the execution log here {{ app.request.schemeAndHttpHost ~ '/' ~ log }}.
</p>

--
Akeneo - PIM
