{% set class = value ? (value == 1 ? 'success' : 'important') : 'warning' %}
{% set status = value ? (value == 1 ? 'approved' : 'refused') : 'waiting' %}
<span class="label label-{{ class }}">{{ ('pimee_workflow.proposition.status.' ~ status)|trans }}</span>
