<span class="AknTitleContainer-metaItem">
    <%- __('pim_user_management.entity.user.meta.created') %>: <%- created %>
</span>
<span class="AknTitleContainer-metaItem">
    <%- __('pim_user_management.entity.user.meta.updated') %>: <%- updated %>
</span>
<span class="AknTitleContainer-metaItem">
    <%- __('pim_user_management.entity.user.properties.last_logged_in') %>: <%- lastLoggedIn %>
</span>
<span class="AknTitleContainer-metaItem">
    <%- __('pim_user_management.entity.user.properties.login_count') %>: <%- loginCount %>
</span>
