<div class="AknWidget row-fluid variations">
    <h3>
        {% if referenceModel.locale %}
            {{ referenceModel.locale.code|flag }}
        {% endif %}
    </h3>

    <div>
        <div class="AknWidget row-fluid reference">
            <div class="AknWidget-header">{{ 'pimee_product_asset.enrich_asset.view.reference'|trans }}</div>

            <div class="AknWidget-content row-fluid">
                {% if referenceModel.fileInfo %}
                    {% include 'AkeneoAssetBundle:ProductAsset:_reference_core.html.twig' %}
                {% else %}
                    {{ 'pimee_product_asset.enrich_asset.view.no_reference'|trans }}
                {% endif %}
            </div>
        </div>
    </div>
    <ul>
        {% for variation in referenceModel.variations %}
            {% include 'AkeneoAssetBundle:ProductAsset:_variation_view.html.twig' with {'variationModel': variation} %}
        {% endfor %}
    </ul>
</div>
