<li>
    <div class="AknWidget row-fluid variation">

        <div class="AknWidget-header">{{ variationModel.channel.label }}</div>

        <div class="AknWidget-content row-fluid">
            {% if variationModel.fileInfo %}
                {% include 'AkeneoAssetBundle:ProductAsset:_variation_core.html.twig' %}
            {% else %}
                {{ 'pimee_product_asset.enrich_asset.view.no_variation'|trans }}
            {% endif %}
        </div>
    </div>
</li>
