<div class="tab-pane active" id="properties">
    {% set generalProperties %}
        {{ form_row(form.code) }}
        {% if form.dynamic is defined %}
            {{ form_row(form.dynamic) }}
        {% endif %}
    {% endset %}

    {{ elements.accordion({ 'General Properties': generalProperties, 'Node values': form_row(form.title) }) }}
</div>

{% if form.vars.value.id %}
    <div class="tab-pane" id="history">
        <div id="history-grid"></div>
    </div>
{% endif %}

