<div class="tab-pane active" id="properties">
    {% set generalProperties %}
        {{ form_row(form.code) }}
    {% endset %}

    {% set nodeValues %}
        {{ form_row(form.label) }}
    {% endset %}

    {{ elements.accordion({ 'General Properties': generalProperties, 'Node values': nodeValues }) }}

</div>

{% if form.vars.value.id %}
    <div class="tab-pane" id="history">
        <div id="history-grid"></div>
    </div>
{% endif %}
