<div class="tab-pane active" id="properties">
    {% set generalProperties %}
        {{ form_row(form.code) }}
    {% endset %}

    {% set nodeValues %}
        {{ form_row(form.label) }}
    {% endset %}

    {{ elements.accordion({ 'pane.accordion.general_properties': generalProperties, 'pane.accordion.node_values': nodeValues }) }}

</div>

{% if form.vars.value.id %}
    {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
    <div class="tab-pane" id="history">
        {{ dataGrid.renderGrid('audit-history-grid', { object_class: 'Pim_Bundle_CatalogBundle_Entity_Category', object_id: form.vars.value.id }) }}
    </div>
{% endif %}
