.AknDataQualityInsightsAttribute {
    color: @AknGrey140;
    display: inline-block;
    font-style: italic;
    text-transform: capitalize;
}

.AknSubsection.AxisEvaluationContainer {
    margin-bottom: 20px;
}

.AxisEvaluationTitle {
    display: inline-block;
    margin-right: 10px;
}

.AxisEvaluationSuccessContainer {
    font-size: 13px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.AxisEvaluationSuccessIllustration {
    display: inline-block;
    background-image: url('@{dataQualityInsightsBundlePath}/images/Success.svg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
    margin: 0;
    background-size: 100% auto;
}

.CriterionMessage {
    line-height: normal;
}

.CriterionRecommendationMessage {
    color: @AknGrey140;
    font-size: 13px;
    font-weight: normal;
}

.CriterionErrorMessage {
    line-height: normal;
}
