.AknDataQualityInsights-chart {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-bottom: solid 1px @AknGrey60;

    svg {
        width: 100%;
        height: auto;

        g {
            width: 100%;
            height: auto;
        }
    }
}

.AknSubsection-title {
    border-bottom: 1px solid @AknGrey140;
    color: @AknGrey140;
}

.AknSubsection-title.AknSubsection-title--glued {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AknFilterBox--search:not(:empty) {
    min-height: 44px;
    display: flex;
    width: auto;
    justify-content: flex-end;
    background: none;
    flex-wrap: wrap;
    background: white;
    border-bottom: none;
}

.AknFilterBox-filterLabel {
    color: @AknGrey140;
}

.AknDataQualityOverviewChartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.AknSubsection-AxisTitle {
        color: @AknGrey140;
        font-size: 15px;
        text-transform: capitalize;
        font-weight: normal;
        height: 18px;
        width: 77px;
        border-bottom: none;
}

.AknSubsection-legend {
    color: @AknGrey140;
    font-size: 11px;
    font-weight: normal;
    height: 13px;
    width: 45px;
    margin-left: 10px;
}

.AknBadge {
    margin-left: 18px;
}









