.AknColumn-block.AknDataQualityInsights {
  li {
    position: relative;
    line-height: 18px;
    margin-bottom: 13px;

    .AknDataQualityInsightsRate {
      margin-left: 10px;
    }

    &:first-child {
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
