@AknSpellcheckZIndex: 2;
@AknSpellcheckZIndexDebug: 2;
@AknSpellcheckHighlightsZIndex: 2;
@AknSpellcheckPopoverZIndex: 1100;

.AknColumn-block.AknDataQualityInsights {
    li {
        position: relative;
        line-height: 18px;
        margin-bottom: 13px;

        .AknDataQualityInsightsRate {
            margin-left: 10px;
        }

        &:first-child {
            margin-top: 5px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}


.AknSpellCheck--box-reset,
.AknSpellCheck--box-reset > * {
    line-height: initial;
    white-space: normal;
    float: initial;
    clear: none;
    box-sizing: border-box;
    vertical-align: baseline;
    color: transparent;
    text-align: left !important;
    margin: 0;
    padding: 0;
    background: transparent !important;
    border-width: 0 !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    border-radius: 0 !important;
    animation: 0s ease 0s 1 normal none running none !important;
}

.AknSpellCheck-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: @AknSpellcheckZIndex;

    &--debug {
        z-index: @AknSpellcheckZIndexDebug;
    }
}

.AknSpellCheck-highlights,
.AknSpellCheck-highlights-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.AknSpellCheck-highlights {
    z-index: @AknSpellcheckHighlightsZIndex;
}

.AknSpellCheck-highlights-marks-wrapper {
    box-sizing: content-box;
    position: relative;
    pointer-events: none;
    overflow: hidden;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.AknSpellCheck-mark {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left !important;
    background: transparent !important;
    border-width: 0 !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    border-radius: 0 !important;
    animation: 0s ease 0s 1 normal none running none !important;
    /* @fixme mouse over, allow the pointer events to bubble up to the highlight container */
    pointer-events: auto;

    &::before {
        visibility: hidden !important;
        content: "" !important;
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
    }

    &::after {
        width: 100% !important;
        animation: 0s ease 0s 1 normal none running none !important;
        visibility: visible !important;
        content: "" !important;
        position: absolute !important;
        bottom: -2px !important;
        height: 3px !important;
        border-radius: 10px !important;
        background: rgba(0, 0, 0, 0.75);
    }
    &--misspelling:after {
        background: rgba(252, 84, 84, 0.75);
    }
    &--grammar:after {
        background: rgba(0, 128, 0, 0.75);
    }
    &--typographical:after {
        background: rgba(255, 165, 0, 0.75);
    }
    &--whitespace:after {
        background: rgba(128, 0, 128, 0.75);
    }
    &--style:after {
        background: rgba(64, 224, 208, 0.75);
    }
    &--hidden {
        display: none;
    }

    &--hover::before {
        visibility: visible !important;
        background: rgba(255, 0, 0, 0.15);
    }
    &--misspelling.AknSpellCheck-mark--hover::before {
        background: rgba(252, 84, 84, 0.15);
    }
    &--grammar.AknSpellCheck-mark--hover::before {
        background: rgba(0, 128, 0, 0.15);
    }
    &--typographical.AknSpellCheck-mark--hover::before {
        background: rgba(255, 165, 0, 0.15);
    }
    &--whitespace.AknSpellCheck-mark--hover::before {
        background: rgba(128, 0, 128, 0.15);
    }
    &--style.AknSpellCheck-mark--hover::before {
        background: rgba(64, 224, 208, 0.15);
    }

}

.AknSpellCheck-popin {
    position: absolute;
    z-index: @AknSpellcheckPopoverZIndex;
    width: 200px;
    min-height: 250px;
    padding: 0 20px 20px;
    background: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    display: none;

    &--visible {
        display: block;
    }

    hr {
        color: #d9dde2;
    }

    header {
        color: #9452ba;
        text-transform: uppercase;
        border-bottom: 1px solid #9452ba;
        line-height: 44px;
    }

    .AknSpellCheck-popin-original {
    }
    .AknSpellCheck-popin-original-title {
        color: #d4604f;
    }

    .AknSpellCheck-popin-suggestions {
        min-height: 80px;
    }
    .AknSpellCheck-popin-suggestions-title {
        color: #67b373;
    }

    .AknSpellCheck-popin-suggestions-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .AknSpellCheck-popin-suggestions-item {
        white-space: nowrap;
        font-weight: normal;
        background: none;
        display: block;
        text-align: left;
        width: 100%;
        color: #67768a;
        border: none;
        cursor: pointer;
        padding: 0;
        text-transform: none;
    }
    .AknSpellCheck-popin-suggestions-item:hover {
        background: #f9f9fb;
        color: #3478a9;
    }

    footer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .AknSpellCheck-popin-dismiss-button {
        width: 82px;
        height: 13px;
        color: rgb(17, 50, 77);
        font-size: 11px;
        font-weight: normal;
        text-decoration: underline;
        text-align: center;
        cursor: pointer;
    }
    button.AknSpellCheck-popin-dismiss-button {
        border: none;
        background: none;
    }
    .AknSpellCheck-popin-dismiss-button:hover {
        text-decoration: none;
    }
}

.AknSpellCheck-cloned-editor {
    font-size: @AknDefaultFontSize;
    font-family: @AknDefaultFont;
    text-align: left;
    border: 1px solid transparent !important;
    color: transparent;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0 !important;
    text-shadow: none !important;
    white-space: pre-wrap !important;
    overflow-wrap: break-word !important;
    padding: 12px !important;
    min-height: 100px !important;
    max-height: 400px !important;
    visibility: hidden !important;
    overflow: auto;

    .AknSpellCheck-wrapper--debug & {
        color: red !important;
        visibility: visible !important;
        background: rgba(255, 165, 0, 0.25) !important;
    }
}
