<div class="AknFullPage AknFullPage--withBottom">
    <span class="AknButtonList-item AknFullPage-cancel wizard-action" data-action-target="grid"/>
    <% if (currentStep === 'choose') { %>
        <span class="AknButton AknFullPage-ok AknButton--apply<% if (!currentOperation) { %> AknButton--disabled<% } %> wizard-action next" data-action-target="configure">
            <%- nextLabel %>
        </span>
    <% } else if (currentStep === 'configure') { %>
        <span class="<%- currentStep %> AknButton AknButton--apply AknFullPage-ok wizard-action next" data-action-target="confirm">
            <%- nextLabel %>
        </span>
        <span class="<%- currentStep %> AknButton AknButton--grey AknFullPage-previous wizard-action" data-action-target="choose">
            <%- previousLabel %>
        </span>
    <% } else if (currentStep === 'confirm') { %>
        <span class="<%- currentStep %> AknButton AknButton--grey AknFullPage-previous wizard-action" data-action-target="configure">
            <%- previousLabel %>
        </span>
    <% } %>

    <% if (currentStep === 'choose') { %>
    <div class="AknFullPage-content">
        <div class="AknFullPage-titleContainer">
            <div class="AknFullPage-subTitle"><%- title %></div>
            <div class="AknFullPage-title"><%= labelCount %></div>
        </div>
        <div class="AknSquareList">
            <div class="step"></div>
        </div>
    </div>
    <% } else { %>
    <div class="AknFullPage-content AknFullPage-content--withIllustration">
        <div>
            <div class="AknFullPage-image AknFullPage-illustration AknFullPage-illustration--<%- illustrationClass %>"></div>
        </div>
        <div>
            <div class="AknFullPage-titleContainer">
                <div class="AknFullPage-subTitle"><%- title %></div>
                <div class="AknFullPage-title"><%= labelCount %></div>
                <% if (description) { %>
                <div class="AknFullPage-description">
                    <%- description %>
                </div>
                <% } %>
            </div>
            <% if (currentStep === 'confirm') { %>
            <div class="AknMessageBox AknMessageBox--warning AknMessageBox--withIcon">
                <%- confirm %>
            </div>
            <% } %>
            <% if (currentStep === 'confirm') { %>
            <div class="AknButtonList AknButtonList--single">
                <div class="AknButton AknButtonList-item AknButton--apply wizard-action" data-action-target="validate">
                    <%- confirmLabel %>
                </div>
            </div>
            <% } %>
            <div class="step"></div>
        </div>
    </div>
    <% } %>

    <div class="AknFullPage-bottom">
        <div class="AknSteps">
            <div class="AknSteps-step AknSteps-step--checked">
                <div class="AknSteps-stepCircle"></div>
                Select action
            </div>
            <% if (currentStep === 'choose') { %>
            <div class="AknSteps-step AknSteps-step--undefined">
                <div class="AknSteps-stepCircle"></div>
            </div>
            <div class="AknSteps-step AknSteps-step--undefined">
                <div class="AknSteps-stepCircle"></div>
            </div>
            <% } else { %>
            <div class="AknSteps-step<% if (currentStepNumber >= 1) { %> AknSteps-step--checked<% } %>">
                <div class="AknSteps-stepCircle"></div>
                <%- label %>
            </div>
            <div class="AknSteps-step<% if (currentStepNumber >= 2) { %> AknSteps-step--checked<% } %>">
                <div class="AknSteps-stepCircle"></div>
                <%- confirmLabel %>
            </div>
            <% } %>
        </div>
    </div>
</div>
