.a2lix_translations .a2lix_translationsLocales.nav.nav-tabs > .active > a,
.a2lix_translations .a2lix_translationsLocales.nav.nav-tabs > .active > a:hover,
.a2lix_translations .a2lix_translationsLocales.nav.nav-tabs > .active > a:focus {
    background-color: #fff;
}

.a2lix_translationsFields.tab-content .tab-pane input,
.a2lix_translationsFields.tab-content .tab-pane textarea {
    width: 100%;
}

.a2lix_translationsFields.tab-content .tab-pane .controls {
    margin-right: 20px;
}

.modal-body .loading-content {
    background: #fff url('/bundles/orogrid/img/loader.gif') no-repeat center left;
    padding-left: 30px;
}

/* FE refactoring */
.ui-dialog pre.email-body,
.ui-dialog iframe.email-body,
.ui-dialog .email-form textarea {
    height: 200px;
}
.ui-dialog .email-form input,
.ui-dialog .email-form textarea,
.ui-dialog .email-form .uneditable-input {
    width: 97%;
}
.ui-dialog .email-form .form-horizontal .control-group {
    padding-left: 110px;
}
.ui-dialog .email-form .form-horizontal .control-group .control-label {
    margin-left: -120px;
}
.ui-dialog .email-form .form-horizontal .control-group .controls .validation-faled {
    margin-left: 14px;
}
