<div class="tab-pane {{ first_tab ? 'active' : ''}}" id="{{ tab_id }}">
    {{ elements.accordion({ 'pane.accordion.general_properties': form_row(form.code), 'pane.accordion.group_values': form_row(form.label) }) }}
</div>
