<% if (!_.isEmpty(data)) { %>
<thead>
    <tr>
        <th class="AknGrid-headerCell"><%- __('pimee_dashboard.widget.product_drafts.date') %></th>
        <th class="AknGrid-headerCell"><%- __('pimee_dashboard.widget.product_drafts.author') %></th>
        <th class="AknGrid-headerCell"><%- __('pimee_dashboard.widget.product_drafts.product') %></th>
        <th class="AknGrid-headerCell"></th>
    </tr>
</thead>
<tbody>
<% _.each(data, function (proposal) { %>
    <tr class="AknGrid-bodyRow">
        <td class="AknGrid-bodyCell">
            <%- proposal.createdAt %>
        </td>
        <td class="AknGrid-bodyCell"><%- proposal.authorFullName %></td>
        <td class="AknGrid-bodyCell">
            <a class="product-label" href='#' data-id="<%- proposal.productId %>" data-product-view-url="<%- proposal.productViewUrl %>">
                <%- proposal.productLabel %>
            </a>
        </td>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--right">
            <a class="AknButton AknButton--grey AknButton--small product-review" data-product-review-url="<%- proposal.productReviewUrl %>">
                <%- __('pimee_dashboard.widget.product_drafts.review') %>
            </a>
        </td>
    </tr>
<% }); %>
</tbody>
<% } else if (options.contentLoaded) {%>
    <tr>
        <td class="AknGrid-bodyCell AknGrid-bodyCell--full">
            <div class="AknMessageBox AknMessageBox--centered">
                <%- __('pimee_dashboard.widget.product_drafts.empty') %>
            </div>
        </td>
    </tr>
<% } %>
