{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
<div class="widget-content">
    {% set gridId = "entity-grid-" ~ random() %}
    {% set gridName = "audit-history-grid" %}
        <div class="container-fluid">
            {% block content %}
                <div id="{{ gridId }}">
                    {{ dataGrid.renderGrid(gridName, {grid: {object_class: entity, object_id: entityId}}) }}
                </div>
            {% endblock %}
        </div>
</div>
