.AknAttributeOptions {
  &-grid {
    border-collapse: separate;
    border-spacing: 0;
  }

  &-columnHeader {
    position: sticky;
    top: 120px;
    z-index: 1;
    background-color: white;
  }

  &-rowHeader {
    position: sticky;
    left: -50px;
    background-color: white;
  }
}
