@import '../base/variables';

.AknFullPage {
  @bottomHeight: 120px;

  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 805;
  background: white;

  &-buttons {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: @AknFullPagePadding;
    width: 100%;

    &--right {
      justify-content: flex-end;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: ~"20px calc(80px + 100vw / 6)";
    overflow: hidden auto;
    width: 100%;
    align-items: center;
  }

  &-contentWithIllustration {
    display: flex;
    margin: 0;
    padding: ~"20px calc(80px + 50% - 480px)"; // Set content width to 960px
    overflow: hidden auto;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    & > :nth-child(1) {
      flex-grow: 1;
      padding: 20px;
      display: flex;
      justify-content: flex-end;
    }

    & > :nth-child(2) {
      flex-grow: 2;
      padding: 20px;
      border-left: 2px solid @AknLightPurple;
    }
  }

  &-content--withBottom,
  &-contentWithIllustration--withBottom {
    margin-bottom: @bottomHeight;
  }

  &-content {
    //display: flex;
    //justify-content: center;
    //overflow: auto;
    //flex: 1;
    //
    //&--visible {
    //  overflow: visible;
    //}
    //
    //&--column {
    //  flex-direction: column;
    //  justify-content: space-around;
    //  flex-grow: 1;
    //}
  }

  &-image {
    width: 210px;
    height: 210px;
  }

  &-bottom {
    position: fixed;
    bottom: 0;
    height: @bottomHeight;
    padding: @AknFullPagePadding;
  }

  &-subTitle {
    color: @AknLightPurple;
    text-transform: uppercase;
    font-size: @AknFontSizeBigger;
  }

  &-content--column &-subTitle,
  &-content--column &-title {
    margin:auto;
    text-align: center;
  }

  &-title {
    font-size: @AknAltTitleFontSize;
    line-height: 1.4;
    color: @AknDarkBlue;

    &--highlight {
      color: @AknLightPurple;
    }
  }

  &-cancel {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../../images/icon-delete-slategrey.svg") no-repeat 50% 50%;
    cursor: pointer;
  }

  &-description {
    font-size: @AknFontSizeBigger;
    line-height: 1.5;
    margin-bottom: 10px;

    &--bottom {
        margin-bottom: 30px;
    }
  }

  &-upperTitle {
    position: relative;
    top: -@AknFullPageTopPadding;
    display: flex;
    flex-direction: column;
    height: @AknFullPageTopPadding;
    margin: @AknFullPagePadding @AknFullPagePadding -@AknFullPageTopPadding @AknFullPagePadding;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &-centeredContent {
    max-width: 1068px;
    margin: auto;
  }

  &-illustration {
    background-image: url('../../images/illustration-attribute.svg');
    background-size: 210px 210px;

    &--api-connections {
        background-image: url('../../images/illustrations/Api.svg');
    }

    &--association-types {
        background-image: url('../../images/illustrations/Association-types.svg');
    }

    &--attributes {
        background-image: url('../../images/illustrations/Attribute.svg');
    }

    &--robot {
      background-image: url('../../images/illustrations/Robot.svg');
    }

    &--attribute-groups {
        background-image: url('../../images/illustrations/Attribute-groups.svg');
    }

    &--projects {
        background-image: url('../../images/illustrations/Project.svg');
    }

    &--products {
      background-image: url('../../images/illustrations/Product.svg');
    }

    &--product-models {
      background-image: url('../../images/illustrations/Product-model.svg');
    }

    &--product-model {
      background-image: url('../../images/illustrations/Product-model.svg');
    }

    &--delete {
        background-image: url('../../images/illustrations/Delete.svg');
    }

    &--assets, &--asset {
        background-image: url('../../images/illustrations/Asset.svg');
    }

    &--export-profiles {
        background-image: url('../../images/illustrations/Export.svg');
    }

    &--import-profiles {
        background-image: url('../../images/illustrations/Import.svg');
    }

    &--categories {
        background-image: url('../../images/illustrations/Product-categories.svg');
    }

    &--families {
        background-image: url('../../images/illustrations/Family.svg');
    }

    &--group,
    &--groups {
        background-image: url('../../images/illustrations/Groups.svg');
    }

    &--association {
        background-image: url('../../images/illustrations/Association-types.svg');
    }

    &--channels {
        background-image: url('../../images/illustrations/Channel.svg');
    }

    &--api {
        background-image: url('../../images/illustrations/Api.svg');
    }

    &--users {
        background-image: url('../../images/illustrations/User.svg');
    }

    &--roles {
        background-image: url('../../images/illustrations/User-roles.svg');
    }

    &--proposal {
        background-image: url('../../images/illustrations/Product.svg');
    }
  }
}
