<table class="AknGrid AknGrid--unclickable">
    <tr class="AknGrid-header">
        <th class="AknGrid-headerCell"><%- pim_ai_attribute %></th>
        <th class="AknGrid-headerCell"><%- catalog_attribute %></th>
        <th class="AknGrid-headerCell"><%- suggest_data %></th>
    </tr>
    <% mapping.forEach((row) => { %>
        <tr class="AknGrid-bodyRow">
            <td class="AknGrid-bodyCell AknGrid-bodyCell--highlight">
                <%- row.pim_ai_attribute.label %>
            </td>
            <td class="AknGrid-bodyCell attribute-selector" data-pim-ai-attribute="<%- row.pim_ai_attribute.label %>">
                <!-- TODO replace this by a selector
                <% if (null !== row.attribute) { %>
                    <%- i18n.getLabel(
                        row.attribute.labels,
                        locale,
                        row.attribute.code
                    ) %>
                <% } %>
                -->
            </td>
            <td class="AknGrid-bodyCell">
                <%- statuses[row.status] %>
            </td>
        </tr>
    <% }) %>
</table>
