<table class="AknGrid AknGrid--unclickable">
    <tr class="AknGrid-header">
        <th class="AknGrid-headerCell">PIM.ai attribute</th>
        <th class="AknGrid-headerCell">Catalog attribute</th>
        <th class="AknGrid-headerCell">Suggest data</th>
    </tr>
    <% mapping.forEach((row) => { %>
        <tr class="AknGrid-bodyRow">
            <td class="AknGrid-bodyCell AknGrid-bodyCell--highlight">
                <%- row.pim_ai_attribute.label %>
            </td>
            <td class="AknGrid-bodyCell">
                <!-- TODO replace this by a selector -->
                <% if (null !== row.attribute) { %>
                    <%- i18n.getLabel(
                        row.attribute.labels,
                        locale,
                        row.attribute.code
                    ) %>
                <% } %>
            </td>
            <td class="AknGrid-bodyCell">
                <%- statuses[row.status] %><!-- TODO to translate -->
            </td>
        </tr>
    <% }) %>
</table>
