<table class="AknGrid">
    <tr>
        <th class="AknGrid-headerCell"><%= headers.identifiersLabel %></th>
        <th class="AknGrid-headerCell"><%= headers.attributeLabel %></th>
        <th class="AknGrid-headerCell"><%= headers.suggestDataLabel %></th>
    </tr>
    <% Object.keys(identifiers).forEach(pimAiAttributeLabel => { %>
    <tr class="AknGrid-bodyRow">
        <td class="AknGrid-bodyCell"><%= pimAiAttributeLabel %></td>
        <td class="AknGrid-bodyCell"><%= identifiers[pimAiAttributeLabel] %></td>
        <td class="AknGrid-bodyCell">Active</td>
    </tr>
    <% }) %>
</table>
